<CoursePage::InstructionsCard ...attributes data-test-base-stages-completed-card>
  <:header>
    <div class="flex items-center mb-6 border-b border-gray-200 dark:border-white/5 pb-2">
      <img src={{this.congratulationsImage}} alt="Congratulations!" class="mr-3 w-10 h-10" />
      <span class="font-semibold text-lg text-gray-800 dark:text-gray-50">Congratulations &amp; next steps!</span>
    </div>
  </:header>

  <:content>
    <div class="prose dark:prose-invert" data-test-instructions-text>
      <p>
        Nice work! You&apos;ve successfully completed all the base stages in this challenge.
      </p>

      <p>
        There are
        {{this.totalExtensionStagesCount}}
        more stages available in this challenge, categorised as extensions.
      </p>
      <p>
        You can customise the order in which you want to attempt them.
      </p>
    </div>

    <PrimaryButton data-test-configure-extensions-button class="mt-4" {{on "click" this.handleConfigureExtensionsButtonClick}}>
      Choose Extensions
    </PrimaryButton>
  </:content>
</CoursePage::InstructionsCard>

{{#if this.configureExtensionsModalIsOpen}}
  <ModalBackdrop>
    <CoursePage::ConfigureExtensionsModal @repository={{@repository}} @onClose={{this.handleConfigureExtensionsModalClose}} />
  </ModalBackdrop>
{{/if}}