<div data-test-comment-list {{did-update this.loadComments @courseStage}}>
  <CoursePage::CommentTimelineItem @author={{this.currentUser}}>
    <div class="shadow-sm rounded border border-gray-300 w-full mb-4">
      {{! TODO: Pass in language here so that users can choose whether their comment is language-specific }}
      <CommentForm @target={{@courseStage}} @commentModelType="course-stage-comment" />
    </div>
  </CoursePage::CommentTimelineItem>

  {{#if this.isLoading}}
    <div class="flex justify-center items-center py-32 w-full">
      <img alt="Loading icon" src={{this.rippleSpinnerImage}} class="w-4 h-4" />
      <span class="ml-3 text-gray-700">Loading...</span>
    </div>
  {{else}}
    {{#each this.sortedComments key="id" as |comment|}}
      <CoursePage::CommentTimelineItem @author={{comment.user}}>
        <div class="shadow-sm rounded border border-gray-300 w-full mb-4">
          {{! @glint-expect-error Not ts-ified yet }}
          <CommentCard @comment={{comment}} />
        </div>
      </CoursePage::CommentTimelineItem>
    {{/each}}

    {{#if (and this.currentUser.isStaff (gt this.rejectedComments.length 0))}}
      <div class="flex flex-col items-center">
        <div class="h-px my-4 bg-gray-200 w-full" />
        {{#if this.rejectedCommentsAreExpanded}}
          {{! @glint-expect-error mut helper not typed yet}}
          <TertiaryButton @size="small" {{on "click" (fn (mut this.rejectedCommentsAreExpanded) false)}} class="mb-4">
            Hide rejected comments
          </TertiaryButton>
        {{else}}
          {{! @glint-expect-error mut helper not typed yet}}
          <TertiaryButton @size="small" {{on "click" (fn (mut this.rejectedCommentsAreExpanded) true)}} class="mb-4">
            Show
            {{this.rejectedComments.length}}
            rejected comments
          </TertiaryButton>
        {{/if}}
      </div>

      {{#if this.rejectedCommentsAreExpanded}}
        {{#each this.rejectedComments key="id" as |comment|}}
          <CoursePage::CommentTimelineItem @author={{comment.user}}>
            <div class="shadow-sm rounded border border-gray-300 w-full mb-4">
              {{! @glint-expect-error Not ts-ified yet }}
              <CommentCard @comment={{comment}} />
            </div>
          </CoursePage::CommentTimelineItem>
        {{/each}}
      {{/if}}
    {{/if}}
  {{/if}}
</div>