<div
  class="py-3.5 border-b border-green-200 bg-gradient-to-b from-0% to-100% from-green-50 to-green-100 flex items-center justify-between gap-4 flex-wrap"
  data-test-completed-step-notice
  ...attributes
>
  <div class="flex items-center flex-wrap gap-4">
    <div class="text-2xl pl-1">
      🎉
    </div>
    <div class="prose prose-sm prose-green">
      {{markdown-to-html this.instructionsMarkdown}}
    </div>

    {{#if (and (not-eq @step this.activeStep) (not-eq this.activeStep.type "CourseCompletedStep"))}}
      <PrimaryLinkButton @size="small" @route={{this.stepForNextOrActiveStepButton.routeParams.route}} @models={{this.stepForNextOrActiveStepButton.routeParams.models}} data-test-next-or-active-step-button>
        <div class="flex items-center">
          {{#if (eq this.nextStep this.stepForNextOrActiveStepButton)}}
            {{#if (eq this.nextStep.type "CourseStageStep")}}
              <span>View next stage</span>
            {{else}}
              <span>View next step</span>
            {{/if}}

            {{svg-jar "arrow-right" class="w-4 ml-1 fill-current flex-shrink-0"}}
          {{else}}
            {{#if (gt @step.globalPosition this.activeStep.globalPosition)}}
              {{svg-jar "arrow-left" class="w-4 mr-1 fill-current flex-shrink-0"}}
              <span>Back to "{{this.activeStep.shortTitle}}"</span>
            {{else}}
              <span>Back to "{{this.activeStep.shortTitle}}"</span>
              {{svg-jar "arrow-right" class="w-4 ml-1 fill-current flex-shrink-0"}}
            {{/if}}
          {{/if}}
        </div>
      </PrimaryLinkButton>
    {{/if}}
  </div>

  {{#if this.shouldShowShareProgressButton}}
    <div
      class="flex items-center gap-1.5 group/share-progress-button"
      role="button"
      {{on "click" this.handleShareProgressButtonClick}}
      data-test-share-progress-button
    >
      <span class="text-sm text-green-800 group-hover/share-progress-button:underline group-hover/share-progress-button:text-green-700">Tell your
        friends</span>
      {{svg-jar "external-link" class="w-4 fill-current text-green-800 group-hover/share-progress-button:text-green-700"}}
    </div>
  {{/if}}

  {{#if this.shareProgressModalIsOpen}}
    <ModalBackdrop>
      {{! @glint-expect-error mut signature doesn't agree? }}
      <CoursePage::ShareProgressModal @onClose={{fn (mut this.shareProgressModalIsOpen) false}} @repository={{@repository}} />
    </ModalBackdrop>
  {{/if}}
</div>