<div class="flex">
  <CoursePage::StepList
    @class="flex-grow min-w-0"
    @course={{@course}}
    @repository={{@activeRepository}}
    @onViewSolutionButtonClick={{this.handleViewSolutionButtonClick}}
    @onRepositoryCreate={{@onRepositoryCreate}}
    @preferredLanguageSlug={{@preferredLanguageSlug}}
  />

  <CourseLeaderboard
    @class="w-80 flex-shrink-0 border-l ml-4 hidden lg:block"
    @course={{@course}}
    @activeRepository={{@activeRepository}}
    @repositories={{@repositories}}
  />
</div>

{{#if this.isViewingCourseStageSolution}}
  <ModalBackdrop>
    <CoursePage::CourseStageSolutionModal
      @courseStage={{this.currentCourseStageForSolution}}
      @repositoryLanguage={{@activeRepository.language}}
      @onClose={{this.handleCourseStageSolutionModalClose}}
    />
  </ModalBackdrop>
{{/if}}