<CoursePage::Header
  @course={{@course}}
  @repositories={{@repositories}}
  @activeRepository={{@activeRepository}}
  @onPublishToGithubButtonClick={{this.handlePublishToGithubButtonClick}}
  @onViewProgressBannerButtonClick={{this.handleViewProgressBannerButtonClick}}
/>

<div class="flex">
  <CoursePage::StepList
    @class="flex-grow min-w-0"
    @course={{@course}}
    @repository={{@activeRepository}}
    @onViewCommentsButtonClick={{this.handleViewCommentsButtonClick}}
    @onViewSolutionButtonClick={{this.handleViewSolutionButtonClick}}
    @onPublishToGithubButtonClick={{this.handlePublishToGithubButtonClick}}
    @onRepositoryCreate={{@onRepositoryCreate}}
    @preferredLanguageSlug={{@preferredLanguageSlug}}
  />

  <div class="w-80 flex-shrink-0 border-l ml-4 hidden lg:block">
    <CourseLeaderboard @course={{@course}} @activeRepository={{@activeRepository}} @repositories={{@repositories}} />

    {{#if this.visiblePrivateLeaderboardFeatureSuggestion}}
      <PrivateLeaderboardFeatureSuggestion @featureSuggestion={{this.visiblePrivateLeaderboardFeatureSuggestion}} class="ml-4 mt-6" />
    {{/if}}
  </div>
</div>

{{#if (and this.currentCourseStageForSolutionModal this.courseStageSolutionModalIntent)}}
  <ModalBackdrop>
    <CoursePage::CourseStageSolutionModal
      @onPublishToGithubButtonClick={{this.handlePublishToGithubButtonClick}}
      @courseStage={{this.currentCourseStageForSolutionModal}}
      @repository={{@activeRepository}}
      @onClose={{this.handleModalClose}}
      @intent={{this.courseStageSolutionModalIntent}}
    />
  </ModalBackdrop>
{{/if}}

{{#if this.isConfiguringGithubIntegration}}
  <ModalBackdrop>
    <CoursePage::ConfigureGithubIntegrationModal @repository={{@activeRepository}} @onClose={{this.handleModalClose}} />
  </ModalBackdrop>
{{/if}}

{{#if this.isViewingProgressBanner}}
  <ModalBackdrop>
    <CoursePage::ProgressBannerModal @repository={{@activeRepository}} @onClose={{this.handleModalClose}} />
  </ModalBackdrop>
{{/if}}