<ModalBody @allowManualClose={{true}} @onClose={{@onClose}} @isWide={{true}} @class="w-full" data-test-course-stage-source-walkthrough-modal>
  <div class="mb-6 text-2xl border-b-2 border-gray-200 inline-block pb-2" data-test-modal-title>
    <span class="text-gray-600">Official Implementation:</span>
    <span class="font-bold text-gray-700">{{@courseStage.name}} </span>
  </div>

  <CodeWalkthrough @model={{@courseStage.sourceWalkthrough}} />
</ModalBody>