<BlurredOverlay
  @isBlurred={{this.shouldShowModal}}
  {{did-update this.handleStepStatusUpdated @currentStep.status}}
  @overlayClass="bg-gray-200/20 dark:bg-gray-900/20"
  @onOverlayClick={{this.handleModalDismissed}}
  ...attributes
>
  <:content>
    {{#animated-if this.modalWasDismissed duration=200 use=this.transition}}
      <div class="sticky top-10 z-10 flex items-start justify-center pointer-events-none h-0">
        <CoursePage::CurrentStepCompletePill class="mt-4" />
      </div>
    {{/animated-if}}

    {{yield}}
  </:content>
  <:overlay>
    {{#if (eq @currentStep.type "SetupStep")}}
      <CoursePage::SetupStepCompleteModal
        {{! Ensure this is visible on insert in case confetti is fired }}
        {{upscroll-on-insert scrollableContainer="#course-page-scrollable-area"}}
        class="mt-8 mx-3 md:mx-6"
        @onClose={{this.handleModalDismissed}}
        {{! @glint-expect-error currentStep is guaranteed to be a SetupStep here }}
        @step={{@currentStep}}
      />
    {{else}}
      <CoursePage::CurrentStepCompleteModal
        {{! Ensure this is visible on insert in case confetti is fired }}
        {{upscroll-on-insert scrollableContainer="#course-page-scrollable-area"}}
        class="mt-8 mx-3 md:mx-6"
        @onClose={{this.handleModalDismissed}}
        @activeStep={{this.coursePageState.activeStep}}
      />
    {{/if}}
  </:overlay>
</BlurredOverlay>