<LinkTo
  class="group pointer-events-auto inline-flex items-center gap-2 whitespace-nowrap rounded-full px-5 py-2.5 bg-green-100 dark:bg-green-950 border border-green-300 dark:border-green-700 dark:hover:border-green-600 shadow-md"
  data-test-current-step-complete-pill
  @route={{this.targetStep.routeParams.route}}
  @models={{this.targetStep.routeParams.models}}
  ...attributes
>
  {{svg-jar "check-circle" class="size-6 fill-green-500 group-hover:fill-green-700 dark:group-hover:fill-green-300 shrink-0"}}

  <span class="text-sm font-medium text-green-800 dark:text-green-200">
    {{if (eq this.coursePageState.currentStep.type "CourseStageStep") "Stage complete" "Step complete"}}
  </span>

  <span
    class="inline-flex items-center gap-1 text-sm font-semibold text-green-900 dark:text-green-100 underline underline-offset-2"
    data-test-next-step-button
  >
    <span>Next</span>
    {{svg-jar "arrow-right" class="w-3.5 h-3.5 fill-current shrink-0"}}
  </span>
</LinkTo>