<ModalBody
  @shouldCloseOnOutsideClick={{true}}
  @shouldShowCloseButton={{true}}
  @onClose={{@onClose}}
  data-test-current-step-complete-modal
  class="w-full max-w-2xs"
  ...attributes
>
  <div class="flex flex-col items-center w-full">
    <div class="text-[60px]">
      🎉
    </div>

    <div class="mb-2 font-bold text-2xl text-gray-700 dark:text-gray-100 text-center">
      {{this.currentStep.completionModalTitle}}
    </div>

    {{#if (eq this.currentStep.type "CourseStageStep")}}
      {{! If condition prevents type errors w/ Repository#language being nullable }}
      {{#if this.currentStepAsCourseStageStep.repository.language}}
        <CoursePage::CurrentStepCompleteModal::LanguageLeaderboardRankSection
          @language={{this.currentStepAsCourseStageStep.repository.language}}
          class="mt-3 mb-3"
        />
      {{/if}}
    {{else}}
      <div class="prose prose-sm dark:prose-invert mb-6" data-test-completion-message>
        <p class="text-center text-pretty">
          {{this.currentStep.completionNoticeMessage}}
        </p>
      </div>
    {{/if}}

    <PrimaryLinkButton
      @route={{this.stepForNextOrActiveStepButton.routeParams.route}}
      @models={{this.stepForNextOrActiveStepButton.routeParams.models}}
      data-test-next-or-active-step-button
      class="shrink-0 w-full"
    >
      <div class="flex items-center justify-center">
        {{#if (eq this.nextStep this.stepForNextOrActiveStepButton)}}
          {{#if (eq this.nextStep.type "CourseStageStep")}}
            <span>View next stage</span>
          {{else}}
            <span>View next step</span>
          {{/if}}
        {{else}}
          <span>View current {{if (eq @activeStep.type "CourseStageStep") "stage" "step"}}</span>
        {{/if}}

        {{svg-jar "arrow-right" class="w-4 ml-1 fill-current shrink-0"}}
      </div>
    </PrimaryLinkButton>
  </div>
</ModalBody>