<ModalBody @allowManualClose={{true}} @repository={{@repository}} @onClose={{@onClose}} class="w-full" data-test-delete-repository-modal>
  <div class="mb-6 font-semibold text-2xl text-gray-600 mr-8">
    Delete Repository
  </div>

  <div class="prose mb-4">
    Are you sure you want to delete your
    {{@repository.name}}
    repository on the
    {{@repository.course.shortName}}
    challenge?
  </div>

  <div class="prose mb-4">
    All code will be deleted, and will NOT be recoverable.
  </div>

  <div class="prose mb-4">
    {{#if @repository.submissionsCount}}
      You have not yet pushed code to this repository.
    {{else}}
      You have pushed code to this repository
      {{@repository.submissionsCount}}
      times.
    {{/if}}
  </div>

  <div class="prose mb-4">
    To proceed, press and hold the button below for 5 seconds:
  </div>

  <DangerButtonWithProgressIndicator @courseSlug={{@repository.course.slug}} @deferredFunction={{this.deleteRepository}} @size="regular">
    Delete
  </DangerButtonWithProgressIndicator>
</ModalBody>