<ModalBody @allowManualClose={{true}} @onClose={{@onClose}} class="w-full" data-test-delete-repository-modal>
  <div class="mb-6 font-semibold text-2xl text-gray-600 mr-8">
    Delete Repository
  </div>

  <div class="prose mb-4">
    Are you sure you want to delete your
    <span class="font-bold">{{@repository.name}}</span>
    repository on the
    <span class="font-bold">{{@repository.course.name}}</span>
    challenge?
  </div>

  <div class="prose mb-4">
    All code will be deleted, and will NOT be recoverable.
  </div>

  <div class="prose mb-4" data-test-delete-repository-submissions-count-copy>
    {{#if (or (eq @repository.submissionsCount 0) (eq @repository.submissionsCount null))}}
      You have not yet pushed code to this repository.
    {{else if (eq @repository.submissionsCount 1)}}
      You have pushed code to this repository once.
    {{else}}
      You have pushed code to this repository
      <span class="font-bold">{{@repository.submissionsCount}}</span>
      times.
    {{/if}}
  </div>

  <div class="prose mb-4 text-red-600">
    To proceed, press and hold the button below for
    <span class="font-bold">5 seconds</span>:
  </div>

  <DangerButtonWithTimedConfirmation @onConfirm={{this.deleteRepository}} @size="regular" data-test-delete-repository-button>
    Delete
  </DangerButtonWithTimedConfirmation>
</ModalBody>