{{! @glint-nocheck: not typesafe yet }}
<div class="flex justify-between items-center mb-6 md:mb-10 flex-wrap gap-4">
  <div class="flex flex-col items-start sm:flex-row sm:items-center">
    <h1 class="text-xl md:text-2xl text-gray-600 mr-3">
      {{@course.name}}
    </h1>

    {{#if @course.releaseStatusIsBeta}}
      <div class="text-xs text-gray-400 font-semibold border border-gray-300 rounded px-1 py-0.5 mr-3 mt-3 sm:mt-0.5" data-test-track-beta-label>
        BETA
      </div>
    {{/if}}

    {{#if this.currentUser.isStaff}}
      <LinkTo @route="course.admin.submissions" @model={{@course.slug}}>
        <TertiaryButton @size="small" class="ml-2">
          Admin
        </TertiaryButton>
      </LinkTo>
    {{/if}}
  </div>

  {{#if (gt @repositories.length 0)}}
    <div>
      <CoursePage::RepositoryDropdown
        @repositories={{@repositories}}
        @activeRepository={{@activeRepository}}
        @onPublishToGithubButtonClick={{@onPublishToGithubButtonClick}}
        @onViewProgressBannerButtonClick={{@onViewProgressBannerButtonClick}}
      />
    </div>
  {{/if}}
</div>