<div class="bg-gray-50 rounded-md w-full" ...attributes>
  <div class="bg-white border border-gray-300 {{if (has-block 'footerContent') 'rounded-t border-b-0' 'rounded'}}">
    <div class="p-6 pt-5 {{if (has-block 'footerContent') 'pb-4'}}">
      {{#if @title}}
        <h2 class="font-semibold border-b pb-2 mb-5 text-lg text-gray-700">{{@title}}</h2>
      {{/if}}

      {{yield to="content"}}
    </div>
  </div>

  {{#if (has-block "footerContent")}}
    <div class="border border-gray-300 rounded-b relative" data-test-footer>
      <div class="h-px w-full bg-gray-200 bg-opacity-50 absolute -top-px"></div>

      <div class="px-6 min-h-[40px] flex items-center">
        <div class="w-full">
          {{yield to="footerContent"}}
        </div>
      </div>
    </div>
  {{/if}}
</div>