<div {{did-insert this.handleDidInsert}} {{will-destroy this.handleWillDestroy}} data-test-leaderboard>
  <div class="flex items-center mb-2 pl-4">
    <span class="uppercase text-teal-500 text-xs font-bold">RECENT ATTEMPTS</span>
    <span class="text-white bg-teal-500 text-xs font-bold rounded px-1.5 py-0.5 ml-2 {{if this.isLoadingEntries 'opacity-0' 'opacity-100'}} transition-all">
      {{this.entries.length}}
    </span>
  </div>

  {{#animated-if this.isLoadingEntries use=this.transition}}
    <div class="flex p-4 items-center">
      <img alt="Loading icon" src="/assets/images/icons/ripple-spinner.svg" class="w-4 h-4 mr-2">
      <span class="text-sm text-gray-600">
        Loading...
      </span>
    </div>
  {{else}}
    <div>
      {{#animated-each this.entries key='userId' use=this.listTransition as |entry|}}
        <CoursePage::LeaderboardEntry @entry={{entry}} />
      {{else}}
        <div class="flex px-4 py-2 items-center">
          <div class="text-sm text-gray-500">
            <p class="mb-2">No one has attempted this challenge recently.</p>
          </div>
        </div>
      {{/animated-each}}
    </div>
  {{/animated-if}}
</div>