<div class="bg-white dark:bg-gray-925 border border-gray-300 dark:border-white/10 rounded-md w-full" ...attributes>
  <div class="bg-gray-50 dark:bg-gray-900 border-gray-300/75 dark:border-gray-700/50 border-b rounded-t relative">
    {{yield to="header"}}
  </div>

  <div class="divide-y divide-gray-200 dark:divide-white/5">
    {{#each @sections as |section sectionIndex|}}
      <AnimatedContainer>
        {{#animated-if (eq @expandedSection section) use=this.transition duration=300}}
          <div class="px-4 sm:px-6 pt-3 pb-5">
            <div class="flex items-center mb-3 gap-2">
              <div
                class="h-7 w-7 shrink-0 rounded-full bg-gray-100 dark:bg-gray-800 text-sm text-gray-900 dark:text-gray-200 font-semibold flex items-center justify-center"
              >
                {{add sectionIndex 1}}
              </div>
              <div class="inline-flex font-semibold text-lg text-teal-500 dark:text-teal-600 underline" data-test-expanded-section-title>
                {{or section.expandedTitle section.title}}
              </div>
            </div>

            {{yield to="expandedSection"}}
          </div>
        {{else}}
          <div class="px-4 sm:px-6 py-3 hover:bg-gray-50 dark:hover:bg-gray-700/50" {{on "click" (fn @onSectionClick section)}} role="button">
            <div class="flex items-center gap-2">
              <div
                class="h-7 w-7 shrink-0 rounded-full bg-gray-100 dark:bg-gray-800 text-sm text-gray-900 dark:text-gray-200 font-semibold flex items-center justify-center"
              >
                {{add sectionIndex 1}}
              </div>
              {{#if section.isComplete}}
                <div class="flex items-center text-lg text-gray-400 dark:text-gray-500">
                  <span class="font-semibold">{{section.title}}</span>:
                  {{section.descriptionWhenCollapsed}}
                  {{svg-jar "check-circle" class="w-6 h-6 text-teal-500 dark:text-teal-600 ml-1"}}
                </div>
              {{else}}
                <div class="font-semibold text-lg text-gray-700 dark:text-gray-300">
                  {{section.title}}
                </div>
              {{/if}}

              <div class="ml-auto">
                {{svg-jar "chevron-down" class="w-6 h-6 text-gray-400 dark:text-gray-500"}}
              </div>
            </div>
          </div>
        {{/animated-if}}
      </AnimatedContainer>
    {{/each}}
  </div>
</div>