<BlurredOverlay
  @isBlurred={{this.shouldShowModal}}
  {{did-update this.handleStepStatusUpdated @currentStep.status}}
  @overlayClass="bg-gray-200/20 dark:bg-gray-900/20"
  ...attributes
>
  <:content>
    {{#animated-if this.modalWasDismissed duration=200 use=this.transition}}
      <div class="sticky top-10 z-10 flex items-start justify-center pointer-events-none h-0">
        <CoursePage::PreviousStepsIncompletePill class="mt-4" />
      </div>
    {{/animated-if}}

    {{yield}}
  </:content>
  <:overlay>
    <CoursePage::PreviousStepsIncompleteModal
      class="mt-8 ml-3 mr-3 md:ml-6 md:mr-6"
      @onClose={{this.handleModalDismissed}}
      @activeStep={{this.coursePageState.activeStep}}
    />
  </:overlay>
</BlurredOverlay>