<ModalBody
  @shouldCloseOnOutsideClick={{true}}
  @shouldShowCloseButton={{true}}
  @onClose={{@onClose}}
  data-test-previous-steps-incomplete-modal
  class="w-full max-w-[19rem]"
  ...attributes
>
  <div class="flex flex-col items-center w-full max-w-[19rem]">
    <div class="w-16 h-16 mb-3">
      <RiveAnimation @src="/assets/animations/warning_icon.riv" />
    </div>

    <div class="mb-3 font-bold text-2xl text-gray-700 dark:text-gray-100 text-center">
      Previous steps incomplete!
    </div>

    <div class="prose dark:prose-invert prose-sm mb-5" data-test-completion-message>
      <p class="text-pretty text-center">
        This step depends on previous steps that you haven't completed yet.
      </p>
    </div>

    <PrimaryLinkButton
      @route={{@activeStep.routeParams.route}}
      @models={{@activeStep.routeParams.models}}
      data-test-active-step-button
      class="shrink-0 w-full"
    >
      <div class="flex items-center justify-center">
        {{svg-jar "arrow-left" class="w-4 mr-1 fill-current shrink-0"}}

        <span>View current {{if (eq @activeStep.type "CourseStageStep") "stage" "step"}}</span>
      </div>
    </PrimaryLinkButton>
  </div>
</ModalBody>