<div data-test-repository-dropdown ...attributes>
  <BasicDropdown @horizontalPosition="auto-right" as |dd|>
    <dd.Trigger>
      <button
        type="button"
        class="inline-flex items-center justify-center rounded-md border border-gray-300
          {{if dd.isOpen 'bg-gray-50' 'bg-white'}}
          shadow-sm px-4 py-2 text-sm font-medium text-gray-600 hover:bg-gray-50 focus:outline-none"
      >
        <span class="mr-1">
          {{#if @activeRepository.name}}
            using
            <span data-test-active-repository-name>
              {{@activeRepository.name}}
            </span>
          {{else}}
            New Repository
          {{/if}}
        </span>

        {{svg-jar "cog" class=(concat "flex-shrink-0 fill-current w-4 transform transition-all text-gray-300")}}
        {{svg-jar "chevron-down" class=(concat "flex-shrink-0 fill-current w-5 transform transition-all " (if dd.isOpen "text-teal-500" ""))}}
      </button>
    </dd.Trigger>
    <dd.Content>
      <div class="bg-white rounded-lg shadow-lg border py-2 my-1" data-test-repository-dropdown-content>
        <div class="text-sm text-gray-700">
          <div
            class="px-3 py-2 hover:bg-gray-50 flex group {{if @activeRepository.isNew 'text-gray-300'}}"
            role="button"
            {{on "click" (fn this.handleCopyGitRepositoryURLClick dd.actions)}}
            data-test-dropdown-action
          >
            <AnimatedContainer @class="w-full">
              {{#animated-if this.gitRepositoryURLWasCopiedRecently use=this.transition}}
                <div class="flex items-center justify-between">
                  <span class="text-teal-500">Copied!</span>
                  {{svg-jar "check" class="w-5 ml-4 text-teal-500"}}
                </div>
              {{else}}
                <div class="flex items-center justify-between">
                  <span>Copy Git Repository URL</span>
                  {{svg-jar "clipboard-copy" class="w-5 ml-4 text-gray-300 {{unless @activeRepository.isNew 'group-hover:text-teal-500'}}"}}
                </div>
              {{/animated-if}}
            </AnimatedContainer>

            {{#if @activeRepository.isNew}}
              <EmberTooltip @text="Please select a language first" />
            {{/if}}
          </div>

          {{#if @activeRepository.progressBannerUrl}}
            <CoursePage::RepositoryDropdownAction @icon="photograph" {{on "click" (fn this.handleCopyGifBannerButtonClick dd.actions)}}>
              Progress Banner
            </CoursePage::RepositoryDropdownAction>
          {{/if}}

          <div
            class="px-3 py-2 hover:bg-gray-50 flex items-center justify-between group {{if @activeRepository.isNew 'text-gray-300'}}"
            role="button"
            {{on "click" (fn this.handlePublishToGithubButtonClick dd.actions)}}
            data-test-dropdown-action
          >
            Publish to GitHub
            {{svg-jar "github" class="w-5 ml-4 text-gray-300 group-hover:text-teal-500"}}

            {{#if @activeRepository.isNew}}
              <EmberTooltip @text="Please select a language first" />
            {{/if}}
          </div>

          <div
            class="px-3 py-2 hover:bg-gray-50 flex items-center justify-between group"
            role="button"
            {{on "click" (fn this.handleTryDifferentLanguageActionClick dd.actions)}}
            data-test-dropdown-action
          >
            Try a different language
            {{svg-jar "beaker" class="w-5 ml-4 text-gray-300 group-hover:text-teal-500"}}
          </div>

          {{#unless @activeRepository.isNew}}
            <div
              class="px-3 py-2 hover:bg-gray-50 flex items-center justify-between group"
              role="button"
              {{on "click" (fn this.handleRetryWithSameLanguageActionClick dd.actions)}}
              data-test-dropdown-action
            >
              Retry using
              {{@activeRepository.language.name}}
              {{svg-jar "refresh" class="w-5 ml-4 text-gray-300 group-hover:text-teal-500"}}
            </div>

            <div
              class="px-3 py-2 hover:bg-gray-50 flex items-center justify-between group"
              role="button"
              {{on "click" (fn this.handleDeleteRepositoryActionClick dd.actions)}}
              data-test-dropdown-action
            >
              Delete Repository
              {{svg-jar "trash" class="w-5 ml-4 text-gray-300 group-hover:text-teal-500"}}
            </div>
          {{/unless}}
        </div>
        {{#if (gt this.nonActiveRepositories.length 0)}}
          <div class="pl-3 text-sm">
            <div class="font-bold text-gray-600 mb-2 mt-3">
              Switch to a different repo:
            </div>
            <div class="">
              {{#each this.nonActiveRepositories as |repository|}}
                <CoursePage::RepositoryDropdown::NonActiveRepositoryLink
                  @onClick={{fn this.handleRepositoryLinkClick repository dd.actions}}
                  @repository={{repository}}
                />
              {{/each}}
            </div>
          </div>
        {{/if}}
      </div>
    </dd.Content>
  </BasicDropdown>
</div>

{{#if this.configureGithubIntegrationModalIsOpen}}
  <ModalBackdrop>
    <CoursePage::ConfigureGithubIntegrationModal
      @repository={{@activeRepository}}
      @onClose={{fn (mut this.configureGithubIntegrationModalIsOpen) false}}
    />
  </ModalBackdrop>
{{/if}}

{{#if this.deleteRepositoryModalIsOpen}}
  <ModalBackdrop>
    <CoursePage::DeleteRepositoryModal @repository={{@activeRepository}} @onClose={{fn (mut this.deleteRepositoryModalIsOpen) false}} />
  </ModalBackdrop>
{{/if}}

{{#if this.progressBannerModalIsOpen}}
  <ModalBackdrop>
    <CoursePage::ProgressBannerModal @repository={{@activeRepository}} @onClose={{fn (mut this.progressBannerModalIsOpen) false}} />
  </ModalBackdrop>
{{/if}}