<div data-test-repository-dropdown ...attributes>
  {{! @glint-expect-error not ts-ified yet !}}
  <BasicDropdown @horizontalPosition="auto-right" as |dd|>
    <dd.Trigger>
      <div
        class="flex items-start gap-2 pl-3 py-3 rounded group/dropdown-trigger
          {{if dd.isOpen 'bg-gray-300 bg-opacity-50' 'hover:bg-gray-300 hover:bg-opacity-50'}}"
      >
        <CourseLogo @course={{@activeRepository.course}} class="w-6 h-6 mt-0.25" />

        <div class="flex-grow">
          <h1 class="text-gray-800 font-semibold tracking-tight w-full">
            {{@activeRepository.course.name}}
          </h1>
          <div class="text-xs text-gray-500 mt-1 w-full">
            {{#if @activeRepository.name}}
              using
              <span data-test-active-repository-name>
                {{@activeRepository.name}}
              </span>
            {{else}}
              New Repository
            {{/if}}
          </div>
        </div>

        {{svg-jar
          "chevron-down"
          class=(concat "mt-0.25 flex-shrink-0 text-gray-400 group-hover/dropdown-trigger:text-teal-500 w-6 transition-transform " (if dd.isOpen "text-teal-500 rotate-180" "rotate-0"))
        }}
      </div>
      {{!-- <button
        type="button"
        class="inline-flex items-center justify-center rounded-md border border-gray-300
          {{if dd.isOpen 'bg-gray-50' 'bg-white'}}
          shadow-sm px-4 py-2 text-sm font-medium text-gray-600 hover:bg-gray-50 focus:outline-none"
      >
        <span class="mr-1">
          {{#if @activeRepository.name}}
            using
            <span data-test-active-repository-name>
              {{@activeRepository.name}}
            </span>
          {{else}}
            New Repository
          {{/if}}
        </span>

        {{svg-jar "cog" class=(concat "flex-shrink-0 fill-current w-4 transform transition-all text-gray-300")}}
        {{svg-jar "chevron-down" class=(concat "flex-shrink-0 fill-current w-5 transform transition-all " (if dd.isOpen "text-teal-500" ""))}}
      </button> --}}
    </dd.Trigger>
    <dd.Content>
      <div class="bg-white rounded-lg shadow-lg border py-2 my-1 max-h-[75vh] overflow-y-auto" data-test-repository-dropdown-content>
        <div class="text-sm text-gray-700">
          <div
            {{! @glint-expect-error model.isNew has wrong type !}}
            class="px-3 py-2 hover:bg-gray-50 flex group {{if @activeRepository.isNew 'text-gray-300'}}"
            role="button"
            {{on "click" (fn this.handleCopyGitRepositoryURLClick dd.actions)}}
            data-test-dropdown-action
          >
            <AnimatedContainer @class="w-full">
              {{#animated-if this.gitRepositoryURLWasCopiedRecently use=this.transition}}
                <div class="flex items-center justify-between">
                  <span class="text-teal-500">Copied!</span>
                  {{svg-jar "check" class="w-5 ml-4 text-teal-500"}}
                </div>
              {{else}}
                <div class="flex items-center justify-between">
                  <span>Copy Git Repository URL</span>
                  {{svg-jar "clipboard-copy" class="w-5 ml-4 text-gray-300 {{unless @activeRepository.isNew 'group-hover:text-teal-500'}}"}}
                </div>
              {{/animated-if}}
            </AnimatedContainer>

            {{! @glint-expect-error model.isNew has wrong type !}}
            {{#if @activeRepository.isNew}}
              <EmberTooltip @text="Please select a language first" />
            {{/if}}
          </div>

          {{#if @activeRepository.progressBannerUrl}}
            <CoursePage::RepositoryDropdownAction @icon="photograph" {{on "click" (fn this.handleCopyGifBannerButtonClick dd.actions)}}>
              Progress Banner
            </CoursePage::RepositoryDropdownAction>
          {{/if}}

          <CoursePage::RepositoryDropdownAction
            @icon="github"
            {{! @glint-expect-error model.isNew has wrong type !}}
            @isDisabled={{@activeRepository.isNew}}
            {{on "click" (fn this.handlePublishToGithubButtonClick dd.actions)}}
          >
            Publish to GitHub

            {{! @glint-expect-error model.isNew has wrong type !}}
            {{#if @activeRepository.isNew}}
              <EmberTooltip @text="Please select a language first" />
            {{/if}}
          </CoursePage::RepositoryDropdownAction>

          <CoursePage::RepositoryDropdownAction
            @icon="beaker"
            {{on "click" (fn this.handleTryDifferentLanguageActionClick dd.actions)}}
            {{! @glint-expect-error model.isNew has wrong type !}}
            @isDisabled={{@activeRepository.isNew}}
          >
            Try a different language

            {{! @glint-expect-error model.isNew has wrong type !}}
            {{#if @activeRepository.isNew}}
              <EmberTooltip @text="Please select a language first" />
            {{/if}}
          </CoursePage::RepositoryDropdownAction>

          {{#unless @activeRepository.isNew}}
            <CoursePage::RepositoryDropdownAction @icon="refresh" {{on "click" (fn this.handleRetryWithSameLanguageActionClick dd.actions)}}>
              Retry using
              {{@activeRepository.language.name}}
            </CoursePage::RepositoryDropdownAction>

            <CoursePage::RepositoryDropdownAction @icon="trash" {{on "click" (fn this.handleDeleteRepositoryActionClick dd.actions)}}>
              Delete Repository
            </CoursePage::RepositoryDropdownAction>
          {{/unless}}
        </div>
        {{#if (gt this.nonActiveRepositories.length 0)}}
          <div class="font-bold text-gray-600 mb-2 mt-3 pl-3 text-sm">
            Switch to a different repo:
          </div>
          {{#each this.nonActiveRepositories as |repository|}}
            <CoursePage::RepositoryDropdown::NonActiveRepositoryLink
              @repository={{repository}}
              {{on "click" (fn this.handleRepositoryLinkClick repository dd.actions)}}
            />
          {{/each}}
        {{/if}}
      </div>
    </dd.Content>
  </BasicDropdown>
</div>

{{#if this.configureGithubIntegrationModalIsOpen}}
  <ModalBackdrop>
    {{! @glint-expect-error not ts-ified yet !}}
    <CoursePage::ConfigureGithubIntegrationModal
      @repository={{@activeRepository}}
      {{! @glint-expect-error fn mut types aren't compatible !}}
      @onClose={{fn (mut this.configureGithubIntegrationModalIsOpen) false}}
    />
  </ModalBackdrop>
{{/if}}

{{#if this.deleteRepositoryModalIsOpen}}
  <ModalBackdrop>
    {{! @glint-expect-error not ts-ified yet !}}
    <CoursePage::DeleteRepositoryModal @repository={{@activeRepository}} @onClose={{fn (mut this.deleteRepositoryModalIsOpen) false}} />
  </ModalBackdrop>
{{/if}}

{{#if this.progressBannerModalIsOpen}}
  <ModalBackdrop>
    {{! @glint-expect-error not ts-ified yet !}}
    <CoursePage::ProgressBannerModal @repository={{@activeRepository}} @onClose={{fn (mut this.progressBannerModalIsOpen) false}} />
  </ModalBackdrop>
{{/if}}