<ModalBody
  @shouldCloseOnOutsideClick={{true}}
  @shouldShowCloseButton={{true}}
  @onClose={{@onClose}}
  data-test-setup-step-complete-modal
  class="w-full {{if this.currentScreenIsWorkflowTutorialScreen 'max-w-sm' 'max-w-2xs'}}"
  ...attributes
>
  <AnimatedContainer>
    <div class="flex flex-col items-center" {{did-insert this.handleDidInsert}}>
      {{#animated-value this.currentScreen use=this.transition duration=500 as |currentScreen|}}
        {{#if (eq currentScreen "start-workflow-tutorial")}}
          <CoursePage::SetupStepCompleteModal::StartWorkflowTutorialScreen
            @step={{@step}}
            @onNextButtonClick={{this.handleNextButtonClick}}
            class="w-full"
          />
        {{else if (eq currentScreen "workflow-tutorial-step-1")}}
          <CoursePage::SetupStepCompleteModal::WorkflowTutorialStep1Screen
            @step={{@step}}
            @onNextButtonClick={{this.handleNextButtonClick}}
            @onStepSelect={{this.handleStepSelect}}
            class="w-full"
          />
        {{else if (eq currentScreen "workflow-tutorial-step-2")}}
          <CoursePage::SetupStepCompleteModal::WorkflowTutorialStep2Screen
            @step={{@step}}
            @onNextButtonClick={{this.handleNextButtonClick}}
            @onStepSelect={{this.handleStepSelect}}
            class="w-full"
          />
        {{else if (eq currentScreen "workflow-tutorial-completed")}}
          <CoursePage::SetupStepCompleteModal::WorkflowTutorialCompletedScreen
            @step={{@step}}
            @onNextButtonClick={{this.handleNextButtonClick}}
            @onBackToReviewButtonClick={{this.handleBackToReviewButtonClick}}
            class="w-full"
          />
        {{else if (eq currentScreen "step-previously-completed")}}
          <CoursePage::SetupStepCompleteModal::StepPreviouslyCompletedScreen @step={{@step}} class="w-full" />
        {{else}}
          <div>Not implemented: {{currentScreen}}</div>
        {{/if}}
      {{/animated-value}}
    </div>
  </AnimatedContainer>
</ModalBody>