<ModalBody @allowManualClose={{true}} @onClose={{@onClose}} class="w-full" data-test-progress-banner-modal>
  <div class="mb-6 font-semibold text-2xl text-gray-600 mr-6">
    Share your progress with friends
  </div>

  <Textarea
    @value={{this.copyableText}}
    class="border border-gray-200 rounded w-full p-4 placeholder-gray-300 mb-3"
    rows="5"
    placeholder="Just completed Stage 2 of the @codecraftersio Build your own Redis challenge in Rust. \n\n https://app.codecrafters.io/courses/redis/overview"
  />

  <div class="flex items-center justify-between">
    <div class="flex items-center gap-2">
      <div class="border-b-2 {{if (eq this.selectedSocialIcon 'twitter') 'border-teal-500 opacity-100' 'border-transparent opacity-25 hover:opacity-100 hover:border-gray-300'}} pb-2 px-1" role="button" {{on 'click' (fn (mut this.selectedSocialIcon) 'twitter')}}>
        <img src={{this.twitterIcon}} class="w-5 h-5" alt="Twitter Icon" />
      </div>

      <div class="border-b-2 {{if (eq this.selectedSocialIcon 'slack') 'border-teal-500 opacity-100' 'border-transparent opacity-25 hover:opacity-100 hover:border-gray-300'}} pb-2 px-1" role="button" {{on 'click' (fn (mut this.selectedSocialIcon) 'slack')}}>
        <img src={{this.slackIcon}} class="w-5 h-5" alt="Slack Icon" />
      </div>

      <div class="border-b-2 {{if (eq this.selectedSocialIcon 'discord') 'border-teal-500 opacity-100' 'border-transparent opacity-25 hover:opacity-100 hover:border-gray-300'}} pb-2 px-1" role="button" {{on 'click' (fn (mut this.selectedSocialIcon) 'discord')}}>
        <img src={{this.discordIcon}} class="w-5 h-5" alt="Discord Icon" />
      </div>

      <div class="border-b-2 {{if (eq this.selectedSocialIcon 'linkedin') 'border-teal-500 opacity-100' 'border-transparent opacity-25 hover:opacity-100 hover:border-gray-300'}} pb-2 px-1" role="button" {{on 'click' (fn (mut this.selectedSocialIcon) 'linkedin')}}>
        <img src={{this.linkedinIcon}} class="w-5 h-5" alt="Linkedin Icon" />
      </div>
    </div>

    <PrimaryButton {{on "click" this.handleCopyButtonClick}}>
      <AnimatedContainer>
        {{#animated-if this.wasCopiedRecently use=this.fade duration=100}}
          <div class="flex items-center gap-1.5">
            {{svg-jar "check-circle" class="w-5 h-5"}}
            <span>
              Copied!
            </span>
          </div>
        {{else}}
          <span>
            Copy to clipboard
          </span>
        {{/animated-if}}
      </AnimatedContainer>
    </PrimaryButton>
  </div>
</ModalBody>