<div class="bg-gray-100 border-r flex flex-col justify-between" data-test-course-page-sidebar ...attributes>
  {{yield}}

  <div>
    <div class="flex items-center">
      {{! @glint-expect-error: not typesafe yet}}
      <CourseLogo @course={{@course}} class="w-8 h-8 mr-3" />

      <h1 class="text-gray-800 font-semibold mr-3 tracking-tight">
        {{@course.name}}
      </h1>
    </div>

    {{#if @course.releaseStatusIsBeta}}
      <div
        class="inline-flex text-xs text-gray-400 font-semibold border border-gray-300 rounded px-1 py-0.5 mr-3 mt-3 sm:mt-0.5"
        data-test-beta-label
      >
        BETA
      </div>
    {{/if}}

    {{! @glint-expect-error: not typesafe yet}}
    <CoursePage::RepositoryDropdown @repositories={{@repositories}} @activeRepository={{@activeRepository}} class="mt-4" />

    <CoursePage::StepList @stepList={{this.stepList}} class="mt-10 -mx-3" />
  </div>

  <div class="flex flex-col mt-4">
    {{#unless this.currentUser.canAccessPaidContent}}
      {{! @glint-expect-error: not typesafe yet }}
      <CoursePage::Sidebar::MonthlyChallengeBanner @course={{@course}} class="mb-4" />

      <PrimaryLinkButton @size="small" @route="pay" class="mb-4">
        <span class="flex items-center gap-x-1 justify-center w-full">
          <span>Subscribe</span>
          {{svg-jar "lock-open" class="w-4"}}
        </span>
      </PrimaryLinkButton>
    {{/unless}}

    <LinkTo
      @route="catalog"
      class="inline-flex justify-center items-center text-gray-500 hover:text-gray-600 transition-colors text-xs p-2 border border-gray-300 rounded-lg hover:bg-white"
    >
      {{svg-jar "arrow-circle-left" class="w-4 mr-1 fill-current"}}
      <span class="font-bold uppercase tracking-wide">Back to Catalog</span>
    </LinkTo>
  </div>
</div>