<div class="bg-gray-100 border-r border-gray-300 flex flex-col py-6 px-3" data-test-course-page-sidebar ...attributes>
  <div class="flex items-center px-3">
    {{! @glint-expect-error: not typesafe yet}}
    <CourseLogo @course={{@course}} class="w-8 h-8 mr-3" />

    <h1 class="text-gray-800 font-semibold mr-3 tracking-tight">
      {{@course.name}}
    </h1>
  </div>

  <div class="px-3">
    {{! Find ways to move this out of sidebar? }}
    {{#if @course.releaseStatusIsBeta}}
      <BetaCourseLabel class="mr-3 mt-3 sm:mt-2" @tooltipSide="right" />
    {{else if @course.isFree}}
      <FreeCourseLabel @course={{@course}} class="mr-3 mt-3 sm:mt-2" @tooltipSide="right" />
    {{/if}}

    {{! @glint-expect-error: not typesafe yet}}
    <CoursePage::RepositoryDropdown @repositories={{@repositories}} @activeRepository={{@activeRepository}} class="mt-4" />
  </div>

  <div class="flex-grow overflow-y-auto mt-6">
    <CoursePage::StepList
      @activeRepository={{@activeRepository}}
      @course={{@course}}
      @onConfigureExtensionsButtonClick={{this.handleConfigureExtensionsButtonClick}}
      @stepList={{this.stepList}}
      class="pb-6"
    />
  </div>

  <div class="relative">
    <div class="absolute bottom-0 left-0 right-0 w-full h-6 bg-gradient-to-t from-10% from-gray-100 to-transparent" />
  </div>

  <div class="flex flex-col pt-2 border-t">
    <CoursePage::Sidebar::Button @icon="chevron-left" @text="Collapse" {{on "click" @onCollapseButtonClick}} data-test-collapse-sidebar-button />
  </div>

  {{#if this.configureExtensionsModalIsOpen}}
    <ModalBackdrop>
      <CoursePage::ConfigureExtensionsModal
        @repository={{@activeRepository}}
        {{! @glint-expect-error: mut helper types don't agree?}}
        @onClose={{fn (mut this.configureExtensionsModalIsOpen) false}}
      />
    </ModalBackdrop>
  {{/if}}
</div>