<div class="bg-gray-100 border-r border-gray-300 flex flex-col pb-6 pt-4 px-3" data-test-course-page-sidebar ...attributes>
  {{!-- <div class="flex items-center gap-2.5 px-3">
    <CourseLogo @course={{@course}} class="w-6 h-6" />

    <h1 class="text-gray-800 font-semibold tracking-tight">
      {{@course.name}}
    </h1>
  </div> --}}

  <CoursePage::RepositoryDropdown @repositories={{@repositories}} @activeRepository={{@activeRepository}} />

  <div class="px-3 mt-1">
    <div class="h-px bg-gray-200 w-full"></div>
  </div>

  {{! Fade for scrollable area below }}
  <div class="relative pointer-events-none">
    <div class="absolute top-0 left-0 right-0 w-full h-6 bg-gradient-to-b from-10% from-gray-100 to-transparent" />
  </div>

  <div class="flex-grow overflow-y-auto pt-4">
    <CoursePage::StepList
      @activeRepository={{@activeRepository}}
      @course={{@course}}
      @onConfigureExtensionsButtonClick={{this.handleConfigureExtensionsButtonClick}}
      @stepList={{this.stepList}}
      class="pb-6"
    />
  </div>

  {{! Fade for scrollable area on top }}
  <div class="relative pointer-events-none">
    <div class="absolute bottom-0 left-0 right-0 w-full h-6 bg-gradient-to-t from-10% from-gray-100 to-transparent" />
  </div>

  <div class="flex flex-col pt-2 border-t">
    <CoursePage::Sidebar::Button @icon="chevron-left" @text="Collapse" {{on "click" @onCollapseButtonClick}} data-test-collapse-sidebar-button />
  </div>

  {{#if this.configureExtensionsModalIsOpen}}
    <ModalBackdrop>
      <CoursePage::ConfigureExtensionsModal
        @repository={{@activeRepository}}
        {{! @glint-expect-error: mut helper types don't agree?}}
        @onClose={{fn (mut this.configureExtensionsModalIsOpen) false}}
      />
    </ModalBackdrop>
  {{/if}}
</div>