<div class="bg-gray-100 border-r flex flex-col" data-test-course-page-sidebar ...attributes>
  <div class="flex items-center">
    {{! @glint-expect-error: not typesafe yet}}
    <CourseLogo @course={{@course}} class="w-8 h-8 mr-3" />

    <h1 class="text-gray-800 font-semibold mr-3 tracking-tight">
      {{@course.name}}
    </h1>
  </div>

  {{#if @course.releaseStatusIsBeta}}
    <BetaCourseLabel class="mr-3 mt-3 sm:mt-2" @tooltipSide="right" />
  {{else if @course.isFree}}
    <FreeCourseLabel @course={{@course}} class="mr-3 mt-3 sm:mt-2" @tooltipSide="right" />
  {{/if}}

  {{! @glint-expect-error: not typesafe yet}}
  <CoursePage::RepositoryDropdown @repositories={{@repositories}} @activeRepository={{@activeRepository}} class="mt-4" />

  <div class="flex-grow overflow-y-auto mt-6 -mx-3">
    <CoursePage::StepList
      @activeRepository={{@activeRepository}}
      @course={{@course}}
      @onConfigureExtensionsButtonClick={{this.handleConfigureExtensionsButtonClick}}
      @stepList={{this.stepList}}
    />
  </div>

  <div class="flex flex-col pt-4 border-t">
    {{#unless this.currentUser.canAccessPaidContent}}
      {{#unless this.monthlyChallengeBanner.isOutdated}}
        <CoursePage::Sidebar::MonthlyChallengeBanner @course={{@course}} class="mb-4" />
      {{/unless}}

      <PrimaryLinkButton @size="small" @route="pay" class="mb-4">
        <span class="flex items-center gap-x-1 justify-center w-full">
          <span>Subscribe</span>
          {{svg-jar "lock-open" class="w-4"}}
        </span>
      </PrimaryLinkButton>
    {{/unless}}

    <button
      type="button"
      class="inline-flex justify-center items-center text-gray-500 hover:text-gray-600 transition-colors text-xs p-2 border border-gray-300 rounded-lg hover:bg-white"
      {{on "click" @onCollapseButtonClick}}
    >
      {{svg-jar "chevron-double-left" class="w-4 mr-1 fill-current"}}
      <span class="font-bold uppercase tracking-wide">Collapse</span>
    </button>
  </div>

  {{#if this.configureExtensionsModalIsOpen}}
    <ModalBackdrop>
      <CoursePage::ConfigureExtensionsModal
        @repository={{@activeRepository}}
        {{! @glint-expect-error: mut helper types don't agree?}}
        @onClose={{fn (mut this.configureExtensionsModalIsOpen) false}}
      />
    </ModalBackdrop>
  {{/if}}
</div>