<div class="flex-grow flex-shrink min-w-0" ...attributes>
  {{#if @step.completionNoticeMessage}}
    <CoursePage::CompletedStepNotice
      @step={{@step}}
      @repository={{@repository}}
      class="px-3 md:px-6 lg:px-10 w-full scroll-mt-20"
      {{! Confetti etc. makes more sense when the top section is focused }}
      {{upscroll-on-insert scrollableContainer="#course-page-scrollable-area"}}
    />
  {{/if}}

  <BlurredOverlay
    @isBlurred={{this.shouldShowPreviousStepsIncompleteModal}}
    @overlayClass="bg-gray-200 bg-opacity-20 dark:bg-gray-800 dark:bg-opacity-20"
    class="px-3 md:px-6 lg:px-10"
    {{did-update this.handleStepIdUpdated @step.id}}
  >
    <:content>
      {{yield}}
    </:content>
    <:overlay>
      <CoursePage::PreviousStepsIncompleteModal
        class="mt-8 mx-3 md:mx-6"
        @onClose={{this.handlePreviousStepsIncompleteModalDismissed}}
        @activeStep={{this.coursePageState.activeStep}}
      />
    </:overlay>
  </BlurredOverlay>
</div>