<LinkTo
  @route={{@step.routeParams.route}}
  @models={{@step.routeParams.models}}
  class="flex items-start gap-x-2 py-1.5 {{if @isCurrent 'bg-gray-300 bg-opacity-50' 'hover:bg-gray-300 hover:bg-opacity-50'}} px-3 rounded"
  data-test-step-list-item
>
  {{#if (eq @step.status "complete")}}
    <div class="rounded-full w-6 h-6 border flex items-center justify-center flex-shrink-0 bg-teal-500 border-teal-500">
      {{svg-jar "check" class="w-4 h-4 fill-current text-white"}}
    </div>
  {{else if (eq @step.status "locked")}}
    <div class="rounded w-6 h-6 border flex items-center justify-center flex-shrink-0 bg-gray-100 border-gray-300">
      {{svg-jar "lock-closed" class="w-4 h-4 fill-current text-gray-500"}}
    </div>
  {{else if (eq @step.type "IntroductionStep")}}
    <div class="rounded-full w-6 h-6 border flex items-center justify-center flex-shrink-0 bg-white border-teal-500 shadow-sm">
      {{svg-jar "dots-horizontal" class="w-4 h-4 fill-current text-teal-500"}}
    </div>
  {{else if (eq @step.type "CourseStageStep")}}
    <div class="rounded-full w-6 h-6 border flex items-center justify-center flex-shrink-0 bg-white border-teal-500 shadow-sm">
      {{svg-jar "dots-horizontal" class="w-4 h-4 fill-current text-teal-500"}}
    </div>
  {{else if (eq @step.type "SetupStep")}}
    <div class="rounded-full w-6 h-6 border flex items-center justify-center flex-shrink-0 bg-white border-teal-500 shadow-sm">
      {{svg-jar "dots-horizontal" class="w-4 h-4 fill-current text-teal-500"}}
    </div>
  {{else if (eq @step.type "CourseCompletedStep")}}
    <div class="rounded-full w-6 h-6 border flex items-center justify-center flex-shrink-0 bg-teal-500 border-teal-500">
      {{svg-jar "check" class="w-4 h-4 fill-current text-white"}}
    </div>
  {{else if (eq @step.type "BaseStagesCompletedStep")}}
    <div class="rounded-full w-6 h-6 border flex items-center justify-center flex-shrink-0 bg-teal-500 border-teal-500">
      {{svg-jar "check" class="w-4 h-4 fill-current text-white"}}
    </div>
  {{else if (eq @step.type "ExtensionCompletedStep")}}
    <div class="rounded-full w-6 h-6 border flex items-center justify-center flex-shrink-0 bg-teal-500 border-teal-500">
      {{svg-jar "check" class="w-4 h-4 fill-current text-white"}}
    </div>
  {{/if}}

  <span class="text-sm {{if @isActive 'text-teal-500' 'text-gray-600'}} mt-0.5 font-semibold truncate">
    {{@step.title}}
  </span>
</LinkTo>