{{#if this.polledRepositoryNeedsToBeUpdated}}
  <div {{did-insert this.handleDidInsertPolledRepositoryMismatchLoader}} class="{{@class}}">
    Loading...
  </div>
{{else}}
  <div {{did-insert this.handleDidInsert}} {{will-destroy this.handleWillDestroy}} class="{{@class}}">
    {{#each this.items key='identifier' as |item index|}}
      {{#if (eq item.type "SetupItem")}}
        <AnimatedContainer>
          {{#animated-if (eq index this.expandedItemIndex) use=this.transition}}
            <CoursePage::StepList::SetupItem
              @course={{@course}}
              @class="mb-4"
              @willBeReplaced={{this.activeItemWillBeReplaced}}
              @repository={{@repository}}
              @onRepositoryCreate={{@onRepositoryCreate}} />
          {{else}}
            <CoursePage::StepList::CollapsedItem
              @class="mb-4"
              @number={{index}}
              @text="Setup"
              @onClick={{this.handleCollapsedSetupItemClick}}
              @status={{if @repository.firstSubmissionCreated "completed" "active"}} />
          {{/animated-if}}
        </AnimatedContainer>
      {{/if}}

      {{#if (eq item.type "CourseStageItem")}}
        <AnimatedContainer>
          {{#animated-if (eq index this.expandedItemIndex) use=this.transition}}
            <CoursePage::StepList::CourseStageItem
              @courseStage={{item.courseStage}}
              @repository={{@repository}}
              @class="mb-4"
              @willBeReplaced={{this.activeItemWillBeReplaced}} />
          {{else}}
            <CoursePage::StepList::CollapsedItem
              @class="mb-4"
              @number={{index}}
              @text={{item.courseStage.name}}
              @status={{if (eq index this.activeItemIndex) "active" (if (gt index this.activeItemIndex) "future" "completed")}}
              @onClick={{fn this.handleCollapsedStageItemClick index}} />
          {{/animated-if}}
        </AnimatedContainer>
      {{/if}}

      {{#if (eq item.type "CourseCompletedItem")}}
        <AnimatedContainer>
          {{#animated-if (eq index this.expandedItemIndex) use=this.transition}}
            <CoursePage::StepList::CourseCompletedItem
              @repository={{@repository}}
              @class="mb-4" />
          {{else}}
            <CoursePage::StepList::CollapsedItem
              @class="mb-4"
              @text="Challenge Complete!"
              @status={{if (eq index this.activeItemIndex) "active" "completed"}}
              @onClick={{this.handleCollapsedCourseCompletedItemClick}} />
          {{/animated-if}}
        </AnimatedContainer>
      {{/if}}
    {{/each}}
  </div>
  {{/if}}