{{#if this.polledRepositoryNeedsToBeUpdated}}
  <div {{did-insert this.handleDidInsertPolledRepositoryMismatchLoader}} class="{{@class}}">
    Loading...
  </div>
{{else}}
  <div {{did-insert this.handleDidInsert}} {{will-destroy this.handleWillDestroy}} class="{{@class}}">
    {{#each this.items key="identifier" as |item index|}}
      {{#if (eq item.type "SetupItem")}}
        <AnimatedContainer class="mb-4">
          {{#animated-if (eq index this.expandedItemIndex)}}
            <CoursePage::StepList::SetupItem
              @course={{@course}}
              @willBeReplaced={{this.activeItemWillBeReplaced}}
              @repository={{@repository}}
              @onRepositoryCreate={{@onRepositoryCreate}}
            />
          {{else}}
            <CoursePage::StepList::CollapsedItem
              @number={{index}}
              @text="Setup"
              @onClick={{this.handleCollapsedSetupItemClick}}
              @status={{if @repository.firstSubmissionCreated "completed" "active"}}
            />
          {{/animated-if}}
        </AnimatedContainer>
      {{/if}}

      {{#if (eq item.type "CourseStageItem")}}
        <AnimatedContainer class="mb-4">
          {{#animated-if (eq index this.expandedItemIndex)}}
            <CoursePage::StepList::CourseStageItem
              @courseStage={{item.courseStage}}
              @repository={{@repository}}
              @shouldShowUpgradePromptIfStagePending={{and this.shouldShowUpgradePromptForPendingPaidStages (not item.courseStage.isFree)}}
              @willBeReplaced={{this.activeItemWillBeReplaced}}
            />
          {{else}}
            <CoursePage::StepList::CollapsedItem
              @number={{index}}
              @text={{item.courseStage.name}}
              @status={{if (eq index this.activeItemIndex) "active" (if (gt index this.activeItemIndex) "future" "completed")}}
              @onClick={{fn this.handleCollapsedStageItemClick index}}
            />
          {{/animated-if}}
        </AnimatedContainer>
      {{/if}}

      {{#if (eq item.type "CourseCompletedItem")}}
        <AnimatedContainer class="mb-4">
          {{#animated-if (eq index this.expandedItemIndex)}}
            <CoursePage::StepList::CourseCompletedItem @repository={{@repository}} />
          {{else}}
            <CoursePage::StepList::CollapsedItem
              @text="Challenge Complete!"
              @status={{if (eq index this.activeItemIndex) "active" "completed"}}
              @onClick={{this.handleCollapsedCourseCompletedItemClick}}
            />
          {{/animated-if}}
        </AnimatedContainer>
      {{/if}}
    {{/each}}
  </div>
{{/if}}