<div class="flex items-center {{if (eq @size 'large') 'text-base' 'text-xs'}} " data-test-setup-item-footer ...attributes>
  {{#if @step.progressIndicator}}
    <AnimatedContainer>
      {{#if (eq @step.progressIndicator.dotType "none")}}
        {{#if (eq @step.status "complete")}}
          {{svg-jar "check-circle" class="mr-1 h-6 w-6 text-teal-500"}}
        {{else}}
          <div></div>
        {{/if}}
      {{else}}
        {{#if (eq @step.progressIndicator.dotType "blinking")}}
          <BlinkingDot class="mr-2" @color={{@step.progressIndicatorAsProgressIndicatorWithDot.dotColor}} />
        {{else}}
          <StaticDot class="mr-2" @color={{@step.progressIndicatorAsProgressIndicatorWithDot.dotColor}} />
        {{/if}}
      {{/if}}
    </AnimatedContainer>

    <span class="text-gray-600 dark:text-gray-400" data-test-progress-indicator-text>{{@step.progressIndicator.text}}</span>

    {{#if (and @step.progressIndicator.explanationMarkdown (not @shouldHideExplanationTooltip))}}
      <div class="flex ml-1 mb-px group/tooltip-trigger">
        {{svg-jar "question-mark-circle" class="w-4 h-4 fill-current text-gray-300 dark:text-gray-500 group-hover/tooltip-trigger:text-gray-400"}}

        {{! @glint-ignore }}
        <EmberPopover @popperContainer="body">
          <div class="prose prose-sm prose-invert text-white">
            {{! The extra #if here is solely for type-checking }}
            {{#if @step.progressIndicator.explanationMarkdown}}
              {{markdown-to-html @step.progressIndicator.explanationMarkdown}}
            {{/if}}
          </div>
        </EmberPopover>
      </div>
    {{/if}}
  {{else}}
    <span>&nbsp;</span>
  {{/if}}
</div>