<div class="bg-gray-900 border-t border-gray-800 dark {{if this.isExpanded 'h-[50vh]'}} flex flex-col" data-test-test-results-bar ...attributes>
  <div class="relative flex flex-col flex-grow">
    {{#if this.isExpanded}}
      <CoursePage::TestResultsBar::TopSection @onCollapseButtonClick={{this.handleCollapseButtonClick}} class="my-3" />

      <CoursePage::TestResultsBar::LogsSection @activeStep={{@activeStep}} @repository={{@repository}} class="flex-grow border-b border-gray-800" />

      <div class="absolute top-[3px] left-0 right-0 flex items-center justify-center">
        <div class="w-20 h-1 rounded-full bg-gray-700 cursor-ns-resize hover:bg-gray-600"></div>
      </div>
    {{/if}}

    <CoursePage::TestResultsBar::BottomSection
      @activeStep={{@activeStep}}
      @barIsExpanded={{this.isExpanded}}
      @onCollapseButtonClick={{this.handleCollapseButtonClick}}
      @onExpandButtonClick={{this.handleExpandButtonClick}}
    />
  </div>
</div>