<div
  class="bg-gray-900 border-t border-gray-800 dark flex flex-col items-center"
  style={{if this.isExpanded this.customHeight}}
  data-test-test-results-bar
  ...attributes
>
  {{#if this.isExpanded}}
    {{! template-lint-disable no-pointer-down-event-binding }}
    <div
      class="absolute bg-gray-700 cursor-ns-resize h-1 rounded top-1 w-12 z-10"
      role="button"
      {{on "mousedown" this.startResize}}
      {{on "touchstart" this.startResize}}
      data-test-resize-handler
    >
      <div class="absolute -top-1.5 left-0 right-0 h-4 bg-transparent"></div>
    </div>
  {{/if}}

  <div class="relative w-full max-w-screen-lg xl:max-w-screen-xl flex flex-col flex-grow {{unless this.isExpanded 'h-0'}}">
    {{#if this.isExpanded}}
      <CoursePage::TestResultsBar::TopSection
        @onCollapseButtonClick={{this.handleCollapseButtonClick}}
        @activeTabSlug={{this.activeTabSlug}}
        @onActiveTabSlugChange={{fn (mut this.activeTabSlug)}}
        @availableTabSlugs={{this.availableTabSlugs}}
        class="my-3 px-6"
      />

      {{#if (eq this.activeTabSlug "logs")}}
        <CoursePage::TestResultsBar::LogsSection
          @activeStep={{@activeStep}}
          @currentStep={{@currentStep}}
          @repository={{@repository}}
          class="flex-grow border-b border-gray-800 overflow-y-auto px-6"
        />
      {{else if (eq this.activeTabSlug "autofix")}}
        <CoursePage::TestResultsBar::AutofixSection
          @activeStep={{@activeStep}}
          @currentStep={{@currentStep}}
          @repository={{@repository}}
          class="flex-grow border-b border-gray-800 overflow-y-auto px-6"
        />
      {{/if}}

      <div class="absolute top-[3px] left-0 right-0 flex items-center justify-center">
        {{! TODO: Add this back when we have a way to resize the logs section. }}
        {{! <div class="w-20 h-1 rounded-full bg-gray-700 cursor-ns-resize hover:bg-gray-600"></div> }}
      </div>
    {{/if}}
  </div>

  <CoursePage::TestResultsBar::BottomSection
    @activeStep={{@activeStep}}
    @barIsExpanded={{this.isExpanded}}
    @onCollapseButtonClick={{this.handleCollapseButtonClick}}
    @onExpandButtonClick={{this.handleExpandButtonClick}}
    class="px-6 w-full"
  />
</div>