<div class="prose dark:prose-invert mb-5" data-test-select-language-proficiency-level-section>
  <p>
    How would you describe your experience level with
    {{if @repository.language @repository.language.name "this language"}}? We can tailor your experience accordingly.
  </p>
</div>

<div>
  <div class="flex items-center flex-wrap max-w-3xl gap-3">
    {{#each-in @repository.languageProficiencyLevelMappings as |key value|}}
      <TertiaryButton
        @isDisabled={{@isDisabled}}
        class="{{if
            (eq @repository.languageProficiencyLevel key)
            'border-teal-500 text-teal-500 hover:border-teal-500 dark:border-teal-400 dark:text-teal-400 dark:hover:border-teal-400'
          }}"
        {{on "click" (fn this.handleSelect key)}}
      >
        {{value}}
      </TertiaryButton>
    {{/each-in}}

    <AnimatedContainer class="w-full">
      {{#animated-if this.feedbackAlertMarkdown use=this.transition duration=300}}
        <AlertWithIcon>
          {{! The extra #if convinces glint that the value isn't null }}
          {{#if this.feedbackAlertMarkdown}}
            {{markdown-to-html this.feedbackAlertMarkdown}}
          {{/if}}
        </AlertWithIcon>
      {{/animated-if}}
    </AnimatedContainer>
  </div>
</div>