{{#if @errorMessage}}
  <AlertWithIcon @type="error" class="mb-5">
    {{@errorMessage}}
  </AlertWithIcon>
{{/if}}

<div class="prose dark:prose-invert mb-5" data-test-select-language-section>
  <p>
    <b>Which language would you like to use?</b>
    We'll create a Git repository with starter code for you to work on.
  </p>
</div>

<div>
  <div class="flex gap-3 items-center flex-wrap max-w-3xl">
    {{#if @repository.language}}
      {{! @glint-expect-error: @repository.isSaving is not typed correctly }}
      {{#if @repository.isSaving}}
        <div class="flex items-center">
          <img alt="Loading icon" src={{this.rippleSpinnerImage}} class="w-4 h-4" />
          <span class="ml-3 text-gray-700 dark:text-gray-300">Creating repository...</span>
        </div>
      {{else}}
        <CoursePage::IntroductionStep::Legacy::CreateRepositoryCard::LanguageButton
          @language={{@repository.language}}
          @releaseStatusIsAlpha={{false}}
          @isSelected={{true}}
        />

        <TertiaryLinkButton
          {{! @glint-expect-error isNew is not typed correctly }}
          @isDisabled={{@repository.isNew}}
          @route="course.introduction"
          @models={{array @repository.course.slug}}
          @query={{hash repo="new" track=null}}
        >
          Try other language
        </TertiaryLinkButton>
      {{/if}}
    {{else}}
      {{#if (and (gt this.preferredLanguages.length 0) (not this.shouldShowNonPreferredLanguages))}}
        {{#each this.preferredLanguages as |language|}}
          <CoursePage::IntroductionStep::Legacy::CreateRepositoryCard::LanguageButton
            @language={{language}}
            @releaseStatusIsAlpha={{false}}
            @isSelected={{false}}
            {{on "click" (fn this.handleLanguageButtonClick language)}}
          />
        {{/each}}

        <CoursePage::IntroductionStep::Legacy::CreateRepositoryCard::ShowOtherLanguagesButton {{on "click" this.handleShowOtherLanguagesButtonClick}} />
      {{else}}
        {{#each this.orderedLanguageConfigurations as |languageConfiguration|}}
          <CoursePage::IntroductionStep::Legacy::CreateRepositoryCard::LanguageButton
            @isSelected={{false}}
            @language={{languageConfiguration.language}}
            @releaseStatusIsAlpha={{languageConfiguration.releaseStatusIsAlpha}}
            {{on "click" (fn this.handleLanguageButtonClick languageConfiguration.language)}}
          />
        {{/each}}

        <CoursePage::IntroductionStep::Legacy::CreateRepositoryCard::RequestLanguageButton @course={{@repository.course}} @user={{@repository.user}} />
      {{/if}}
    {{/if}}
  </div>

  <AnimatedContainer>
    {{#animated-if (gt this.requestedAndUnsupportedLanguages.length 0) use=this.requestedLanguagesPromptTransition}}
      <CoursePage::IntroductionStep::Legacy::CreateRepositoryCard::RequestedLanguagesPrompt
        @requestedAndUnsupportedLanguages={{this.requestedAndUnsupportedLanguages}}
      />
    {{/animated-if}}
  </AnimatedContainer>
</div>