<div
  class="bg-white dark:bg-gray-900 shadow-xs rounded-sm border border-gray-300 dark:border-white/10"
  data-test-community-solution-changed-file-card
  ...attributes
>
  <div
    class="bg-gray-100 dark:bg-gray-800 rounded-t py-2 px-4 border-b border-gray-200 dark:border-white/5 shadow-xs flex items-center justify-between sticky top-10 z-10"
  >
    <span class="font-mono text-xs text-gray-600 dark:text-gray-300 bold">{{@changedFile.filename}}</span>
    <CoursePage::CourseStageStep::CommunitySolutionCard::GithubFileActions
      @filename={{@changedFile.filename}}
      @onPublishToGithubButtonClick={{@onPublishToGithubButtonClick}}
      @solution={{@solution}}
    />
  </div>

  <SyntaxHighlightedDiff
    @code={{@changedFile.diff}}
    @language={{@solution.language.slug}}
    @shouldCollapseUnchangedLines={{true}}
    class="ph-no-capture text-sm leading-6"
  />
</div>