{{#if this.shouldShowExplanation}}
  <div class="pb-8 pt-4">
    <div
      class="leading-7 prose solution-explanation max-w-none"
      {{did-insert this.handleDidInsertExplanationHTML}}
      {{did-update this.handleDidUpdateExplanationHTML @solution.explanationMarkdown}}
    >
      {{markdown-to-html @solution.explanationMarkdown}}
    </div>
  </div>
{{/if}}

{{#each this.changedFilesForRender key="filename" as |changedFile index|}}
  <div class="{{if (not-eq index (sub @solution.changedFiles.length 1)) 'mb-4'}} bg-white shadow-sm rounded border border-gray-300 overflow-y-hidden">
    <div class="bg-gray-100 rounded-t py-2 px-4 border-b border-gray-200 shadow-sm flex items-center justify-between">
      <span class="font-mono text-xs text-gray-600 bold">{{changedFile.filename}}</span>
      <div>
        {{#if @solution.isPublishedToPublicGithubRepository}}
          <a
            {{! @glint-expect-error call not ts-ified yet }}
            href={{call (fn @solution.githubUrlForFile changedFile.filename)}}
            target="_blank"
            rel="noopener noreferrer"
            class="flex gap-x-1 items-center group"
          >
            <span class="text-[10px] text-gray-700 group-hover:underline">
              View on GitHub
            </span>
            {{svg-jar "github" class="w-3.5 h-3.5 text-gray-600"}}
          </a>
        {{else if this.shouldShowPublishToGithubButton}}
          {{! @glint-expect-error onPublishToGithubButton is not null }}
          <button type="button" {{on "click" @onPublishToGithubButtonClick}} class="flex gap-x-1 items-center group">
            <span class="text-[10px] text-gray-700 group-hover:underline">
              Publish to GitHub
            </span>
            {{svg-jar "github" class="w-3.5 h-3.5 text-gray-600"}}
          </button>
        {{/if}}
      </div>
    </div>

    <SyntaxHighlightedDiff
      @code={{changedFile.diff}}
      @language={{@solution.language.slug}}
      @comments={{changedFile.comments}}
      @onCommentView={{this.handleCommentView}}
      @shouldCollapseUnchangedLines={{true}}
      @theme="github-light"
      class="ph-no-capture text-sm leading-6"
    />
  </div>
{{/each}}

{{#each this.unchangedFileComparisons key="filename" as |unchangedFileComparison|}}
  <FileContentsCard
    @headerTooltipText="This file was added in previous stages."
    @isCollapsible={{true}}
    @isCollapsed={{not (includes unchangedFileComparison.path this.expandedUnchangedFilePaths)}}
    @onExpand={{fn this.handleExpandUnchangedFile unchangedFileComparison.path}}
    @onCollapse={{fn this.handleCollapseUnchangedFile unchangedFileComparison.path}}
    @filename={{unchangedFileComparison.path}}
    @code={{unchangedFileComparison.content}}
    @language={{@solution.language.slug}}
    data-test-unchanged-file-contents-card
    {{! scroll-mt-16 accounts for the sticky menu bar}}
    class="mt-4 text-sm scroll-mt-16"
  >
    <:header>
      <div class="flex items-center justify-between w-full gap-3">
        <span class="font-mono text-xs text-gray-600 bold">{{unchangedFileComparison.path}}</span>

        <Pill @color="white">
          Unchanged
        </Pill>

        {{#unless (includes unchangedFileComparison.path this.expandedUnchangedFilePaths)}}
          <EmberTooltip @text="This file was added in previous stages." @side="top" />
        {{/unless}}
      </div>
    </:header>
  </FileContentsCard>
{{/each}}