<div data-test-community-solution-card-content ...attributes>
  {{#if this.shouldShowExplanation}}
    <div class="pb-8 pt-4">
      <div
        class="leading-7 prose dark:prose-invert solution-explanation max-w-none"
        {{did-insert this.handleDidInsertExplanationHTML}}
        {{did-update this.handleDidUpdateExplanationHTML @solution.explanationMarkdown}}
      >
        {{markdown-to-html @solution.explanationMarkdown}}
      </div>
    </div>
  {{/if}}

  {{#if (eq @diffSource "highlighted-files")}}
    {{#each @solution.highlightedFiles key="filename" as |highlightedFile index|}}
      <CoursePage::CourseStageStep::CommunitySolutionCard::HighlightedFileCard
        @highlightedFile={{highlightedFile}}
        @onPublishToGithubButtonClick={{this.handlePublishToGithubButtonClick}}
        @solution={{@solution}}
        class={{if (not-eq index (sub @solution.highlightedFiles.length 1)) "mb-4"}}
      />
    {{/each}}
  {{else}}
    {{#each @solution.changedFiles key="filename" as |changedFile index|}}
      <CoursePage::CourseStageStep::CommunitySolutionCard::ChangedFileCard
        @changedFile={{changedFile}}
        @onPublishToGithubButtonClick={{this.handlePublishToGithubButtonClick}}
        @solution={{@solution}}
        class={{if (not-eq index (sub @solution.changedFiles.length 1)) "mb-4"}}
      />
    {{/each}}
  {{/if}}

  {{#each this.unchangedFileComparisons key="filename" as |unchangedFileComparison|}}
    <FileContentsCard
      @headerTooltipText="This file was added in previous stages."
      @isCollapsible={{true}}
      @isCollapsed={{not (includes unchangedFileComparison.path this.expandedUnchangedFilePaths)}}
      @onExpand={{fn this.handleExpandUnchangedFile unchangedFileComparison.path}}
      @onCollapse={{fn this.handleCollapseUnchangedFile unchangedFileComparison.path}}
      @filename={{unchangedFileComparison.path}}
      @code={{unchangedFileComparison.content}}
      @language={{@solution.language.slug}}
      data-test-community-solution-unchanged-file
      {{! scroll-mt-16 accounts for the sticky menu bar}}
      class="mt-4 text-sm scroll-mt-16"
    >
      <:header>
        <div class="flex items-center justify-between w-full gap-3">
          <span class="font-mono text-xs text-gray-600 dark:text-gray-300 bold">{{unchangedFileComparison.path}}</span>

          <Pill @color="white">
            Unchanged
          </Pill>

          {{#unless (includes unchangedFileComparison.path this.expandedUnchangedFilePaths)}}
            <EmberTooltip @text="This file was added in previous stages." @side="top" />
          {{/unless}}
        </div>
      </:header>
    </FileContentsCard>
  {{/each}}

  {{#unless (eq @solution.user this.authenticator.currentUser)}}
    <CoursePage::CourseStageStep::CommunitySolutionCard::FeedbackSection
      @metadataForDownvote={{@metadataForDownvote}}
      @metadataForUpvote={{@metadataForUpvote}}
      @solution={{@solution}}
      class="pt-6 pb-3"
    />
  {{/unless}}
</div>