<div class="flex flex-col items-center gap-2" ...attributes>
  <AnimatedContainer class="w-full">
    <div class="text-sm text-gray-700 dark:text-gray-300 text-center w-full">
      {{#animated-if this.flashSuccessMessageTask.isRunning use=this.transition duration=200}}
        <p class="text-teal-500 font-medium">
          Thanks for your feedback!
        </p>
      {{else}}
        <p>
          Was this example helpful?
        </p>
      {{/animated-if}}
    </div>
  </AnimatedContainer>

  <div class="flex items-center gap-1.5 flex-wrap">
    <TertiaryButton
      {{on "click" (perform this.handleUpvoteClickTask)}}
      disabled={{this.handleUpvoteClickTask.isRunning}}
      class={{if this.currentUserHasDownvoted "opacity-50 hover:opacity-100 transition-opacity duration-200"}}
    >
      <div class="flex items-center gap-1">
        {{svg-jar "thumb-up" class=(concat "w-5 " (if this.currentUserHasUpvoted "text-teal-500" "text-gray-400 dark:text-gray-600"))}}

        <span class={{if this.currentUserHasUpvoted "text-teal-500" "text-gray-500"}}>
          Helpful
        </span>
      </div>

      <EmberTooltip @text="Your feedback helps us surface better examples." @side="bottom" @delay={{250}} />
    </TertiaryButton>
    <TertiaryButton
      {{on "click" (perform this.handleDownvoteClickTask)}}
      disabled={{this.handleDownvoteClickTask.isRunning}}
      class={{if this.currentUserHasUpvoted "opacity-50 hover:opacity-100 transition-opacity duration-200"}}
    >
      <div class="flex items-center gap-1">
        {{svg-jar "thumb-down" class=(concat "w-5 " (if this.currentUserHasDownvoted "text-red-600" "text-gray-400 dark:text-gray-600"))}}

        <span class={{if this.currentUserHasDownvoted "text-red-600" "text-gray-500"}}>
          Not helpful
        </span>
      </div>

      <EmberTooltip @text="Your feedback helps us identify examples that need review." @side="bottom" @delay={{250}} />
    </TertiaryButton>
  </div>
</div>