<div class="flex justify-between items-center gap-x-4 gap-y-4 flex-wrap" ...attributes>
  <div class="flex items-center gap-2">
    <a href={{@solution.user.codecraftersProfileUrl}} class="flex items-center group" target="_blank" rel="noopener noreferrer">
      <AvatarImage @user={{@solution.user}} class="w-6 h-6 mr-1.5 filter drop-shadow-sm ring-1 ring-white rounded-full shadow" />
      <span class="text-gray-700 text-xs group-hover:underline">{{@solution.user.username}}</span>
    </a>

    <CoursePage::CourseStageStep::CommunitySolutionCard::HeaderLabel @solution={{@solution}} />

    {{#if @solution.screencast}}
      <LinkTo @route="course.stage.screencasts" @query={{hash selectedScreencastId=@solution.screencast.id}} class="flex">
        <Pill @color="blue">
          {{svg-jar "play" class="w-4 h-4 mr-1 text-blue-500"}}
          Screencast

          <EmberTooltip @text="This solution has a linked screencast. Click to view." />
        </Pill>
      </LinkTo>
    {{/if}}
  </div>

  <div class="flex items-center shrink-0">
    {{#unless (eq @solution.user this.authenticator.currentUser)}}
      <CoursePage::CourseStageStep::CommunitySolutionCard::UpvoteButton @solution={{@solution}} @metadata={{@metadataForUpvote}} class="mr-2" />
      <CoursePage::CourseStageStep::CommunitySolutionCard::DownvoteButton @solution={{@solution}} @metadata={{@metadataForDownvote}} />
      <div class="w-px h-3 bg-gray-200 mx-2"></div>
    {{/unless}}

    {{#if (gt @solution.approvedCommentsCount 0)}}
      <div class="flex items-center">
        {{svg-jar "chat-alt" class="w-4 text-gray-400 mr-1"}}
        <div class="text-xs text-gray-500">
          {{@solution.approvedCommentsCount}}
          comments
        </div>
      </div>
      <div class="w-px h-3 bg-gray-200 mx-2"></div>
    {{/if}}
    <div class="flex items-center">
      {{svg-jar "clock" class="w-4 text-gray-400 mr-1"}}

      {{#if (current-user-is-staff)}}
        <LinkTo @route="course-admin.code-example" @model={{@solution.id}} class="text-xs text-gray-500 hover:underline" target="_blank">
          {{date-from-now @solution.submittedAt}}
        </LinkTo>
      {{else}}
        <div class="text-xs text-gray-500">
          {{date-from-now @solution.submittedAt}}
        </div>
      {{/if}}
    </div>
    {{!      <div class="flex items-center">}}
    {{!--        {{svg-jar "plus" class="w-4 text-green-600"}}--}}
    {{!        <div class="text-xs text-gray-500">}}
    {{!          <span class="text-green-600">20 lines</span>}}
    {{!        </div>}}
    {{!      </div>}}
    {{!      <div class="ml-2 flex items-center">}}
    {{!--        {{svg-jar "minus" class="w-4 text-red-600"}}--}}
    {{!        <div class="text-xs text-gray-500">}}
    {{!          <span class="text-red-600">2 lines</span>}}
    {{!        </div>}}
    {{!      </div>}}
  </div>
</div>