<div
  class="p-4 shadow-xs rounded-sm border border-gray-300 dark:border-white/10 mb-4 relative bg-white dark:bg-gray-900"
  data-test-community-solution-card
  ...attributes
  {{did-insert this.handleDidInsert}}
  {{did-update this.handleDidUpdateIsExpanded @isExpanded}}
>
  <CoursePage::CourseStageStep::CommunitySolutionCard::Header
    @contentIsExpanded={{@isExpanded}}
    @diffSource={{this.diffSource}}
    @metadataForDownvote={{@metadataForDownvote}}
    @metadataForUpvote={{@metadataForUpvote}}
    @onCollapseButtonClick={{this.handleCollapseButtonClick}}
    @onDiffSourceChange={{this.handleDiffSourceChange}}
    @solution={{@solution}}
    class="mb-3"
  />

  <div>
    {{#if @isExpanded}}
      <CoursePage::CourseStageStep::CommunitySolutionCard::Content
        @diffSource={{this.diffSource}}
        @fileComparisons={{this.fileComparisons}}
        @metadataForDownvote={{@metadataForDownvote}}
        @metadataForUpvote={{@metadataForUpvote}}
        @onPublishToGithubButtonClick={{@onPublishToGithubButtonClick}}
        @solution={{@solution}}
      />
    {{/if}}

    {{#unless @isExpanded}}
      <button
        class="mt-4 border border-gray-200 dark:border-white/5 hover:bg-gray-100 dark:hover:bg-gray-700/50 hover:border-gray-300 dark:hover:border-white/10 px-4 py-5 text-gray-700 dark:text-gray-200 text-sm rounded-sm flex flex-col items-center w-full group"
        type="button"
        {{on "click" this.handleExpandButtonClick}}
        data-test-expand-button
      >
        <div class="font-bold flex items-center sm:mb-0">
          Expand example
          {{svg-jar "arrow-down" class="w-4 ml-2 fill-current"}}
        </div>
      </button>
    {{/unless}}
  </div>
</div>