<Settings::FormSection @title="Username" @description="Your publicly visible username on CodeCrafters">
  <div>
    {{! template-lint-disable require-input-label }}
    <Input
      @value={{@model.user.username}}
      class="text-sm rounded px-3 py-2 bg-gray-50 border w-full text-gray-500 font-mono cursor-not-allowed"
      placeholder="cool_username"
      disabled={{true}}
    />

    {{!-- TODO: Bring this back once implemented }}
    {{!-- <EmberTooltip @text="This value is synced with your GitHub account. Click on the refresh button below to update your username." /> --}}
    <EmberTooltip @text="This value is synced with your GitHub account." />
  </div>
  <div class="text-gray-400 text-xs mt-1">
    This value is synced with your GitHub account.
  </div>

  {{!-- TODO: Bring this back once implemented }}
  {{!-- <TertiaryButtonWithSpinner @size="extra-small" class="mt-4" @shouldShowSpinner={{false}}>
    <div class="flex items-center gap-1">
      {{svg-jar "refresh" class="w-4 h-4 text-gray-400"}}
      Refresh from GitHub
    </div>
  </TertiaryButtonWithSpinner> --}}
</Settings::FormSection>

{{! This isn't implemented yet }}
{{!-- <Settings::FormDivider />

<Settings::FormSection @title="Anonymous Mode" @description="Hide your GitHub username & avatar">
  <:belowDescription>
    <Pill @color="green">
      {{svg-jar "shield-check" class="w-4 h-4 text-green-500 mr-1"}}
      Members only

      <EmberTooltip @text="This feature is only available to CodeCrafters members." />
    </Pill>
  </:belowDescription>
  <:default>
    <div class="flex items-center gap-3">
      <Toggle @isOn={{true}} />
      <div class="text-gray-600 text-sm">Enable anonymous mode</div>
    </div>
    <div class="text-gray-400 text-xs mt-4 leading-relaxed">
      When anonymous mode is enabled, your GitHub username &amp; avatar will be hidden on CodeCrafters. Your code examples &amp; profile page will
      still be visible to the public, but under a random username.
    </div>
  </:default>
</Settings::FormSection>

--}}

<Settings::FormDivider />

<Settings::FormSection @title="About" @description="Shown on your profile page">
  <div>
    {{! template-lint-disable require-input-label }}
    <Textarea
      @value={{@model.user.profileDescriptionMarkdown}}
      class="text-sm rounded px-3 py-2 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-teal-500 border border-gray-300 shadow-sm w-full"
      placeholder="I'm a software engineer who loves building things. Here are some of my projects..."
      rows="3"
      required
      {{autoresize @model.user.profileDescriptionMarkdown}}
      {{markdown-input}}
      {{on "blur" this.handleProfileDescriptionMarkdownUpdated}}
    />
  </div>

  <div class="text-xs mt-1">
    {{#if this.isUpdatingProfileDescriptionMarkdown}}
      <span class="text-teal-500 font-semibold">
        Saving...
      </span>
    {{else if this.profileDescriptionMarkdownWasUpdatedRecently}}
      <span class="text-teal-500 font-semibold">
        Saved!
      </span>
    {{else}}
      <span class="text-gray-400">
        Displayed on your profile page. Markdown supported.
      </span>
    {{/if}}
  </div>

  <TertiaryLinkButton class="mt-4" @size="extra-small" @route="user" @models={{array "rohitpaulk"}} @shouldOpenInNewTab={{true}}>
    <div class="flex items-center gap-1">
      {{svg-jar "external-link" class="w-4 h-4 text-gray-400"}}
      Preview
    </div>
  </TertiaryLinkButton>
</Settings::FormSection>