<BasicDropdown @horizontalPosition="right" as |dd|>
  <dd.Trigger>
    <div class="bg-white dark:bg-gray-925 border border-gray-200 dark:border-white/10 rounded-sm shadow-xs p-1">
      <div class="text-gray-500 flex items-center outline-hidden" data-test-leaderboard-team-dropdown-trigger>
        {{svg-jar
          (if @team "user-group" "globe")
          class=(concat "fill-current w-5 transform transition-all " (if dd.isOpen "text-teal-500 dark:text-teal-600" ""))
        }}
        {{svg-jar "chevron-down" class=(concat "fill-current w-5 transform transition-all " (if dd.isOpen "text-teal-500 dark:text-teal-600" ""))}}
      </div>
    </div>
  </dd.Trigger>
  <dd.Content>
    <div
      class="py-2 border border-gray-200 dark:border-white/10 rounded-sm shadow-sm text-sm text-gray-600 dark:text-gray-400 max-w-xl bg-white dark:bg-gray-925"
      data-test-leaderboard-team-dropdown-content
    >
      {{#each @teams as |team|}}
        <CourseLeaderboardTeamDropdown::Item
          @text={{team.name}}
          @logo="user-group"
          @isActive={{eq team @team}}
          {{on "click" (fn this.handleTeamLinkClick team dd.actions)}}
        />
      {{/each}}

      <CourseLeaderboardTeamDropdown::Item
        @text="Everyone"
        @logo="globe"
        @isActive={{not @team}}
        {{on "click" (fn this.handleTeamLinkClick null dd.actions)}}
      />
    </div>
  </dd.Content>
</BasicDropdown>