{{! @glint-expect-error not ts-ified yet }}
<BasicDropdown @horizontalPosition="right" as |dd|>
  <dd.Trigger>
    <div
      class="{{if this.colorScheme.isDark 'text-gray-300' 'text-gray-600'}} flex items-center justify-between py-3 outline-none w-full sm:w-auto"
      data-test-account-dropdown-trigger
    >
      <span class="mr-0.5 text-sm md:text-xs">
        {{this.authenticator.currentUsername}}
      </span>

      {{svg-jar "chevron-down" class=(concat "fill-current w-5 transform transition-all " (if dd.isOpen "text-teal-500" ""))}}
    </div>
  </dd.Trigger>
  <dd.Content>
    <div class="py-2 border rounded shadow text-sm text-gray-600 max-w-xl bg-white" data-test-account-dropdown-content>
      {{#if this.currentUser.hasActiveSubscription}}
        <Header::AccountDropdownLink
          @text="Manage Membership"
          @icon="credit-card"
          {{on "click" (fn this.handleManageSubscriptionClick dd.actions)}}
        />
      {{else}}
        <Header::AccountDropdownLink @text="Subscribe" @icon="credit-card" {{on "click" (fn this.handleSubscribeClick dd.actions)}} />
      {{/if}}

      <Header::AccountDropdownLink @text="Your Profile" @icon="user" {{on "click" (fn this.handleViewProfileClick dd.actions)}} />

      {{#if this.currentUser.isTeamAdmin}}
        <Header::AccountDropdownLink
          @text="Manage Team"
          @icon="users"
          {{! @glint-expect-error get currentUser.teams 0 doesn't return a valid type}}
          {{on "click" (fn this.handleManageTeamClick dd.actions (get this.currentUser.managedTeams "0"))}}
        />
      {{else if this.currentUser.isTeamMember}}
        <Header::AccountDropdownLink
          @text="View Team"
          @icon="users"
          {{! @glint-expect-error get currentUser.teams 0 doesn't return a valid type}}
          {{on "click" (fn this.handleViewTeamClick dd.actions (get this.currentUser.teams "0"))}}
        />
      {{else}}
        <Header::AccountDropdownLink @text="Invite Your Team" @icon="users" {{on "click" (fn this.handleCreateTeamClick dd.actions)}} />
      {{/if}}

      {{#if this.currentUser.isAffiliate}}
        <Header::AccountDropdownLink @text="Partner Dashboard" @icon="gift" {{on "click" (fn this.handlePartnerDashboardClick dd.actions)}} />
      {{/if}}

      <Header::AccountDropdownLink @text="Referrals" @icon="gift" {{on "click" (fn this.handleReferralsLinkClick dd.actions)}} />
      <Header::AccountDropdownLink @text="Perks" @icon="star" {{on "click" (fn this.handlePerksLinkClick dd.actions)}} />
      <Header::AccountDropdownLink @text="Get Help" @icon="question-mark-circle" {{on "click" (fn this.handleGetHelpClick dd.actions)}} />
      <Header::AccountDropdownLink @text="Status Page" @icon="cloud" {{on "click" (fn this.handleStatusPageClick dd.actions)}} />
      <Header::AccountDropdownLink @text="Settings" @icon="cog" {{on "click" (fn this.handleSettingsLinkClick dd.actions)}} />
      <Header::AccountDropdownLink @text="Logout" @icon="logout" {{on "click" this.handleLogoutClick}} />

      {{#if this.currentUser.isStaff}}
        <Header::AccountDropdownLink @text="Test Sentry" @icon="fire" {{on "click" this.handleTestSentryClick}} />
        <div class="text-xs text-gray-400 px-3 py-2">
          {{this.version.currentVersion}}

          {{#if (and this.version.latestVersion (eq this.version.currentVersion this.version.latestVersion))}}
            (Latest)
          {{else}}
            (Latest:
            {{or this.version.latestVersion "unknown"}})
          {{/if}}
        </div>
      {{/if}}
    </div>
  </dd.Content>
</BasicDropdown>