<PrimaryLinkButton @size={{this.linkButtonSize}} @route="pay"
class="{{if (eq this.linkButtonSize 'extra-small') 'mr-2'}} {{if (eq this.linkButtonSize 'small') 'mr-3'}}"
data-test-free-weeks-left-button>
  <span class="flex items-center gap-x-1">
    {{svg-jar "clock" class="w-4 fill-current"}}
    {{this.freeWeeksLeftCopy}}
  </span>

  <EmberTooltip @text={{this.freeWeeksLeftTooltipCopy}} />
</PrimaryLinkButton>