{{#if (eq @type "route")}}
  <LinkTo
    @route={{@route}}
    @models={{(or @routeParams (array))}}
    class="text-sm relative hover:text-gray-950 dark:hover:text-gray-100
      {{if this.isActive 'text-gray-700 dark:text-gray-300' 'text-gray-600 dark:text-gray-400'}}
      "
    data-test-header-link
    data-route-is-active={{if this.isActive "true" "false"}}
    ...attributes
  >
    {{@text}}
  </LinkTo>
{{else if (eq @type "link")}}
  <a href={{@route}} class="text-sm text-gray-600 dark:text-gray-400 hover:text-gray-950 dark:hover:text-gray-100" ...attributes>{{@text}}</a>
{{/if}}