{{! @glint-nocheck: not typesafe yet }}
{{#if (eq @type "route")}}
  <LinkTo @route={{@route}} class="text-sm {{if this.colorScheme.isDark 'text-gray-200' 'text-gray-600'}}" data-test-header-link ...attributes>
    {{@text}}
  </LinkTo>
{{else if (eq @type "link")}}
  <a href={{@route}} class="text-sm {{if this.colorScheme.isDark 'text-gray-200' 'text-gray-600'}}" ...attributes>{{@text}}</a>
{{/if}}