{{#if (eq @type "route")}}
  <LinkTo
    @route={{@route}}
    class="text-sm relative hover:text-gray-900 dark:hover:text-gray-100
      {{if this.isActive 'text-gray-700 dark:text-gray-300' 'text-gray-600 dark:text-gray-400'}}
      "
    data-test-header-link
    ...attributes
  >
    {{@text}}

    {{#if this.isActive}}
      <div class="absolute -bottom-[18px] left-0 w-full h-0.5 bg-teal-500">
      </div>
    {{/if}}
  </LinkTo>
{{else if (eq @type "link")}}
  <a href={{@route}} class="text-sm text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100" ...attributes>{{@text}}</a>
{{/if}}