<div>
  <div class="flex items-center mb-4 gap-4 flex-wrap">
    <TertiaryButton
      class="mb-4"
      {{on "click" (perform this.clipboard.copyTask @evaluation.logsFileContents)}}
      @isDisabled={{not @evaluation.logsFileContents}}
    >
      {{if this.clipboard.hasRecentlyCopied "Copied!" "Copy to Clipboard"}}
    </TertiaryButton>

    <TertiaryButtonWithSpinner
      class="mb-4"
      {{on "click" this.handleRegenerateButtonClick}}
      @isDisabled={{@evaluation.requiresRegeneration}}
      @shouldShowSpinner={{this.regenerateTask.isRunning}}
    >
      {{#if @evaluation.requiresRegeneration}}
        Regenerating...
      {{else}}
        Regenerate
      {{/if}}
    </TertiaryButtonWithSpinner>
  </div>

  <div class="prose dark:prose-invert prose-sm">
    {{#if @evaluation.logsFileContents}}
      {{markdown-to-html @evaluation.logsFileContents}}
    {{else}}
      <p>Loading...</p>
    {{/if}}
  </div>
</div>