<div ...attributes data-test-trusted-evaluation-tab>
  <div class="flex items-center flex-wrap gap-3 mb-6">
    {{#each this.options as |option|}}
      <WelcomePage::OnboardingSurveyWizard::SelectableItem
        @isSelected={{option.isSelected}}
        {{on "click" (fn this.handleSelect option.value)}}
        data-test-selectable-item
      >
        {{option.text}}
      </WelcomePage::OnboardingSurveyWizard::SelectableItem>
    {{/each}}
  </div>

  <div class="prose">
    {{#if this.trustedEvaluation}}
      {{#if (eq this.trustedEvaluation.result @evaluation.result)}}
        <p>
          ✅ This evaluation matches the trusted evaluation.
        </p>
      {{else}}
        <p>
          ❌ This evaluation does not match the trusted evaluation.
        </p>

        <ul>
          <li>
            <b>Trusted:</b>
            {{this.trustedEvaluation.result}}
          </li>
          <li>
            <b>Evaluation:</b>
            {{@evaluation.result}}
          </li>
        </ul>
      {{/if}}
    {{else}}
      <p>
        This solution doesn't have a trusted evaluation yet.
      </p>
    {{/if}}
  </div>
</div>