<div ...attributes data-test-trusted-evaluation-tab>
  {{#if (and this.trustedEvaluation (not this.upsertTrustedEvaluationTask.isRunning))}}
    <div class="prose dark:prose-invert" data-test-trusted-evaluation-message>
      {{#if (eq this.trustedEvaluation.result @evaluation.result)}}
        <p>
          This evaluation
          <span class="text-teal-500 font-semibold">matches</span>
          the trusted evaluation.
        </p>
      {{else}}
        <p>
          This evaluation
          <span class="text-red-500 font-semibold">does not match</span>
          the trusted evaluation.
        </p>

        <ul>
          <li>
            <b>Trusted:</b>
            <span data-test-trusted-result>{{this.trustedEvaluation.result}}</span>
          </li>
          <li>
            <b>Evaluation:</b>
            <span data-test-evaluation-result>{{@evaluation.result}}</span>
          </li>
        </ul>
      {{/if}}
    </div>

    <TertiaryButton
      @isDisabled={{this.destroyTrustedEvaluationTask.isRunning}}
      {{on "click" (perform this.destroyTrustedEvaluationTask)}}
      class="mt-6"
      data-test-edit-trusted-evaluation-button
    >
      Edit Trusted Evaluation
    </TertiaryButton>
  {{else}}
    <div class="prose dark:prose-invert mb-6">
      Is the
      <b class="uppercase">{{@evaluation.result}}</b>
      evaluation correct?
    </div>

    <div class="flex items-center flex-wrap gap-3 mb-6">
      <PrimaryButtonWithSpinner
        @shouldShowSpinner={{this.upsertTrustedEvaluationTask.isRunning}}
        {{on "click" (perform this.upsertTrustedEvaluationTask @evaluation.result)}}
        data-test-correct-button
      >
        <div class="flex items-center gap-2">
          {{svg-jar "check" class="w-4 h-4"}}
          <span>Correct</span>
        </div>
      </PrimaryButtonWithSpinner>

      <PrimaryButtonWithSpinner
        @shouldShowSpinner={{this.upsertTrustedEvaluationTask.isRunning}}
        {{on "click" (perform this.upsertTrustedEvaluationTask @evaluation.oppositeResult)}}
        data-test-wrong-button
      >
        <div class="flex items-center gap-2">
          {{svg-jar "x" class="w-4 h-4"}}
          <span>Wrong</span>
        </div>
      </PrimaryButtonWithSpinner>
    </div>
  {{/if}}
</div>