<div ...attributes class="flex flex-col gap-2">
  {{#each @steps key="id" as |step stepIndex|}}
    <div class="flex items-stretch gap-3" data-test-step-list-step>
      <div class="flex flex-col items-center gap-2">
        {{#if step.isComplete}}
          {{! Checkmark }}
          {{svg-jar "check-circle" class="w-7 h-7 text-teal-500"}}
        {{else}}
          {{! Step number }}
          <div
            class="h-7 w-7 flex-shrink-0 rounded-full bg-gray-100 dark:bg-gray-800 text-xs text-gray-800 dark:text-gray-200 font-semibold flex items-center justify-center"
          >
            {{add stepIndex 1}}
          </div>
        {{/if}}

        {{! Vertical line }}
        {{#if (eq stepIndex (sub @steps.length 1))}}
          <div class="w-px flex-grow bg-gradient-to-b from-gray-200/70 dark:from-white/10 via-gray-200/60 dark:via-white/8 via-80% to-transparent" />
        {{else}}
          <div class="w-px flex-grow bg-gray-200/70 dark:bg-white/10" />
        {{/if}}
      </div>

      {{! Content }}
      <div class="flex-grow">
        <div class="flex h-7 items-center">
          <div class="font-semibold text-gray-800 dark:text-gray-200" data-test-step-title>
            {{step.titleMarkdown}}
          </div>
        </div>

        <div class="pt-3 pb-5">
          {{yield (hash step=step)}}
        </div>
      </div>
    </div>
  {{/each}}
</div>