<div ...attributes class="ml-3.5">
  {{#each @steps key="id" as |step stepIndex|}}
    {{#let (eq stepIndex (sub @steps.length 1)) as |isLastStep|}}
      <div class="relative flex items-start pb-5" data-test-step-list-step>
        {{! Vertical line }}
        {{#if isLastStep}}
          <div
            class="absolute w-px h-[calc(100%-2.75rem)] top-[2.75rem] bg-transparent bg-gradient-to-b from-gray-200 dark:from-white/10 via-80% to-transparent"
          />

        {{else}}
          <div class="absolute w-px h-[calc(100%-2.75rem)] top-[2.75rem] bg-gray-200/70 dark:bg-white/10" />
        {{/if}}

        {{! Step number }}
        <div class="absolute ml-[-13px] py-2">
          <div
            class="h-7 w-7 flex-shrink-0 rounded-full bg-gray-50 dark:bg-white/10 text-xs text-gray-900 dark:text-gray-50 font-semibold flex items-center justify-center"
          >
            {{add stepIndex 1}}
          </div>
        </div>

        {{! Content }}
        <div class="w-full overflow-hidden pl-8 pr-px">
          <div class="flex items-center gap-3">
            <div class="mt-2 font-semibold text-gray-900 dark:text-gray-200 {{if step.isComplete 'opacity-50' ''}}" data-test-step-title>
              {{step.titleMarkdown}}
            </div>

            {{#if step.isComplete}}
              <div class="flex mt-2" data-test-step-complete-icon>
                {{svg-jar "check-circle" class="w-6 h-6 text-teal-500"}}
              </div>
            {{/if}}
          </div>

          <div class={{if @stepContainerClass @stepContainerClass "mt-3"}}>
            {{yield (hash step=step)}}
          </div>
        </div>
      </div>
    {{/let}}
  {{/each}}
</div>