<div class="flex items-stretch gap-3" data-test-step-list-step>
  <div class="flex flex-col items-center gap-2">
    {{#if @step.isComplete}}
      {{! Checkmark }}
      <div class="flex w-7 h-7 items-center justify-center flex-shrink-0" data-test-step-complete-icon>
        {{svg-jar "check-circle" class="w-full text-teal-500"}}
      </div>
    {{else}}
      {{! Step number }}
      <div
        class="h-7 w-7 flex-shrink-0 rounded-full bg-gray-100 dark:bg-gray-900 text-xs text-gray-900 dark:text-gray-200 font-semibold flex items-center justify-center"
      >
        {{add @stepIndex 1}}
      </div>
    {{/if}}

    {{! Vertical line }}
    <div
      class="w-px flex-grow
        {{if
          this.isLastStep
          'bg-gradient-to-b from-gray-200/70 dark:from-white/10 via-gray-200/60 dark:via-white/8 via-80% to-transparent'
          'bg-gray-200/70 dark:bg-white/10'
        }}"
    />
  </div>

  {{! Content }}
  <div class="flex-grow min-w-0">
    <div class="flex h-7 items-center">
      <div class="font-semibold text-gray-900 dark:text-gray-200" data-test-step-title>
        {{@step.titleMarkdown}}
      </div>
    </div>

    <div class="pt-3 pb-5">
      {{yield}}
    </div>
  </div>
</div>