<div ...attributes>
  {{#if @currentStep.repository.lastSubmissionCanBeUsedForStageCompletion}}
    <div class="text-gray-700 mb-4 text-sm">
      Click the button below to move on to the next step:
    </div>

    <CoursePage::CourseStageStep::MarkStageAsCompleteButton @courseStage={{@currentStep.courseStage}} @repository={{@currentStep.repository}} />
  {{else}}
    <div class="prose prose-sm prose-compact mb-3">
      <p>
        Run the

        {{#if (gt this.selectedCommandVariant.commands.length 1)}}
          following commands
        {{else}}
          following command
        {{/if}}

        to submit your code:
      </p>
    </div>

    <CopyableTerminalCommandWithVariants @variants={{this.commandVariants}} @onVariantSelect={{this.handleVariantSelect}} />

    {{#if (eq this.recommendedClientType "cli")}}
      <div class="prose prose-sm prose-compact mt-3">
        <p>
          We recommend using the
          <a href="https://codecrafters.io/cli" target="_blank" rel="noopener noreferrer">CodeCrafters CLI</a>, but you can use Git too.
        </p>
      </div>
    {{/if}}
  {{/if}}
</div>