<div class="prose prose-sm prose-compact mb-3">
  {{#if this.lastSubmissionWasForCurrentStage}}
    <p class="mb-3">
      {{#if (eq this.lastSubmission.status "evaluating")}}
        <b>Running tests...</b>
      {{else if (eq this.lastSubmission.status "failure")}}
        <b>Tests failed.</b>
      {{else if (eq this.lastSubmission.status "error")}}
        <b>Whoops! Looks like we ran into an internal error. Trying again might work.</b>
      {{/if}}

      <a href="#" role="button" {{on "click" @onViewLogsButtonClick}}>Click here</a>
      to view logs.
    </p>
  {{/if}}

  {{#if this.lastSubmissionWasForCurrentStage}}
    <p>
      To run tests again, make changes to your code and run the
      {{#if (eq this.suggestedClientType "git")}}
        following commands:
      {{else}}
        test command:
      {{/if}}
    </p>
  {{else}}
    <p>
      To run tests, make changes to your code and run the

      {{#if (eq this.suggestedClientType "git")}}
        following commands:
      {{else}}
        test command:
      {{/if}}
    </p>
  {{/if}}
</div>

<CopyableTerminalCommand @commands={{this.suggestedCommands}} class="mb-3" />

<div class="prose prose-sm prose-compact">
  <p>
    We recommend using the
    <a href="https://codecrafters.io/cli" target="_blank" rel="noopener noreferrer">CLI</a>, but you can use Git too.
  </p>
</div>