<div class="prose prose-sm prose-compact mb-3">
  {{#if this.lastSubmissionWasForCurrentStage}}
    <p class="mb-3">
      {{#if (eq this.lastSubmission.status "evaluating")}}
        <b>Running tests...</b>
      {{else if (eq this.lastSubmission.status "failure")}}
        <b>Tests failed.</b>
      {{else if (eq this.lastSubmission.status "error")}}
        <b>Whoops! Looks like we ran into an internal error. Trying again might work.</b>
      {{/if}}

      <a href="#" role="button" {{on "click" @onViewLogsButtonClick}}>Click here</a>
      to view logs.
    </p>
  {{/if}}

  {{#if this.lastSubmissionWasForCurrentStage}}
    <p>
      To run tests again, make changes to your code and run the
      {{#if (eq this.suggestedClientType "git")}}
        following commands:
      {{else}}
        test command:
      {{/if}}
    </p>
  {{else}}
    <p>
      To run tests, make changes to your code and run the

      {{#if (eq this.suggestedClientType "git")}}
        following commands:
      {{else}}
        test command:
      {{/if}}
    </p>
  {{/if}}
</div>

<CopyableTerminalCommand @commands={{this.suggestedCommands}} class="mb-4" />

<div class="prose prose-sm prose-compact">
  {{#if (eq this.suggestedClientType "cli")}}
    <p>
      Don't have the
      <a href="https://codecrafters.io/cli" target="_blank" rel="noopener noreferrer">CLI</a>
      installed? You can also submit code using Git.

      <TertiaryButton
        @size="extra-small"
        {{on "click" this.toggleAlternateClientInstructions}}
        class="ml-2"
        data-test-toggle-alternate-client-instructions-link
      >
        {{#if this.alternateClientInstructionsAreExpanded}}
          Hide Git instructions ↑
        {{else}}
          Show Git instructions ↓
        {{/if}}
      </TertiaryButton>
    </p>
  {{else}}
    <p>
      You can also submit code using the
      <a href="https://codecrafters.io/cli" target="_blank" rel="noopener noreferrer">codecrafters CLI</a>.

      <TertiaryButton
        @size="extra-small"
        {{on "click" this.toggleAlternateClientInstructions}}
        class="ml-2"
        data-test-toggle-alternate-client-instructions-link
      >
        {{#if this.alternateClientInstructionsAreExpanded}}
          Hide CLI instructions ↑
        {{else}}
          Show CLI instructions ↓
        {{/if}}
      </TertiaryButton>
    </p>
  {{/if}}
</div>

{{#if this.alternateClientInstructionsAreExpanded}}
  <CopyableTerminalCommand @commands={{this.suggestedCommandsForAlternateClient}} class="mt-3" />

  <TertiaryButton @size="extra-small" {{on "click" this.toggleAlternateClientInstructions}} class="mt-3">
    ↑ Hide
    {{if (eq this.suggestedClientType "git") "CLI" "Git"}}
    instructions
  </TertiaryButton>
{{/if}}