{{#if @currentStep.courseStage.isFirst}}
  <div>
    <div class="prose prose-sm prose-compact mb-3">
      <p>
        You can now mark
        <b>{{@currentStep.courseStage.name}}</b>
        as complete! 🎉
      </p>

      <p>
        We recommend reviewing the code you just uncommented. You'll need to build on it in the next stages.
      </p>
    </div>

    <CoursePage::CourseStageStep::TestRunnerCard::MoveToNextStepInstructions @currentStep={{@currentStep}} />
  </div>
{{else}}
  <div class="prose prose-sm prose-compact mb-3">
    <p>
      You can either refactor your code or move on the next step.
    </p>
  </div>

  <div class="mb-4">
    <div class="prose prose-sm prose-compact mb-3">
      <h4 class="mt-3">To move on to the next step:</h4>
    </div>

    <CoursePage::CourseStageStep::TestRunnerCard::MoveToNextStepInstructions @currentStep={{@currentStep}} />
  </div>

  <div>
    <div class="prose prose-sm prose-compact mb-3">
      <h4>To refactor your code:</h4>
    </div>

    <CoursePage::CourseStageStep::TestRunnerCard::RefactorCodeInstructions @currentStep={{@currentStep}} />
  </div>
{{/if}}