<TeamPage::Section @title="Pilot" data-test-pilot-details-container ...attributes>
  <div class="text-gray-600 text-sm leading-6 mb-4" data-test-details-text>
    {{#if @team.activePilot}}
      Your team's pilot is valid until
      <b class="font-semibold">{{moment-format @team.activePilot.endDate "LLL"}}</b>.
    {{else if @team.expiredPilot}}
      Your team's pilot ended on
      <b class="font-semibold">{{moment-format @team.expiredPilot.endDate "LL"}}</b>.
    {{/if}}
  </div>

  <div class="text-gray-600 text-sm leading-6" data-test-instructions-text>
    Ready to upgrade? Start by adding a payment method:
  </div>

  <PrimaryButtonWithSpinner
    @size="small"
    @shouldShowSpinner={{this.isCreatingPaymentMethodUpdateRequest}}
    {{on "click" this.handleAddPaymentMethodButtonClick}}
    data-test-add-payment-method-button
  >
    Add Payment Method
  </PrimaryButtonWithSpinner>
</TeamPage::Section>