<TeamPage::Section @title="Pilot" data-test-pilot-details-container ...attributes>
  <div class="text-gray-600 text-sm leading-6 mb-4" data-test-details-text>
    {{#if @team.activePilot}}
      Your team's pilot is valid until
      <b class="font-semibold">{{moment-format @team.activePilot.endDate "LLL"}}</b>.
    {{else if @team.expiredPilot}}
      Your team's pilot ended on
      <b class="font-semibold">{{moment-format @team.expiredPilot.endDate "LL"}}</b>.
    {{/if}}
  </div>

  {{#if @team.hasPaymentMethod}}
    <div class="text-gray-600 text-sm leading-6 mb-4" data-test-instructions-text>
      Click below to start your subscription:
    </div>

    <PrimaryButtonWithSpinner
      @size="small"
      @shouldShowSpinner={{this.isCreatingPaymentMethodUpdateRequest}}
      {{on "click" this.handleAddPaymentMethodButtonClick}}
      data-test-start-subscription-button
    >
      Start Subscription
    </PrimaryButtonWithSpinner>

    <div class="text-gray-600 text-xs leading-relaxed mt-4">
      Your team's payment method will be charged
      <b class="font-semibold">{{if this.isLoadingFirstInvoicePreview "$⋯" "$790"}}</b>/seat/yr for
      <b class="font-semibold">6 seats</b>.
      <a href="mailto:sarup@codecrafters.io" class="text-teal-600 underline">Contact us</a>
      for questions.
    </div>
  {{else}}
    <div class="text-gray-600 text-sm leading-6 mb-4" data-test-instructions-text>
      Ready to upgrade? Start by adding a payment method:
    </div>

    <PrimaryButtonWithSpinner
      @size="small"
      @shouldShowSpinner={{this.isCreatingPaymentMethodUpdateRequest}}
      {{on "click" this.handleAddPaymentMethodButtonClick}}
      data-test-add-payment-method-button
    >
      Add Payment Method
    </PrimaryButtonWithSpinner>

    <div class="text-gray-600 text-xs leading-relaxed mt-4">
      Adding a payment method won't charge you right away. We'll confirm the charge amount in the next step.
    </div>
  {{/if}}
</TeamPage::Section>