<div class="bg-white min-h-screen">
  <div class="container lg:max-w-screen-lg mx-auto pt-4 pb-10 px-6">
    <div class="pt-3 pb-6 border-b flex items-start justify-between">
      <div>
        <h3 class="text-lg font-bold text-gray-800 mb-1">
          {{@model.question.queryMarkdown}}
        </h3>
        <div class="text-xs text-gray-400">
          Slug:
          {{@model.question.slug}}
        </div>
      </div>
      <div>
      </div>
    </div>

    <div class="divide-y divide-gray-100">
      <ConceptAdmin::FormSection @title="Query">
        <:description>
          <label for="question_query_markdown">
            Markdown supported.
          </label>
        </:description>

        <:content>
          <Textarea
            @value={{@model.question.queryMarkdown}}
            rows="3"
            cols="80"
            class="text-sm rounded px-3 py-2 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-teal-500 border border-gray-300 shadow-sm"
            placeholder="What is the meaning of life?"
            id="question_query_markdown"
            required
          />
        </:content>
      </ConceptAdmin::FormSection>

      <ConceptAdmin::FormSection @title="Slug">
        <:description>
          <label for="question_slug">
            Used in the URL.
          </label>
        </:description>

        <:content>
          <Input
            @value={{@model.question.slug}}
            class="text-sm rounded px-3 py-2 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-teal-500 border border-gray-300 shadow-sm"
            placeholder="what-is-the-meaning-of-life"
            id="question_slug"
            required
          />
        </:content>
      </ConceptAdmin::FormSection>

      <ConceptAdmin::FormSection @title="Options">
        <:description>
          <label for="question_options">
            List of options to choose from.
          </label>
        </:description>

        <:content>
          <div class="divide-y divide-gray-100">
            {{#each @model.question.options as |option index|}}
              <div class="py-3 {{if (eq index 0) 'pt-0'}}">
                <div class="font-semibold text-gray-800 mb-2 border-b-2 inline-flex">
                  Option #{{add index 1}}
                </div>
                <ConceptAdmin::FormSubsection @title="Value">
                  <:content>
                    <Input
                      @value={{option.markdown}}
                      class="w-full text-sm rounded px-3 py-2 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-teal-500 border border-gray-300 shadow-sm"
                      placeholder="what-is-the-meaning-of-life"
                      id="question_slug"
                      required
                    />
                  </:content>
                </ConceptAdmin::FormSubsection>
                <ConceptAdmin::FormSubsection @title="Explanation">
                  <:content>
                    <Textarea
                      @value={{option.markdown}}
                      class="w-full text-sm rounded px-3 py-2 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-teal-500 border border-gray-300 shadow-sm"
                      rows="5"
                      placeholder="what-is-the-meaning-of-life"
                      id="question_slug"
                      required
                    />
                  </:content>
                </ConceptAdmin::FormSubsection>
                <ConceptAdmin::FormSubsection @title="Is Correct?">
                  <:content>
                    <div class="flex items-center">
                      <Toggle @isOn={{false}} class="mt-1" />
                    </div>
                  </:content>
                </ConceptAdmin::FormSubsection>
              </div>
            {{/each}}
          </div>
        </:content>
      </ConceptAdmin::FormSection>
    </div>
  </div>
</div>