<div class="flex items-start" ...attributes>
  <div class="flex flex-col items-center">
    <PrimaryButton {{on "click" @onContinueButtonClick}} data-test-continue-button>
      {{or @continueButtonText "Continue"}}
    </PrimaryButton>

    {{#if @shouldHighlightKeyboardShortcuts}}
      <div class="mt-2 text-xs text-gray-400">
        Enter ↵
      </div>
    {{/if}}
  </div>

  {{#if @shouldShowStepBackButton}}
    <div class="ml-4 flex flex-col items-center">
      <TertiaryButton {{on "click" @onStepBackButtonClick}} class="group">
        <div class="flex items-center">
          <span>{{svg-jar "arrow-up" class="w-3 fill-current text-gray-400 group-hover:text-gray-700"}}</span>
          <div class="ml-1 text-gray-500 font-normal group-hover:text-gray-700">
            Step back
          </div>
        </div>
      </TertiaryButton>

      {{#if @shouldHighlightKeyboardShortcuts}}
        <div class="mt-2 text-xs text-gray-400">
          Backspace ⌫
        </div>
      {{/if}}
    </div>
  {{/if}}

  {{#if @shouldEnableKeyboardShortcuts}}
    {{on-key "Enter" @onContinueButtonClick}}
    {{on-key "Backspace" @onStepBackButtonClick}}
  {{/if}}
</div>