<div class="flex items-start" ...attributes>
  <div class="flex flex-col items-center">
    <PrimaryButton {{on "click" @onContinueButtonClick}} data-test-continue-button>
      {{or @continueButtonText "Continue"}}
    </PrimaryButton>

    {{#if @shouldHighlightKeyboardShortcuts}}
      <div class="mt-2 text-xs text-gray-400">
        Enter ↵
      </div>
    {{else}}
      <EmberTooltip @text="Shortcut: Enter ↵" @side="bottom" @delay={{500}} @duration={{2500}} />
    {{/if}}
  </div>

  {{#if @shouldShowStepBackButton}}
    <div class="flex items-center ml-4 py-3 group" role="button" data-test-step-back-button {{on "click" @onStepBackButtonClick}}>
      <span>{{svg-jar "arrow-up" class="w-3 fill-current text-gray-400 group-hover:text-gray-700"}}</span>
      <div class="ml-1 text-gray-500 group-hover:text-gray-800 text-xs hover:underline">
        Step back
      </div>

      <EmberTooltip @text="Shortcut: Backspace ⌫" @side="bottom" @delay={{500}} @duration={{2500}} />
    </div>
  {{/if}}

  {{#if @shouldEnableKeyboardShortcuts}}
    {{on-key "Enter" @onContinueButtonClick}}
    {{on-key "Backspace" @onStepBackButtonClick}}
  {{/if}}
</div>