<div class="flex p-4 bg-gray-100 border border-gray-300 rounded relative" data-test-feedback-prompt ...attributes>
  {{#if @wasTriggeredManually}}
    <button class="absolute right-4 top-4 opacity-60 hover:opacity-100" type="button" {{on "click" @onClose}} data-test-close-feedback-prompt-button>
      {{svg-jar "x" class="w-5 h-5 text-gray-400"}}
    </button>
  {{/if}}
  <div class="mr-3 mt-0.5 flex-shrink-0">
    {{#if this.stageIsComplete}}
      {{svg-jar "check-circle" class="w-6 fill-current text-teal-500"}}
    {{else}}
      {{svg-jar "chat" class="w-6 fill-current text-teal-500"}}
    {{/if}}
  </div>
  <div class="w-full">
    <div class="text-gray-700 leading-7" data-test-question-text>
      {{#if @wasTriggeredManually}}
        How did we do?
      {{else}}
        {{this.congratulatoryMessage}}
        How did we do?
      {{/if}}
    </div>

    <div class="flex items-center mt-2">
      {{#each this.answerOptions as |answerOption|}}
        <CoursePage::CourseStageStep::YourTaskCard::FeedbackPromptOption
          @emoji={{answerOption}}
          @isSelected={{eq this.feedbackSubmission.selectedAnswer answerOption}}
          {{on "click" (fn this.handleAnswerOptionSelected answerOption)}}
          class="mr-2"
        />
      {{/each}}
    </div>

    <AnimatedContainer>
      {{#if this.feedbackSubmission.hasSelectedAnswer}}
        {{! template-lint-disable require-input-label }}
        <Textarea
          @value={{this.feedbackSubmission.explanation}}
          class="mt-4 border border-gray-200 rounded w-full p-4 placeholder-gray-300"
          rows="5"
          placeholder={{this.explanationTextareaPlaceholder}}
          {{on "blur" this.handleExplanationTextareaBlur}}
          {{markdown-input}}
        />

        <button
          type="button"
          class="mt-2 px-3 py-2 bg-gray-200 border border-gray-400 hover:bg-gray-300 hover:border-gray-400 text-gray-600 rounded"
          {{on "click" this.handleSubmitButtonClick}}
        >
          Submit
        </button>
      {{/if}}
    </AnimatedContainer>
  </div>
</div>