<div class="py-3">
  <h3 class="text-lg font-bold text-gray-800">
    {{this.filteringTitle}}
  </h3>
  <div class="text-xs text-gray-400">
    {{this.filteringDescription}}
  </div>
</div>

<div class="border-t h-160 pb-4">
  <div class="flex h-full items-stretch">
    <Admin::Course::SubmissionsPage::TimelineContainer
      @onSubmissionSelect={{mut this.selectedSubmission}}
      @submissions={{@submissions}}
      @selectedSubmission={{this.selectedSubmission}}
      class="w-1/4 border-r overflow-y-scroll"
    />

    <Admin::Course::SubmissionsPage::SubmissionDetailsContainer @submission={{this.selectedSubmission}} class="w-3/4 pr-0 overflow-y-scroll" />
  </div>
</div>