{{! @glint-nocheck: not typesafe yet }}
<div class="text-gray-700 prose" data-test-clone-repository-step>
  <p class="mb-5">
    We've prepared a starter repository with some
    {{@repository.language.name}}
    code for you.
  </p>

  <p class="mb-4">
    {{#if @isComplete}}
      {{svg-jar "check-circle" class="w-6 h-6 text-teal-500 inline-flex mb-0.5"}}
    {{else}}
      <b class="text-teal-600">Step 1:</b>
    {{/if}}

    Clone the repository.
  </p>

  {{#if @repository.isNew}}
    <div class="prose mb-5">
      <p>
        <span class="text-lg">⚠️</span>
        Select a language to see instructions to clone your repository.
      </p>
    </div>
  {{else}}
    <CopyableTerminalCommand
      @commands={{array (concat "git clone " @repository.cloneUrl " " @repository.cloneDirectory) (concat "cd " @repository.cloneDirectory)}}
      class="mb-5"
      data-test-copyable-repository-clone-instructions
    />
  {{/if}}

  <p class="mb-4">
    {{#if @isComplete}}
      {{svg-jar "check-circle" class="w-6 h-6 text-teal-500 inline-flex mb-0.5"}}
    {{else}}
      <b class="text-teal-600">Step 2:</b>
    {{/if}}
    Push an empty commit.
  </p>

<CopyableTerminalCommand @commands={{array "git commit --allow-empty -m 'test'" "git push origin master"}} class="mb-5" />

  <p class={{if @isComplete "line-through"}}>
    When you run the above command, the "Listening for a git push" message below will change, and the first stage will be activated.
  </p>
</div>