<CoursePage::InstructionsCard data-test-repository-setup-card ...attributes>
  <:header>
    <div class="flex items-center gap-x-3 w-full border-b dark:border-white/10 pb-2 mb-5">
      <h2 class="font-semibold text-lg text-gray-700 dark:text-gray-200">Repository Setup</h2>
      <CoursePage::StepStatusPill @step={{this.coursePageState.currentStep}} data-test-status-text />
    </div>
  </:header>
  <:content>
    <CoursePage::SetupStep::RepositorySetupCard::CloneRepositoryStep @repository={{@repository}} @isComplete={{this.isComplete}} />

    {{#if this.isComplete}}
      <div class="mt-4 prose dark:prose-invert">
        <span class="text-xl mr-1">🎉</span>
        Git push received! The first stage is now activated.
      </div>

      <PrimaryLinkButton
        class="mt-4"
        @size="large"
        @route={{this.coursePageState.activeStep.routeParams.route}}
        @models={{this.coursePageState.activeStep.routeParams.models}}
        data-test-continue-button
      >
        Continue →
      </PrimaryLinkButton>
    {{else}}
      <div class="px-4 py-3 bg-gray-50 dark:bg-gray-800 inline-flex rounded border dark:border-white/10 shadow-sm mt-4">
        <CoursePage::StepProgressIndicator @step={{this.coursePageState.currentStep}} @size="large" />
      </div>

      <div class="mt-6 prose prose-compact prose-sm dark:prose-invert">
        <p>Need help?</p>
        <ul>
          <li>
            <a
              data-test-run-git-commands-link
              href="https://docs.codecrafters.io/challenges/how-challenges-work#how-to-run-git-commands"
              target="_blank"
              rel="noopener noreferrer"
            >Not sure how to run git commands</a>
          </li>
          <li>
            <a
              data-test-git-clone-issues-link
              href="https://docs.codecrafters.io/troubleshooting/fix-clone-errors"
              target="_blank"
              rel="noopener noreferrer"
            >Running into issues with the git clone step</a>
          </li>
        </ul>
      </div>
    {{/if}}
  </:content>
</CoursePage::InstructionsCard>