<ModalBody @shouldCloseOnOutsideClick={{true}} @shouldShowCloseButton={{true}} @onClose={{@onClose}} class="w-fit cursor-default max-w-xl" data-test-troubleshooting-modal>
  <div class="mb-6 font-semibold text-2xl text-gray-900 dark:text-gray-200 mr-8">
    Need help?
  </div>

  <div class="mt-6 prose prose-compact dark:prose-invert">
    {{markdown-to-html this.contentMarkdown}}

    <p>
      If the above links don't cover your issue, please
      <a href="#" {{on "click" this.handleWriteToUsLinkClick}}>let us know</a>
      and we'll get back to you within a day.
    </p>
  </div>
</ModalBody>