{{#if this.question}}
  {{! @glint-expect-error not ts-ified yet }}
  <ConceptPage::QuestionCard
    @question={{this.question}}
    @onSubmit={{@onSubmit}}
    class="w-full max-w-xl"
    {{did-insert this.handleDidInsertHTML}}
    {{did-update this.handleDidUpdateHTML}}
    ...attributes
  />
{{else}}
  <div class="text-gray-400">
    Unknown question:
    {{or this.model.conceptQuestionSlug "no_slug_provided"}}
  </div>
{{/if}}