{{#if this.question}}
  <div ...attributes>
    {{! @glint-expect-error not ts-ified yet }}
    <ConceptPage::QuestionCard
      @question={{this.question}}
      @onSubmit={{this.handleSubmit}}
      class="w-full max-w-xl"
      {{did-insert this.handleDidInsertHTML}}
      {{did-update this.handleDidUpdateHTML}}
    />

    {{#if @isCurrentBlock}}
      <Concept::ContinueOrStepBack
        @onContinueButtonClick={{@onContinueButtonClick}}
        @onStepBackButtonClick={{@onStepBackButtonClick}}
        @continueButtonText="Continue"
        @shouldEnableKeyboardShortcuts={{false}}
        @shouldHighlightKeyboardShortcuts={{true}}
        @shouldShowContinueButton={{this.isSubmitted}}
        @shouldShowStepBackButton={{true}}
        class="mt-6 scroll-mb-10 md:scroll-mb-[20vh]"
        {{did-insert this.handleDidInsertContinueOrStepBackElement}}
      />
    {{/if}}

    {{#if @isCurrentBlock}}
      {{#if this.isSubmitted}}
        {{on-key "Enter" @onContinueButtonClick}}
      {{/if}}

      {{on-key "Backspace" @onStepBackButtonClick}}
    {{/if}}
  </div>
{{else}}
  <div class="text-gray-400" ...attributes>
    Unknown question:
    {{or @model.conceptQuestionSlug "no_slug_provided"}}
  </div>
{{/if}}