<LinkTo
  class="flex items-center justify-between flex-wrap gap-x-6 gap-y-2 py-3 group/stage-list-item hover:bg-gray-50 px-1"
  data-test-version-list-item
  role="button"
  @route="course-admin.submissions"
  @query={{hash usernames=@participation.user.username}}
  ...attributes
>
  <div class="min-w-0">
    <div class="flex items-center flex-wrap gap-2">
      <AvatarImage @user={{@participation.user}} class="w-6 h-6 filter drop-shadow-sm ring-1 ring-gray-300 rounded-full" />
      <div class="text-sm text-gray-400">
        <span class="font-semibold text-gray-600">{{@participation.user.username}}</span>
        using
        <span class="font-semibold text-gray-600">{{@participation.language.name}}</span>
      </div>
    </div>
  </div>
  <div class="flex flex-none items-center gap-x-2">
    <div class="text-gray-400 text-xs">
      <span class="font-semibold text-gray-500">{{@participation.attemptsCount}}</span>
      {{pluralize "attempt" count=@participation.attemptsCount}}
      <EmberTooltip @text="The number of times the user attempted this stage." />
    </div>
    <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current text-gray-300">
      <circle cx="1" cy="1" r="1" />
    </svg>
    <div class="text-gray-400 text-xs">
      Last attempt
      <span class="font-semibold text-gray-500">{{date-from-now @participation.lastAttemptAt}}</span>
      <EmberTooltip @text="The number of times the user attempted this stage." />
    </div>
  </div>
</LinkTo>