<div class="w-full pt-8 pb-16">
  {{#if this.authenticator.currentUser.pendingProductWalkthroughFeatureSuggestion}}
    <ProductWalkthroughFeatureSuggestion
      @featureSuggestion={{this.authenticator.currentUser.pendingProductWalkthroughFeatureSuggestion}}
      @isDismissable={{true}}
      class="mb-6"
    />
  {{else if (not this.authenticator.isAuthenticated)}}
    <ProductWalkthroughFeatureSuggestion @isDismissable={{false}} class="mb-6" />
  {{/if}}

  {{! @glint-expect-error not ts-ified yet }}
  <CoursePage::IntroductionStep::WelcomeCard @repository={{@model.activeRepository}} class="mb-6" />

  {{! @glint-expect-error not ts-ified yet }}
  <CoursePage::IntroductionStep::CreateRepositoryCard @repository={{@model.activeRepository}} class="mb-6" />
</div>