<CoursePage::CurrentStepCompleteOverlay @currentStep={{this.currentStep}}>
  <div class="w-full pt-8 pb-32 px-3 md:px-6 lg:px-10">
    {{#if this.authenticator.currentUser.pendingProductWalkthroughFeatureSuggestion}}
      <ProductWalkthroughFeatureSuggestion
        @featureSuggestion={{this.authenticator.currentUser.pendingProductWalkthroughFeatureSuggestion}}
        class="mb-6"
      />
    {{/if}}

    <CoursePage::IntroductionStep::WelcomeSection @repository={{@model.activeRepository}} class="mb-6" />

    {{!-- <CoursePage::IntroductionStep::Legacy::WelcomeCard @repository={{@model.activeRepository}} class="mb-6" />
    <CoursePage::IntroductionStep::Legacy::CreateRepositoryCard
      @repository={{@model.activeRepository}}
      @preferredLanguageSlug={{@model.track}}
      class="mb-6"
    /> --}}
  </div>
</CoursePage::CurrentStepCompleteOverlay>