<div
  class="border rounded-md p-4 mb-4 {{if this.isCollapsed 'hover:border-gray-300 hover:bg-gray-100'}}"
  role={{if this.isCollapsed "button" "presentation"}}
  {{! template-lint-disable no-invalid-interactive }}
  {{on "click" (if this.isCollapsed this.handleExpandButtonClick (noop))}}
>
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <div>
        {{#if (eq @evaluation.result "pass")}}
          <Pill @color="green" class="text-xs">
            Pass
          </Pill>
        {{else if (eq @evaluation.result "fail")}}
          <Pill @color="red" class="text-xs">
            Fail
          </Pill>
        {{else if (eq @evaluation.result "unsure")}}
          <Pill @color="gray" class="text-xs">
            Unsure
          </Pill>
        {{else}}
          <div class="text-red-500 font-bold">
            Unknown ({{@evaluation.result}})
          </div>
        {{/if}}
      </div>

      <div class="text-sm text-gray-600 ml-1.5 mr-1">
        for
      </div>

      <span class="text-sm text-gray-700 font-semibold">
        {{@evaluation.criteriaType}}
      </span>
    </div>
    <div class="flex items-center gap-3">
      {{#if this.isExpanded}}
        <button
          class="flex-shrink-0 border hover:bg-gray-100 hover:border-gray-300 transition-colors px-2 py-1.5 text-gray-700 font-bold text-xs rounded flex items-center"
          type="button"
          {{on "click" this.handleCollapseButtonClick}}
        >
          {{svg-jar "x" class="w-3 mr-1 fill-current"}}
          Collapse evaluation
        </button>
      {{/if}}
    </div>
  </div>

  {{#if this.isExpanded}}
    <div class="flex items-start gap-6 mt-4">
      Nothing yet!
    </div>
  {{/if}}
</div>