<div
  class="group bg-white p-5 rounded-md shadow-sm hover:shadow transition-all cursor-pointer flex flex-col justify-between border relative"
  role="button"
  {{on "click" this.navigateToTrack}}
  data-test-track-card
>
  {{! Logo }}
  <div class="flex justify-end h-8 transform scale-100 group-hover:scale-105 flex-shrink-0 transition-all absolute top-5 right-5">
    <LanguageLogo @language={{@language}} @variant="teal" />
  </div>

  {{! Text }}
  <div class="mb-8">
    <div class="flex items-center flex-wrap gap-y-2 pr-16">
      <div class="text-gray-600 mr-2" data-test-track-name>
        {{@language.name}}
      </div>

      {{#if (eq @language.trackStatus "live")}}
        <Pill @color="green" data-test-popular-track-label>
          Popular
          <EmberTooltip @text="This track is a favourite among our learners." />
        </Pill>
      {{/if}}
    </div>
  </div>

  {{! Footer }}
  <div class="flex items-center justify-between">
    {{#if this.currentUserHasStartedTrack}}
      {{! @glint-expect-error: not ts-ified yet }}
      <TracksPage::TrackCard::ProgressBar
        @language={{@language}}
        @completedStagesCount={{this.completedStagesCount}}
        @stagesCount={{this.stagesCount}}
      />
    {{else}}
      <div class="flex items-center">
        {{svg-jar "academic-cap" class="w-4 mr-1 fill-current text-gray-300"}}
        <span class="text-xs text-gray-400">{{this.stagesCount}} stages</span>
      </div>
    {{/if}}

    <div class="flex items-center">
      <span class="font-bold text-teal-500 text-xs mr-2 opacity-0 group-hover:opacity-100 transition-opacity" data-test-action-text>
        {{#if this.currentUserHasStartedTrack}}
          Resume
        {{else}}
          Start
        {{/if}}
      </span>

      {{svg-jar "arrow-right" class="w-4 fill-current text-gray-300 group-hover:text-teal-500 transition-colors"}}
    </div>
  </div>
</div>