<div>
  <div class="prose prose-sm mb-6">
    <p>
      Fill in your official email address below to claim your free membership.
    </p>
  </div>

  <div class="border border-gray-200 rounded-lg p-4" ...attributes>
    <div class="text-gray-700 font-semibold text-lg mb-1">What's your official email address?</div>
    <div class="text-gray-400 text-xs mb-4">
      {{this.fieldDescriptionHTML}}
    </div>

    <Input
      @value=""
      class="text-sm rounded-sm px-3 py-2 placeholder-gray-300 focus:outline-hidden focus:ring-2 focus:ring-teal-500 border border-gray-200 w-full mb-4"
      id="email_address_input"
      placeholder={{concat @institution.officialEmailAddressSuffixes "0"}}
      required
    />

    <div class="flex gap-4 justify-between items-stretch sm:items-center flex-col-reverse sm:flex-row">
      <div class="text-xs text-gray-500 text-center sm:text-left">
        Questions?
        <a href="mailto:hello@codecrafters.io?subject=Questions%20re%3A%20campus%20program" class="underline">hello@codecrafters.io</a>
      </div>
      <div>
        <PrimaryButtonWithSpinner
          @isDisabled={{false}}
          @shouldShowSpinner={{false}}
          {{on "click" (noop)}}
          type="submit"
          class="w-full justify-center sm:w-auto"
          data-test-continue-button
        >
          Verify email&nbsp;→
        </PrimaryButtonWithSpinner>

        {{! TODO: Add these validations }}
        {{!-- {{#if (not this.emailAddressIsPresent)}}
          <EmberTooltip @text="Enter your email address above to continue" />
        {{else if (not this.emailAddressIsValid)}}
          <EmberTooltip @text="Your email address must end in @nus.edu.sg or @u.nus.edu" />
        {{/if}} --}}
      </div>
    </div>
  </div>
</div>