<h2 class="font-bold text-gray-800 text-lg sm:text-xl mb-8 border-b-2 inline-flex">
  {{@title}}
</h2>

<div class="flex items-center flex-wrap gap-3 mb-6">
  {{#each @options as |option|}}
    <WelcomePage::OnboardingSurveyWizard::SelectableItem
      @isSelected={{includes option @selectedOptions}}
      {{on "click" (fn this.handleOptionClick option)}}
      data-test-selectable-item
    >
      {{option}}
    </WelcomePage::OnboardingSurveyWizard::SelectableItem>
  {{/each}}
</div>

<Textarea
  @value={{@freeFormInput}}
  {{on "input" this.handleFreeFormInputChange}}
  {{on "blur" @onFreeFormInputBlur}}
  class="text-sm rounded px-3 py-2 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-teal-500 border border-gray-300 shadow-sm mb-4 w-full"
  placeholder="Something else?"
  rows="3"
  id="concept_description"
  required
  {{autoresize @freeFormInput}}
  data-test-free-form-input
/>

<div class="flex items-center justify-between">
  <div>

  </div>

  <div class="flex items-center gap-3">
    {{#animated-if (not this.continueButtonIsDisabled) use=this.fade}}
      <div class="text-gray-400 text-xs sm:text-sm flex items-center gap-1.5">
        {{svg-jar "information-circle" class="w-5 h-5 text-gray-400 flex-shrink-0 hidden sm:flex"}}
        <span>
          Click "Continue" to proceed
        </span>
        <span>
          →
        </span>
      </div>
    {{/animated-if}}

    <PrimaryButton {{on "click" this.handleContinueButtonClick}} class={{if this.continueButtonIsDisabled "opacity-50" ""}} data-test-continue-button>
      {{#if this.continueButtonWasPressed}}
        Saving..
      {{else}}
        Continue
      {{/if}}
    </PrimaryButton>
  </div>
</div>