<div
  class="flex items-center flex-wrap gap-y-2 justify-between group p-2 pr-3 hover:bg-gray-50 border border-gray-200 rounded-sm mb-2"
  data-test-affiliate-referred-user-item
>
  <a
    href={{@affiliateReferral.customer.codecraftersProfileUrl}}
    class="flex items-center hover:underline pr-3"
    target="_blank"
    rel="noopener noreferrer"
  >
    <AvatarImage
      @user={{@affiliateReferral.customer}}
      class="w-8 h-8 border border-gray-300 rounded-sm shadow-xs group-hover:shadow-sm mr-2 transition-shadow"
    />

    <div>
      <div class="text-gray-700 text-sm">
        <span class="font-semibold" data-test-username>{{@affiliateReferral.customer.username}}</span>
      </div>
      <div class="text-gray-700 text-sm block lg:hidden">
        <span class="text-gray-400 text-xs">{{date-from-now @affiliateReferral.activatedAt}}</span>
      </div>
    </div>
  </a>
  <div class="flex items-center flex-wrap gap-2">
    {{#if (gt @affiliateReferral.totalEarningsAmountInDollars 0)}}
      <Pill @color="green" class="shrink-0">
        ${{@affiliateReferral.spentAmountInDollars}}
        spent

        <EmberTooltip @text="This is the amount {{@affiliateReferral.customer.username}} has spent so far." />
      </Pill>
    {{/if}}

    {{#if (gt @affiliateReferral.upcomingPaymentAmountInDollars 0)}}
      <Pill @color="yellow" class="shrink-0">
        ${{@affiliateReferral.upcomingPaymentAmountInDollars}}
        pending

        <EmberTooltip @text="This is the value of {{@affiliateReferral.customer.username}}'s upcoming payment." />
      </Pill>
    {{/if}}

    {{#if @affiliateReferral.statusIsAwaitingFirstCharge}}
      <Pill @color="gray" class="shrink-0">
        Signed up

        <EmberTooltip @text="This user has accepted your referral offer but hasn't made a payment yet." />
      </Pill>
    {{else if @affiliateReferral.statusIsFirstChargeSuccessful}}
      <Pill @color="green" class="shrink-0">
        Paid

        <EmberTooltip @text="This user has made at least one payment that is attributable to you." />
      </Pill>
    {{else}}
      <Pill @color="gray" class="shrink-0">
        Inactive

        <EmberTooltip @text="This user either joined a paid team account or availed a separate discount." />
      </Pill>
    {{/if}}

    <span class="text-gray-400 text-xs hidden lg:block">{{date-from-now @affiliateReferral.activatedAt}}</span>
  </div>
</div>