<ModalBody @allowManualClose={{true}} @onClose={{@onClose}} class="w-full" data-test-create-payout-modal>
  <div class="mb-8 font-semibold text-2xl text-gray-600 mr-6">
    Initiate payout
  </div>

  <div class="prose prose-sm mb-8">
    <b>Note</b>: PayPal might charge you a fee for receiving payments. This can be as high as 10% depending on the country
    you're in. We recommend trying a $100 payment first to see what the fees are like. Bank transfers are usually cheaper, please contact us at
    <a href="mailto:hello@codecrafters.io">hello@codecrafters.io</a>
    to enable this option.
  </div>

  {{#if this.payoutWasCreated}}
    <div class="p-8 flex flex-col items-center justify-center">
      {{svg-jar "check-circle" class="w-16 h-16 text-teal-500 mb-4"}}
      <div class="text-gray-600 text-center mb-6">
        Payout initiated.
        <br /><br />We'll email you if anything goes wrong.
      </div>

      <SecondaryButton @size="small" {{on "click" @onClose}} data-test-back-to-affiliate-page-button>
        Back to referrals page
      </SecondaryButton>
    </div>
  {{else}}
    <div class="grid grid-cols-2 gap-2">
      <AffiliatePage::CreatePayoutModal::PayoutMethodCard
        @name="PayPal"
        @imageUrl={{this.paypalImage}}
        {{on "click" (fn this.handlePayoutMethodClick "paypal")}}
        @isSelected={{eq this.selectedPayoutMethod "paypal"}}
      />

      <AffiliatePage::CreatePayoutModal::PayoutMethodCard @name="Bank Transfer" @isDisabled={{true}} @imageUrl={{this.bankTransferImage}} />
    </div>

    {{#if (eq this.selectedPayoutMethod "paypal")}}
      <AffiliatePage::CreatePayoutModal::PaypalPayoutForm
        class="mt-8"
        @onSubmit={{this.handlePayoutCreated}}
        @withdrawableEarningsAmountInCents={{@withdrawableEarningsAmountInCents}}
      />
    {{/if}}
  {{/if}}
</ModalBody>