<div
  role="button"
  class="border border-gray-300 py-4 px-5 rounded-md shadow-sm flex items-center {{@class}}"
  {{on "click" @onClick}}
  data-test-collapsed-item>
  {{#if (eq @status "active")}}
    <img alt="tick icon" src="/assets/images/icons/live.svg" class="w-6 mr-3">
  {{else if (eq @status "completed")}}
    <img alt="lock icon" src="/assets/images/icons/tick3.png" class="w-6 mr-3">
  {{else if (eq @status "future")}}
    <img alt="lock icon" src="/assets/images/icons/lock4.svg" class="w-6 mr-3">
  {{/if}}

  <span class="text-lg text-gray-600 flex-grow" data-test-collapsed-item-title>
    {{@text}}
  </span>

  {{#if @shouldShowFreeLabel}}
    <div class="text-xs text-teal-500 font-bold border border-teal-500 rounded px-2 py-1 mr-2" data-test-free-label>
      FREE!
    </div>
  {{/if}}

  <span class="text-gray-400 text-lg w-6 text-right">
    {{#if @number}}
      #{{@number}}
    {{/if}}
  </span>
</div>