<div
  role="button"
  class="border border-gray-300 hover:border-gray-300 transition-colors duration-75 py-4 px-4 md:px-5 rounded-md flex items-center {{@class}}"
  {{on "click" @onClick}}
  data-test-collapsed-item
>
  <div>
    {{#if (eq @status "active")}}
      <img alt="tick icon" src={{this.activeStepImage}} class="w-4 md:w-6 mr-2 md:mr-3" />
      <EmberTooltip @text="You're currently working on this stage" />
    {{else if (eq @status "completed")}}
      <img alt="lock icon" src={{this.completedStepImage}} class="w-4 md:w-6 mr-2 md:mr-3" />
      <EmberTooltip @text="You've completed this stage" />
    {{else if (eq @status "future")}}
      <img alt="lock icon" src={{this.futureStepImage}} class="w-4 md:w-6 mr-2 md:mr-3" />
      <EmberTooltip @text="Complete previous steps to gain access this stage" />
    {{/if}}
  </div>

  <span class="text-md md:text-lg text-gray-600 flex-grow mr-3" data-test-collapsed-item-title>
    {{@text}}
  </span>

  <span class="text-gray-400 text-lg">
    {{#if @number}}
      #{{@number}}
    {{/if}}
  </span>
</div>