<div
  role="button"
  class="border border-gray-300 py-4 px-5 rounded-md shadow-sm flex items-center {{@class}}"
  {{on "click" @onClick}}
  data-test-collapsed-item>
  {{#if @isComplete}}
    <img alt="tick icon" src="/assets/images/icons/tick3.png" class="w-6 mr-3">
  {{else}}
    <img alt="lock icon" src="/assets/images/icons/lock4.svg" class="w-6 mr-3">
  {{/if}}

  <span class="text-lg text-gray-600 flex-grow" data-test-collapsed-item-title>
    {{@text}}
  </span>

  <span class="text-gray-400 text-lg">
    #{{@number}}
  </span>
</div>