<CoursePage::StepList::ExpandedItem @class="relative {{@class}}" @willBeReplaced={{@willBeReplaced}} data-test-course-stage-item>
  <:content>
    <div class="flex items-center justify-between mb-6 gap-x-3">
      <div class="flex items-center flex-wrap gap-y-3">
        <span class="text-xl md:text-2xl text-gray-700 mr-3" data-test-course-stage-name>{{@courseStage.name}}</span>

        {{#if this.statusIsComplete}}
          <span class="bg-teal-600 text-white rounded px-2 py-1 font-bold text-sm" data-test-status-text>COMPLETE</span>
        {{else if this.statusIsLocked}}
          <span class="bg-yellow-500 text-white rounded px-2 py-1 font-bold text-sm" data-test-status-text>PENDING</span>
        {{else if this.shouldShowUpgradePrompt}}
          <span class="bg-yellow-500 text-white rounded px-2 py-1 font-bold text-sm" data-test-status-text>MEMBERSHIP REQUIRED</span>
        {{else}}
          <span class="bg-yellow-500 text-white rounded px-2 py-1 font-bold text-sm" data-test-status-text>IN PROGRESS</span>
        {{/if}}
      </div>
    </div>

    {{#if this.shouldShowUpgradePrompt}}
      <CoursePage::StepList::CourseStageItem::UpgradePrompt @class="mb-4" @color="yellow" />
    {{/if}}

    {{#if this.shouldShowPublishToGitHubPrompt}}
      <CoursePage::StepList::CourseStageItem::PublishToGithubPrompt @onPublishToGithubButtonClick={{@onPublishToGithubButtonClick}} class="mb-4" />
    {{/if}}

    <div class="text-gray-700 leading-7 prose" data-test-stage-instructions>
      {{#if this.shouldShowFirstStageHints}}
        {{this.firstStageInstructionsPreludeHTML}}
      {{/if}}

      {{this.instructionsHTML}}

      {{#if (and this.featureFlags.canSeeStage1Concepts @courseStage.course.isRedis @courseStage.isFirst)}}
        <p>
          Want to learn more about network protocols &amp; TCP? Try our interactive guides:

          <ul>
            <li>
              <a href="/concepts/network-protocols" rel="noopener noreferrer" target="_blank">Network Protocols</a>
            </li>
            <li>
              <a href="/concepts/tcp-overview" rel="noopener noreferrer" target="_blank">TCP: An overview</a>
            </li>
          </ul>
        </p>
      {{/if}}
    </div>

    <CoursePage::StepList::CourseStageItem::ActionButtonList
      @courseStage={{@courseStage}}
      @repository={{@repository}}
      @onViewCommentsButtonClick={{@onViewCommentsButtonClick}}
      @onViewSolutionButtonClick={{@onViewSolutionButtonClick}}
      @onViewSourceWalkthroughButtonClick={{@onViewSourceWalkthroughButtonClick}}
      @onFeedbackButtonClick={{this.handleFeedbackActionButtonClicked}}
      @shouldHideFeedbackButtons={{this.automaticFeedbackFlowIsActive}}
    />

    {{#if (or this.manualFeedbackFlowIsActive this.automaticFeedbackFlowIsActive)}}
      <CoursePage::StepList::CourseStageItem::FeedbackPrompt
        @onClose={{this.handleFeedbackPromptClosed}}
        @onSubmit={{this.handleFeedbackSubmitted}}
        @courseStage={{@courseStage}}
        @repository={{@repository}}
        @wasTriggeredManually={{this.manualFeedbackFlowIsActive}}
        class="mt-6"
      />
    {{/if}}

    {{#if (and this.featureFlags.canSeeStageCompletionVideos @courseStage.hasCompletionVideo this.statusIsComplete)}}
      <CoursePage::StepList::CourseStageItem::CompletionVideo @courseStage={{@courseStage}} class="mt-6" />
    {{/if}}

    {{#if (and this.featureFlags.canSeeBadges (get this.badgeAwards "0"))}}
      <CoursePage::StepList::CourseStageItem::EarnedBadgeNotice @badgeAwards={{this.badgeAwards}} class="mt-6" />
    {{/if}}

    {{#if this.shouldShowFirstStageHints}}
      <CoursePage::StepList::CourseStageItem::FirstStageHint
        @courseStage={{@courseStage}}
        @onViewSolutionButtonClick={{fn @onViewSolutionButtonClick @courseStage}}
        @repository={{@repository}}
        class="mt-6"
      />
    {{else if this.shouldShowCLIUsageInstructions}}
      <CoursePage::StepList::CourseStageItem::CliUsageInstructions class="mt-6" />
    {{/if}}

    {{#if this.statusIsComplete}}
      <div class="mt-6 flex">
        <PrimaryButton>
          ↓ Next Stage
        </PrimaryButton>
      </div>
    {{/if}}
  </:content>

  <:footerContent>
    <div class="flex items-center justify-between w-full">
      <div class="flex items-center text-xs" data-test-course-stage-item-footer>
        {{#if this.shouldShowUpgradePrompt}}
          <StaticDot @class="flex-shrink-0 mr-3" @color="gray" />
          <span class="text-gray-600" data-test-footer-text>Membership required.</span>
        {{else if (eq this.status "waiting")}}
          <BlinkingDot @class="flex-shrink-0 mr-3" @color="gray" />
          <span class="text-gray-600" data-test-footer-text>Listening for a git push...</span>
        {{else if (eq this.status "evaluating")}}
          <BlinkingDot @class="flex-shrink-0 mr-3" @color="yellow" />
          <span class="text-gray-600" data-test-footer-text>Running tests...</span>
        {{else if (eq this.status "failed")}}
          {{#if (and @repository.activeStage.isFirst @repository.isRecentlyCreated)}}
            <BlinkingDot @class="flex-shrink-0 mr-3" @color="gray" />
            <span class="text-gray-600" data-test-footer-text>Listening for a git push...</span>
          {{else}}
            <StaticDot @class="flex-shrink-0 mr-3" @color="red" />

            <span class="text-gray-600" data-test-footer-text>
              {{#if this.lastFailedSubmissionWasWithinLast10Minutes}}
                Tests failed. Check your git push output for logs.
              {{else if this.lastFailedSubmissionCreatedAt}}
                Last attempt
                {{moment-from-now this.lastFailedSubmissionCreatedAt}}. Try again?
              {{else}}
                Last attempt failed. Try again?
              {{/if}}
            </span>
          {{/if}}
        {{else if (eq this.status "complete")}}
          <StaticDot @class="flex-shrink-0 mr-3" @color="green" />
          <span class="text-gray-600" data-test-footer-text>
            {{#if this.completedAtWasToday}}
              You completed this stage today.
            {{else if this.completedAtWasYesterday}}
              You completed this stage yesterday.
            {{else if this.completedAt}}
              You completed this stage
              {{moment-from-now this.completedAt}}.
            {{else}}
              You've completed this stage.
            {{/if}}
          </span>
        {{else if (eq this.status "locked")}}
          {{#if @courseStage.isFirst}}
            <span class="text-gray-600" data-test-footer-text>Complete repository setup to gain access to this stage.</span>
          {{else}}
            <span class="text-gray-600" data-test-footer-text>Complete previous stages to gain access to this stage.</span>
          {{/if}}
        {{/if}}
      </div>
      <div class="text-gray-500 text-xs pl-3 -mr-1 md:-mr-3 flex-shrink-0 hidden sm:block">
        Stage #{{@courseStage.position}}
      </div>
    </div>
  </:footerContent>
</CoursePage::StepList::ExpandedItem>