<CoursePage::StepList::ExpandedItem
    @class="relative {{@class}}"
    @willBeReplaced={{@willBeReplaced}}
    data-test-course-stage-item>
  <:content>
    <div class="text-gray-400 text-lg absolute top-0 right-0 p-4 md:p-5">
      #{{@courseStage.position}}
    </div>

    <div class="flex items-center justify-between mb-6 pr-8"> {{!-- pr-8 interacts with the stage number --}}
      <div class="flex items-center flex-wrap gap-y-3">
        <span class="text-xl md:text-2xl text-gray-700 mr-3" data-test-course-stage-name>{{@courseStage.name}}</span>

        {{#if this.statusIsComplete}}
          <span class="bg-teal-600 text-white rounded px-2 py-1 font-bold text-sm" data-test-status-text>COMPLETE</span>
        {{else if this.statusIsLocked}}
          <span class="bg-yellow-500 text-white rounded px-2 py-1 font-bold text-sm" data-test-status-text>PENDING</span>
        {{else if (and this.isActiveStage @shouldShowUpgradePromptIfStagePending)}}
          <span class="bg-yellow-500 text-white rounded px-2 py-1 font-bold text-sm" data-test-status-text>SUBSCRIPTION REQUIRED</span>
        {{else}}
          <span class="bg-yellow-500 text-white rounded px-2 py-1 font-bold text-sm" data-test-status-text>IN PROGRESS</span>
        {{/if}}
      </div>
    </div>

    {{#if (and @shouldShowUpgradePromptIfStagePending (not this.statusIsComplete))}}
      <CoursePage::StepList::CourseStageItem::UpgradePrompt @class="mb-4" @color={{if this.statusIsWaiting "yellow" "gray"}} />
    {{/if}}

    <div class="text-gray-700 leading-7 prose" data-test-stage-instructions>
      {{#if this.shouldShowFirstStageHints}}
        {{this.firstStageInstructionsPreludeHTML}}
      {{/if}}

      {{this.instructionsHTML}}
    </div>

    {{#if this.shouldShowFirstStageHints}}
      <div class="flex p-3 bg-blue-100 border border-blue-300 rounded shadow-sm mt-6">
        <div class="mr-3 mt-0.5">
          {{svg-jar "information-circle" class="w-6 fill-current text-blue-400"}}
        </div>
        <div class="text-blue-900 prose prose-blue leading-7 text-sm">
          {{this.firstStageReadmeHintHTML}}
        </div>
      </div>
    {{/if}}
  </:content>

  <:footer-content>
    <div class="flex items-center text-xs" data-test-course-stage-item-footer>
      {{#if (and this.isActiveStage @shouldShowUpgradePromptIfStagePending)}}
        <StaticDot @class="mr-3" @color="gray" />
        <span class="text-gray-600" data-test-footer-text>Subscription required.</span>
      {{else if (eq this.status "waiting")}}
        <BlinkingDot @class="mr-3" @color="gray" />
        <span class="text-gray-600" data-test-footer-text>Listening for a git push...</span>
      {{else if (eq this.status "evaluating")}}
        <BlinkingDot @class="mr-3" @color="yellow" />
        <span class="text-gray-600" data-test-footer-text>Running tests...</span>
      {{else if (eq this.status "failed")}}
        <StaticDot @class="mr-3" @color="red" />

        <span class="text-gray-600" data-test-footer-text>
          {{#if this.lastFailedSubmissionWasWithinLast10Minutes}}
            Tests failed. Check your git push output for logs.
          {{else if this.lastFailedSubmissionCreatedAt}}
            Last attempt {{moment-from-now this.lastFailedSubmissionCreatedAt}}. Try again?
          {{else}}
            Last attempt failed. Try again?
          {{/if}}
        </span>
      {{else if (eq this.status "complete")}}
        <StaticDot @class="mr-3" @color="green" />
        <span class="text-gray-600" data-test-footer-text>
          {{#if this.completedAtWasToday}}
            You completed this stage today.
          {{else if this.completedAtWasYesterday}}
            You completed this stage yesterday.
          {{else if this.completedAt}}
            You completed this stage {{moment-from-now this.completedAt}}.
          {{else}}
            You've completed this stage.
          {{/if}}
        </span>
      {{else if (eq this.status "locked")}}
        <span class="text-gray-600" data-test-footer-text>Complete previous stages to gain access to this stage.</span>
      {{/if}}
    </div>
  </:footer-content>
</CoursePage::StepList::ExpandedItem>