<ModalBody @allowManualClose={{true}} @onClose={{@onClose}} class="w-full" data-test-delete-account-modal>
  {{#if this.accountDeletionErrorMessage}}
    <Alert @type="error" class="mb-5">
      {{this.accountDeletionErrorMessage}}
    </Alert>
  {{/if}}

  <div class="mb-6 font-semibold text-2xl text-gray-600 mr-8">
    Delete Account
  </div>

  <div class="prose mb-4">
    Are you sure you want to delete your account?
  </div>

  <div class="prose mb-4">
    All code will be deleted, and will NOT be recoverable.
  </div>

  <div class="prose mb-4">
    {{#if (eq this.currentUser.attemptedCoursesCount 0)}}
      You have not yet attempted any challenge.
    {{else if (eq this.currentUser.attemptedCoursesCount 1)}}
      You have attempted
      <span class="font-bold">{{this.currentUser.attemptedCoursesCount}}</span>
      challenge.
    {{else}}
      You have attempted
      <span class="font-bold">{{this.currentUser.attemptedCoursesCount}}</span>
      challenges.
    {{/if}}
  </div>

  <div class="prose mb-4">
    {{#if (eq this.currentUser.submissionsCount 0)}}
      You have not made a submission for any challenge.
    {{else if (eq this.currentUser.repositoriesCount 1)}}
      {{#if (eq this.currentUser.submissionsCount 1)}}
        You have made
        <span class="font-bold">{{this.currentUser.submissionsCount}}</span>
        submission on
        <span class="font-bold">{{this.currentUser.repositoriesCount}}</span>
        repository.
      {{else}}
        You have made
        <span class="font-bold">{{this.currentUser.submissionsCount}}</span>
        submissions on
        <span class="font-bold">{{this.currentUser.repositoriesCount}}</span>
        repository.
      {{/if}}
    {{else}}
      {{#if (eq this.currentUser.submissionsCount 1)}}
        You have made
        <span class="font-bold">{{this.currentUser.submissionsCount}}</span>
        submission on
        <span class="font-bold">{{this.currentUser.repositoriesCount}}</span>
        repositories.
      {{else}}
        You have made
        <span class="font-bold">{{this.currentUser.submissionsCount}}</span>
        submissions on
        <span class="font-bold">{{this.currentUser.repositoriesCount}}</span>
        repositories.
      {{/if}}
    {{/if}}
  </div>

  <div class="prose mb-4 text-red-600">
    To proceed, press and hold the button below for
    <span class="font-bold">3 seconds</span>:
  </div>

  {{#if this.isDeletingAccount}}
    <div class="flex items-center">
      <img alt="Loading icon" src={{this.rippleSpinnerImage}} class="w-4 h-4" />
      <span class="ml-3">Deleting account...</span>
    </div>
  {{else}}
    <DangerButtonWithTimedConfirmation @onConfirm={{this.deleteAccount}} @size="regular" data-test-delete-account-button>
      Delete
    </DangerButtonWithTimedConfirmation>
  {{/if}}
</ModalBody>