<button
  type="button"
  class="pr-2.5 pl-2 py-1.5 rounded shadow-sm flex items-center border transition-colors duration-75
    {{if (gt @userSupervotesCount 0) 'border-teal-500 hover:border-teal-600' 'border-gray-300 hover:border-gray-400'}}
    "
  data-test-supervote-button
  ...attributes
>
  {{svg-jar "chevron-double-up" class="w-4 py-0.5 mr-1.5 text-teal-500"}}

  <span class="text-sm {{if (gt @userSupervotesCount 0) 'text-teal-500' 'text-gray-700'}} transition-all duration-75">
    <span class="font-semibold">{{@courseIdea.supervotes.length}}</span>

    {{#if (eq @courseIdea.supervotes.length 1)}}
      supervote
    {{else}}
      supervotes
    {{/if}}
  </span>

  {{#if (gt @userSupervotesCount 0)}}
    <span class="text-xs font-bold text-white bg-teal-500 rounded px-1 ml-1.5">
      +{{@userSupervotesCount}}
    </span>
  {{/if}}

  {{#if this.currentUserService.isAnonymous}}
    <EmberTooltip @text="Click to login via GitHub" />
  {{else if (not @userHasSupervotesAvailable)}}
    <EmberTooltip @event="click" @hideOn="mouseleave" @text="You're out of supervotes. Earn more by completing CodeCrafters challenges!">
      You're out of supervotes. Earn more by completing CodeCrafters challenges!
    </EmberTooltip>
  {{/if}}
</button>