<tr class="border-b border-gray-100" data-test-line-item>
  <td class="text-gray-500 whitespace-nowrap py-2 text-sm">
    <div class="flex items-center">
      <span class="mr-1" data-test-line-item-title>
        {{@title}}
      </span>

      <div>
        {{svg-jar "information-circle" class="w-4 h-4 fill-current text-gray-200 hover:text-gray-300"}}
        <EmberTooltip @text={{@helpText}} />
      </div>
    </div>
  </td>
  <td class="text-gray-600 py-2 text-right w-full" data-test-line-item-amount>
    {{#if @isLoading}}
      <span class="animate-pulse text-gray-300 text-xs">Loading...</span>
    {{else}}
      ${{@amountInDollars}}
    {{/if}}
  </td>
</tr>