<LinkTo
  @route="pay"
  class="flex bg-gradient-to-b from-gray-600 to-gray-900 border border-yellow-600 rounded shadow-xs
    {{if (eq @size 'small') 'px-1.5 py-1 text-xs'}}
    {{if (eq @size 'large') 'px-2 py-1.5 text-sm'}}"
  data-test-discount-timer-badge
  ...attributes
>
  <span class="flex items-center gap-x-1">
    <div class="shrink-0">
      <img src={{this.iconImage}} alt="treasure" class="w-4 animate-spin-once" />
    </div>
    <span
      class="bg-gradient-to-b from-yellow-100 to-amber-500 text-transparent bg-clip-text inline-block font-semibold shrink-0"
      data-test-discount-timer-badge-time-left-text
    >
      {{this.timeLeft}}
      left
    </span>
  </span>

  <EmberTooltip @text={{this.tooltipText}} />
</LinkTo>