<div ...attributes>
  {{#if this.shouldShowVipBadge}}
    <BillingStatusBadge::VipBadge @size={{@size}} />
  {{else if this.shouldShowMemberBadge}}
    <BillingStatusBadge::MemberBadge @size={{@size}} />
  {{else if (and this.activeDiscountForYearlyPlan this.canSeeDiscountCountdown)}}
    {{#if this.canSeeDiscountCountdown}}
      <BillingStatusBadge::DiscountTimerBadge @discount={{this.activeDiscountForYearlyPlan}} @size={{@size}} />
    {{/if}}
  {{else if this.shouldShowFreeWeeksLeftButton}}
    <BillingStatusBadge::FreeWeeksLeftButton @size={{@size}} />
  {{else if this.shouldShowUpgradeButton}}
    <PrimaryLinkButton @size={{this.linkButtonSize}} @route="pay" data-test-upgrade-button>
      <span class="flex items-center gap-x-1">
        <span>Upgrade</span>
        {{svg-jar "lock-open" class="w-4"}}
      </span>
    </PrimaryLinkButton>
  {{/if}}
</div>