<div class="flex p-3 border rounded shadow-sm {{this.containerColorClasses}}" ...attributes>
  <div class="mr-3">
    {{#if (has-block "icon")}}
      {{yield to="icon"}}
    {{else}}
      {{svg-jar this.icon class=(concat "w-6 fill-current mt-0.5 " this.iconColorClasses)}}
    {{/if}}
  </div>
  <div class="prose dark:prose-invert prose-compact leading-6 text-sm max-w-none mt-0.5 {{this.textColorClasses}}">
    {{yield}}
  </div>
</div>