<div ...attributes>
  {{#if (eq this.badgeType "vip")}}
    <BillingStatusBadge::VipBadge @size={{@size}} />
  {{else if (eq this.badgeType "member")}}
    <BillingStatusBadge::MemberBadge @size={{@size}} />
  {{else if (eq this.badgeType "discount-timer")}}
    {{! @glint-expect-error: incorrectly assumes @discount is nullable}}
    <BillingStatusBadge::DiscountTimerBadge @discount={{this.activeDiscountForYearlyPlan}} @size={{@size}} />
  {{else if (eq this.badgeType "discount-timer-excluding-stage-2-completion")}}
    {{! @glint-expect-error: incorrectly assumes @discount is nullable}}
    <BillingStatusBadge::DiscountTimerBadge @discount={{this.activeDiscountForYearlyPlanExcludingStage2CompletionDiscount}} @size={{@size}} />
  {{else if (eq this.badgeType "free-weeks-left")}}
    <BillingStatusBadge::FreeWeeksLeftButton @size={{@size}} />
  {{else if (eq this.badgeType "upgrade")}}
    <PrimaryLinkButton @size={{this.linkButtonSize}} @route="pay" data-test-upgrade-button>
      <span class="flex items-center gap-x-1">
        <span>Upgrade</span>
        {{svg-jar "lock-open" class="w-4"}}
      </span>
    </PrimaryLinkButton>
  {{/if}}
</div>