<div
  class="flex justify-between items-center py-2 px-4 group hover:bg-gray-50 dark:hover:bg-gray-700/50 cursor-pointer"
  role="button"
  data-test-challenge-link
  {{on "click" @onClick}}
>
  <div class="flex items-center gap-2 mr-8">
    {{#if @isSelected}}
      {{svg-jar "check-circle" class="w-6 fill-current text-teal-500 shrink-0"}}
    {{else if (and @isRequested (not @isSelected))}}
      {{svg-jar "exclamation" class="w-6 fill-current text-yellow-500 shrink-0"}}
    {{else}}
      <CourseLogo @course={{@challenge}} class="w-6 h-6 block shrink-0" />
    {{/if}}
    <span class="{{if (or @isRequested @isSelected) 'font-semibold'}} text-gray-800 dark:text-gray-200 text-sm shrink-0">
      {{@challenge.name}}
    </span>
  </div>
</div>