{{! @glint-nocheck: not typesafe yet }}
{{!--
<div class="mb-4 bg-white shadow-sm rounded border border-gray-300">
  <a
    href={{@link}}
    target="_blank"
    class="flex group justify-between items-center group bg-gray-100 rounded-t py-2 px-3 border-b border-gray-200 shadow-sm"
    rel="noopener noreferrer"
  >
    <span class="font-mono text-xs text-gray-700 group-hover:text-blue-600">{{@filePath}}</span>
    <span>{{svg-jar "external-link" class="w-4 fill-current text-gray-400 group-hover:text-blue-500"}}</span>
  </a>
</div>
--}}

{{! template-lint-disable no-inline-styles }}
<div class="text-sm rounded-lg overflow-hidden" style="background-color: #282c34;" ...attributes>
  <a
    href={{@link}}
    target="_blank"
    class="py-3 px-3 text-gray-400 hover:text-white border-b border-gray-700 flex items-center group"
    rel="noopener noreferrer"
  >
    <div class="mr-2">
      {{svg-jar "github" class="w-4 fill-current transition-colors"}}
    </div>
    <div class="font-mono transition-colors mr-2">
      {{@filePath}}
    </div>
    <div>{{svg-jar "external-link" class="w-4 fill-current text-gray-400 opacity-0 group-hover:opacity-100"}}</div>
  </a>
  <SyntaxHighlightedCode @code={{@code}} @language={{@language}} @highlightedLines={{@highlightedLines}} @theme="one-dark-pro" class="py-2" />
</div>