<div>
  <div
    class="py-3 flex items-center gap-1 cursor-pointer hover:text-gray-600 dark:hover:text-gray-300 transition-colors
      {{unless @isOpen 'hover:bg-gray-50 dark:hover:bg-gray-700/50'}}"
    role="button"
    {{on "click" this.toggleItem}}
  >
    <div class="text-gray-400 dark:text-gray-500">
      {{svg-jar "chevron-down" class=(concat "w-5 h-5 transition-transform duration-500 " (if @isOpen "rotate-180"))}}
    </div>

    <div class="font-medium text-gray-800 dark:text-gray-200">{{@faq.query}}</div>
  </div>

  <AnimatedContainer>
    {{#animated-if @isOpen use=this.transition duration=200}}
      <div class="pb-3 pl-6">
        <div class="prose dark:prose-invert prose-sm">{{markdown-to-html @faq.answerMarkdown}}</div>
      </div>
    {{/animated-if}}
  </AnimatedContainer>
</div>