<div data-test-comment-card class="w-full" ...attributes>
  {{#if this.isEditing}}
    <CommentForm
      @comment={{@comment}}
      @commentModelType={{@comment.constructor.modelName}}
      @onCancel={{fn (mut this.isEditing) false}}
      @onSubmit={{fn (mut this.isEditing) false}}
    />
  {{else}}
    <div
      class="flex items-center justify-between
        {{if @comment.parentComment 'py-1' 'bg-gray-100 rounded-t py-2 px-4 border-b border-gray-200 shadow-sm'}}"
    >
      <div class="flex items-center">
        <a
          href={{@comment.user.codecraftersProfileUrl}}
          class="text-sm text-gray-600 font-bold hover:underline"
          target="_blank"
          rel="noopener noreferrer"
        >{{@comment.user.username}}</a>

        <UserLabel @user={{@comment.user}} @context={{@comment.contextForUserLabel}} class="ml-1" />

        {{#if (eq @comment.user.username "codecrafters-bot")}}
          <span class="bg-gray-400 text-white ml-1 px-1 py-0.5 rounded font-semibold text-xs">
            bot
          </span>
        {{/if}}

        <div class="bg-gray-300 w-1 h-1 mx-1.5 rounded-full"></div>
        <div class="text-xs text-gray-400">
          {{date-from-now @comment.createdAt}}
        </div>
      </div>

      <div class="flex items-center">
        {{#if this.currentUserIsStaff}}
          <BasicDropdown @renderInPlace={{true}} @horizontalPosition="auto-right" as |dd|>
            <dd.Trigger>
              <button type="button" class="bg-yellow-500 text-white px-2 py-1 rounded font-semibold text-xs">{{@comment.approvalStatus}}</button>
            </dd.Trigger>
            <dd.Content>
              <div class="bg-yellow-500 hover:bg-yellow-300 shadow-lg text-white px-2 py-1 font-semibold text-xs">
                <div role="button" {{on "click" (fn this.updateCommentStatus @comment "approved" dd.actions)}}>
                  Approved
                </div>
              </div>
              <div class="bg-yellow-500 hover:bg-yellow-300 shadow-lg text-white px-2 py-1 font-semibold text-xs">
                <div role="button" {{on "click" (fn this.updateCommentStatus @comment "rejected" dd.actions)}}>
                  Rejected
                </div>
              </div>
              <div class="bg-yellow-500 hover:bg-yellow-300 shadow-lg text-white px-2 py-1 font-semibold text-xs">
                <div role="button" {{on "click" (fn this.updateCommentStatus @comment "awaiting_approval" dd.actions)}}>
                  Awaiting Approval
                </div>
              </div>
            </dd.Content>
          </BasicDropdown>
        {{/if}}

        {{#if (or this.currentUserIsStaff (eq this.currentUser @comment.user))}}
          <div class="ml-2">
            <CommentCard::MoreDropdown
              @comment={{@comment}}
              @onEditButtonClick={{this.handleEditButtonClick}}
              @onDeleteButtonClick={{this.handleDeleteButtonClick}}
            />
          </div>
        {{/if}}
      </div>
    </div>

    <div class="{{if @comment.parentComment 'py-1' 'px-4 py-3'}}">
      <div
        class="leading-relaxed prose-sm prose max-w-none break-words has-prism-highlighting"
        {{did-insert this.handleDidInsertBodyHTML}}
        data-test-comment-body
      >
        {{markdown-to-html @comment.bodyMarkdown}}
      </div>

      <div class="mt-2 flex items-center">
        <CommentCard::UpvoteButton @comment={{@comment}} />
        <CommentCard::DownvoteButton @comment={{@comment}} class="ml-1" />

        {{#unless @comment.parentComment}}
          <CommentCard::ReplyButton class="ml-1" {{on "click" this.handleReplyButtonClick}} />
        {{/unless}}
      </div>
    </div>
  {{/if}}

  {{#if (gt this.sortedChildComments.length 0)}}
    <div class="bg-gray-50 py-2 px-4 border-t border-gray-200 {{if this.shouldShowReplyForm '' 'rounded-b'}}">
      {{#each this.sortedChildComments as |childComment|}}
        <div class="flex items-start">
          <a
            href={{childComment.user.codecraftersProfileUrl}}
            class="mt-0.5 flex items-center flex-shrink-0"
            target="_blank"
            rel="noopener noreferrer"
          >
            <AvatarImage @user={{childComment.user}} class="w-6 h-6 mr-3 filter drop-shadow-sm ring-1 ring-white rounded-full shadow" />
          </a>

          <CommentCard @comment={{childComment}} />
        </div>
      {{/each}}
    </div>
  {{/if}}

  {{#if this.shouldShowReplyForm}}
    <CommentForm
      @parentComment={{@comment}}
      @commentModelType={{@comment.constructor.modelName}}
      @onCancel={{this.handleCancelReplyButtonClick}}
      @onSubmit={{this.handleReplySubmitted}}
      class="border-t"
    />
  {{/if}}
</div>