{{! @glint-nocheck: not typesafe yet }}
<div {{did-insert this.handleDidInsertContainer}} ...attributes>
  {{#each this.visibleBlockGroups as |blockGroup|}}
    <div
      class="scroll-mb-10 scroll-mt-10 {{if (not-eq blockGroup.index this.currentBlockGroupIndex) 'opacity-50'}}"
      {{did-insert (fn this.handleBlockGroupContainerInserted blockGroup)}}
    >
      {{#each blockGroup.blocks as |block|}}
        {{#if (eq block.type "markdown")}}
          <Blocks::MarkdownBlock @model={{block}} class="mb-6" />
        {{else if (eq block.type "concept_animation")}}
          <Blocks::ConceptAnimationBlock @model={{block}} class="mb-6 py-4" />
        {{else if (eq block.type "concept_question")}}
          <Blocks::ConceptQuestionBlock
            @model={{block}}
            class="mb-6"
            @onContinueButtonClick={{this.handleContinueButtonClick}}
            @shouldShowContinueButton={{eq blockGroup.index this.currentBlockGroupIndex}}
          />
        {{else if (eq block.type "click_to_continue")}}
          {{#if (eq blockGroup.index this.currentBlockGroupIndex)}}
            <div class="flex items-center mb-6">
              <PrimaryButton {{on "click" this.handleContinueButtonClick}} data-test-continue-button>
                {{block.buttonText}}
              </PrimaryButton>
              {{#if (not-eq this.currentBlockGroupIndex 0)}}
                <div class="flex items-center ml-4 group" role="button" data-test-step-back-button {{on "click" this.handleStepBackButtonClick}}>
                  <span>{{svg-jar "arrow-up" class="w-3 fill-current text-gray-400 group-hover:text-gray-700"}}</span>
                  <div class="ml-1 text-gray-500 group-hover:text-gray-800 text-xs hover:underline">
                    Step back
                  </div>
                </div>
              {{/if}}
            </div>
          {{/if}}
        {{else}}
          <div class="mb-6">
            Unknown block type:
            {{block.type}}.
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/each}}
</div>