{{! @glint-nocheck: not typesafe yet }}
<div {{did-insert this.handleDidInsertContainer}}>
  <AnimatedContainer>
    {{#each this.visibleBlocks as |block|}}
      {{#if (eq block.type "markdown")}}
        <Blocks::MarkdownBlock @model={{block}} class="mb-6" />
      {{else if (eq block.type "concept_question")}}
        <Blocks::ConceptQuestionBlock
          @model={{block}}
          class="mb-6"
          @onContinueButtonClick={{this.handleContinueButtonClick}}
          @shouldShowContinueButton={{eq block.index this.currentBlockIndex}}
        />
      {{else if (eq block.type "click_to_continue")}}
        <TertiaryButton class="mb-6" {{on "click" this.handleContinueButtonClick}} data-test-continue-button>
          {{block.buttonText}}
        </TertiaryButton>
      {{else}}
        <div>
          Unknown block type:
          {{block.type}}.
        </div>
      {{/if}}
    {{/each}}
  </AnimatedContainer>
</div>