<div class="flex flex-col items-stretch rounded bg-gray-900 w-full max-w-2xl border border-gray-700" ...attributes>
  <div class="border-b border-gray-700 px-3 py-2 flex items-center justify-between">
    <div class="flex items-center gap-1 mr-8">
      {{svg-jar "terminal" class="h-4 w-4 text-gray-500"}}
      <span class="text-gray-400 text-xs">command line</span>
    </div>
    <div>
      <AnimatedContainer>
        {{#animated-if this.wasCopiedRecently use=this.transition duration=200}}
          <div class="flex items-center gap-1 cursor-pointer group/copy-button" role="button" {{on "click" this.handleCopyButtonClick}}>
            {{svg-jar "clipboard-check" class="h-4 w-4 text-teal-500"}}
            <span class="text-teal-500 text-xs">copied!</span>
          </div>
        {{else}}
          <div class="flex items-center gap-1 cursor-pointer group/copy-button" role="button" {{on "click" this.handleCopyButtonClick}}>
            {{svg-jar "clipboard-copy" class="h-4 w-4 text-gray-500 group-hover/copy-button:text-gray-400"}}
            <span class="text-gray-400 text-xs group-hover/copy-button:text-gray-300">copy</span>
          </div>
        {{/animated-if}}
      </AnimatedContainer>
    </div>
  </div>

  <div class="px-3 py-2 w-full font-mono text-xs bg-gray-800 rounded-b">
    {{#each @commands as |command|}}
      <div>
        <span class="whitespace-nowrap text-white leading-relaxed">{{command}}</span>
      </div>
    {{/each}}
  </div>
  {{!-- <div
    class="px-3 py-1.5 flex-grow-1 w-full overflow-x-scroll border border-gray-300 border-r-0 rounded-l"
  >
    <span class="whitespace-nowrap font-mono text-gray-600 text-xs">
      {{#each @commands as |command|}}
        {{command}}
      {{/each}}
    </span>
  </div>

  <div class="relative flex items-stretch">
    <button
      type="button"
      class="bg-teal-600 px-3 py-1 text-white flex items-center rounded-r rounded-l-none text-sm font-bold"
      {{on "click" this.handleCopyButtonClick}}
      data-test-copy-button
    >
      {{if this.codeWasCopiedRecently "COPIED" "COPY"}}
    </button>
    <div class="absolute top-px bottom-px -left-6 w-6 bg-gray-300 border-text-mask">
    </div>
  </div> --}}
</div>