<div class="group bg-white p-5 rounded-md shadow hover:shadow-md transition-all cursor-pointer flex flex-col justify-between">
  {{!-- Content --}}
  <div class="flex items-start">
    {{!-- Text --}}
    <div class="pr-6 mb-8">
      <div class="text-lg font-bold text-gray-600 mb-3 mr-3">
        {{@course.name}}
      </div>

      <div class="text-sm leading-relaxed text-gray-500">
        {{@course.shortDescriptionMarkdown}}
      </div>
    </div>

    {{!-- Logo --}}
    <div class="w-12 sm:w-24 transform scale-100 group-hover:scale-105 flex-shrink-0 transition-all">
      {{#if @course.isDocker}}
        <img src="assets/images/challenge-logos/challenge-logo-docker.svg" class="">
      {{else if @course.isGit}}
        <img src="assets/images/challenge-logos/challenge-logo-git.svg" class="">
      {{else if @course.isReact}}
        <img src="assets/images/challenge-logos/challenge-logo-react.svg" class="">
      {{else if @course.isRedis}}
        <img src="assets/images/challenge-logos/challenge-logo-redis.svg" class="">
      {{else if @course.isSQLite}}
        <img src="assets/images/challenge-logos/challenge-logo-sqlite.svg" class="">
      {{/if}}
    </div>
  </div>

  {{!-- Footer --}}
  <div class="flex items-center justify-between">
    <CourseCard::DifficultyLabel @course={{@course}} />

    <div class="flex items-center">
      <span class="font-bold text-teal-500 text-xs mr-2 opacity-0 group-hover:opacity-100 transition-opacity">Start</span>
      {{svg-jar "right-arrow" class="w-4 fill-current text-gray-300 group-hover:text-teal-500 transition-colors"}}
    </div>
  </div>
</div>