<div
  class="group bg-white p-5 rounded-md shadow hover:shadow-md transition-all cursor-pointer flex flex-col justify-between border relative"
  role="button"
  {{on "click" this.navigateToCourse}}
  data-test-course-card>
  {{!-- Logo --}}
  <div class="w-12 sm:w-24 transform scale-100 group-hover:scale-105 flex-shrink-0 transition-all absolute top-5 right-5">
    {{#if @course.isDocker}}
      <img alt={{@course.name}} src="/assets/images/challenge-logos/challenge-logo-docker.svg">
    {{else if @course.isGit}}
      <img alt={{@course.name}} src="/assets/images/challenge-logos/challenge-logo-git.svg">
    {{else if @course.isReact}}
      <img alt={{@course.name}} src="/assets/images/challenge-logos/challenge-logo-react.svg">
    {{else if @course.isRedis}}
      <img alt={{@course.name}} src="/assets/images/challenge-logos/challenge-logo-redis.svg">
    {{else if @course.isSQLite}}
      <img alt={{@course.name}} src="/assets/images/challenge-logos/challenge-logo-sqlite.svg">
    {{/if}}
  </div>

  {{!-- Text --}}
  <div class="mb-8">
    <div class="flex items-center mb-3 flex-wrap gap-y-2 pr-16 sm:pr-32">
      <div class="text-lg font-bold text-gray-600 mr-2" data-test-course-name>
        {{@course.name}}
      </div>

      {{#if @course.releaseStatusIsBeta}}
        <div class="text-xs text-teal-500 font-bold border border-teal-500 rounded px-2 py-1 mr-3" data-test-course-beta-label>
          BETA
        </div>
      {{/if}}
    </div>

    <div class="text-sm leading-relaxed text-gray-500 pr-16 sm:pr-32" data-test-course-description>
      {{@course.shortDescriptionMarkdown}}
    </div>
  </div>

  {{!-- Footer --}}
  <div class="flex items-center justify-between">
    <CourseCard::DifficultyLabel @course={{@course}} />

    <div class="flex items-center">
      <span class="font-bold text-teal-500 text-xs mr-2 opacity-0 group-hover:opacity-100 transition-opacity">Start</span>
      {{svg-jar "right-arrow" class="w-4 fill-current text-gray-300 group-hover:text-teal-500 transition-colors"}}
    </div>
  </div>
</div>