<BasicDropdown @horizontalPosition="right" as |dd|>
  <dd.Trigger>
    <div class="bg-white dark:bg-gray-925 border border-gray-200 dark:border-white/10 rounded-sm shadow-xs p-1">
      <div class="text-gray-500 flex items-center outline-hidden" data-test-leaderboard-team-dropdown-trigger>
        {{svg-jar
          (if @team "user-group" "globe")
          class=(concat "fill-current w-5 transform transition-all " (if dd.isOpen "text-teal-500 dark:text-teal-600" ""))
        }}
        {{svg-jar "chevron-down" class=(concat "fill-current w-5 transform transition-all " (if dd.isOpen "text-teal-500 dark:text-teal-600" ""))}}
      </div>
    </div>
  </dd.Trigger>
  <dd.Content>
    <div
      class="py-2 border border-gray-200 dark:border-white/10 rounded-sm shadow-sm text-sm text-gray-600 dark:text-gray-400 max-w-xl bg-white dark:bg-gray-925"
      data-test-leaderboard-team-dropdown-content
    >
      {{#each @teams as |team|}}
        <div
          class="px-3 py-2 hover:bg-gray-50 dark:hover:bg-gray-900 flex items-center justify-between group"
          role="button"
          {{on "click" (fn this.handleTeamLinkClick team dd.actions)}}
        >
          <span class="mr-4 {{if (eq team @team) 'text-teal-500 dark:text-teal-600 font-bold' 'text-gray-700 dark:text-gray-400'}}">
            {{team.name}}
          </span>
          {{svg-jar
            "user-group"
            class=(concat "w-5 text-gray-300 group-hover:text-teal-500 dark:text-gray-700" (if (eq team @team) " text-teal-500 dark:text-teal-600"))
          }}
        </div>
      {{/each}}

      <div
        class="px-3 py-2 hover:bg-gray-50 dark:hover:bg-gray-900 flex items-center justify-between group"
        role="button"
        {{on "click" (fn this.handleTeamLinkClick null dd.actions)}}
      >
        <span class="mr-4 {{unless @team 'text-teal-500 dark:text-teal-600 font-bold' 'text-gray-700 dark:text-gray-400'}}">
          Everyone
        </span>
        {{svg-jar
          "globe"
          class=(concat "w-5 text-gray-300 group-hover:text-teal-500 dark:text-gray-700" (unless @team " text-teal-500 dark:text-teal-600"))
        }}
      </div>
    </div>
  </dd.Content>
</BasicDropdown>