<div data-test-course-dropdown ...attributes>
  <BasicDropdown @renderInPlace={{false}} @horizontalPosition="auto-left" @registerAPI={{@onDidInsertDropdown}} as |dd|>
    <dd.Trigger>
      <button
        type="button"
        class="inline-flex items-center justify-center w-full rounded-md border border-gray-300 dark:border-white/5
          {{if dd.isOpen 'bg-gray-50 dark:bg-gray-800 dark:border-white/10' 'bg-white dark:bg-gray-850'}}
          shadow-sm pr-4 pl-3 py-2.5 text-sm font-medium text-gray-800 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-gray-800 focus:outline-none hover:border-gray-300 dark:hover:border-white/10"
        data-test-course-dropdown-trigger
      >
        {{#if @selectedCourse}}
          <CourseLogo @course={{@selectedCourse}} class="w-6 h-6 mr-2" />
        {{/if}}

        <span class="mr-1" data-test-current-course-name>
          {{@selectedCourse.name}}
        </span>

        {{svg-jar
          "chevron-down"
          class=(concat "fill-current w-5 transform transition-all " (if dd.isOpen "text-teal-500" "text-gray-400 dark:text-gray-500"))
        }}
      </button>
    </dd.Trigger>
    <dd.Content>
      <div
        class="bg-white dark:bg-gray-850 rounded-lg shadow-lg border border-gray-200 dark:border-white/10 py-2 mt-1 mb-1"
        data-test-course-dropdown-content
      >
        {{#each @courses as |course|}}
          <CourseDropdownLink
            @course={{course}}
            @isEnabled={{true}}
            @isSelected={{eq course.slug @selectedCourse.slug}}
            @isRequested={{eq course @requestedCourse}}
            @onClick={{fn this.handleCourseDropdownLinkClick course dd.actions.close}}
          />
        {{/each}}
      </div>
    </dd.Content>
  </BasicDropdown>
</div>