<div
  class="group bg-white p-5 rounded-md shadow hover:shadow-md transition-all cursor-pointer flex flex-col justify-between border relative"
  role="button"
  {{on "click" this.navigateToCourse}}
  data-test-course-card>
  {{!-- Logo --}}
  <div class="w-12 lg:w-24 transform scale-100 group-hover:scale-105 flex-shrink-0 transition-all absolute top-5 right-5">
    <CourseLogo @course={{@course}} />
  </div>

  {{!-- Text --}}
  <div class="mb-8">
    <div class="flex items-center mb-3 flex-wrap gap-y-2 pr-16 lg:pr-32">
      <div class="text-lg font-bold text-gray-600 mr-2" data-test-course-name>
        {{@course.name}}
      </div>

      {{#if @course.releaseStatusIsBeta}}
        <div class="text-xs text-teal-500 font-bold border border-teal-500 rounded px-2 py-1 mr-3" data-test-course-beta-label>
          BETA
        </div>
      {{else if @course.releaseStatusIsAlpha}}
        <div class="text-xs text-blue-500 font-bold border border-blue-500 rounded px-2 py-1 mr-3" data-test-course-alpha-label>
          ALPHA
        </div>
      {{/if}}
    </div>

    <div class="text-sm leading-relaxed text-gray-500 pr-16 lg:pr-32" data-test-course-description>
      {{@course.shortDescriptionMarkdown}}
    </div>
  </div>

  {{!-- Footer --}}
  <div class="flex items-center justify-between">
    <CourseCard::DifficultyLabel @course={{@course}} />

    <div class="flex items-center">
      {{#if this.lastPushedRepository}}
        <span class="font-bold text-teal-500 text-xs mr-2 opacity-0 group-hover:opacity-100 transition-opacity" data-test-action-text>Resume</span>
        {{svg-jar "arrow-right" class="w-4 fill-current text-gray-300 group-hover:text-teal-500 transition-colors"}}
      {{else}}
        <span class="font-bold text-teal-500 text-xs mr-2 opacity-0 group-hover:opacity-100 transition-opacity" data-test-action-text>Start</span>
        {{svg-jar "arrow-right" class="w-4 fill-current text-gray-300 group-hover:text-teal-500 transition-colors"}}
      {{/if}}
    </div>
  </div>
</div>