{{! @glint-nocheck: not typesafe yet }}
<div class="flex gap-4 flex-col md:flex-row items-center overflow-hidden group" role="button" data-test-screencasts-previews ...attributes>
  {{! thumbnail }}
  <div class="relative w-full md:max-w-[50%] lg:max-w-[33%] border">
    <img src={{@screencast.thumbnailUrl}} alt="thumbnail" />
    <div class="absolute inset-0 flex items-center justify-center">
      {{svg-jar "play" class="w-[25%] text-gray-100 opacity-75 group-hover:opacity-100 transition-opacity duration-100"}}
    </div>
  </div>
  {{! details }}
  <div class="w-full">
    <span
      class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20"
    >{{@screencast.language.name}}</span>
    <div class="font-semibold text-gray-800 text-lg mt-2" data-test-screencasts-previews-title>{{@screencast.title}}</div>
    <div class="flex items-center gap-1 mt-1">
      <img src={{@screencast.sourceIconUrl}} class="h-5" alt="source" />
      <div class="text-gray-600 text-xs">{{@screencast.authorName}}</div>
    </div>
    <div class="flex gap-3 mt-3">
      <div class="flex items-center">
        {{svg-jar "clock" class="w-4 text-gray-300 mr-1.5"}}
        <div class="text-gray-600 text-xs">{{round (div @screencast.durationInSeconds 60)}} minutes</div>
        <div class="w-px h-3 bg-gray-200 ml-3"></div>
      </div>
      <div class="flex items-center">
        {{svg-jar "calendar" class="w-4 text-gray-300 mr-1.5"}}
        <div class="text-gray-600 text-xs">{{date-from-now @screencast.publishedAt}}</div>
      </div>
    </div>
    <div class="flex items-center mt-6">
      <div class="flex items-center">
        <span class="font-semibold text-xs mr-1 text-gray-500 group-hover:text-teal-500 transition-colors" data-test-action-text>
          View
        </span>

        {{svg-jar "arrow-right" class="w-4 fill-current text-gray-300 group-hover:text-teal-500 transition-colors"}}
      </div>
    </div>
  </div>
</div>