<div
  class="group bg-white p-5 rounded-md shadow hover:shadow-md transition-all cursor-pointer flex flex-col justify-between border relative"
  role="button"
  {{on "click" this.navigateToCourse}}
  data-test-course-card
>
  {{! Logo }}
  <div class="w-8 transform scale-100 group-hover:scale-105 flex-shrink-0 transition-all absolute top-5 right-5">
    <CourseLogo @course={{@course}} />
  </div>

  {{! Text }}
  <div class="mb-8">
    <div class="flex items-center mb-3 flex-wrap gap-y-2 pr-10">
      <div class="text-lg font-bold text-gray-600 mr-2" data-test-course-name>
        {{@course.name}}
      </div>
    </div>

    <div class="text-sm leading-relaxed text-gray-500 pr-10" data-test-course-description>
      {{@course.shortDescriptionMarkdown}}
    </div>
  </div>

  {{! Footer }}
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-3">
      {{#if this.lastPushedRepository}}
        <CourseCard::ProgressBar @course={{@course}} @lastPushedRepository={{this.lastPushedRepository}} />
      {{else}}
        <CourseCard::DifficultyLabel @course={{@course}} />
      {{/if}}
      {{#if @course.releaseStatusIsBeta}}
        <div class="text-xs text-gray-400 font-semibold border border-gray-300 rounded px-1 py-0.5 mr-3" data-test-course-beta-label>
          BETA
        </div>
      {{else if @course.releaseStatusIsAlpha}}
        <div class="text-xs text-gray-400 font-semibold border border-gray-300 rounded px-1 py-0.5 mr-3" data-test-course-alpha-label>
          ALPHA
        </div>
      {{/if}}
    </div>

    <div class="flex items-center">
      <span class="font-bold text-teal-500 text-xs mr-2 opacity-0 group-hover:opacity-100 transition-opacity" data-test-action-text>
        {{#if this.lastPushedRepository.allStagesAreComplete}}
          Start Again
        {{else if this.lastPushedRepository}}
          Resume
        {{else}}
          Start
        {{/if}}
      </span>

      {{svg-jar "arrow-right" class="w-4 fill-current text-gray-300 group-hover:text-teal-500 transition-colors"}}
    </div>
  </div>
</div>