<LinkTo
  @route="user"
  @model={{if @entry @entry.user.username "codecrafters-bot"}}
  class="flex items-center justify-between py-1.5 group cursor-pointer pl-4 border-l-2
    {{if this.isForCurrentUser 'border-teal-500' 'border-transparent'}}"
  data-test-leaderboard-entry
>
  <div class="flex items-center">
    <div class="mr-2">
      {{#if this.isSkeleton}}
        <div class="w-8 h-8 bg-gray-200 rounded"></div>
      {{else}}
        <AvatarImage @user={{@entry.user}} class="w-8 h-8 border border-gray-300 rounded shadow-sm group-hover:shadow transition-shadow" />
      {{/if}}
    </div>
    {{#if this.isSkeleton}}
      <span class="text-xs inline-block rounded bg-gray-200 mr-2">{{#each (repeat 30)}}&nbsp;{{/each}}</span>
    {{else}}
      <span class="text-xs text-gray-600 group-hover:underline mr-2" data-test-username>{{@entry.user.username}}</span>
    {{/if}}
    {{#if @shouldShowLanguageIconsWithoutHover}}
      <img
        alt="{{@entry.language.name}}"
        src={{@entry.language.tealLogoUrl}}
        class="w-4 h-4 mr-2 opacity-90 group-hover:opacity-100 transition-all"
      />
    {{else}}
      <img alt="{{@entry.language.name}}" src={{@entry.language.tealLogoUrl}} class="w-4 h-4 mr-2 opacity-0 group-hover:opacity-100 transition-all" />
    {{/if}}
  </div>
  <div class="flex items-center">
    <span
      class="mr-2 text-xs font-bold
        {{if @entry.statusIsEvaluating 'text-yellow-500' 'text-teal-500'}}
        {{if this.isForCurrentUser 'opacity-100' 'opacity-0'}}
        group-hover:opacity-100 transition-opacity"
      data-test-progress-text
    >
      {{#if this.isSkeleton}}
        <span class="inline-block bg-gray-200">{{#each (repeat 6)}}&nbsp;{{/each}}</span>
      {{else}}
        {{this.progressNumerator}}
        /
        {{this.progressDenominator}}
      {{/if}}
    </span>
    {{#if this.isSkeleton}}
      <div class="w-12 h-3.5 rounded bg-gray-200" />
    {{else}}
      <div
        class="w-12 h-3.5 rounded flex overflow-hidden border group-hover:bg-white transition-all
          {{if @entry.statusIsEvaluating 'bg-yellow-50 border-yellow-500 animate-pulse' 'bg-teal-50 border-teal-500 group-hover:shadow-sm'}}"
        data-test-progress-bar-container
      >
        {{!s Look like a tailwind 3.3.0 bug, from-0% and to-100% are required to make the gradient work }}
        <div
          class="bg-gradient-to-r from-0% to-100%
            {{if @entry.statusIsEvaluating 'from-yellow-500 to-yellow-400' 'from-teal-500 to-teal-400'}}
            transition-all"
          style={{this.progressBarWidthStyle}}
        >
        </div>
      </div>
    {{/if}}
  </div>
</LinkTo>