<div
  class="flex justify-between items-center py-2.5 pr-4 pl-3 group hover:bg-gray-50 dark:hover:bg-gray-700/50 cursor-pointer"
  role="button"
  data-test-course-link
  {{on "click" @onClick}}
>
  <div class="flex items-center justify-between gap-6 w-full">
    <span class="{{if (or @isRequested @isSelected) 'font-semibold'}} text-gray-850 dark:text-gray-200 text-sm shrink-0">
      {{@course.name}}
    </span>

    {{#if @isSelected}}
      {{svg-jar "check-circle" class="w-5 fill-current text-teal-500 shrink-0"}}
    {{else if (and @isRequested (not @isSelected))}}
      {{svg-jar "exclamation" class="w-5 fill-current text-yellow-500 shrink-0"}}
    {{else}}
      <CourseLogo @course={{@course}} class="w-5 h-5 block shrink-0" />
    {{/if}}
  </div>
</div>