<div class="text-gray-500 text-xs flex items-baseline gap-2" data-test-course-difficulty-label>
  {{! template-lint-disable style-concatenation }}
  <span class="leading-none uppercase font-semibold {{this.labelColorClass}}">{{this.label}}</span>
  <div class="flex items-end">
    {{#each (range 1 4) as |currentBarNumber|}}
      {{! template-lint-disable no-inline-styles }}
      <div
        class="{{if (gte this.numberOfBars currentBarNumber) this.barColorClass 'bg-gray-300'}}"
        style={{html-safe (concat "width: 4px; margin-right: 2px; border-radius: 1px; height: " (add 0.5 (mult 0.2 currentBarNumber)) "em;")}}
      ></div>
    {{/each}}
  </div>
  <EmberTooltip @text={{this.tooltipText}} />
</div>