<fieldset aria-label="Select a display theme:" class="flex items-center relative" data-test-dark-mode-toggle ...attributes>
  {{! inset-0 ensures that item borders overlap the outer border !}}
  <div class="absolute inset-0 rounded-full border border-gray-200 dark:border-gray-800 pointer-events-none">
  </div>

  {{#each this.possiblePreferences as |preference preferenceIndex|}}
    <input id="option-{{preference}}" class="sr-only" type="radio" value="{{preference}}" checked={{eq this.currentPreference preference}} />
    <label
      for="option-{{preference}}"
      class="flex rounded-full cursor-pointer border group
        {{if (eq @size 'small') 'p-1' 'p-1.5'}}
        {{if (eq preferenceIndex 1) '-mx-1' ''}}
        {{if (eq this.currentPreference preference) 'bg-gray-200 dark:bg-gray-800'}}
        {{if (eq this.currentPreference preference) 'border-gray-200 dark:border-gray-800' 'border-transparent'}}"
      {{on "click" (fn this.setPreference preference)}}
    >
      <span class="sr-only">{{preference}}</span>
      {{svg-jar
        (if (eq preference "system") "desktop-computer" (if (eq preference "light") "sun" "moon"))
        class=(concat
          "fill-current group-hover:text-teal-500"
          " "
          (if (eq @size "small") "h-3 w-3" "h-4 w-4")
          " "
          (if (eq this.currentPreference preference) "text-gray-700 dark:text-gray-200" "text-gray-600 dark:text-gray-400")
        )
      }}
      <EmberTooltip @text={{or preference "unset"}} />
    </label>
  {{/each}}
</fieldset>