<div class="rounded-lg border filter drop-shadow-sm w-full max-w-3xl bg-white" role="button" {{on "click" this.toggleItem}}>
  <div class="flex justify-between items-center py-4 px-6">
    <div class="text-sm sm:text-base text-gray-700">{{@faq.query}}</div>
    <div>
      {{#if @isOpen}}
        <div>
          {{svg-jar "minus" class="w-4 h-4"}}
        </div>
      {{else}}
        <div>
          {{svg-jar "plus" class="w-4 h-4"}}
        </div>
      {{/if}}
    </div>
  </div>

  {{#if @isOpen}}
    <div class="text-xs sm:text-sm text-gray-500 pt-2 pb-4 px-6">{{@faq.answer}}</div>
  {{/if}}
</div>