<div class="bg-white dark:bg-gray-850 shadow-sm rounded border border-gray-300 dark:border-gray-700 overflow-y-hidden" ...attributes>
  <div class="bg-gray-50 dark:bg-gray-800 rounded-t py-1 px-4 border-b border-gray-200 dark:border-gray-700">
    <span class="font-mono text-xs text-gray-600 dark:text-gray-300 bold">{{@filename}}</span>
  </div>

  {{#if @useCodeMirror}}
    {{#let (diff-to-document @code) as |document|}}
      <CodeMirror
        @document={{document.current}}
        @originalDocument={{document.original}}
        @filename={{@filename}}
        @language={{@language}}
        @allowMultipleSelections={{true}}
        @bracketMatching={{true}}
        @collapseUnchanged={{true}}
        @crosshairCursor={{true}}
        @drawSelection={{true}}
        @rectangularSelection={{true}}
        @readOnly={{true}}
        @highlightSelectionMatches={{true}}
        @highlightSpecialChars={{true}}
        @theme={{this.codeMirrorTheme}}
        class="block text-sm"
      />
    {{/let}}
  {{else}}
    <div class="text-sm leading-6">
      {{! @glint-expect-error: not ts-ified yet }}
      <SyntaxHighlightedDiff
        @code={{or @code ""}}
        @language={{@language}}
        @shouldCollapseUnchangedLines={{true}}
        @forceDarkTheme={{@forceDarkTheme}}
      />
    </div>
  {{/if}}
</div>