<div class="bg-white dark:bg-gray-900 shadow-sm rounded border border-gray-300 dark:border-gray-700 overflow-y-hidden" ...attributes>
  <div class="bg-gray-50 dark:bg-gray-800 rounded-t py-1 px-4 border-b border-gray-200 dark:border-gray-700">
    <span class="font-mono text-xs text-gray-600 dark:text-gray-300 bold">{{@filename}}</span>
  </div>

  <div class="text-sm leading-6 dark:text-gray-400">
    {{! @glint-expect-error: not ts-ified yet }}
    <SyntaxHighlightedDiff @code={{@code}} @language={{@language}} @shouldCollapseUnchangedLines={{true}} @forceDarkTheme={{@forceDarkTheme}} />
  </div>
</div>