<div class="bg-white shadow-sm rounded border border-gray-300 overflow-y-hidden" ...attributes>
  <div class="bg-gray-100 rounded-t py-1 px-4 border-b border-gray-200 shadow-sm">
    <span class="font-mono text-xs text-gray-600 bold">{{@filename}}</span>
  </div>

  <div class="text-sm">
    {{#if (eq @language "diff") }}
      {{! @glint-expect-error: not ts-ified yet }}
      <SyntaxHighlightedDiff @code={{@code}} @language={{@language}} @shouldCollapseUnchangedLines={{true}} />
    {{else}}
      {{! @glint-expect-error: not ts-ified yet }}
      <SyntaxHighlightedCode @code={{@code}} @language={{@language}} @theme="github-light" @language={{@language}} />
    {{/if}}
  </div>
</div>