<div
  class="bg-white dark:bg-gray-850 shadow-sm rounded border border-gray-300 dark:border-white/10"
  data-test-file-contents-card-component
  ...attributes
  {{did-insert this.handleDidInsertContainer}}
>
  {{! template-lint-disable no-invalid-interactive }}
  <div
    class="flex items-center bg-gray-100 dark:bg-gray-800 h-8 px-4 relative group/file-contents-card-header
      {{if @isCollapsed 'rounded border-b-0' 'rounded-t border-b border-gray-200 dark:border-white/10'}}
      {{if @isCollapsible 'cursor-pointer hover:bg-gray-50' 'cursor-default'}}"
    role={{if @isCollapsible "button"}}
    data-test-file-contents-card-header
    {{on "click" this.handleCollapseOrExpandButtonClick}}
  >
    {{#if (has-block "header")}}
      {{yield to="header"}}
    {{else}}
      <span class="font-mono text-xs text-gray-600 dark:text-gray-100 bold flex">
        {{@filename}}
      </span>
    {{/if}}

    {{#if @isCollapsible}}
      <div
        class="absolute inset-0 flex items-center justify-center group-hover/file-contents-card-header:opacity-100 opacity-0 transition-opacity"
        data-test-file-contents-card-header-hover-target
      >
        {{#if @isCollapsed}}
          <Pill @color="white" data-test-file-contents-card-header-expand-button>Click to expand</Pill>
        {{else}}
          <Pill @color="white" data-test-file-contents-card-header-collapse-button>Click to collapse</Pill>
        {{/if}}
      </div>

      {{#if (and @isCollapsed @headerTooltipText)}}
        <EmberTooltip @text={{@headerTooltipText}} @side="top" />
      {{/if}}
    {{/if}}
  </div>

  {{#unless (and @isCollapsible @isCollapsed)}}
    <CodeMirror
      @document={{@code}}
      @filename={{@filename}}
      @language={{@language}}
      @lineNumbers={{true}}
      @allowMultipleSelections={{true}}
      @bracketMatching={{true}}
      @crosshairCursor={{true}}
      @drawSelection={{true}}
      @rectangularSelection={{true}}
      @editable={{false}}
      @readOnly={{true}}
      @foldGutter={{if (eq @foldGutter false) false true}}
      @highlightActiveLine={{false}}
      @highlightSelectionMatches={{true}}
      @highlightSpecialChars={{true}}
      @highlightTrailingWhitespace={{true}}
      @theme={{this.codeMirrorTheme}}
      class="block text-sm"
    />

    {{#if @isCollapsible}}
      <div class="flex items-center justify-center my-3">
        <TertiaryButton @size="small" data-test-file-contents-card-collapse-button {{on "click" this.handleCollapseOrExpandButtonClick}}>
          Collapse File
        </TertiaryButton>
      </div>
    {{/if}}
  {{/unless}}
</div>