<div
  class="shadow relative bg-white dark:bg-black dark:border-b dark:border-gray-800"
  {{did-insert this.handleDidInsert}}
  {{will-destroy this.handleWillDestroy}}
  data-test-header
>
  <div class="container {{if this.containerWidth.maxWidthIsLg 'lg:max-w-screen-lg'}} mx-auto flex items-stretch flex-col md:flex-row px-3 md:px-6">
    <div class="flex items-center justify-between">
      {{! Logo }}
      <div class="flex">
        <div class="text-gray-600 dark:text-gray-200 pr-5 text-sm flex-grow">
          <LinkTo class="flex items-center" @route="catalog">
            <img class="h-8 w-8 my-3 mr-2" src={{this.logoImage}} alt="CodeCrafters" />
            CodeCrafters
          </LinkTo>
        </div>
      </div>

      {{! Nav Toggle on Mobile }}
      <button class="md:hidden text-gray-600 dark:text-gray-200 pl-10 py-3 focus:outline-none" type="button" {{on "click" this.toggleMobileMenu}}>
        <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
          <path
            class="heroicon-ui"
            d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
          ></path>
        </svg>
      </button>
    </div>

    {{! Desktop  }}
    <div class="hidden md:flex items-center justify-between flex-grow">
      <div class="flex items-center">
        {{! Divider }}
        <div class="bg-gray-200 dark:bg-gray-700 w-px h-5 mr-3"></div>

        {{! Top-level links }}
        {{#each this.links as |link|}}
          {{! @glint-expect-error not ts-ified yet }}
          <Header::Link @route={{link.route}} @text={{link.text}} @type={{link.type}} class="px-2" />
        {{/each}}
      </div>

      {{! Account Dropdown on Desktop }}
      <div class="invisible md:visible flex items-center ml-6">
        {{#if (and this.authenticator.currentUser.isStaff this.versionTracker.currentVersionIsOutdated)}}
          <OutdatedClientBadge class="mr-4" />
        {{/if}}

        {{#if this.authenticator.isAuthenticated}}
          <FeedbackButton @source="header" class="mr-4" as |dd|>
            <div
              role="button"
              class="rounded border
                {{if dd.isOpen 'border-gray-600 dark:border-gray-300' 'border-gray-200 dark:border-gray-600'}}
                text-gray-600 dark:text-gray-300 hover:border-gray-600 dark:hover:border-gray-300 transition-colors px-2 py-1 text-xs"
              data-test-feedback-button
            >
              Feedback
            </div>
          </FeedbackButton>

          {{#if this.billingStatusDisplay.shouldShowVipBadge}}
            <Header::VipBadge class="mr-3" />
          {{else if this.billingStatusDisplay.shouldShowMemberBadge}}
            <Header::MemberBadge class="mr-3" />
          {{else if this.billingStatusDisplay.shouldShowFreeWeeksLeftButton}}
            <Header::FreeWeeksLeftButton class="mr-3" />
          {{else if this.billingStatusDisplay.shouldShowUpgradeButton}}
            <PrimaryLinkButton @size="extra-small" @route="pay" class="mr-4" data-test-upgrade-button>
              <span class="flex items-center gap-x-1">
                <span>Upgrade</span>
                {{svg-jar "lock-open" class="w-4"}}
              </span>
            </PrimaryLinkButton>
          {{/if}}

          <Header::AccountDropdown />
        {{else}}
          <div class="flex items-center ml-6">
            <PrimaryLinkButton @size="extra-small" @route="pay" class="mr-4" data-test-upgrade-button>
              <span class="flex items-center gap-x-1">
                <span>Upgrade</span>
                {{svg-jar "lock-open" class="w-4"}}
              </span>
            </PrimaryLinkButton>

            {{! @glint-expect-error not ts-ified yet }}
            <Header::SignInWithGithubButton />
          </div>
        {{/if}}
      </div>
    </div>

    {{! Mobile }}
    {{#if this.mobileMenuIsExpanded}}
      <div class="md:hidden flex-col items-center flex-grow">
        <div class="bg-gray-300 h-px w-full">
        </div>

        <div class="py-3">
          {{#each this.links as |link|}}
            {{! @glint-expect-error not ts-ified yet }}
            <Header::Link @route={{link.route}} @text={{link.text}} @type={{link.type}} class="block py-3" />
          {{/each}}

          {{#if this.currentUser}}
            <Header::AccountDropdown />
          {{else}}
            {{! @glint-expect-error not ts-ified yet }}
            <Header::SignInWithGithubButton />
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
</div>