<div
  class="flex justify-between items-center py-2 px-4 group hover:bg-gray-50 cursor-pointer"
  role="button"
  data-test-language-link
  {{on "click" @onClick}}
>
  <div class="flex items-center mr-8">
    <span class="{{if (or @isRequested @isSelected) 'font-semibold'}} text-gray-600">
      {{@language.name}}
    </span>
  </div>
  <div>
    {{#if @isSelected}}
      {{svg-jar "check-circle" class="w-4 fill-current text-teal-500"}}
    {{else if (and @isRequested (not @isSelected))}}
      {{svg-jar "exclamation" class="w-4 fill-current text-yellow-500"}}
    {{else}}
      <img src={{@language.grayLogoUrl}} alt={{@language.name}} class="w-4 h-4 block group-hover:hidden" />
      <img src={{@language.tealLogoUrl}} alt={{@language.name}} class="w-4 h-4 hidden group-hover:block" />
    {{/if}}
  </div>
</div>