<div data-test-language-dropdown ...attributes>
  <BasicDropdown @renderInPlace={{true}} @horizontalPosition="auto-right" @registerAPI={{@onDidInsertDropdown}} as |dd|>
    <dd.Trigger>
      <button
        type="button"
        class="inline-flex justify-center w-full rounded-md border border-gray-300 dark:border-white/10
          {{if dd.isOpen 'bg-gray-50 dark:bg-gray-800' 'bg-white dark:bg-gray-900'}}
          shadow-sm px-4 py-2 text-sm font-medium text-gray-800 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-gray-800 focus:outline-none"
        data-test-language-dropdown-trigger
      >
        <span class="mr-1" data-test-current-language-name>
          {{#if this.isAllLanguagesOptionSelected}}
            All Languages
          {{else}}
            {{@selectedLanguage.name}}
          {{/if}}
        </span>

        {{svg-jar "chevron-down" class=(concat "fill-current w-5 transform transition-all " (if dd.isOpen "text-teal-500" ""))}}
      </button>
    </dd.Trigger>
    <dd.Content>
      <div class="bg-white dark:bg-gray-850 rounded-lg shadow-lg border dark:border-white/10 py-2 my-1 w-56" data-test-language-dropdown-content>
        {{#if @shouldShowAllLanguagesOption}}
          <AllLanguagesDropdownLink
            @isSelected={{this.isAllLanguagesOptionSelected}}
            @onClick={{fn this.handleAllLanguagesDropdownLinkClick dd.actions.close}}
          />
        {{/if}}

        {{#each @languages as |language|}}
          <LanguageDropdownLink
            @language={{language}}
            @isEnabled={{true}}
            @isSelected={{eq language.slug @selectedLanguage.slug}}
            @isRequested={{eq language @requestedLanguage}}
            @onClick={{fn this.handleLanguageDropdownLinkClick language dd.actions.close}}
          />
        {{/each}}
      </div>
    </dd.Content>
  </BasicDropdown>
</div>