{{! @glint-nocheck }}
<LinkTo
  @route={{@route}}
  @model={{or @routeModel "dummy"}}
  class="flex items-center justify-between py-1.5 group/leaderboard-entry cursor-pointer pl-4 border-l-2
    {{if @isForCurrentUser 'border-teal-500' 'border-transparent'}}"
  data-test-leaderboard-entry
>
  <div class="flex items-center min-w-0">
    <div class="{{unless @isCollapsed 'mr-2'}} flex-shrink-0">
      {{#if this.isSkeleton}}
        <div class="w-8 h-8 bg-gray-200 rounded"></div>
      {{else}}
        <AvatarImage
          @user={{@user}}
          class="w-8 h-8 border border-gray-300 rounded shadow-sm group-hover/leaderboard-entry:shadow transition-shadow"
        />
      {{/if}}
    </div>

    {{#unless @isCollapsed}}
      {{#if this.isSkeleton}}
        <span class="text-xs inline-block rounded bg-gray-200 mr-2">{{#each (repeat 30)}}&nbsp;{{/each}}</span>
      {{else}}
        <span
          class="text-xs text-gray-600 group-hover/leaderboard-entry:underline mr-2 flex-shrink truncate"
          data-test-username
        >{{@user.username}}</span>
      {{/if}}

      {{yield to="afterUsername"}}
    {{/unless}}
  </div>
  {{#unless @isCollapsed}}
    <div class="flex items-center flex-shrink-0">
      <span
        class="mr-2 text-xs font-bold
          {{if (eq @status 'evaluating') 'text-yellow-500' 'text-teal-500'}}
          {{if @isForCurrentUser 'opacity-100' 'opacity-0'}}
          group-hover/leaderboard-entry:opacity-100 transition-opacity"
        data-test-progress-text
      >
        {{#if this.isSkeleton}}
          <span class="inline-block bg-gray-200">{{#each (repeat 6)}}&nbsp;{{/each}}</span>
        {{else}}
          {{@progressNumerator}}
          /
          {{@progressDenominator}}
        {{/if}}
      </span>
      {{#if this.isSkeleton}}
        <div class="w-12 h-3.5 rounded bg-gray-200" />
      {{else}}
        <div
          class="w-12 h-3.5 rounded flex overflow-hidden border group-hover/leaderboard-entry:bg-white transition-all
            {{if
              (eq @status 'evaluating')
              'bg-yellow-50 border-yellow-500 animate-pulse'
              'bg-teal-50 border-teal-500 group-hover/leaderboard-entry:shadow-sm'
            }}"
          data-test-progress-bar-container
        >
          {{!s Look like a tailwind 3.3.0 bug, from-0% and to-100% are required to make the gradient work }}
          <div
            class="bg-gradient-to-r from-0% to-100%
              {{if (eq @status 'evaluating') 'from-yellow-500 to-yellow-400' 'from-teal-500 to-teal-400'}}
              transition-all"
            style={{this.progressBarWidthStyle}}
          >
          </div>
        </div>
      {{/if}}
    </div>
  {{/unless}}
</LinkTo>