<div
  class="rounded-md shadow-sm overflow-hidden border-gray-300 relative flex-shrink overflow-y-scroll px-4 py-12 sm:px-12 min-h-0 bg-white dark:bg-black
    {{if @isWide 'max-w-screen-lg' 'max-w-xl'}}"
  {{on-click-outside this.handleClickOutside}}
  ...attributes
>
  {{#if (and @allowManualClose (not @shouldHideCloseButton))}}
    <button
      class="absolute right-6 top-6 sm:right-12 sm:top-12 opacity-60 hover:opacity-100"
      type="button"
      {{on "click" this.handleCloseButtonClick}}
      data-test-close-modal-button
    >
      {{svg-jar "x" class="w-5 h-5 text-gray-400"}}
    </button>
  {{/if}}

  {{yield}}
</div>