<div
  class="bg-white rounded-md shadow-sm overflow-hidden border-gray-300 relative flex flex-col pt-6 sm:pt-12 sm:pb-6 min-h-0 max-w-lg {{@class}}"
  {{on-click-outside this.handleClickOutside}}
  ...attributes
>
  {{#if @allowManualClose}}
    <button
      class="absolute right-6 top-6 sm:right-12 sm:top-12 opacity-60 hover:opacity-100"
      type="button"
      {{on "click" this.handleCloseButtonClick}}
      data-test-close-modal-button
    >
      {{svg-jar "x" class="w-5 h-5 text-gray-400"}}
    </button>
  {{/if}}

  <div class="flex-shrink-0 px-6 sm:px-12">
    {{yield to="header"}}
  </div>

  <div class="relative flex-shrink flex flex-col min-h-0">
    <div class="top-to-bottom-scroll-mask absolute left-0 right-0 top-0 h-6"></div>
    <div class="overflow-y-scroll py-6 px-6 sm:px-12">
      {{yield to="content"}}
    </div>
    <div class="bottom-to-top-scroll-mask absolute left-0 right-0 bottom-0 h-6"></div>
  </div>
</div>