<div
  class="bg-white rounded-md shadow-sm overflow-hidden border-gray-300 relative flex-shrink overflow-y-scroll p-6 sm:p-12 min-h-0
    {{if @isWide 'max-w-screen-lg' 'max-w-lg'}}
    {{@class}}"
  {{on-click-outside this.handleClickOutside}}
  ...attributes
>
  {{#if @allowManualClose}}
    <button
      class="absolute right-6 top-6 sm:right-12 sm:top-12 opacity-60 hover:opacity-100"
      type="button"
      {{on "click" this.handleCloseButtonClick}}
      data-test-close-modal-button
    >
      {{svg-jar "x" class="w-5 h-5 text-gray-400"}}
    </button>
  {{/if}}

  {{yield}}
</div>