<div class="{{if @isWide 'w-screen p-4 md:p-16 max-w-screen-lg h-screen' 'max-w-lg'}} flex justify-center">
  <div
    class="bg-white rounded-md shadow-sm border-gray-300 relative overflow-y-scroll {{@class}}"
    {{on-click-outside this.handleClickOutside}}
    ...attributes
  >
    <div class="p-6 sm:p-12">
      {{#if @allowManualClose}}
        <button
          class="absolute right-6 top-6 sm:right-12 sm:top-12 opacity-60 hover:opacity-100"
          type="button"
          {{on "click" this.handleCloseButtonClick}}
          data-test-close-modal-button
        >
          {{svg-jar "x" class="w-5 h-5 text-gray-400"}}
        </button>
      {{/if}}

      {{yield to="header"}}
      {{yield to="content"}}
    </div>
  </div>
</div>