<div
  class="bg-gray-800 dark:bg-gray-900 border border-gray-800 p-4 text-white font-mono text-xs leading-relaxed rounded max-h-[400px] overflow-y-auto"
  {{did-insert this.handleDidInsert}}
  data-test-submission-logs-preview
  ...attributes
>
  {{#if @submission.statusIsEvaluating}}
    <div class="flex items-center">
      <div class="w-4 h-4 mr-2">
        {{svg-jar "spinner" class="w-full h-full animate-spin fill-current text-gray-500"}}
      </div>
      <div>Running tests...</div>
    </div>
  {{else if this.evaluation}}
    {{#each this.logLines key="@index" as |logLine index|}}
      <div class="flex items-start">
        <div class="text-gray-500 dark:text-gray-600 w-4 text-right mr-3 flex-shrink-0 select-none">{{add index 1}}</div>
        <div data-test-log-line>{{html-safe logLine}}</div>
      </div>
    {{/each}}
  {{else}}
    <div>Hmm, we weren't able to find any logs for this submission.</div>
    <div>Please contact us at hello@codecrafters.io if this error persists.</div>
  {{/if}}
</div>