<div
  class="overflow-x-scroll dark:text-gray-400 dark:bg-gray-900"
  {{did-insert (perform this.highlightCode)}}
  {{did-update (perform this.highlightCode) this.darkMode.isEnabled}}
  {{did-update (perform this.highlightCode) @forceDarkTheme}}
  {{did-update (perform this.highlightCode) @code}}
  {{did-update (perform this.highlightCode) @language}}
  ...attributes
>
  <div class="min-w-fit">
    {{#each this.chunksForRender as |chunk|}}
      {{! @glint-expect-error not ts-ified yet }}
      <SyntaxHighlightedDiff::ExpandableChunk @chunk={{chunk}} @handleToggleCommentsButtonClick={{this.handleToggleCommentsButtonClick}} />
    {{/each}}
  </div>
</div>