<div class="relative py-4" {{did-resize this.handleContainerResizeObserverTriggered}} {{did-insert this.handleDidInsertContainer}} ...attributes>
  <div class="overflow-x-scroll">
    {{#each this.linesForRender key="number" as |line|}}
      {{! prettier-ignore }}
      <pre class="shiki github-light min-w-fit">{{!
        }}<code class="block diff-highlight min-w-fit">{{!
          }}<div class="px-2 {{line.type}}-line min-w-fit"
              {{did-update (fn this.handleDidInsertOrUpdateLine line) this.mutationsCacheKey}}
              {{did-insert (fn this.handleDidInsertOrUpdateLine line)}}>{{!
            }}{{#if (eq line.type "added")}}{{!
                }}<span class="inserted-marker select-none">+ </span>{{!
              }}{{else if (eq line.type "removed")}}{{!
                }}<span class="removed-marker select-none">- </span>{{!
              }}{{else}}{{!
                }}<span class="unchanged-marker select-none">  </span>{{!
              }}{{/if}}{{!
            }}{{line.html}}{{!
          }}</div>{{!
        }}</code>{{!
      }}</pre>

      {{#if (and line.commentsAreExpanded line.hasComments)}}
        <div class="py-2 my-4 border-t border-b space-y-4 px-4">
          {{#if line.commentsAreExpanded}}
            {{#each line.comments key="id" as |comment|}}
              <CoursePage::CourseStageSolutionModal::CommentTimelineItem @author={{comment.user}}>
                <div class="shadow-sm rounded border border-gray-300 w-full">
                  <CommentCard @comment={{comment}} />
                </div>
              </CoursePage::CourseStageSolutionModal::CommentTimelineItem>
            {{/each}}
          {{/if}}
        </div>
      {{/if}}
    {{/each}}

    {{#each this.commentsForRender as |commentForRender|}}
      <div
        class="absolute flex items-stretch justify-stretch right-0 w-0.5 {{if false 'bg-teal-500' 'bg-gray-300'}}"
        style={{commentForRender.style}}
      >
        <div class="relative">
          <div class="absolute right-2 -bottom-2 z-10">
            <SyntaxHighlightedDiff::ToggleCommentsButton
              @commentsAreExpanded={{commentForRender.isExpanded}}
              {{on "click" (fn this.handleToggleCommentsButtonClick commentForRender.comment)}}
            />
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>