<div class="py-4 overflow-x-scroll" ...attributes>
  {{! prettier-ignore }}
  {{#each this.linesForRender as |line|}}{{!
    }}<pre class="shiki github-light">{{!
      }}<code class="block diff-highlight min-w-fit">{{!
        }}<div class="px-2 {{line.type}}-line min-w-fit">{{!
          }}{{#if (eq line.type "added")}}{{!
              }}<span class="inserted-marker select-none">+ </span>{{!
            }}{{else if (eq line.type "removed")}}{{!
              }}<span class="removed-marker select-none">- </span>{{!
            }}{{else}}{{!
              }}<span class="unchanged-marker select-none">  </span>{{!
            }}{{/if}}{{!
          }}{{line.html}}{{!
        }}</div>{{!
      }}</code>{{!
    }}</pre>
    {{#if (get this.commentsGroupedByEndLine line.number)}}
      <div class="py-2 my-2 border-t border-b space-y-4 px-4">
        {{#each (get this.commentsGroupedByEndLine line.number) key="id" as |comment|}}
          <CoursePage::CourseStageSolutionModal::CommentTimelineItem @author={{comment.user}}>
            <div class="shadow-sm rounded border border-gray-300 w-full">
              <CoursePage::CourseStageSolutionModal::CommentCard @comment={{comment}} />
            </div>
          </CoursePage::CourseStageSolutionModal::CommentTimelineItem>
        {{/each}}
      </div>
    {{/if}}
  {{/each}}
</div>