<div
  role="button"
  class="flex flex-shrink-0 items-center group/tab-header
    {{if (eq @size 'small') 'px-1.5' 'px-2'}}
    py-2 mr-2 border-b-2
    {{if (eq @size 'small') 'text-xs' 'text-sm'}}
    {{if @isActive 'border-teal-500' 'border-gray-200 hover:border-gray-300'}}
    {{if @isActive 'dark:border-gray-400' 'dark:border-gray-700 dark:hover:border-gray-500'}}
    "
  data-test-tab-header
  ...attributes
>
  {{#if @iconUrl}}
    <img src={{@iconUrl}} alt="icon" class="{{if (eq @size 'small') 'h-4' 'h-5'}} mr-2" />
  {{else if @icon}}
    {{svg-jar
      @icon
      class=(concat
        (if (eq @size "small") "w-4 " "w-5 ")
        "mr-2 fill-current "
        (if
          @isActive
          "text-gray-600 dark:text-gray-400 "
          "text-gray-500 dark:text-gray-600 group-hover/tab-header:text-gray-600 dark:group-hover/tab-header:text-gray-500 "
        )
      )
    }}
  {{/if}}

  <span
    class="whitespace-nowrap font-medium
      {{if @isActive 'text-gray-700' 'text-gray-500 group-hover/tab-header:text-gray-600'}}
      {{if @isActive 'dark:text-gray-300' 'dark:text-gray-500 dark:group-hover/tab-header:text-gray-400'}}
      "
  >{{@text}}</span>
</div>