<div data-test-track-leaderboard {{did-insert this.handleDidInsert}} ...attributes>
  <div class="items-center justify-between mb-2 ease-out transition-all duration-300 {{if @isCollapsed 'hidden' 'flex'}} ">
    <LinkTo
      @route="leaderboard"
      @model={{@language.slug}}
      class="group/leaderboard-title flex items-center gap-1 text-teal-500 dark:text-teal-600 hover:text-teal-600 dark:hover:text-teal-500 transition-colors"
    >
      <span class="uppercase text-xs font-bold" data-test-leaderboard-title>
        {{@language.name}}
        LEADERBOARD
      </span>

      {{svg-jar "arrow-right" class="-rotate-45 size-3 group-hover/leaderboard-title:rotate-0 transition-transform ease-out duration-100"}}
    </LinkTo>
    <div>
      {{! Add team dropdown if needed }}
    </div>
  </div>

  {{#if this.leaderboardEntriesCache.isLoaded}}
    <div>
      <AnimatedContainer>
        {{#animated-each this.entriesForFirstSectionWithRanks key="entry.user.id" use=this.listTransition as |entryWithRank|}}
          <TrackLeaderboard::Row @entry={{entryWithRank.entry}} @rank={{entryWithRank.rank}} @isCollapsed={{@isCollapsed}} />
        {{/animated-each}}

        {{#if (gt this.leaderboardEntriesCache.entriesForSecondSectionWithRanks.length 0)}}
          {{! --- other users --- divider }}
          <div class="flex items-center py-1">
            <div class="w-full h-px bg-gray-200 dark:bg-white/5" />
            <span class="text-xs text-gray-400 dark:text-gray-500 px-4 shrink-0 {{if @isCollapsed 'hidden' 'inline-flex'}}">other&nbsp;users</span>
            <div class="w-full h-px bg-gray-200 dark:bg-white/5" />
          </div>

          {{#animated-each this.entriesForSecondSectionWithRanks key="entry.user.id" use=this.listTransition as |entryWithRank|}}
            <TrackLeaderboard::Row @entry={{entryWithRank.entry}} @rank={{entryWithRank.rank}} @isCollapsed={{@isCollapsed}} />
          {{/animated-each}}
        {{/if}}
      </AnimatedContainer>

      {{#animated-if (and (not @isCollapsed) (not this.leaderboardEntriesCache.hasEntries))}}
        <div class="flex py-2 items-center mb-2">
          <div class="text-sm text-gray-500">
            <p>
              No one has tried this Track recently.
            </p>
          </div>
        </div>
      {{/animated-if}}

      {{#if (and this.ctaText (not @isCollapsed))}}
        <div class="flex items-center justify-center mt-4">
          <div class="flex items-start gap-1">
            {{svg-jar "information-circle-outline" class="size-5 text-teal-600 dark:text-teal-500"}}

            <div class="text-xs text-teal-600 dark:text-teal-500 leading-5">
              {{this.ctaText}}
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  {{else}}
    <div>
      {{#each (repeat 10)}}
        <TrackLeaderboard::SkeletonRow @isCollapsed={{@isCollapsed}} />
      {{/each}}
    </div>
  {{/if}}
</div>