<div data-test-track-leaderboard {{did-insert this.handleDidInsert}} ...attributes>
  <div class="flex items-center justify-between mb-2">
    <div class="flex items-center">
      <span class="uppercase text-teal-500 dark:text-teal-600 text-xs font-bold" data-test-leaderboard-title>{{@language.name}} LEADERBOARD</span>
    </div>
    <div>
      {{! Add team dropdown if needed }}
    </div>
  </div>

  {{#if this.leaderboardEntriesCache.isLoaded}}
    <div>
      <AnimatedContainer>
        {{#animated-each this.entriesForFirstSectionWithRanks key="entry.user.id" use=this.listTransition as |entryWithRank|}}
          <TrackLeaderboard::Row @entry={{entryWithRank.entry}} @rank={{entryWithRank.rank}} />
        {{/animated-each}}

        {{#if (gt this.leaderboardEntriesCache.entriesForSecondSectionWithRanks.length 0)}}
          {{! --- other users --- divider }}
          <div class="flex items-center py-1">
            <div class="w-full h-px bg-gray-200 dark:bg-white/5" />
            <span class="text-xs text-gray-400 dark:text-gray-500 inline-flex px-4 shrink-0">other&nbsp;users</span>
            <div class="w-full h-px bg-gray-200 dark:bg-white/5" />
          </div>

          {{#animated-each this.entriesForSecondSectionWithRanks key="entry.user.id" use=this.listTransition as |entryWithRank|}}
            <TrackLeaderboard::Row @entry={{entryWithRank.entry}} @rank={{entryWithRank.rank}} />
          {{/animated-each}}
        {{/if}}
      </AnimatedContainer>

      {{#animated-if (not this.leaderboardEntriesCache.hasEntries)}}
        <div class="flex py-2 items-center">
          <div class="text-sm text-gray-500">
            <p class="mb-2">
              No one has tried this Track recently.
            </p>
          </div>
        </div>
      {{/animated-if}}
    </div>
  {{else}}
    <div>
      {{#each (repeat 10)}}
        <TrackLeaderboard::SkeletonRow />
      {{/each}}
    </div>
  {{/if}}
</div>