<div data-test-concept-question-block-editor>
  {{#if (gt this.remainingQuestionCount 0)}}
    <div class="text-gray-600 mb-4">
      Found
      {{this.remainingQuestionCount}}
      questions. Select one to use:
    </div>

    {{! template-lint-disable require-input-label }}
    <select class="p-2 border rounded mb-3 block" {{on "change" this.handleConceptQuestionSlugSelected}}>
      <option disabled selected={{not @model.conceptQuestionSlug}} data-test-concept-question-block-editor-dropdown-option>Select a question...</option>
      {{#each this.enabledQuestions as |question|}}
        <option
          value={{question.slug}}
          selected={{eq @model.conceptQuestionSlug question.slug}}
          data-test-concept-question-block-editor-dropdown-option
        >{{question.queryMarkdown}}</option>
      {{/each}}
      {{#each this.disabledQuestions as |question|}}
        <option
          value={{question.slug}}
          selected={{eq @model.conceptQuestionSlug question.slug}}
          disabled
          class="text-gray-1200"
          data-test-concept-question-block-editor-dropdown-option
        >{{question.queryMarkdown}}</option>
      {{/each}}
    </select>
    <TertiaryLinkButton
      @route="concept-admin.questions"
      @size="small"
      class="pl-1.5 mt-0"
      data-test-concept-question-block-editor-new-question-button
    >
      <div class="flex items-center">
        {{svg-jar "question-mark-circle" class="w-4 h-4 mr-1.5 text-gray-500"}}
        <span>
          Create a new question
        </span>
      </div>
    </TertiaryLinkButton>
  {{else}}
    <div class="text-gray-700 mb-4">
      No questions found.
      <LinkTo class="underline font-semibold" @route="concept-admin.questions">Create one</LinkTo>
      to use it here.
    </div>
  {{/if}}
</div>