<div data-test-concept-question-block-editor>
  {{#if (gt this.remainingQuestionCount 0)}}
    <div class="text-gray-600 mb-4">
      Found
      {{this.remainingQuestionCount}}
      questions. Select one to use:
    </div>

    {{! template-lint-disable require-input-label }}
    <select class="p-2 border rounded mb-3 block" {{on "change" this.handleConceptQuestionSlugSelected}}>
      <option disabled selected={{not @model.conceptQuestionSlug}}>Select a question...</option>

      {{#each this.enabledQuestions as |question|}}
        <option value={{question.slug}} selected={{eq @model.conceptQuestionSlug question.slug}}>{{question.queryMarkdown}}</option>
      {{/each}}

      {{#each this.disabledQuestions as |question|}}
        <option
          value={{question.slug}}
          selected={{eq @model.conceptQuestionSlug question.slug}}
          disabled="true"
          class="text-gray-1200"
        >{{question.queryMarkdown}}</option>
      {{/each}}
    </select>
  {{else}}
    <div class="text-gray-700 mb-4">
      No questions found.
      <LinkTo class="underline font-semibold" @route="concept-admin.questions">Create one</LinkTo>
      to use it here.
    </div>
  {{/if}}
</div>