<div ...attributes>
  {{#if this.hasEntries}}
    <div>
      <table class="min-w-full bg-white">
        <thead>
          <LeaderboardPage::EntriesTable::HeaderRow @language={{this.language}} />
        </thead>
        <tbody>
          {{#each this.sortedTopEntries as |entry index|}}
            <LeaderboardPage::EntriesTable::Row @entry={{entry}} @rankText={{concat "#" (add index 1)}} />
          {{/each}}

          {{#if this.loadUserSpecificResourcesTask.isRunning}}
            <LeaderboardPage::EntriesTable::FillerRow @text="... loading ..." />
          {{else if this.shouldShowSurroundingEntries}}
            <LeaderboardPage::EntriesTable::FillerRow @text="... other users ..." />

            {{#each this.sortedSurroundingEntriesWithRanks as |entryWithRank|}}
              <LeaderboardPage::EntriesTable::Row @entry={{entryWithRank.entry}} @rankText={{concat "#" entryWithRank.rank}} />
            {{/each}}
          {{/if}}
        </tbody>
      </table>
    </div>
  {{else}}
    <div class="text-center py-12">
      <div class="text-gray-500 text-sm">
        No entries found for this leaderboard.
      </div>
    </div>
  {{/if}}
</div>