<div ...attributes>
  {{#if (or this.hasEntries @isLoadingEntries)}}
    <div>
      <table class="min-w-full bg-white dark:bg-gray-925">
        <thead>
          <LeaderboardPage::EntriesTable::HeaderRow @language={{@language}} />
        </thead>
        <tbody>
          {{#if @isLoadingEntries}}
            {{#each (range 1 16) as |rank|}}
              <LeaderboardPage::EntriesTable::SkeletonRow @rankText={{concat "#" rank}} />
            {{/each}}
          {{else}}
            {{#each this.sortedTopEntries as |entry index|}}
              <LeaderboardPage::EntriesTable::Row @entry={{entry}} @rankText={{concat "#" (add index 1)}} />
            {{/each}}

            {{#if this.shouldShowSurroundingEntries}}
              <LeaderboardPage::EntriesTable::FillerRow @text="... other users ..." />

              {{#each this.sortedSurroundingEntriesWithRanks as |entryWithRank|}}
                <LeaderboardPage::EntriesTable::Row @entry={{entryWithRank.entry}} @rankText={{concat "#" entryWithRank.rank}} />
              {{/each}}
            {{/if}}
          {{/if}}
        </tbody>
      </table>
    </div>
  {{else}}
    <div class="text-center py-12">
      <div class="text-gray-500 dark:text-gray-400 text-sm">
        No entries found for this leaderboard.
      </div>
    </div>
  {{/if}}
</div>