<Settings::FormSection @title="About" @description="Shown on your profile page">
  <div>
    {{! template-lint-disable require-input-label }}
    <Textarea
      @value={{@user.profileDescriptionMarkdown}}
      class="text-sm rounded px-3 py-2 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-teal-500 border border-gray-300 shadow-sm w-full"
      placeholder="I'm a software engineer who loves building things. Here are some of my projects..."
      rows="3"
      required
      {{autoresize @user.profileDescriptionMarkdown}}
      {{markdown-input}}
      {{on "blur" this.handleBlur}}
      data-test-profile-description-input
    />
  </div>

  <div class="text-xs mt-1">
    {{#if this.isUpdating}}
      <span class="text-teal-500 font-semibold">
        Saving...
      </span>
    {{else if this.wasUpdatedRecently}}
      <span class="text-teal-500 font-semibold">
        Saved!
      </span>
    {{else}}
      <span class="text-gray-400">
        Displayed on your profile page. Markdown supported.
      </span>
    {{/if}}
  </div>

  <TertiaryLinkButton class="mt-4" @size="extra-small" @route="user" @models={{array @user.username}} @shouldOpenInNewTab={{true}}>
    <div class="flex items-center gap-1">
      {{svg-jar "external-link" class="w-4 h-4 text-gray-400"}}
      Preview
    </div>
  </TertiaryLinkButton>
</Settings::FormSection>