<Settings::FormSection @title="Username" @description="Your publicly visible username on CodeCrafters">
  <div>
    {{! template-lint-disable require-input-label }}
    <Input
      @value={{@user.username}}
      class="text-sm rounded px-3 py-2 bg-gray-50 border w-full text-gray-500 font-mono cursor-not-allowed"
      placeholder="cool_username"
      disabled={{true}}
    />

    {{#if @user.hasAnonymousModeEnabled}}
      <EmberTooltip @text="Your profile has anonymous mode enabled. Your GitHub username is not visible to others." />
    {{else}}
      <EmberTooltip @text="This value is synced with your GitHub account. Click on the refresh button below to update your username." />
    {{/if}}
  </div>
  <div class="text-gray-400 text-xs mt-1">
    {{#if @user.hasAnonymousModeEnabled}}
      Your profile has anonymous mode enabled. Your GitHub username is not visible to others.
    {{else}}
      This value is synced with your GitHub account. Click on the refresh button below to update your username.
    {{/if}}
  </div>

  <TertiaryButtonWithSpinner
    @size="extra-small"
    class="mt-4"
    @shouldShowSpinner={{this.isSyncingGitHubUsername}}
    {{on "click" this.refreshFromGitHub}}
    data-test-refresh-from-github-button
  >
    <div class="flex items-center gap-1">
      {{svg-jar "refresh" class="w-4 h-4 text-gray-400"}}
      Refresh from GitHub
    </div>
  </TertiaryButtonWithSpinner>
</Settings::FormSection>