<div
  class="group bg-white p-5 rounded-md shadow-sm flex flex-col justify-between border {{if this.userHasVotedOrSupervoted 'border-gray-300'}} relative"
  data-test-course-extension-idea-card
>
  {{! Text }}
  <div class="mb-4">
    <div class="flex items-start justify-between mb-3">
      <div class="text-gray-700 mr-2 mb-0.5 font-bold text-xl tracking-tight" data-test-course-extension-idea-name>
        {{@courseExtensionIdea.name}}
      </div>

      {{#if @courseExtensionIdea.developmentStatusIsInProgress}}
        <div class="text-xs text-white font-semibold bg-teal-500 rounded px-1.5 py-1 ml-3 mt-0.5 flex items-center" data-test-track-beta-label>
          in progress
          {{(svg-jar "shield-check" class="w-4 ml-1 fill-current")}}
        </div>
      {{else if @courseExtensionIdea.developmentStatusIsReleased}}
        <div class="text-xs text-white font-semibold bg-teal-500 rounded px-1.5 py-1 ml-3 mt-0.5 flex items-center" data-test-track-beta-label>
          released
          {{(svg-jar "check" class="w-4 ml-1 fill-current")}}
        </div>
      {{else if this.userHasSupervoted}}
        <div class="h-7 w-7 bg-teal-500 rounded flex items-center justify-center">
          {{(svg-jar "chevron-double-up" class="w-7 fill-current text-white")}}
        </div>
      {{else if this.userHasVoted}}
        <div class="h-7 w-7 bg-teal-500 rounded flex items-center justify-center">
          {{(svg-jar "chevron-up" class="w-7 fill-current text-white")}}
        </div>
      {{else if @courseExtensionIdea.isNewlyCreated}}
        <div class="text-xs text-teal-500 font-semibold border border-teal-500 rounded px-1.5 py-1 ml-3 mt-0.5" data-test-track-beta-label>
          new
        </div>
      {{/if}}
    </div>
    <div class="prose prose-sm">
      {{@courseExtensionIdea.descriptionHtml}}
    </div>
  </div>

  {{! Footer Controls }}
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <VotePage::IdeaCard::VoteButton
        @idea={{@courseExtensionIdea}}
        @userHasVoted={{this.userHasVoted}}
        {{on "click" this.handleVoteButtonClick}}
        class="mr-2"
      />

      <VotePage::IdeaCard::SupervoteButton
        @idea={{@courseExtensionIdea}}
        @userSupervotesCount={{this.userSupervotesCount}}
        @userHasSupervotesAvailable={{this.userHasSupervotesAvailable}}
        {{on "click" this.handleSupervoteButtonClick}}
        class="mr-2"
      />

      {{#if (and this.userHasVotedOrSupervoted this.isVotingOrUnvoting)}}
        <svg class="animate-spin ml-2 w-3 text-teal-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
      {{else if this.userHasVotedOrSupervoted}}
        <VotePage::IdeaCard::UnvoteButton @idea={{@courseExtensionIdea}} {{on "click" this.handleUnvoteButtonClick}} />
      {{/if}}
    </div>
  </div>
</div>