<ModalBody @allowManualClose={{true}} @shouldHideCloseButton={{true}} @onClose={{@onClose}} class="w-full">
  <div class="mb-6">
    <div class="font-bold text-2xl text-gray-600 text-center text-balance">
      Invest in the membership that pays for itself many times over.
    </div>

    <p class="text-gray-700 text-sm text-center text-balance mt-2">
      CodeCrafters members routinely unlock promotions and 5-figure salary jumps.
    </p>
  </div>

  <AnimatedContainer>
    {{#animated-if (eq this.previewType "plan") use=this.transition duration=200}}
      <div>
        <div class="flex flex-col gap-y-2">
          <PayPage::ChooseMembershipPlanModal::PlanCard
            @isSelected={{eq this.selectedPlan "3-month"}}
            @title="3 month pass"
            @actualPriceInDollars={{120}}
            @discountedPriceInDollars={{undefined}}
            @validityInMonths={{3}}
            @activeDiscountForYearlyPlan={{@activeDiscountForYearlyPlan}}
            {{on "click" (fn this.selectPlan "3-month")}}
          />

          <PayPage::ChooseMembershipPlanModal::PlanCard
            @isSelected={{eq this.selectedPlan "1-year"}}
            @title="1 year pass"
            @actualPriceInDollars={{360}}
            @discountedPriceInDollars={{this.discountedYearlyPrice}}
            @validityInMonths={{12}}
            @activeDiscountForYearlyPlan={{@activeDiscountForYearlyPlan}}
            @regionalDiscount={{@regionalDiscount}}
            @shouldApplyRegionalDiscount={{@shouldApplyRegionalDiscount}}
            {{on "click" (fn this.selectPlan "1-year")}}
          />

          <PayPage::ChooseMembershipPlanModal::PlanCard
            @isSelected={{eq this.selectedPlan "lifetime"}}
            @title="Lifetime pass"
            @actualPriceInDollars={{1490}}
            @discountedPriceInDollars={{undefined}}
            @activeDiscountForYearlyPlan={{@activeDiscountForYearlyPlan}}
            {{on "click" (fn this.selectPlan "lifetime")}}
          />

          <PrimaryButton @size="large" {{on "click" this.handleChoosePlanButtonClick}}>
            Choose
            {{this.selectedPlanText}}&nbsp;→
          </PrimaryButton>
        </div>
        <div class="flex justify-center mt-4">
          <div class="inline-block text-gray-500 text-sm border-b border-gray-300 cursor-pointer" role="button" {{on "click" @onClose}}>
            Back to pricing page
          </div>
        </div>
      </div>
    {{else}}
      <div>
        <div class="relative">
          {{#if (eq this.selectedPlan "3-month")}}
            <PayPage::ChooseMembershipPlanModal::PlanCard
              @isSelected={{true}}
              @title="3 month pass"
              @actualPriceInDollars={{120}}
              @discountedPriceInDollars={{undefined}}
              @validityInMonths={{3}}
              @activeDiscountForYearlyPlan={{@activeDiscountForYearlyPlan}}
            />
          {{else if (eq this.selectedPlan "1-year")}}
            <PayPage::ChooseMembershipPlanModal::PlanCard
              @isSelected={{true}}
              @title="1 year pass"
              @actualPriceInDollars={{360}}
              @discountedPriceInDollars={{this.discountedYearlyPrice}}
              @validityInMonths={{12}}
              @activeDiscountForYearlyPlan={{@activeDiscountForYearlyPlan}}
              @regionalDiscount={{@regionalDiscount}}
              @shouldApplyRegionalDiscount={{@shouldApplyRegionalDiscount}}
            />
          {{else if (eq this.selectedPlan "lifetime")}}
            <PayPage::ChooseMembershipPlanModal::PlanCard
              @isSelected={{true}}
              @title="Lifetime pass"
              @actualPriceInDollars={{1490}}
              @discountedPriceInDollars={{undefined}}
              @activeDiscountForYearlyPlan={{@activeDiscountForYearlyPlan}}
            />
          {{/if}}

          <div class="absolute inset-0 bg-white/60 flex items-center justify-center opacity-100 transition-opacity duration-200">
            <TertiaryButton @size="small" {{on "click" this.handleChangePlanButtonClick}}>
              Change plan
            </TertiaryButton>
          </div>
        </div>
        <div class="rounded border border-gray-200 p-4 mt-2 mb-6">
          <div class="font-bold text-gray-600 text-balance border-b-2 border-gray-200 inline-block mb-3">Invoice details</div>

          <div class="prose dark:prose-invert prose-sm mb-3">
            <p>
              If you need to include your employer's details on your invoice, select the option below.
            </p>
          </div>

          <div
            class="flex items-center justify-between gap-8 border
              {{if this.extraInvoiceDetailsRequested 'border-teal-400 bg-teal-50' 'border-gray-200'}}
              rounded-sm p-4 mb-3"
            {{on "click" (fn (mut this.extraInvoiceDetailsRequested) (not this.extraInvoiceDetailsRequested))}}
            role="button"
            data-test-extra-invoice-details-toggle
          >
            <span class="flex grow flex-col">
              <span
                class="text-sm font-semibold leading-6 {{if this.extraInvoiceDetailsRequested 'text-teal-600' 'text-gray-900'}}"
                id="availability-label"
              >I need extra details on my invoice</span>
              <span class="text-xs text-gray-400" id="availability-description">Choose this option if you need extra details like tax ID, business
                address etc. on your invoice.</span>
            </span>

            <Toggle @isOn={{this.extraInvoiceDetailsRequested}} />
          </div>

          <div class="prose dark:prose-invert prose-sm">
            <p>
              You can always email us at
              <a href="mailto:hello@codecrafters.io">hello@codecrafters.io</a>
              if you need to change your invoice details later.
            </p>
          </div>
        </div>

        <div class="flex justify-between items-center">
          <span class="text-gray-400 text-sm" role="button" {{on "click" this.handleChangePlanButtonClick}}>
            ← Back
          </span>

          <PrimaryButton
            class="flex! items-center justify-center"
            @size="large"
            {{on "click" (fn this.handleProceedToCheckoutButtonClick this.pricingFrequency)}}
            data-test-proceed-to-checkout-button
          >
            Proceed to Checkout

            {{#if this.isCreatingCheckoutSession}}
              <svg class="animate-spin ml-2 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>
            {{else}}
              →
            {{/if}}
          </PrimaryButton>
        </div>
      </div>
    {{/animated-if}}
  </AnimatedContainer>
</ModalBody>