<ModalBody @allowManualClose={{true}} @shouldHideCloseButton={{true}} @onClose={{@onClose}} class="w-full" data-test-choose-membership-plan-modal>
  <div class="mb-6">
    <div class="font-bold text-2xl text-gray-600 text-center text-balance">
      Invest in the membership that pays for itself many times over.
    </div>

    <p class="text-gray-700 text-sm text-center text-balance mt-2">
      CodeCrafters members routinely unlock promotions and 5-figure salary jumps.
    </p>
  </div>

  <AnimatedContainer>
    {{#animated-if (eq this.currentStep "plan-selection") use=this.transition duration=200}}
      <PayPage::ChooseMembershipPlanModal::PlanSelectionStep
        @activeDiscountForYearlyPlan={{@activeDiscountForYearlyPlan}}
        @onBackToPricingPageLinkClick={{@onClose}}
        @onChoosePlanButtonClick={{this.handleContinueButtonClick}}
        @onPlanSelect={{this.handlePlanSelect}}
        @pricingPlans={{this.pricingPlans}}
        @regionalDiscount={{@regionalDiscount}}
        @selectedPlan={{this.selectedPlan}}
      />
    {{else}}
      <PayPage::ChooseMembershipPlanModal::InvoiceDetailsStep
        @activeDiscountForYearlyPlan={{@activeDiscountForYearlyPlan}}
        @extraInvoiceDetailsRequested={{this.extraInvoiceDetailsRequested}}
        @isCreatingCheckoutSession={{this.isCreatingCheckoutSession}}
        @onBackButtonClick={{this.handleBackButtonClick}}
        @onExtraInvoiceDetailsToggle={{this.handleExtraInvoiceDetailsToggle}}
        @onProceedToCheckout={{this.handleProceedToCheckoutClick}}
        @regionalDiscount={{@regionalDiscount}}
        @selectedPlan={{this.selectedPlan}}
      />
    {{/animated-if}}
  </AnimatedContainer>
</ModalBody>