<div
  class="rounded-lg bg-gray-50 shadow-md shadow-gray-300/50
    {{if @isRecommended 'border border-teal-500' 'border border-gray-100'}}
    filter w-full max-w-xs relative"
  data-test-pricing-card
  ...attributes
>
  {{#if @isRecommended}}
    <div class="absolute -top-5 left-0 right-0 flex items-center justify-center">
      <div class="text-teal-500 font-semibold px-4 border border-teal-500 h-10 inline-flex items-center bg-white rounded-lg">
        Most popular
      </div>
    </div>
  {{/if}}

  <div class="flex flex-col items-center bg-white rounded-t-lg border-b border-gray-100 px-6 pt-8 pb-8">
    <div class="text-2xl font-bold text-gray-700 border-b-2 pb-2 border-gray-100">
      {{@title}}
    </div>

    {{#if @highlightedText}}
      <div class="flex px-3 bg-teal-100 rounded-full shadow-sm text-center py-1 mt-4">
        <div class="text-teal-600 text-xs">
          {{@highlightedText}}
        </div>
      </div>
    {{/if}}

    {{#if @discountedPrice}}
      <div class="mt-8 flex items-center">
        <div>
          {{#if @shouldShowAmortizedMonthlyPrice}}
            <span class="text-4xl text-gray-700 font-bold line-through">${{this.actualAmortizedMonthlyPrice}}</span>
          {{else}}
            <span class="text-4xl text-gray-700 font-bold line-through">${{@actualPrice}}</span>
          {{/if}}
        </div>
        <div class="ml-2">
          {{#if @shouldShowAmortizedMonthlyPrice}}
            <span class="text-2xl text-teal-500 font-bold" data-test-discounted-price>${{this.discountedAmortizedMonthlyPrice}}</span>
            <span class="text-2xl text-gray-400 font-bold">/mo</span>
          {{else}}
            <span class="text-2xl text-teal-500 font-bold" data-test-discounted-price>${{@discountedPrice}}</span>
          {{/if}}
        </div>
      </div>
    {{else}}
      <div class="mt-8">
        {{#if @shouldShowAmortizedMonthlyPrice}}
          <span class="text-4xl text-gray-700 font-bold">${{this.actualAmortizedMonthlyPrice}}</span>
          <span class="text-lg text-gray-400 font-bold">/mo</span>
        {{else}}
          <span class="text-4xl text-gray-700 font-bold">${{@actualPrice}}</span>
        {{/if}}
      </div>
    {{/if}}

    <button
      class="flex items-center justify-center mx-4 mt-8 transition-colors px-5 py-3 font-bold rounded-full max-w-lg shadow
        {{if
          @isRecommended
          'border-2 border-teal-500 bg-teal-500 text-white hover:bg-teal-600 hover:border-teal-600'
          'border-2 border-teal-500 text-teal-500 hover:border-teal-600 hover:text-teal-600 hover:bg-teal-50'
        }}
        "
      data-test-start-payment-button
      type="button"
      {{on "click" (fn @onStartMembershipButtonClick @pricingFrequency)}}
    >
      Start membership →
    </button>

    {{#if @regionalDiscount}}
      <div class="mt-4 border rounded flex items-center p-2 border-green-400 bg-green-50" data-test-regional-discount-notice>
        {{svg-jar "globe" class="w-6 h-6 mr-1 flex-shrink-0 text-green-400 transform scale-90"}}

        <div class="text-green-700 text-sm leading-relaxed">
          <b>{{@regionalDiscount.percentOff}}% off</b>
          applied at checkout.
        </div>
      </div>
    {{/if}}

    <div class="mt-4 text-xs text-gray-500 text-center">
      {{@footerText}}
    </div>
  </div>
  <div class="p-6 rounded-b-lg">
    {{#each this.featureDescriptions as |featureDescription|}}
      <div class="flex items-center py-1 gap-2">
        {{svg-jar "check" class="w-6 fill-current text-teal-500"}}

        {{#if featureDescription.link}}
          <a href={{featureDescription.link}} target="_blank" class="flex items-center gap-1 group" rel="noopener noreferrer">
            <span class="text-gray-600 text-sm underline decoration-dotted">{{featureDescription.text}}</span>
            {{svg-jar "information-circle" class="w-4 h-4 fill-current text-gray-300 group-hover:text-gray-400"}}
          </a>
        {{else}}
          <span class="text-gray-600 text-sm">{{featureDescription.text}}</span>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>