<div
  class="flex flex-col items-start rounded-lg bg-gray-50 shadow-md shadow-gray-300/50 border
    {{if @isRecommended 'border-teal-500' 'border border-gray-100'}}
    filter relative"
  ...attributes
>
  <div class="flex flex-col items-start bg-white rounded-t-lg border-b border-gray-100 px-6 pt-8 pb-8 w-full">
    <div class="text-lg font-bold text-gray-700 border-gray-100 uppercase">
      {{@title}}
    </div>

    <div class="text-gray-600 text-sm mb-4">
      {{@subtitle}}
    </div>

    <div class="text-gray-400 text-sm">
      {{@description}}
    </div>
  </div>
  <div class="p-6 flex flex-col grow items-center justify-between w-full">
    <div class="w-full">
      {{#each @featureDescriptions as |featureDescription|}}
        <div class="flex items-center py-1 gap-2">
          {{svg-jar "check" class="w-6 fill-current text-teal-500"}}

          {{#if featureDescription.link}}
            <a href={{featureDescription.link}} target="_blank" class="flex items-center gap-1 group" rel="noopener noreferrer">
              <span
                class="text-gray-600 text-sm border-b border-gray-300 border-dashed group-hover:border-gray-400"
              >{{featureDescription.text}}</span>
              {{svg-jar "information-circle" class="w-4 h-4 fill-current text-gray-300 group-hover:text-gray-400"}}
            </a>
          {{else}}
            <span class="text-gray-600 text-sm">{{featureDescription.text}}</span>
          {{/if}}
        </div>
      {{/each}}
    </div>

    <div class="flex items-center justify-center w-full mt-6">
      {{#if @isRecommended}}
        <button
          class="w-full flex items-center justify-center transition-colors p-3 font-bold rounded-full shadow border-2 border-teal-500 bg-teal-500 text-white hover:bg-teal-600 hover:border-teal-600 px-5 py-3 text-sm"
          data-test-pricing-plan-card-cta
          type="button"
          {{on "click" @onCtaClick}}
        >
          {{@ctaText}}&nbsp;→
        </button>
      {{else}}
        <button
          class="w-full flex items-center justify-center transition-colors p-3 font-bold rounded-full border bg-gray-50 hover:bg-white border-gray-300 text-gray-600 px-5 py-3 text-sm"
          data-test-pricing-plan-card-cta
          type="button"
          {{on "click" @onCtaClick}}
        >
          {{@ctaText}}&nbsp;→
        </button>
      {{/if}}
    </div>
  </div>
</div>