<div
  class="flex p-3.5 bg-linear-to-b from-gray-600 to-gray-900 border border-yellow-600 rounded-sm relative shadow-sm"
  data-test-referral-discount-notice
  ...attributes
>
  <div class="mr-1.5 shrink-0">
    <img src={{this.iconImage}} alt="treasure" class="w-8 animate-spin-once" />
  </div>

  <div class="text-gradient-to-b from-yellow-100 to-amber-500 leading-7 inline-block mt-0.5">
    {{#if @discount.affiliateReferral.affiliateLink.avatarIsGitHubAvatar}}
      <img
        alt="avatar"
        src={{@discount.affiliateReferral.affiliateLink.affiliateAvatarUrl}}
        class="inline-block w-6 h-6 border border-gray-100 rounded-full transform -translate-y-px"
      />
    {{else}}
      <img alt="avatar" src={{@discount.affiliateReferral.affiliateLink.affiliateAvatarUrl}} class="inline-block w-6 h-6" />
    {{/if}}

    <b>{{@discount.affiliateReferral.affiliateLink.affiliateName}}</b>'s referral offer: Subscribe in
    <span class="font-bold percy-timestamp font-mono text-lg border-b border-yellow-500 border-dashed">{{this.timeLeftText}}</span>
    to get
    <span class="font-bold">40% off</span>
    the 1 year plan.
  </div>
  <EmberTooltip @text="The 1 year plan is usually $360, but you can get it for $216 with this offer." @side="bottom" />
</div>