{{! @glint-nocheck: not typesafe yet }}
<div class="flex items-center" data-test-concept-card-progress ...attributes>
  <div class="rounded overflow-hidden mr-2">
    <div class="{{if (eq @latestConceptEngagement.currentProgressPercentage 100) 'bg-teal-100' 'bg-blue-100'}} h-3 w-16 flex items-stretch">
      {{#if (eq @latestConceptEngagement.currentProgressPercentage 0)}}
        <div class="bg-blue-500 w-1/12"></div>
      {{else}}
        <div
          class={{if (eq @latestConceptEngagement.currentProgressPercentage) "bg-teal-500" "bg-blue-500"}}
          style={{html-safe (concat "width:" @latestConceptEngagement.currentProgressPercentage "%")}}
          data-test-concept-card-progress-bar
        ></div>
      {{/if}}
    </div>
  </div>

  <div
    class="text-xs {{if (eq @latestConceptEngagement.currentProgressPercentage 100) 'text-teal-500' 'text-blue-500'}} mr-3"
    data-test-concept-card-progress-text
  >
    <b class="font-bold">{{@latestConceptEngagement.currentProgressPercentage}}</b>
    % complete
  </div>
</div>