<div class="flex items-center" data-test-concept-card-progress ...attributes>
  {{#if (eq @progressPercentage 100)}}
    {{svg-jar "check-circle" class="size-5 text-teal-500 mr-1"}}
  {{else}}
    <div class="size-5 mr-1.5">
      <ProgressDonut @total={{100}} @completed={{@progressPercentage}} @color="teal" data-test-concept-card-progress-donut />
    </div>
  {{/if}}

  <div class="text-xs text-teal-500 mr-3" data-test-concept-card-progress-text>
    {{#if (eq @progressPercentage 100)}}
      completed
    {{else}}
      <b class="font-bold">{{@progressPercentage}}%</b>
      complete
    {{/if}}
  </div>
</div>