<div class="course-admin-submission-autofix-container" ...attributes>
  {{#if (gt @submission.autofixRequests.length 0)}}
    {{#each @submission.autofixRequests key="id" as |autofixRequest index|}}
      <CourseAdmin::SubmissionsPage::SubmissionDetails::AutofixRequestCard
        @autofixRequest={{autofixRequest}}
        class="{{if (not-eq index (sub @submission.autofixRequests.length 1)) 'mb-4'}}"
      />
    {{/each}}
  {{else}}
    <div class="bg-gray-800 p-4 text-white font-mono text-xs leading-relaxed rounded-sm mb-4">
      This submission doesn't have any autofix requests.
    </div>

    <PrimaryButtonWithSpinner @shouldShowSpinner={{this.createAutofixRequestTask.isRunning}} {{on "click" this.handleCreateAutofixButtonClick}}>
      Create Autofix Request
    </PrimaryButtonWithSpinner>

    {{#if this.autofixCreationError}}
      <AlertWithIcon @type="error" class="mt-3">
        <p>
          {{this.autofixCreationError}}
        </p>
      </AlertWithIcon>
    {{/if}}
  {{/if}}
</div>