<div ...attributes>
  <div class="prose prose-sm prose-compact mb-4">
    <a class="flex items-center gap-1 text-gray-500 font-medium" href={{this.autofixRequestAdminUrl}} target="_blank" rel="noopener noreferrer">
      {{svg-jar "external-link" class="w-4 h-4"}}
      {{@autofixRequest.id}}</a>
  </div>
  {{#if (eq @autofixRequest.status "success")}}
    {{#if @autofixRequest.explanationMarkdown}}
      <div class="prose prose-sm prose-compact mb-4">
        <p><strong>Explanation:</strong></p>

        {{markdown-to-html @autofixRequest.explanationMarkdown}}
      </div>
    {{/if}}

    {{#each @autofixRequest.changedFiles key="filename" as |changedFile|}}
      <FileDiffCard
        @code={{changedFile.diff}}
        @filename={{changedFile.filename}}
        {{! @glint-expect-error language can be null }}
        @language={{@autofixRequest.submission.repository.language.slug}}
        @useCodeMirror={{true}}
      />
    {{/each}}
  {{else}}
    <div class="flex items-center gap-2 mb-4">
      {{svg-jar "shield-exclamation" class="w-4 h-4 text-red-500"}}
      <span class="text-red-500">Status: {{@autofixRequest.status}}</span>
    </div>
  {{/if}}
</div>