<div ...attributes>
  {{#if @submission.hasChangedFiles}}
    {{#each @submission.changedFiles key="filename" as |changedFile index|}}
      <div
        class="{{if (not-eq index (sub @submission.changedFiles.length 1)) 'mb-4'}}
          bg-white shadow-sm rounded border border-gray-300 overflow-y-hidden"
        data-test-changed-file
      >
        <div class="bg-gray-100 rounded-t py-1 px-4 border-b border-gray-200 shadow-sm">
          <span class="font-mono text-xs text-gray-600 bold">{{changedFile.filename}}</span>
        </div>

        {{#let (diff-to-document changedFile.diff) as |document|}}
          <CodeMirror
            @document={{document.current}}
            @originalDocument={{document.original}}
            @language={{@submission.repository.language.slug}}
            @filename={{changedFile.filename}}
            @collapseUnchanged={{true}}
            @allowMultipleSelections={{true}}
            @bracketMatching={{true}}
            @crosshairCursor={{true}}
            @drawSelection={{true}}
            @rectangularSelection={{true}}
            @readOnly={{true}}
            @highlightSelectionMatches={{true}}
            @highlightSpecialChars={{true}}
            @theme={{this.codeMirrorTheme}}
            class="block text-sm"
          />
        {{/let}}
      </div>
    {{/each}}
  {{else}}
    <div class="bg-gray-800 p-4 text-white font-mono text-xs leading-relaxed rounded mb-4">
      This submission doesn't have any changed files.
    </div>
  {{/if}}
</div>