<div class="flex justify-between">
  <div>
    <div class="text-2xl font-bold text-gray-700 mb-4">
      #{{@submission.courseStage.position}}:
      {{@submission.courseStage.name}}
    </div>

    <table>
      <tbody>
        <CourseAdmin::SubmissionsPage::SubmissionDetails::HeaderContainerRow @title="Status">
          <div class="flex items-center">
            {{#if @submission.statusIsSuccess}}
              Tests passed
              <div class="w-4 h-4 rounded-full bg-green-600 ml-2 flex items-center justify-center">
                {{svg-jar "check" class="w-3 fill-current text-white"}}
              </div>
            {{else if @submission.statusIsFailure}}
              Tests failed
              <div class="w-4 h-4 rounded-full bg-red-600 ml-2 flex items-center justify-center">
                {{svg-jar "x" class="w-3 fill-current text-white"}}
              </div>
            {{else if @submission.statusIsEvaluatin}}
              Evaluating
            {{else if @submission.statusIsInternalError}}
              Internal Error
            {{/if}}
          </div>
        </CourseAdmin::SubmissionsPage::SubmissionDetails::HeaderContainerRow>

        <CourseAdmin::SubmissionsPage::SubmissionDetails::HeaderContainerRow @title="Time taken">
          <div class="flex items-center">
            {{this.formattedDuration}}
            {{svg-jar "information-circle" class="ml-1 w-5 fill-current text-gray-300"}}
          </div>
        </CourseAdmin::SubmissionsPage::SubmissionDetails::HeaderContainerRow>

        <CourseAdmin::SubmissionsPage::SubmissionDetails::HeaderContainerRow @title="User Proficiency">
          {{#if @submission.repository.languageProficiencyLevel}}
            <div class="flex items-center">
              {{this.formattedLanguageProficiencyLevel}}

              <div data-test-user-proficiency-info-icon>
                {{svg-jar "information-circle" class="ml-1 w-5 fill-current text-gray-300"}}
                <EmberTooltip
                  @text="The user selected this value when creating their repository. Options: Never tried, Beginner, Intermediate, Advanced."
                />
              </div>
            </div>
          {{else}}
            <div class="flex items-center">
              Unknown

              <div data-test-user-proficiency-info-icon>
                {{svg-jar "information-circle" class="ml-1 w-5 fill-current text-gray-300"}}
                <EmberTooltip
                  @text="The user did not select their proficiency level when creating their repository. Options: Never tried, Beginner, Intermediate, Advanced."
                />
              </div>
            </div>
          {{/if}}
        </CourseAdmin::SubmissionsPage::SubmissionDetails::HeaderContainerRow>

        <CourseAdmin::SubmissionsPage::SubmissionDetails::HeaderContainerRow @title="Language">
          <div class="flex items-center">
            <span class="mr-2 text-gray-600">
              {{@submission.repository.language.name}}
            </span>

            <TertiaryButton @size="extra-small" class="mr-2" {{on "click" this.handleCopyRepositoryURLButtonClick}}>
              {{svg-jar "download" class="w-4 text-gray-500"}}
              <EmberTooltip @text="Click to copy Git URL" />
            </TertiaryButton>

            <TertiaryButton @size="extra-small" class="mr-2" {{on "click" this.handleForkButtonClick}}>
              {{#if this.isForking}}
                {{svg-jar "spinner" class="w-4 h-4 text-gray-500"}}
              {{else}}
                {{svg-jar "pencil" class="w-4 text-gray-500"}}
              {{/if}}

              <EmberTooltip @text="Fork this repository to your CodeCrafters account, to be able to edit and run tests." />
            </TertiaryButton>

            {{#if (current-user-is-staff)}}
              <TertiaryButton @size="extra-small" class="mr-2" {{on "click" this.handleViewCodeButtonClick}}>
                {{svg-jar "code" class="w-4 text-gray-500"}}
                <EmberTooltip @text="Click to view diff on GitHub (login as codecrafters-bot)" />
              </TertiaryButton>
            {{/if}}
          </div>
        </CourseAdmin::SubmissionsPage::SubmissionDetails::HeaderContainerRow>

        {{#if this.shouldShowTesterVersion}}
          <CourseAdmin::SubmissionsPage::SubmissionDetails::HeaderContainerRow
            @title="Tester version"
            class="group/tester-version-row"
            data-test-tester-version
          >
            <div class="flex items-center">
              {{this.testerVersionTagName}}

              {{#if @submission.testerVersion.isActive}}
                <span class="ml-1 text-gray-400 text-sm">(active)</span>
              {{else}}
                <TertiaryButtonWithSpinner
                  @shouldShowSpinner={{this.isUpdatingTesterVersion}}
                  @size="extra-small"
                  class="ml-2"
                  {{on "click" this.handleTesterVersionUpdateButtonClick}}
                >
                  Update to active version
                </TertiaryButtonWithSpinner>
              {{/if}}
            </div>
          </CourseAdmin::SubmissionsPage::SubmissionDetails::HeaderContainerRow>
        {{/if}}
      </tbody>
    </table>
  </div>
  <div class="flex flex-col items-end flex-shrink-0 pl-4">
    <div class="text-gray-700 text-xs">{{@submission.repository.user.username}}</div>
    <div class="text-gray-400 text-xs">Started {{date-from-now @submission.repository.createdAt}}</div>

    <TertiaryLinkButton
      class="mt-2"
      @size="extra-small"
      @route="course-admin.submissions"
      @query={{hash usernames=@submission.repository.user.username}}
    >
      View all submissions
    </TertiaryLinkButton>
  </div>
</div>