<div class="text-gray-700 prose mb-5" data-test-select-expected-activity-frequency-section>
  <p>
    Would you like us to email you occasional friendly nudges to help you stay accountable, as well as tips on maximising your learning experience?
  </p>
</div>

<div>
  <div class="flex items-center flex-wrap max-w-3xl gap-3">
    {{log @repository.remindersAreEnabled}}
    <TertiaryButton
      class="{{if (eq @repository.remindersAreEnabled true) 'border-teal-500 text-teal-500'}}"
      {{! @glint-expect-error not ts-ified yet }}
      {{on "click" (fn this.handleSelect true)}}
    >
      Yes please
    </TertiaryButton>

    <TertiaryButton
      class="{{if (eq @repository.remindersAreEnabled false) 'border-teal-500 text-teal-500'}}"
      {{! @glint-expect-error not ts-ified yet }}
      {{on "click" (fn this.handleSelect false)}}
    >
      I'll pass
    </TertiaryButton>
  </div>
</div>