<div class="bg-white border border-gray-300 p-8 rounded-md shadow-sm {{@class}}">
  <div class="mb-8 flex items-center">
    <span class="text-2xl text-gray-700 mr-3">Setup</span>
    <span class="bg-yellow-500 text-white rounded px-2 py-1 font-bold text-sm">IN PROGRESS</span>
  </div>

  {{#if this.createdRepository}}
    <CoursePageContent::StepList::SetupItem::CloneRepositoryStep @repository={{this.createdRepository}} />
  {{else}}
    <CoursePageContent::StepList::SetupItem::CreateRepositoryStep
      @course={{@course}}
      @onLanguageSelection={{this.handleLanguageSelection}} />
  {{/if}}
</div>