<div class="bg-gray-925 rounded-sm border border-white/5 p-4 w-full max-w-xl overflow-y-auto" ...attributes data-test-autofix-request-card>
  <AnimatedContainer>
    {{#animated-value @autofixRequest.status duration=200 use=this.transition as |status|}}
      {{#if (eq status "in_progress")}}
        <div class="flex items-center gap-2">
          <BlinkingDot @color="yellow" class="shrink-0" />
          <span class="text-lg font-semibold text-white">Generating custom hint...</span>
        </div>
      {{else if (eq status "success")}}
        <div class="flex items-start gap-2">
          <StaticDot @color="green" class="shrink-0 mt-2" />

          <span class="text-lg font-semibold text-white">
            Hint:
            {{@autofixRequest.summary}}
          </span>
        </div>
      {{/if}}
    {{/animated-value}}

    {{#if (eq @autofixRequest.status "in_progress")}}
      <CoursePage::TestResultsBar::AutofixRequestCard::LogstreamSection class="mt-3" @autofixRequest={{@autofixRequest}} />
    {{else}}
      <BlurredOverlay @isBlurred={{this.explanationIsBlurred}} @overlayClass="bg-gray-950/20" class="-mx-4 -mb-4">
        <:content>
          <div class="p-4">
            <div class="prose prose-sm dark:prose-invert has-prism-highlighting">
              {{markdown-to-html @autofixRequest.explanationMarkdown}}
            </div>

            <BlurredOverlay @isBlurred={{and this.diffIsBlurred (not this.explanationIsBlurred)}} @overlayClass="bg-gray-950/20" class="-mx-4 -mb-4">
              <:content>
                <div class="p-4 flex flex-col gap-6">
                  {{#each this.changedFilesForRender key="filename" as |changedFile|}}
                    <FileDiffCard
                      @code={{changedFile.diff}}
                      @filename={{changedFile.filename}}
                      @forceDarkTheme={{true}}
                      {{! @glint-expect-error language can be nullable }}
                      @language={{@autofixRequest.submission.repository.language.slug}}
                    />
                  {{/each}}
                </div>
              </:content>
              <:overlay>
                {{#if (eq @autofixRequest.status "success")}}
                  <SecondaryButton class="bg-gray-900 mt-10" {{on "click" this.handleShowFixedCodeButtonClick}}>
                    <div class="flex items-center gap-2">
                      <div class="flex">{{svg-jar "eye" class="size-6"}}</div>
                      Show fixed code
                    </div>
                  </SecondaryButton>
                {{/if}}
              </:overlay>
            </BlurredOverlay>
          </div>
        </:content>

        <:overlay>
          {{#if (eq @autofixRequest.status "success")}}
            <SecondaryButton class="bg-gray-900 mt-10" {{on "click" this.handleShowExplanationButtonClick}}>
              <div class="flex items-center gap-2">
                <div class="flex">{{svg-jar "eye" class="size-6"}}</div>
                Explain more?
              </div>
            </SecondaryButton>
          {{/if}}
        </:overlay>
      </BlurredOverlay>
    {{/if}}
  </AnimatedContainer>
</div>