<div class="w-full" ...attributes data-test-autofix-request-card>
  <AnimatedContainer>
    <div class="space-y-2">
      {{#each @autofixRequest.hintsJson key="slug" as |hint hintIndex|}}
        <CoursePage::TestResultsBar::AutofixRequestCard::HintCard
          @autofixRequest={{@autofixRequest}}
          @hint={{hint}}
          @isExpanded={{eq this.expandedHintIndex hintIndex}}
          @onExpand={{fn this.handleHintExpand hintIndex}}
          @onCollapse={{this.handleHintCollapse}}
        />
      {{else}}
        <CoursePage::TestResultsBar::AutofixRequestCard::HintCard
          @autofixRequest={{@autofixRequest}}
          @hint={{this.dummyHint}}
          @isExpanded={{false}}
          @onExpand={{fn this.handleHintExpand 0}}
          @onCollapse={{this.handleHintCollapse}}
        />
      {{/each}}
    </div>

    {{! Investigate issue with animated-if usage here }}
    {{#if (eq @autofixRequest.status "in_progress")}}
      <CoursePage::TestResultsBar::AutofixRequestCard::LogstreamSection class="mt-3" @autofixRequest={{@autofixRequest}} />
    {{else}}
      <div>
        {{#if (eq @autofixRequest.status "success")}}
          <AnimatedContainer>
            {{#animated-if (not this.solutionIsBlurred) use=this.transition duration=200}}
              <div class="flex items-center justify-center w-full mt-4 mb-2">
                <TertiaryButton
                  class="flex! justify-center items-center gap-2 dark:bg-transparent dark:text-gray-200 dark:border-white/5 dark:hover:border-gray-700/60 dark:hover:bg-gray-700/50"
                  {{on "click" this.handleHideSolutionButtonClick}}
                  data-test-hide-solution-button
                >
                  {{svg-jar "eye-off" class="size-4"}}
                  Hide fixed code
                </TertiaryButton>
              </div>
            {{/animated-if}}
          </AnimatedContainer>

          <BlurredOverlay
            class="group mt-2"
            @isBlurred={{this.solutionIsBlurred}}
            @overlayClass="inset-px rounded-sm cursor-pointer group-hover:backdrop-blur-[3px] group-hover:bg-gray-50/20 dark:bg-gray-950/20 dark:group-hover:bg-gray-950/0"
          >
            <:content>
              <div class="flex flex-col gap-6">
                {{#each this.changedFilesForRender key="filename" as |changedFile|}}
                  <FileDiffCard
                    @code={{changedFile.diff}}
                    @filename={{changedFile.filename}}
                    @forceDarkTheme={{true}}
                    {{! @glint-expect-error language can be nullable }}
                    @language={{@autofixRequest.submission.repository.language.slug}}
                  />
                {{/each}}
              </div>
            </:content>

            <:overlay>
              <SecondaryButton
                class="self-center bg-gray-900 group-hover:bg-teal-950 group-hover:text-teal-400 group-hover:border-teal-400 backdrop-blur-3xl"
                data-test-reveal-solution-button
              >
                <div class="flex items-center gap-2">
                  {{svg-jar "eye" class="size-6"}}
                  <span>Show fixed code</span>
                </div>
              </SecondaryButton>

              <button class="absolute inset-0" type="button" {{on "click" this.handleRevealSolutionButtonClick}} data-test-solution-blurred-overlay>
              </button>
            </:overlay>
          </BlurredOverlay>
        {{/if}}
      </div>
    {{/if}}
  </AnimatedContainer>
</div>