<div class="w-full" ...attributes data-test-autofix-request-card>
  {{#if (or (eq @autofixRequest.status "failure") (eq @autofixRequest.status "error"))}}
    <div class="prose prose-sm prose-compact dark:prose-invert">
      <p>
        Looks like we weren't able to generate hints. Trying again might help.
      </p>

      <p>
        If this persists, please let us know at hello@codecrafters.io.
      </p>
    </div>
  {{else}}
    <AnimatedContainer>
      {{#animated-if (gt @autofixRequest.hintsJson.length 0) use=this.transition duration=200}}
        <div class="space-y-2">
          {{#each @autofixRequest.hintsJson key="slug" as |hint hintIndex|}}
            <CoursePage::TestResultsBar::AutofixRequestCard::HintCard
              @autofixRequest={{@autofixRequest}}
              @hint={{hint}}
              @isExpanded={{eq this.expandedHintIndex hintIndex}}
              @onExpand={{fn this.handleHintExpand hintIndex}}
              @onCollapse={{this.handleHintCollapse}}
            />
          {{/each}}
        </div>
      {{else}}
        <CoursePage::TestResultsBar::AutofixRequestCard::HintCard
          @autofixRequest={{@autofixRequest}}
          @hint={{this.dummyHint}}
          @isExpanded={{eq this.expandedHintIndex 0}}
          @onExpand={{fn this.handleHintExpand 0}}
          @onCollapse={{this.handleHintCollapse}}
        />
      {{/animated-if}}
    </AnimatedContainer>

    {{! Investigate issue with animated-if usage here }}
    {{#if (eq @autofixRequest.status "in_progress")}}
      <CoursePage::TestResultsBar::AutofixRequestCard::LogstreamSection class="mt-3" @autofixRequest={{@autofixRequest}} />
    {{else if (eq @autofixRequest.status "success")}}
      <div>
        <AnimatedContainer>
          {{#animated-if (not this.solutionIsBlurred) use=this.transition duration=200}}
            <div class="flex items-center justify-center w-full mt-4 mb-2">
              <TertiaryButton
                class="flex! justify-center items-center gap-2 dark:bg-transparent dark:text-gray-200 dark:border-white/5 dark:hover:border-gray-700/60 dark:hover:bg-gray-700/50"
                {{on "click" this.handleHideSolutionButtonClick}}
                data-test-hide-solution-button
              >
                {{svg-jar "eye-off" class="size-4"}}
                Hide fixed code
              </TertiaryButton>
            </div>
          {{/animated-if}}
        </AnimatedContainer>

        <CoursePage::TestResultsBar::AutofixRequestCard::BlurredDiff
          @autofixRequest={{@autofixRequest}}
          @isBlurred={{this.solutionIsBlurred}}
          @onReveal={{this.handleRevealSolutionButtonClick}}
        />
      </div>
    {{/if}}
  {{/if}}
</div>