<div class="pb-3 flex flex-col" ...attributes data-test-autofix-section>
  {{#if this.lastSubmission}}
    {{#if this.lastAutofixRequest}}
      <CoursePage::TestResultsBar::AutofixSection::AutofixResult @autofixRequest={{this.lastAutofixRequest}} class="overflow-y-auto flex-grow" />
    {{else}}
      <Alert class="mb-3">
        <p>
          We're testing out a new feature called "AI Hints". This is currently only available on stage 2.
          <a href="https://docs.codecrafters.io/experimental/ai-hints" target="_blank" rel="noopener noreferrer">Learn more</a>.
        </p>
      </Alert>

      <CoursePage::TestResultsBar::AutofixSection::CreateAutofixPrompt @submission={{this.lastSubmission}} />
    {{/if}}
  {{else}}
    {{! TODO: Review copy here }}
    <div class="py-16 flex items-center justify-center flex-grow">
      <div class="text-gray-500 text-sm">
        {{#if (eq @activeStep.type "CourseStageStep")}}
          {{#if (eq @activeStep @currentStep)}}
            After you've run tests for this stage once, you'll be able to use the "AI Hints" feature here to help automatically fix any issues.
          {{else}}
            After you've run tests for the
            <LinkTo
              class="font-semibold text-gray-400 underline hover:text-gray-300"
              @route={{@activeStep.routeParams.route}}
              @models={{@activeStep.routeParams.models}}
            >{{@activeStep.title}}</LinkTo>
            stage, you'll be able to use the "AI Hints" feature here to help automatically fix any issues.
          {{/if}}
        {{else}}
          After you've run tests on your code, you'll be able to use the "AI Hints" feature here to help automatically fix any issues.
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>