<div class="pb-3 flex flex-col" ...attributes>
  {{#if this.lastSubmission}}
    <Alert class="mb-3">
      <p>
        We're testing out a new feature called "Autofix". This is currently only available on stage 2.
        <a href="https://docs.codecrafters.io/experimental/language-guides" target="_blank" rel="noopener noreferrer">Learn more</a>.
      </p>
    </Alert>

    {{#if (not this.lastAutofixRequestForSubmission)}}
      <div>
        <div class="prose prose-sm dark:prose-invert mb-6">
          <p>
            <strong>Autofix</strong>
            is a new feature that helps you automatically fix issues in your code. Here's how it works:
          </p>
          <ul>
            <li>
              We'll analyze your code, generate a fix and run tests on it.
            </li>
            <li>
              This
              <b>might take upto a minute</b>, but you'll see logs streamed here.
            </li>
            <li>
              This is a new feature, so it might contain bugs.
            </li>
            <li>
              Click the "Start Autofix" button below to get started!
            </li>
          </ul>
        </div>
        <PrimaryButtonWithSpinner
          @shouldShowSpinner={{this.createAutofixRequestTask.isRunning}}
          @size="regular"
          {{on "click" this.handleAutofixButtonClick}}
        >
          Start Autofix
        </PrimaryButtonWithSpinner>

        {{#if this.autofixCreationError}}
          <Alert @type="error" class="mt-3">
            <p>
              Autofix failed to start. Try again? Contact us at hello@codecrafters.io if this persists.
            </p>
          </Alert>
        {{/if}}
      </div>
    {{else}}
      <div>
        <div class="prose prose-sm dark:prose-invert mb-6">
          <p>
            Autofix!
          </p>
        </div>
      </div>
    {{/if}}
  {{else}}
    {{! TODO: Review copy here }}
    <div class="py-16 flex items-center justify-center flex-grow">
      <div class="text-gray-500 text-sm">
        {{#if (eq @activeStep.type "CourseStageStep")}}
          {{#if (eq @activeStep @currentStep)}}
            After you've run tests for this stage once, you'll be able to use the "Autofix" feature here to help automatically fix any issues.
          {{else}}
            After you've run tests for the
            <LinkTo
              class="font-semibold text-gray-400 underline hover:text-gray-300"
              @route={{@activeStep.routeParams.route}}
              @models={{@activeStep.routeParams.models}}
            >{{@activeStep.title}}</LinkTo>
            stage, you'll be able to use the "Autofix" feature here to help automatically fix any issues.
          {{/if}}
        {{else}}
          After you've run tests on your code, you'll be able to use the "Autofix" feature here to help automatically fix any issues.
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>