<div
  class="flex items-center justify-between relative py-3 group/test-results-bar-bottom-section"
  {{on "click" (if this.barIsCollapsed @onExpandButtonClick @onCollapseButtonClick)}}
  role="button"
  data-test-bottom-section
  ...attributes
>
  <div class="inline-flex items-center text-xs font-semibold text-gray-500">
    {{#if (eq @activeStep.type "CourseStageStep")}}
      {{#each this.activeStepAsCourseStageStep.breadcrumbs as |breadcrumb index|}}
        {{#if (eq index 0)}}
          {{breadcrumb}}
        {{else}}
          <span class="text-gray-300 px-2 inline-flex">&gt;</span>
          {{breadcrumb}}
        {{/if}}
      {{/each}}
    {{else}}
      <span class="text-gray-500">{{@activeStep.title}}</span>
    {{/if}}
  </div>

  <CoursePage::StepProgressIndicator @step={{@activeStep}} />

  <div class="absolute left-0 right-0 top-0 bottom-0 flex items-center justify-center">
    {{#if this.barIsCollapsed}}
      <CoursePage::TestResultsBar::BottomSection::ExpandButton />
    {{else}}
      <CoursePage::TestResultsBar::BottomSection::CollapseButton />
    {{/if}}
  </div>
</div>