<tr class="{{if this.isCurrentUser 'bg-teal-50 ring ring-teal-500 relative' 'hover:bg-gray-50'}} group/table-row">
  <td
    class="px-4 py-2 whitespace-nowrap text-xs font-medium
      {{if this.isCurrentUser 'text-teal-600' 'text-gray-400'}}
      text-right border border-gray-200 w-[8%]"
  >
    #{{add @index 1}}
  </td>
  <td class="px-4 py-2 whitespace-nowrap border border-gray-200">
    <div class="flex items-center justify-between gap-x-6">
      <div class="flex items-center gap-1.5">
        <div class="flex-shrink-0 h-6 w-6">
          <AvatarImage @user={{@entry.user}} class="h-6 w-6 rounded-full border border-gray-300" />
        </div>
        <div class="text-xs font-mono max-w-[12ch] sm:max-w-[16ch] truncate {{if this.isCurrentUser 'text-teal-600' 'text-gray-600'}}">
          <a href={{@entry.user.codecraftersProfileUrl}} target="_blank" class="hover:underline hover:text-gray-800" rel="noopener noreferrer">
            {{@entry.user.username}}
          </a>
        </div>
      </div>
      <div class="hidden md:flex items-center gap-1.5 flex-shrink-0 {{unless this.isCurrentUser 'opacity-25 group-hover/table-row:opacity-100'}}">
        {{#each @entry.relatedCourses as |course|}}
          <div class="flex">
            <CourseLogo @course={{course}} class="h-4 w-4 {{unless this.isCurrentUser 'grayscale opacity-50 hover:opacity-100 hover:grayscale-0'}}" />
            <EmberTooltip @text={{course.name}} />
          </div>
        {{/each}}
      </div>
    </div>
  </td>
  <td class="px-4 py-2 whitespace-nowrap border border-gray-200 hidden md:table-cell">
    <div class="flex items-center justify-end">
      <div class="text-xs font-mono">
        <span class="{{if this.isCurrentUser 'text-teal-600' 'text-gray-700'}}">{{@entry.scoreUpdatesCount}}</span>
        <span class="{{if this.isCurrentUser 'text-teal-600' 'text-gray-400'}}">stages</span>
      </div>
    </div>
  </td>
  <td class="px-4 py-2 whitespace-nowrap border border-gray-200">
    <div class="flex items-center justify-end">
      {{#if (eq @entry.score 142)}}
        <span class="inline-block align-middle text-teal-500 triangle-up mr-1.5" aria-hidden="true">
          <EmberTooltip @text="Increased from 139 to 142 in the past month" />
        </span>
      {{/if}}

      {{#if (eq @entry.score 99)}}
        <span class="inline-block align-middle text-red-500 triangle-down mr-1.5" aria-hidden="true">
          <EmberTooltip @text="Decreased from 199 to 99 in the past month" />
        </span>
      {{/if}}

      <div class="text-xs font-mono">
        <span class="{{if this.isCurrentUser 'text-teal-600' 'text-gray-700'}}">{{@entry.score}}</span>
        <span class="{{if this.isCurrentUser 'text-teal-600' 'text-gray-400'}}">pts</span>
      </div>
    </div>
  </td>
</tr>