<div
  data-test-comment-card
  data-test-child-comment="{{if @comment.parentComment true false}}"
  class="w-full {{if @comment.parentComment 'min-w-0' 'rounded-sm'}}"
  ...attributes
>
  {{#if this.isEditing}}
    <CommentForm
      @comment={{@comment}}
      @commentModelType={{@comment.constructor.modelName}}
      @onCancel={{fn (mut this.isEditing) false}}
      @onSubmit={{fn (mut this.isEditing) false}}
    />
  {{else}}
    <div
      class="flex items-center justify-between flex-wrap
        {{if @comment.parentComment 'py-1' 'bg-gray-50 dark:bg-gray-925 rounded-t py-2 px-4 border-b border-gray-200 dark:border-white/5'}}"
    >
      <div class="flex items-center flex-wrap">
        <a
          href={{@comment.user.codecraftersProfileUrl}}
          class="text-sm text-gray-600 dark:text-gray-300 font-bold hover:underline"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{@comment.user.username}}
        </a>

        <UserLabel @user={{@comment.user}} @context={{@comment.contextForUserLabel}} class="ml-1.5" />

        <div class="bg-gray-300 dark:bg-white/5 w-1 h-1 ml-1.5 mr-1.5 rounded-full"></div>

        <div class="text-xs text-gray-400 dark:text-gray-500">
          {{date-from-now @comment.createdAt}}
        </div>

        {{#if @comment.language}}
          <div class="bg-gray-300 dark:bg-white/5 w-1 h-1 ml-1.5 mr-1.5 rounded-full"></div>

          <Pill @color="gray">
            {{@comment.language.name}}
            <EmberTooltip @text="This comment is specific to {{@comment.language.name}}." />
          </Pill>
        {{/if}}
      </div>

      <div class="flex items-center">
        {{#if this.currentUser.isStaff}}
          <BasicDropdown @renderInPlace={{true}} @horizontalPosition="auto-right" as |dd|>
            <dd.Trigger>
              <div data-test-approval-status-label>
                {{#if (eq @comment.approvalStatus "approved")}}
                  <Pill @color="green">{{@comment.approvalStatus}}</Pill>
                {{else if (eq @comment.approvalStatus "rejected")}}
                  <Pill @color="gray">{{@comment.approvalStatus}}</Pill>
                {{else if (eq @comment.approvalStatus "awaiting_approval")}}
                  <Pill @color="yellow">{{@comment.approvalStatus}}</Pill>
                {{/if}}
              </div>
            </dd.Trigger>
            <dd.Content>
              <div
                class="py-2 border border-gray-200 dark:border-white/10 rounded-sm shadow-sm text-sm text-gray-600 dark:text-gray-400 min-w-[150px] max-w-xl bg-white dark:bg-gray-925"
                data-test-more-dropdown-content
              >
                <div class="px-3 py-1 hover:bg-gray-50 dark:hover:bg-gray-925 flex items-center justify-between group">
                  <div role="button" {{on "click" (fn this.updateCommentStatus "approved" dd.actions)}}>
                    Approved
                  </div>
                </div>
                <div class="px-3 py-1 hover:bg-gray-50 dark:hover:bg-gray-925 flex items-center justify-between group">
                  <div role="button" {{on "click" (fn this.updateCommentStatus "rejected" dd.actions)}}>
                    Rejected
                  </div>
                </div>
                <div class="px-3 py-1 hover:bg-gray-50 dark:hover:bg-gray-925 flex items-center justify-between group">
                  <div role="button" {{on "click" (fn this.updateCommentStatus "awaiting_approval" dd.actions)}}>
                    Awaiting Approval
                  </div>
                </div>
              </div>
            </dd.Content>
          </BasicDropdown>
        {{/if}}

        {{#if (or this.currentUser.isStaff (eq this.currentUser @comment.user))}}
          <div class="ml-2">
            <CommentCard::MoreDropdown
              @comment={{@comment}}
              @rejectedChildComments={{this.rejectedChildComments}}
              @rejectedChildCommentsAreExpanded={{this.rejectedChildCommentsAreExpanded}}
              @onEditButtonClick={{this.handleEditButtonClick}}
              @onDeleteButtonClick={{this.handleDeleteButtonClick}}
              @onToggleRejectedChildCommentsButtonClick={{this.handleToggleRejectedChildCommentsButtonClick}}
            />
          </div>
        {{/if}}
      </div>
    </div>

    <div class="{{if @comment.parentComment 'py-1' 'px-4 py-3'}}">
      <div
        class="leading-relaxed prose-sm prose dark:prose-invert max-w-none break-words has-prism-highlighting"
        {{did-insert this.handleDidInsertBodyHTML}}
        data-test-comment-body
      >
        {{markdown-to-html @comment.bodyMarkdown}}
      </div>

      <div class="mt-2 flex items-center">
        <CommentCard::UpvoteButton @comment={{@comment}} />
        <CommentCard::DownvoteButton @comment={{@comment}} class="ml-1" />

        {{#unless @comment.parentComment}}
          <CommentCard::ReplyButton class="ml-1" {{on "click" this.handleReplyButtonClick}} />
        {{/unless}}
      </div>
    </div>
  {{/if}}

  {{#if (gt this.visibleChildComments.length 0)}}
    <div class="bg-gray-50 dark:bg-gray-925 py-2 px-4 border-t border-gray-200 dark:border-white/5 {{if this.shouldShowReplyForm '' 'rounded-b'}}">
      {{#each this.visibleChildComments as |childComment|}}
        <div class="flex items-start">
          <a href={{childComment.user.codecraftersProfileUrl}} class="mt-0.5 flex items-center shrink-0" target="_blank" rel="noopener noreferrer">
            <AvatarImage
              @user={{childComment.user}}
              class="w-6 h-6 mr-3 filter drop-shadow-xs ring-1 ring-white dark:ring-white/5 rounded-full shadow-sm"
            />
          </a>

          <CommentCard @comment={{childComment}} />
        </div>
      {{/each}}
    </div>
  {{/if}}

  {{#if (and this.currentUser.isStaff (gt this.rejectedChildComments.length 0) this.rejectedChildCommentsAreExpanded)}}
    <div class="flex flex-col items-center">
      <div class="h-px mb-4 bg-gray-200 dark:bg-white/5 w-full" />
      <TertiaryButton
        @size="small"
        {{on "click" this.handleToggleRejectedChildCommentsButtonClick}}
        class="mb-4"
        data-test-hide-rejected-comments-button
      >
        Hide rejected replies
      </TertiaryButton>
    </div>
    <div class="bg-gray-50 dark:bg-gray-925 py-2 px-4 border-t border-gray-200 dark:border-white/5 rounded-b">
      {{#each this.rejectedChildComments as |childComment|}}
        <div class="flex items-start">
          <a href={{childComment.user.codecraftersProfileUrl}} class="mt-0.5 flex items-center shrink-0" target="_blank" rel="noopener noreferrer">
            <AvatarImage
              @user={{childComment.user}}
              class="w-6 h-6 mr-3 filter drop-shadow-xs ring-1 ring-white dark:ring-white/5 rounded-full shadow-sm"
            />
          </a>

          <CommentCard @comment={{childComment}} />
        </div>
      {{/each}}
    </div>
  {{/if}}

  {{#if this.shouldShowReplyForm}}
    <CommentForm
      @parentComment={{@comment}}
      @commentModelType={{@comment.constructor.modelName}}
      @onCancel={{this.handleCancelReplyButtonClick}}
      @onSubmit={{this.handleReplySubmitted}}
      class="border-t border-gray-200 dark:border-white/5"
    />
  {{/if}}
</div>