<BasicDropdown @renderInPlace={{true}} @horizontalPosition="auto-right" @verticalPosition="below" as |dd|>
  <dd.Trigger>
    <div class="text-gray-400" data-test-more-dropdown-toggle>
      {{svg-jar "dots-horizontal" class=(concat "fill-current w-5 transform transition-all " (if dd.isOpen "text-teal-500" ""))}}
    </div>
  </dd.Trigger>
  <dd.Content>
    <div class="py-2 border rounded shadow text-sm text-gray-600 min-w-[150px] max-w-xl bg-white" data-test-more-dropdown-content>
      {{#if this.shouldShowEditButton}}
        <div
          class="px-3 py-2 hover:bg-gray-50 flex items-center justify-between group"
          role="button"
          {{on "click" (fn this.handleEditButtonClick dd.actions)}}
        >
          Edit
        </div>
      {{/if}}

      {{#if this.shouldShowDeleteButton}}
        <div
          class="px-3 py-2 hover:bg-gray-50 flex items-center justify-between group text-red-600"
          role="button"
          {{on "click" (fn this.handleDeleteButtonClick dd.actions)}}
        >
          Delete
        </div>
      {{/if}}

      {{#if this.shouldShowEditInAdminPanelButton}}
        <a
          href={{@comment.adminPanelEditUrl}}
          target="_blank"
          rel="noopener noreferrer"
          class="px-3 py-2 hover:bg-gray-50 flex items-center justify-between group"
        >
          Edit as admin
        </a>
      {{/if}}
    </div>
  </dd.Content>
</BasicDropdown>