<div class="border-b">
  <div class="container mx-auto pt-8 px-6">
    <div class="flex items-center gap-3 mb-4">
      <LinkTo
        @route="course"
        @model={{@course.slug}}
        class="group flex items-center text-gray-400 hover:text-gray-500 transition-colors flex-shrink-0"
      >
        {{svg-jar "arrow-left" class="w-6 mr-1 fill-current"}}
      </LinkTo>

      <CourseLogo @course={{@course}} class="w-8 h-8" />

      <div class="font-bold text-2xl text-gray-700">{{@course.name}}</div>
    </div>

    <div class="flex items-center">
      {{#each this.tabs key="slug" as |tab|}}
        <LinkTo @route={{tab.route}} @models={{tab.models}} class="flex">
          <CoursePage::Header::TabLink @icon={{tab.icon}} @text={{tab.name}} @isActive={{tab.isActive}} />
        </LinkTo>
      {{/each}}
    </div>
  </div>
</div>