<div class="border-b">
  <div class="container mx-auto pt-8 px-6">
    <LinkTo @route="course" @model={{@course.slug}} class="group flex items-center text-gray-400 hover:text-gray-500 transition-colors mb-4 text-sm">
      {{svg-jar "arrow-left" class="w-4 mr-1 fill-current"}}
      <span class="font-bold uppercase tracking-wide">Challenge Page</span>
    </LinkTo>

    <div class="flex items-center mb-4">
      <div class="w-10 h-10 flex items-center justify-center rounded bg-gray-700 mr-4 shadow">
        {{! @glint-expect-error: not ts-ified yet }}
        <CourseLogo @course={{@course}} class="w-8 h-8" />
      </div>

      <div class="font-bold text-2xl text-gray-700">{{@course.name}}</div>
    </div>

    <div class="flex items-center">
      {{#each this.tabs key="slug" as |tab|}}
        <CoursePage::Header::TabLink @icon={{tab.icon}} @route={{tab.route}} @models={{tab.models}} @text={{tab.name}} @isActive={{tab.isActive}} />
      {{/each}}
    </div>
  </div>
</div>