<div class="flex justify-between">
  <div class="py-3">
    <h3 class="text-lg font-bold text-gray-800">
      {{this.filteringTitle}}
    </h3>
    <div class="text-xs text-gray-400">
      {{this.filteringDescription}}
    </div>
  </div>

  <div class="flex items-center">
    <CourseStageDropdown
      @course={{@course}}
      @selectedCourseStage={{this.currentCourseStage}}
      @onAllCourseStagesDropdownLinkClick={{this.handleAllCourseStagesDropdownLinkClick}}
      @onSelectedCourseStageChange={{this.handleCourseStageChange}}
      class="py-3 mr-4"
    />

    <LanguageDropdown
      @languages={{this.sortedLanguagesForDropdown}}
      @requestedLanguage={{this.requestedLanguage}}
      @selectedLanguage={{this.currentLanguage}}
      @shouldShowAllLanguagesOption={{true}}
      @onAllLanguagesDropdownLinkClick={{this.handleAllLanguagesDropdownLinkClick}}
      @onRequestedLanguageChange={{this.handleRequestedLanguageChange}}
      @onDidInsertDropdown={{(noop)}}
      class="py-3"
    />
  </div>
</div>

<div class="border-t pb-4">
  <div class="flex h-screen items-stretch">
    <CourseAdmin::SubmissionsPage::TimelineContainer
      @onSubmissionSelect={{mut this.selectedSubmission}}
      @submissions={{@submissions}}
      @selectedSubmission={{this.selectedSubmission}}
      class="w-1/4 border-r overflow-y-scroll"
    />

    <CourseAdmin::SubmissionsPage::SubmissionDetailsContainer
      @submission={{this.selectedSubmission}}
      class="w-3/4 pr-0 overflow-y-scroll"
      data-test-submission-details
    />
  </div>
</div>