<button
  type="button"
  class="border border-gray-300 dark:border-white/10 rounded-md px-4 py-5 bg-linear-to-b from-white to-gray-100 dark:from-gray-925 dark:to-gray-925 hover:to-gray-200 dark:hover:from-gray-850 dark:hover:to-gray-850 hover:border-gray-400 dark:hover:border-white/15 w-full flex items-center text-left group/action-button"
  ...attributes
>
  {{#if @isProcessing}}
    {{svg-jar
      "spinner"
      class="w-6 h-6 sm:w-8 sm:h-8 mr-3 text-teal-500 shrink-0 transition-transform duration-100 group-hover/action-button:scale-105"
    }}
  {{else}}
    {{svg-jar @icon class="w-6 h-6 sm:w-8 sm:h-8 mr-3 text-teal-500 shrink-0 transition-transform duration-100 group-hover/action-button:scale-105"}}
  {{/if}}

  <div class="grow">
    <div class="font-semibold text-gray-700 dark:text-gray-200 mb-0.5" data-test-action-button-title>
      {{@title}}
    </div>

    <div class="text-gray-500 dark:text-gray-400 text-xs">
      {{@description}}
    </div>
  </div>

  {{svg-jar
    "arrow-right"
    class=(concat
      "w-4 h-4 sm:w-6 sm:h-6 ml-6 text-teal-500 shrink-0 transition-transform duration-100 group-hover/action-button:translate-x-0.5 "
      (if @isProcessing "animate-bounce")
    )
  }}
</button>