<div class="flex flex-col items-center w-full">
  <div class="w-20 h-20 mb-2">
    <RiveAnimation @src="/assets/animations/checkmark_icon.riv" />
  </div>

  <div class="mb-2 font-bold text-2xl text-gray-700 dark:text-gray-100" data-test-modal-title>
    Tests passed!
  </div>

  <div class="prose dark:prose-invert mb-5 text-center">
    <p>
      You can now mark this stage as complete.
    </p>
  </div>

  {{#animated-if @isCreatingCourseStageCompletion}}
    <div class="flex flex-col gap-2 w-full">
      <CoursePage::CourseStageStep::TestsPassedModal::ActionButton
        @icon="check"
        @title="Marking stage as complete..."
        @description="This should be quick"
        @isProcessing={{true}}
        data-test-mark-stage-as-complete-button
        {{on "click" (fn @onActionButtonClick "mark_stage_as_complete")}}
      />
    </div>
  {{else}}
    <div class="flex flex-col gap-2 w-full items-center">
      {{#unless @currentStep.courseStage.isFirst}}
        <CoursePage::CourseStageStep::TestsPassedModal::ActionButton
          @icon="code"
          @title="Refactor code (optional)"
          @description="Edit your code before moving to the next stage"
          @isProcessing={{false}}
          data-test-refactor-code-button
          {{on "click" (fn @onActionButtonClick "refactor_code")}}
        />
      {{/unless}}

      <CoursePage::CourseStageStep::TestsPassedModal::ActionButton
        @icon="check"
        @title="Mark stage as complete"
        @description="Submit code and proceed to the next stage"
        @isProcessing={{false}}
        data-test-mark-stage-as-complete-button
        {{on "click" (fn @onActionButtonClick "mark_stage_as_complete")}}
      />
    </div>
  {{/animated-if}}
</div>