<ModalBody class="w-full max-w-xl" @shouldCloseOnOutsideClick={{false}} @shouldShowCloseButton={{false}} @onClose={{@onClose}} data-test-tests-passed-modal ...attributes>
  <AnimatedContainer>
    <div class="flex flex-col items-center w-full">
      {{#animated-if (eq this.action "choose_action")}}
        <CoursePage::CourseStageStep::TestsPassedModal::ChooseActionStep
          @currentStep={{@currentStep}}
          @onActionButtonClick={{this.handleActionButtonClick}}
          @onViewInstructionsLinkClick={{@onClose}}
          @isCreatingCourseStageCompletion={{this.courseStageCompletion.createTask.isRunning}}
        />
      {{/animated-if}}

      {{#animated-if (eq this.action "submit_code")}}
        <CoursePage::CourseStageStep::TestsPassedModal::SubmitCodeStep
          @onActionButtonClick={{this.handleActionButtonClick}}
          @onBackButtonClick={{fn this.handleActionButtonClick "choose_action"}}
          @onViewInstructionsLinkClick={{@onClose}}
          @repository={{@currentStep.repository}}
        />
      {{/animated-if}}

      {{#animated-if (eq this.action "refactor_code")}}
        <CoursePage::CourseStageStep::TestsPassedModal::RefactorCodeStep
          @onBackButtonClick={{fn this.handleActionButtonClick "choose_action"}}
          @onViewInstructionsLinkClick={{@onClose}}
          @currentStep={{@currentStep}}
        />
      {{/animated-if}}
    </div>
  </AnimatedContainer>
</ModalBody>