<ModalBody class="w-full" @allowManualClose={{false}} @onClose={{@onClose}} data-test-tests-passed-modal ...attributes>
  <AnimatedContainer>
    <div class="flex flex-col items-center w-full">
      {{#animated-if (eq this.action "choose_action")}}
        <CoursePage::CourseStageStep::TestsPassedModal::ChooseActionStep
          @onActionButtonClick={{fn this.handleActionButtonClick}}
          @onViewInstructionsLinkClick={{@onClose}}
        />
      {{/animated-if}}

      {{#animated-if (eq this.action "mark_stage_as_complete")}}
        <CoursePage::CourseStageStep::TestsPassedModal::MarkStageAsCompleteStep
          @onBackButtonClick={{fn this.handleActionButtonClick "choose_action"}}
          @onViewInstructionsLinkClick={{@onClose}}
        />
      {{/animated-if}}

      {{#animated-if (eq this.action "refactor_code")}}
        <div>
          Refactor code
        </div>
      {{/animated-if}}
    </div>
  </AnimatedContainer>
</ModalBody>