<ModalBody @allowManualClose={{true}} @onClose={{@onClose}} class="w-full" data-test-campus-program-application-modal>
  <div class="mb-6 font-semibold text-2xl text-gray-800 dark:text-gray-200 mr-8">
    Campus Program Application
  </div>

  <AnimatedContainer>
    {{#if
      (and
        this.latestSavedGrantApplication
        (eq this.latestSavedGrantApplication.status "awaiting_verification")
        (not this.isOverridingSavedGrantApplication)
      )
    }}
      <InstitutionPage::CampusProgramApplicationModal::VerifyEmailStepContainer
        {{! @glint-expect-error this.latestSavedGrantApplication is guaranteed non-null by the if condition }}
        @application={{this.latestSavedGrantApplication}}
        @onChangeOrResendEmailButtonClick={{this.handleChangeOrResendEmailButtonClick}}
      />
    {{else if
      (and this.latestSavedGrantApplication (eq this.latestSavedGrantApplication.status "rejected") (not this.isOverridingSavedGrantApplication))
    }}
      <InstitutionPage::CampusProgramApplicationModal::ApplicationRejectedStepContainer
        @onChangeOrResendEmailButtonClick={{this.handleChangeOrResendEmailButtonClick}}
      />
    {{else}}
      <InstitutionPage::CampusProgramApplicationModal::EnterEmailStepContainer
        @institution={{@institution}}
        @prefilledEmailAddress={{this.latestSavedGrantApplication.normalizedEmailAddress}}
        @onSubmit={{this.handleEnterEmailStepSubmitted}}
      />
    {{/if}}
  </AnimatedContainer>
</ModalBody>