<ModalBody @allowManualClose={{true}} @onClose={{@onClose}} class="w-full" data-test-campus-program-application-modal>
  <div class="mb-6 font-semibold text-2xl text-gray-800 dark:text-gray-200 mr-8">
    Campus Program Application
  </div>

  <AnimatedContainer>
    {{#animated-if (or (not this.latestSavedGrantApplication) this.shouldShowEnterEmail) use=this.transition}}
      <InstitutionPage::CampusProgramApplicationModal::EnterEmailStepContainer
        @institution={{@institution}}
        @prefilledEmailAddress={{this.latestSavedGrantApplication.normalizedEmailAddress}}
        @onSubmit={{this.handleEnterEmailStepSubmitted}}
      />
    {{else}}{{#if (eq this.latestSavedGrantApplication.status "awaiting_verification")}}
        <InstitutionPage::CampusProgramApplicationModal::VerifyEmailStepContainer
          {{! @glint-expect-error this.latestSavedGrantApplication is nullable}}
          @application={{this.latestSavedGrantApplication}}
          @onChangeOrResendEmailButtonClick={{this.handleChangeOrResendEmailButtonClick}}
        />
      {{/if}}{{/animated-if}}
  </AnimatedContainer>
</ModalBody>