<div class="flex items-center justify-between" ...attributes data-test-track-header>
  <div class="grow">
    <div class="flex items-center justify-between mb-1 md:mb-1.5">
      {{! pr-2 is used because tracking-tighter can cause the background gradient to cut off the ending "." character }}
      <h1
        class="text-gradient-to-b from-gray-925 to-gray-700 dark:from-white dark:to-gray-300 leading-10 md:leading-14 text-3xl md:text-5xl font-bold tracking-tighter pr-2"
      >
        Master
        {{@language.name}}.
      </h1>
      <div class="flex md:hidden h-12 w-12 shrink-0">
        {{#if (eq @language.name "Gleam")}}
          <RiveAnimation @src="/assets/animations/gleam_logo_animation.riv" />
        {{else}}
          <LanguageLogo @language={{@language}} @variant="color" class="dark:opacity-90" />
        {{/if}}
      </div>
    </div>

    <p class="text-gray-600 dark:text-gray-400 mb-3 max-w-2xl text-base md:text-lg" data-test-track-header-description>
      {{markdown-to-html @language.trackDescriptionMarkdown}}
    </p>

    <div class="flex items-center gap-3 flex-wrap">
      {{#if (gt @language.trackLearnersCount 3000)}}
        {{! Extra if condition helps glint know that @language.trackLearnersCount is defined }}
        {{#if @language.trackLearnersCount}}
          <TrackPage::Header::Statistic @description="{{format-number @language.trackLearnersCount}} learners" @icon="users" class="shrink-0" />
          <div class="w-px h-4 bg-gray-200 dark:bg-white/5"></div>
        {{/if}}
      {{/if}}

      <TrackPage::Header::Statistic @description="{{format-number @language.liveOrBetaStagesCount}} exercises" @icon="terminal" class="shrink-0" />
    </div>

    {{#if (has-block "cta")}}
      {{yield to="cta"}}
    {{else}}
      {{#if this.authenticator.isAnonymous}}
        <div class="flex items-center flex-wrap gap-x-2 gap-y-4 mt-5">
          {{! TODO: Bring this back for authed users once we can account for both concepts & challenges }}
          <TrackPage::StartTrackButton @language={{@language}} @courses={{@courses}} />
        </div>
      {{else if this.currentUserHasStartedTrack}}
        <div class="flex items-center flex-wrap gap-x-2 gap-y-4 mt-5">
          <TrackPage::ResumeTrackButton @language={{@language}} @courses={{@courses}} />

          {{#if (gt this.topParticipants.length 0)}}
            <div class="hidden sm:flex items-center">
              <div class="flex -space-x-1 hover:space-x-1 items-center">
                {{#each this.topParticipants as |user|}}
                  <TrackPage::Header::TopParticipantAvatar @user={{user}} />
                {{/each}}
              </div>

              <span class="text-xs text-gray-600 dark:text-gray-400 ml-2">Join the best</span>
            </div>
          {{/if}}
        </div>
      {{/if}}
    {{/if}}
  </div>
  <div class="ml-4 hidden md:flex h-36 w-36 shrink-0">
    {{#if (eq @language.name "Gleam")}}
      <RiveAnimation @src="/assets/animations/gleam_logo_animation.riv" />
    {{else}}
      <LanguageLogo @language={{@language}} @variant="color" class="dark:opacity-90" />
    {{/if}}
  </div>
</div>