<LinkTo
  @route="concept"
  @models={{array @concept.slug}}
  class="block hover:bg-gray-50 dark:hover:bg-gray-700/50 py-1.5 -mx-1.5 px-1.5 rounded-sm"
  target="_blank"
  data-test-concept-list-item
  ...attributes
>
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <div class="w-2 h-2 {{if this.isComplete 'bg-teal-500' 'bg-gray-200 dark:bg-gray-700'}} rounded-full mr-2"></div>

      {{! TODO: Qualify all heroicons with solid/outline }}
      {{svg-jar "book-open-outline" class=(concat "w-6 mr-2 text-gray-400 dark:text-gray-600 " (if this.isComplete "opacity-50"))}}

      <div class="prose dark:prose-invert prose-sm {{if this.isComplete 'opacity-50'}}">
        {{@concept.title}}
      </div>
    </div>

    {{#if this.isComplete}}
      {{svg-jar "check" class="ml-1 w-5 text-teal-500"}}
    {{else}}
      <div class="flex items-center gap-1 pl-4 shrink-0">
        <span class="text-xs text-gray-400 dark:text-gray-600">
          {{@concept.estimatedReadingTimeInMinutes}}
          mins
        </span>

        {{svg-jar "clock" class="w-4 fill-current text-gray-300 dark:text-gray-700"}}
      </div>
    {{/if}}

    {{#unless this.isComplete}}
      <EmberTooltip @text={{@concept.descriptionMarkdown}} />
    {{/unless}}
  </div>
</LinkTo>