<div class="flex justify-center items-center" ...attributes>
  <div class="flex flex-col items-center max-w-xs bg-white px-4 py-12 border rounded-lg shadow-lg">
    <div class="flex items-center justify-center">
      <AvatarImage
        @user={{@referralLink.user}}
        class="w-16 h-16 border border-gray-300 rounded shadow-sm group-hover:shadow mr-2 transition-shadow rounded-md"
      />

      {{svg-jar "plus" class="w-10 h-10 text-gray-600 mr-2 opacity-90 group-hover:opacity-100 transition-all"}}

      <img class="h-14" src={{this.logoImage}} alt="CodeCrafters" />
    </div>

    <div class="prose text-center max-w-sm mt-10 text-gry-600">
      <b>@{{@referralLink.user.username}}</b>
      wants to gift you<br />
      <b>1 free week</b>
      of CodeCrafters
    </div>

    {{#if this.currentUserAlreadyAcceptedReferralOffer}}
      <div class="py-6 px-5 mt-6 rounded bg-teal-50 border border-teal-600 prose" data-test-accepted-referral-notice>
        <p>
          🎉 Offer Accepted!
        </p>

        <p>
          You now have 1 free week of CodeCrafters, expiring on
          {{this.freeUsageGrantExpiresAt}}.
        </p>

        <p>
          Visit
          <LinkTo @route="catalog">catalog</LinkTo>
          to get started.
        </p>

        <p>
          Want more free weeks? Visit
          <LinkTo @route="refer">/refer</LinkTo>.
        </p>
      </div>
    {{else}}
      <div class="inline-flex mt-8">
        <PrimaryButtonWithSpinner
          @size="regular"
          @shouldShowSpinner={{this.isCreatingReferralActivation}}
          @isDisabled={{not this.acceptOfferButtonIsEnabled}}
          class="px-5 py-3"
          data-test-accept-referral-button
          {{on "click" this.handleAcceptOfferButtonClick}}
        >
          {{#if this.currentUserIsAnonymous}}
            {{svg-jar "github" class="fill-current w-5 transform transition-all mr-2"}}
          {{/if}}

          Accept offer →
        </PrimaryButtonWithSpinner>

        {{#if this.currentUserIsAnonymous}}
          <EmberTooltip @text="Click to login via GitHub" />
        {{else if this.currentUserIsReferrer}}
          <EmberTooltip @text="You can't accept your own referral offer." />
        {{else if this.currentUserAcceptedReferralOfferIsExpired}}
          <EmberTooltip
            @text="You've already accepted another referral offer. You can refer other users to get more free weeks. Visit /refer to get started."
          />
        {{else if this.currentUser.canAccessMembershipBenefits}}
          <EmberTooltip @text="As a CodeCrafters member, you already have full access." />
        {{else if this.currentUser.canAccessPaidContent}}
          <EmberTooltip @text="You already have full access to CodeCrafters content." />
        {{/if}}
      </div>

      <div class="text-gray-500 text-xs mt-3">
        No credit card required.
      </div>
    {{/if}}

  </div>
</div>