<a href={{@testimonial.link}} class="block py-4 pr-6 pl-4 group bg-white rounded border" target="_blank" rel="noopener noreferrer" ...attributes>
  <span class="flex">
    <span class="flex flex-col items-center mr-3 px-1">
      <span class="w-px bg-gray-200 group-hover:bg-gray-300 flex-grow mb-2 transition-colors">
      </span>
      <span class="text-4xl text-indigo-400 leading-none font-bold h-5">
        &ldquo;
      </span>
      <span class="w-px bg-gray-200 group-hover:bg-gray-300 flex-grow mb-2 transition-colors">
      </span>
    </span>
    <span class="flex-grow flex flex-col">
      <span class="text-gray-600 text-sm mb-2 leading-relaxed flex-grow">
        {{@testimonial.text}}
      </span>
    </span>
  </span>
  <span class="flex items-start">
    <img alt="avatar" src={{@testimonial.authorAvatarImage}} class="w-6 h-6 filter drop-shadow-sm ring-1 ring-white rounded-full shadow mr-3" />
    <span class="block mt-0.5">
      <span class="block text-gray-600 group-hover:underline text-sm transition-colors font-semibold mb-0.5">
        {{@testimonial.authorName}}
      </span>
      <span class="block text-gray-500 text-xs">
        {{@testimonial.authorDesignation}}
      </span>
    </span>
  </span>
</a>