<button
  type="button"
  class="hover:bg-white pr-2 pl-1 py-0.5 rounded flex items-center border
    {{if this.currentUserHasUpvoted 'border-teal-500 hover:border-teal-600' 'border-gray-200 hover:border-gray-300'}}
    transition-all duration-75 active:border-teal-600"
  ...attributes
  data-test-upvote-button
  {{on "click" this.handleClick}}
>
  {{svg-jar "chevron-up" class=(concat "w-4 mr-0.5 transition-all duration-75 " (if this.currentUserHasUpvoted "text-teal-500" "text-gray-300"))}}

  <span class="text-xs {{if this.currentUserHasUpvoted 'text-teal-500' 'text-gray-500'}} transition-all duration-75">
    <span class="font-semibold">{{sub (add @comment.upvotesCount 1) @comment.downvotesCount}}</span>
  </span>
</button>