<div class="prose dark:prose-invert prose-compact mb-3">
  {{#if (eq @repository.course.slug "shell")}}
    {{markdown-to-html @courseStage.shortInstructionsMarkdown}}
  {{/if}}

  <p>
    Head over to your editor / IDE and implement your solution.
  </p>
</div>

{{#if (and @shouldShowSolution this.solution)}}
  <BlurredOverlay
    {{on "click" this.handleRevealSolutionButtonClick}}
    class="mb-3 group"
    @isBlurred={{this.solutionIsBlurred}}
    @overlayClass="inset-px rounded cursor-pointer group-hover:backdrop-blur-[3px] group-hover:bg-gray-50/20 dark:bg-gray-900/20 dark:group-hover:bg-gray-900/0"
  >
    <:content>
      <div class="flex flex-col gap-4">
        {{#each this.solution.changedFiles as |changedFile|}}
          {{! Extra if condition convinces typescript that solution isn't null }}
          {{#if this.solution}}
            <FileDiffCard
              @filename={{changedFile.filename}}
              @code={{changedFile.diff}}
              @language={{this.solution.language.slug}}
              data-test-file-diff-card
            />
          {{/if}}
        {{/each}}
      </div>
    </:content>

    <:overlay>
      <SecondaryButton
        class="self-center bg-white group-hover:bg-teal-50 dark:bg-gray-900 dark:group-hover:bg-gray-900/80 backdrop-blur-3xl group-hover:text-teal-600 dark:group-hover:text-teal-400 group-hover:border-teal-600 dark:group-hover:border-teal-400"
        data-test-reveal-solution-button
      >
        <div class="flex items-center gap-2">
          {{svg-jar "eye" class="size-6"}}
          <span>Click to reveal solution</span>
        </div>
      </SecondaryButton>
    </:overlay>
  </BlurredOverlay>
{{/if}}

{{#unless this.solutionIsBlurred}}
  {{#if @languageGuide}}
    <CoursePage::CourseStageStep::EmbeddedLanguageGuideCard @languageGuide={{@languageGuide}} />
  {{/if}}
{{/unless}}