<div class="bg-white dark:bg-gray-950 rounded-lg shadow-xs border border-gray-200 dark:border-white/5 overflow-hidden flex flex-col">
  <div class="grow flex items-center justify-center px-6 py-6">
    <div class="text-gray-600 dark:text-gray-300 text-pretty">
      "{{@testimonial.text}}"
    </div>
  </div>
  <div class="flex items-center justify-between bg-gray-50 dark:bg-gray-925 gap-x-4 px-6 py-4 border-t border-gray-100 dark:border-white/5">
    <div class="flex items-center">
      <img
        src="{{@testimonial.authorAvatarImage}}"
        alt="{{@testimonial.authorName}} avatar"
        class="w-10 h-10 filter drop-shadow-xs ring-1 ring-white dark:ring-gray-925 rounded-full shadow-sm mr-3"
      />
      <div>
        <div class="font-semibold text-gray-700 dark:text-gray-300">{{@testimonial.authorName}}</div>
        <div class="text-gray-400 dark:text-gray-500 text-xs">{{@testimonial.authorDesignation}}</div>
      </div>
    </div>

    {{#if @testimonial.authorCompanyLogo}}
      <img src="{{@testimonial.authorCompanyLogo}}" alt="company" class="h-5 contrast-0 opacity-40" />
    {{/if}}
  </div>
</div>