<div
  class="flex flex-col items-start rounded-lg bg-gray-50 dark:bg-gray-925 shadow-md shadow-gray-300/50 dark:shadow-gray-950/50 border
    {{if @isRecommended 'border-teal-500 dark:border-teal-700' 'border border-gray-100 dark:border-white/5'}}
    filter relative"
  ...attributes
>
  <div class="flex flex-col items-start bg-white dark:bg-gray-950 rounded-t-lg border-b border-gray-100 dark:border-white/5 px-6 pt-8 pb-8 w-full">
    <div class="text-lg font-bold text-gray-700 dark:text-gray-300 border-gray-100 uppercase">
      {{@title}}
    </div>

    <div class="text-gray-600 dark:text-gray-400 text-sm mb-4">
      {{@subtitle}}
    </div>

    <div class="text-gray-400 dark:text-gray-500 text-sm">
      {{@description}}
    </div>
  </div>
  <div class="p-6 flex flex-col grow items-center justify-between w-full">
    <div class="w-full">
      {{#each @featureDescriptions as |featureDescription|}}
        <div class="flex items-center py-1 gap-2">
          {{svg-jar "check" class="w-6 fill-current text-teal-500 dark:text-teal-600"}}

          {{#if featureDescription.link}}
            <a href={{featureDescription.link}} target="_blank" class="flex items-center gap-1 group" rel="noopener noreferrer">
              <span
                class="text-gray-600 dark:text-gray-300 text-sm border-b border-gray-300 dark:border-gray-700 border-dashed group-hover:border-gray-400 dark:group-hover:border-gray-600"
              >{{featureDescription.text}}</span>
              {{svg-jar
                "information-circle"
                class="w-4 h-4 fill-current text-gray-300 dark:text-gray-600 group-hover:text-gray-400 dark:group-hover:text-gray-500"
              }}
            </a>
          {{else}}
            <span class="text-gray-600 dark:text-gray-300 text-sm">{{featureDescription.text}}</span>
          {{/if}}
        </div>
      {{/each}}
    </div>

    <div class="flex items-center justify-center w-full mt-6">
      {{#if @isRecommended}}
        <button
          class="w-full flex items-center justify-center transition-colors p-3 font-bold rounded-full shadow border border-teal-500 hover:border-teal-600 dark:border-teal-700 dark:hover:border-teal-600 bg-teal-500 hover:bg-teal-600 dark:bg-teal-900 dark:hover:bg-teal-800 text-white dark:text-teal-50 px-5 py-3 text-sm"
          data-test-pricing-plan-card-cta
          type="button"
          {{on "click" @onCtaClick}}
        >
          {{@ctaText}}&nbsp;→
        </button>
      {{else}}
        <button
          class="w-full flex items-center justify-center transition-colors p-3 font-bold rounded-full border bg-gray-50 dark:bg-gray-900 hover:bg-white dark:hover:bg-gray-850 border-gray-300 dark:border-gray-700 text-gray-600 dark:text-gray-300 px-5 py-3 text-sm"
          data-test-pricing-plan-card-cta
          type="button"
          {{on "click" @onCtaClick}}
        >
          {{@ctaText}}&nbsp;→
        </button>
      {{/if}}
    </div>
  </div>
</div>