<CoursePage::PreviousStepsIncompleteOverlay @currentStep={{this.currentStep}}>
  <CoursePage::CurrentStepCompleteOverlay @currentStep={{this.currentStep}}>
    <CoursePage::CourseStageStep::TestsPassedOverlay @currentStep={{this.currentStep}}>
      <div class="pt-6 pb-32 px-3 md:px-6 lg:px-10" {{did-update this.handleDidUpdateTestsStatus this.currentStep.testsStatus}}>
        {{#if this.shouldShowUpgradePrompt}}
          <CourseOverviewPage::Notices::PaidCourseNotice @course={{@model.courseStage.course}} class="mb-6" />
        {{/if}}

        {{#if this.shouldShowFeedbackPrompt}}
          <CoursePage::CourseStageStep::FeedbackPrompt
            @courseStage={{@model.courseStage}}
            @repository={{@model.activeRepository}}
            @onSubmit={{this.handleStageFeedbackSubmitted}}
            class="mb-6"
          />
        {{/if}}

        {{! TODO: Bring this back? }}
        {{!-- {{#if this.shouldShowPrerequisites}}
        <CoursePage::CourseStageStep::PrerequisitesCard @repository={{@model.activeRepository}} @courseStage={{@model.courseStage}} class="mb-6" />
      {{/if}} --}}

        {{#if @model.courseStage.isFirst}}
          <CoursePage::CourseStageStep::FirstStageYourTaskCard @currentStep={{this.currentStep}} />
        {{else if @model.courseStage.isSecond}}
          <CoursePage::CourseStageStep::SecondStageYourTaskCard @currentStep={{this.currentStep}} />
        {{else}}
          <CoursePage::CourseStageStep::YourTaskCard @repository={{@model.activeRepository}} @courseStage={{@model.courseStage}} />
        {{/if}}

        {{#if this.shouldShowTestRunnerCard}}
          <div class="mt-6">
            <CoursePage::CourseStageStep::TestRunnerCard
              {{! template-lint-disable no-duplicate-id }}
              id="test-runner-card"
              @isCollapsible={{true}}
              @repository={{@model.activeRepository}}
              @stage={{@model.courseStage}}
            />
          </div>
        {{/if}}

        <div data-percy-hints-section>
          <div class="border-b border-gray-200 dark:border-white/5 pb-2 mb-6 mt-8 flex items-center justify-between">
            <h2 class="font-semibold text-lg text-gray-900 dark:text-gray-200">Hints</h2>

            {{#if @model.activeRepository.language}}
              <div class="flex items-center gap-1">
                <span class="text-xs text-gray-500 mr-2">Filter by {{@model.activeRepository.language.name}}</span>
                <Toggle @isOn={{this.commentListIsFilteredByLanguage}} {{on "click" this.handleCommentListFilterToggled}} />

                <EmberTooltip>
                  {{#if this.commentListIsFilteredByLanguage}}
                    You're currently viewing hints that are relevant to
                    {{@model.activeRepository.language.name}}. Turn this off to view hints for all languages.
                  {{else}}
                    You're currently viewing hints for all languages. Turn this on to filter hints that are relevant to
                    {{@model.activeRepository.language.name}}.
                  {{/if}}
                </EmberTooltip>
              </div>
            {{/if}}
          </div>

          <CoursePage::CommentList
            @courseStage={{@model.courseStage}}
            @language={{@model.activeRepository.language}}
            @shouldFilterByLanguage={{this.commentListIsFilteredByLanguage}}
          />
        </div>
      </div>
    </CoursePage::CourseStageStep::TestsPassedOverlay>
  </CoursePage::CurrentStepCompleteOverlay>
</CoursePage::PreviousStepsIncompleteOverlay>