<div
  class="flex flex-col items-center gap-y-6 bg-teal-50/25 dark:bg-teal-900/30 border-teal-500 dark:border-teal-600 px-4
    {{if (eq @verticalSize 'tall') 'py-12' 'py-8'}}
    border rounded-md shadow-xl group"
  ...attributes
>
  <div class="flex items-center justify-center">
    {{#if @affiliateLink.avatarIsGitHubAvatar}}
      <img
        alt="avatar"
        src={{@affiliateLink.affiliateAvatarUrl}}
        class="w-16 h-16 mr-2 rounded-md border border-gray-300 shadow-xs group-hover:shadow-sm transition-shadow"
      />
    {{else}}
      <img alt="avatar" src={{@affiliateLink.affiliateAvatarUrl}} class="w-16 h-16 mr-2" />
    {{/if}}

    {{svg-jar "plus" class="w-10 h-10 text-gray-600 dark:text-gray-400 mr-2 opacity-90 group-hover:opacity-100 transition-all"}}

    <img class="h-14" src={{this.logoImage}} alt="CodeCrafters" />
  </div>

  <div class="prose dark:prose-invert text-center max-w-sm">
    <b class="dark:text-gray-50">@{{@affiliateLink.affiliateName}}</b>
    wants you to try CodeCrafters. Signing up is free.
    <b class="dark:text-gray-50">40% off</b>
    if you upgrade.
  </div>

  <div class="flex flex-col items-center">
    {{! Disabled buttons can be translucent, the added background makes them more visible }}
    <div class="inline-flex bg-white dark:bg-gray-925 rounded-sm">
      <AffiliateLinkPage::AcceptReferralButton @affiliateLink={{@affiliateLink}} @course={{@course}} />
    </div>

    <div class="text-gray-500 dark:text-gray-400 text-xs mt-3">
      No credit card required.
    </div>
  </div>
</div>