<div class="flex flex-col items-center justify-center" ...attributes>
  <PrimaryButtonWithSpinner
    @size="regular"
    @shouldShowSpinner={{this.isCreatingAffiliateReferral}}
    @isDisabled={{not this.acceptOfferButtonIsEnabled}}
    class="px-5 py-3"
    data-test-accept-referral-button
    {{on "click" this.handleAcceptOfferButtonClick}}
  >
    {{#if this.currentUserIsAnonymous}}
      {{svg-jar "github" class="fill-current w-5 transform transition-all mr-2"}}
    {{/if}}

    Accept offer →
    {{#if this.currentUserIsAnonymous}}
      <EmberTooltip @text="Click to login via GitHub" />
    {{else if this.currentUserIsReferrer}}
      <EmberTooltip @text="You can't accept your own referral offer." />
    {{else if this.currentUserIsAlreadyEligibleForReferralDiscount}}
      <EmberTooltip
        @text="You've already accepted {{this.currentUser.currentAffiliateReferral.affiliateLink.usernameForDisplay}}'s referral offer."
      />
    {{else if this.currentUserCanAccessMembershipBenefits}}
      <EmberTooltip @text="As a CodeCrafters member, you already have full access." />
    {{/if}}
  </PrimaryButtonWithSpinner>
</div>