<div data-test-comments-tab {{did-update this.loadComments @requestedSolutionLanguage @courseStage}}>
  <Alert class="mb-4">
    Hints are experimental, please send us
    <div class="inline-flex"><FeedbackButton class="font-blue-500 hover:font-blue-600 font-semibold underline">feedback</FeedbackButton></div>.
  </Alert>

  <CoursePage::CourseStageSolutionModal::CommentTimelineItem @author={{this.currentUser}}>
    <div class="shadow-sm rounded border border-gray-300 w-full mb-4">
      <CommentForm @target={{@courseStage}} @language={{@language}} @commentModelType="course-stage-comment" />
    </div>
  </CoursePage::CourseStageSolutionModal::CommentTimelineItem>

  {{#if this.isLoading}}
    <div class="flex justify-center items-center py-32 w-full">
      <img alt="Loading icon" src={{this.rippleSpinnerImage}} class="w-4 h-4" />
      <span class="ml-3 text-gray-700">Loading...</span>
    </div>
  {{else}}
    {{#each this.sortedComments key="id" as |comment|}}
      <CoursePage::CourseStageSolutionModal::CommentTimelineItem @author={{comment.user}}>
        <div class="shadow-sm rounded border border-gray-300 w-full mb-4">
          <CommentCard @comment={{comment}} />
        </div>
      </CoursePage::CourseStageSolutionModal::CommentTimelineItem>
    {{/each}}
  {{/if}}
</div>