<div data-test-community-solutions-tab {{did-update this.loadSolutions @requestedSolutionLanguage}}>
  <div class="flex p-3 bg-blue-100 border border-blue-300 rounded shadow-sm mb-4" ...attributes>
    <div class="mr-3 mt-0.5">
      {{svg-jar "information-circle" class="w-6 fill-current text-blue-400"}}
    </div>
    <div class="text-blue-900 prose prose-blue leading-7 text-sm">
      Solutions are experimental, please send us
      <div class="inline-flex"><FeedbackButton class="font-blue-500 hover:font-blue-600 font-semibold underline">feedback</FeedbackButton></div>.
    </div>
  </div>

  <div class="relative">
    <div class="{{if this.shouldShowBlurredOverlay 'blur-sm'}}">
      {{#if this.isLoading}}
        <div class="flex justify-center items-center py-32 w-full">
          <img alt="Loading icon" src="/assets/images/icons/ripple-spinner.svg" class="w-4 h-4" />
          <span class="ml-3 text-gray-700">Loading...</span>
        </div>
      {{else}}
        {{#each this.sortedSolutions as |solution|}}
          <CoursePage::CourseStageSolutionModal::CommunitySolutionCard @solution={{solution}} @isCollapsedByDefault={{true}} />
        {{else}}
          <div class="flex py-16 justify-center items-center w-full">
            <div class="text-sm text-gray-500 text-center max-w-lg">
              No community solutions available for
              {{@requestedSolutionLanguage.name}}. Complete this stage to be the first!
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>

    {{#if this.shouldShowBlurredOverlay}}
      <div class="absolute top-4 left-0 right-0 p-4 flex items-center justify-center" data-test-blurred-overlay>
        <div class="px-8 py-6 bg-white rounded border text-gray-700 max-w-sm shadow">
          <div class="prose" data-test-instructions-text>
            {{this.blurredOverlayInstructionsText}}
          </div>

          <div class="flex items-center mt-4">
            {{#each this.suggestedActionsForBlurredOverlay as |action|}}
              {{#if (eq action "view_comments")}}
                <SecondaryButton @size="small" class="mr-2" data-test-action-button>View Comments</SecondaryButton>
              {{/if}}

              {{#if (eq action "view_community_solutions_in_other_languages")}}
                {{#if (eq 1 this.suggestedActionsForBlurredOverlay.length)}}
                  <PrimaryButton
                    @size="small"
                    class="mr-2"
                    data-test-action-button
                  >{{this.textForViewCommunitySolutionsInOtherLanguagesButton}}</PrimaryButton>
                {{else}}
                  <SecondaryButton
                    @size="small"
                    class="mr-2"
                    data-test-action-button
                  >{{this.textForViewCommunitySolutionsInOtherLanguagesButton}}</SecondaryButton>
                {{/if}}

              {{/if}}
            {{/each}}

            {{#if (eq 0 this.suggestedActionsForBlurredOverlay.length)}}
              <DangerButton
                @size="small"
                data-test-action-button
                {{on "click" this.handleRevealSolutionsButtonClick}}
              >{{this.textForRevealSolutionsButton}}</DangerButton>
            {{else}}
              <div
                data-test-action-button
                {{on "click" this.handleRevealSolutionsButtonClick}}
                role="button"
                class="mx-4 text-red-600 hover:underline text-sm"
              >{{this.textForRevealSolutionsButton}}</div>
            {{/if}}
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</div>