<div class="mb-6 text-2xl" data-test-course-stage-solution-modal-title>
  <span class="text-gray-600">Solution:</span>
  <span class="font-bold text-gray-700">{{@solution.courseStage.name}} </span>
</div>

<div class="flex items-center justify-between mb-6">
  <div class="flex items-center">
    <CoursePage::CourseStageSolutionModal::HeaderTabLink @icon="code" @text="Diff" @isActive={{@isViewingDiff}} {{on "click" @onViewDiffLinkClick}} />

    <CoursePage::CourseStageSolutionModal::HeaderTabLink
      @icon="academic-cap"
      @text="Explanation"
      @isActive={{@isViewingExplanation}}
      {{on "click" @onViewExplanationLinkClick}}
    />
  </div>

  <div>
    <CoursePage::CourseStageSolutionModal::LanguageDropdown
      @currentLanguage={{@currentLanguage}}
      @requestedLanguage={{@requestedLanguage}}
      @courseStage={{@solution.courseStage}}
      @onRequestedLanguageChange={{@onRequestedLanguageChange}}
    />
  </div>
</div>

{{#if (not-eq @requestedLanguage @currentLanguage)}}
  <div class="flex p-3 bg-blue-100 border border-blue-300 rounded shadow-sm mb-6 flex items-center">
    <div class="mr-3">
      {{svg-jar "information-circle" class="w-6 fill-current text-blue-400"}}
    </div>
    <div class="text-blue-900 text-sm">
      This stage doesn't have solutions available for
      {{@requestedLanguage.name}}
      yet, so we're showing solutions for
      <b class="text-blue-800">{{@currentLanguage.name}}</b>
      instead.
    </div>
  </div>
{{/if}}