<div class="mb-4 text-lg md:text-2xl" data-test-course-stage-solution-modal-title>
  <span class="text-gray-600">Stage #{{@courseStage.position}}:</span>
  <span class="font-bold text-gray-700">{{@courseStage.name}} </span>
</div>

<div class="flex items-center justify-between">
  <div class="flex items-center">
    <CoursePage::CourseStageSolutionModal::HeaderTabLink
      @icon="code"
      @text="Diff"
      @isActive={{eq @activeTab "diff"}}
      @authorDetails={{@currentSolution.authorDetails}}
      @reviewersDetails={{@currentSolution.reviewersDetails}}
      {{on "click" (fn @onTabLinkClick "diff")}}
    />

    <CoursePage::CourseStageSolutionModal::HeaderTabLink
      @icon="academic-cap"
      @text="Explanation"
      @isActive={{eq @activeTab "explanation"}}
      {{on "click" (fn @onTabLinkClick "explanation")}}
    />

    {{#if @courseStage.sourceWalkthrough}}
      <CoursePage::CourseStageSolutionModal::HeaderTabLink
        @iconUrl={{@courseStage.course.logoUrl}}
        @text="Source Walkthrough"
        @isActive={{eq @activeTab "source_walkthrough"}}
        {{on "click" (fn @onTabLinkClick "source_walkthrough")}}
      />
    {{/if}}
  </div>

  <div>
    <CoursePage::CourseStageSolutionModal::LanguageDropdown
      @currentLanguage={{@currentSolution.language}}
      @requestedLanguage={{@requestedSolutionLanguage}}
      @courseStage={{@courseStage}}
      @onRequestedLanguageChange={{@onRequestedSolutionLanguageChange}}
      class="transition-opacity {{if (eq @activeTab 'source_walkthrough') 'opacity-0' 'opacity-100'}}"
    />
  </div>
</div>