<div class="flex items-center flex-wrap mr-6">
  <div class="text-lg md:text-2xl mr-2 mb-3 sm:mb-6" data-test-course-stage-solution-modal-title>
    <span class="text-gray-600">Stage #{{@courseStage.position}}:</span>
    <span class="font-bold text-gray-700">{{@courseStage.name}} </span>
  </div>
  <div class="flex items-stretch mb-3 sm:mb-6">
    <button
      type="button"
      class="rounded-l border-r-0 flex items-center border bg-gray-50 hover:bg-gray-100 transition-colors duration-75 pl-1 pr-0.5 py-1 text-gray-400 hover:text-gray-600"
    >
      {{svg-jar "chevron-left" class="w-4 fill-current"}}
    </button>
    <button
      type="button"
      class="rounded-r border-l-0 flex items-center border bg-gray-50 hover:bg-gray-100 transition-colors duration-75 pr-1 pl-0.5 py-1 text-gray-400 hover:text-gray-600"
    >
      {{svg-jar "chevron-right" class="w-4 fill-current"}}
    </button>
  </div>
</div>

<div class="flex flex-wrap items-center justify-between">
  <div class="flex items-center overflow-x-scroll pb-4 mb-2">
    {{#unless @courseStage.isFirst}}
      <CoursePage::CourseStageSolutionModal::HeaderTabLink
        @icon="user-group"
        @text="Solutions"
        @isActive={{eq @activeTab "community_solutions"}}
        {{on "click" (fn @onTabLinkClick "community_solutions")}}
      />
    {{/unless}}

    {{#if @currentSolution}}
      <CoursePage::CourseStageSolutionModal::HeaderTabLink
        @icon="code"
        @text="Verified Solution"
        @isActive={{eq @activeTab "verified_solution"}}
        @authorDetails={{@currentSolution.authorDetails}}
        @reviewersDetails={{@currentSolution.reviewersDetails}}
        {{on "click" (fn @onTabLinkClick "verified_solution")}}
      />
    {{/if}}

    {{#if @courseStage.sourceWalkthrough}}
      <CoursePage::CourseStageSolutionModal::HeaderTabLink
        @iconUrl={{@courseStage.course.logoUrl}}
        @text="Source Walkthrough"
        @isActive={{eq @activeTab "source_walkthrough"}}
        {{on "click" (fn @onTabLinkClick "source_walkthrough")}}
      />
    {{/if}}

    <CoursePage::CourseStageSolutionModal::HeaderTabLink
      @icon="chat"
      @text="Comments"
      @isActive={{eq @activeTab "comments"}}
      {{on "click" (fn @onTabLinkClick "comments")}}
    />
  </div>

  <div>
    {{#if (or (eq @activeTab "verified_solution") (eq @activeTab "explanation"))}}
      <CoursePage::CourseStageSolutionModal::LanguageDropdown
        @currentLanguage={{@currentSolution.language}}
        @requestedLanguage={{@requestedSolutionLanguage}}
        @courseStage={{@courseStage}}
        @onRequestedLanguageChange={{@onRequestedSolutionLanguageChange}}
        @onDidInsertDropdown={{@onDidInsertLanguageDropdown}}
        class="mb-6"
      />
    {{else if (eq @activeTab "community_solutions")}}
      <CoursePage::CourseStageSolutionModal::CommunitySolutionsLanguageDropdown
        @courseStage={{@courseStage}}
        @requestedLanguage={{@requestedSolutionLanguage}}
        @onRequestedLanguageChange={{@onRequestedSolutionLanguageChange}}
        @onDidInsertDropdown={{@onDidInsertLanguageDropdown}}
        class="mb-6"
      />
    {{/if}}
  </div>
</div>