<div class="absolute top-4 left-0 right-0 p-4 flex items-center justify-center" data-test-reveal-solution-overlay>
  <div class="px-8 py-6 bg-white rounded border text-gray-700 {{if (lt this.suggestedActions.length 2) 'max-w-lg'}} shadow">
    <div class="prose" data-test-instructions-text>
      {{this.instructionsText}}
    </div>

    <div class="flex items-center mt-4">
      {{#each this.suggestedActions as |action|}}
        {{#if (eq action "view_comments")}}
          <PrimaryButton @size="small" class="mr-3" data-test-action-button {{on "click" @onViewCommentsButtonClick}}>View comments</PrimaryButton>
        {{/if}}

        {{#if (eq action "switch_language")}}
          {{#if (eq 1 this.suggestedActions.length)}}
            <PrimaryButton
              @size="small"
              class="mr-3"
              data-test-action-button
              {{on "click" @onSwitchLanguageButtonClick}}
            >{{this.textForSwitchLanguageButton}}</PrimaryButton>
          {{else}}
            <SecondaryButton
              @size="small"
              class="mr-3 font-normal"
              data-test-action-button
              {{on "click" @onSwitchLanguageButtonClick}}
            >{{this.textForSwitchLanguageButton}}</SecondaryButton>
          {{/if}}
        {{/if}}
      {{/each}}

      {{#if (eq 0 this.suggestedActions.length)}}
        <DangerButton
          @size="small"
          data-test-action-button
          {{on "click" @onRevealSolutionsButtonClick}}
        >{{this.textForRevealSolutionsButton}}</DangerButton>
      {{else}}
        <div
          data-test-action-button
          {{on "click" @onRevealSolutionsButtonClick}}
          role="button"
          class="mx-2 text-red-600 hover:underline text-sm"
        >{{this.textForRevealSolutionsButton}}</div>
      {{/if}}
    </div>
  </div>
</div>