{{! @glint-nocheck: not typesafe yet }}
<div class="flex items-stretch" ...attributes>
  <button
    type="button"
    class="rounded-l border-r-0 flex items-center border transition-colors duration-75 px-1 py-1.5 text-gray-400
      {{if @currentStage.previousStage 'hover:bg-gray-50 hover:text-gray-600' 'cursor-not-allowed opacity-50'}}"
    data-test-previous-stage-button
    {{on "click" @onPreviousStageButtonClick}}
  >
    {{svg-jar "chevron-left" class="w-4 fill-current"}}
  </button>
  <button
    type="button"
    class="rounded-r flex items-center border transition-colors duration-75 px-1 py-1.5 text-gray-400
      {{if @currentStage.nextStage 'hover:bg-gray-50 hover:text-gray-600' 'cursor-not-allowed opacity-50'}}"
    {{on "click" @onNextStageButtonClick}}
    data-test-next-stage-button
  >
    {{svg-jar "chevron-right" class="w-4 fill-current"}}
  </button>
</div>