<div class="flex flex-col items-center w-full" ...attributes>
  <div class="text-[60px]">
    🎉
  </div>

  <div class="mb-2 font-bold text-2xl text-gray-700 dark:text-gray-100 text-center text-pretty">
    Local setup complete!
  </div>

  <div class="prose dark:prose-invert mb-6 text-center text-pretty" data-test-completion-message>
    <p>
      {{@step.completionNoticeMessage}}
    </p>
  </div>

  <PrimaryLinkButton
    @route={{this.activeStep.routeParams.route}}
    @models={{this.activeStep.routeParams.models}}
    data-test-next-button
    class="shrink-0 w-full text-center"
  >
    {{#if (eq this.nextStep this.activeStep)}}
      <span>View first stage →</span>
    {{else}}
      <span>View current {{if (eq this.activeStep.type "CourseStageStep") "stage" "step"}} →</span>
    {{/if}}
  </PrimaryLinkButton>
</div>