<div
  class="p-4 shadow-sm rounded border border-gray-300 mb-4 relative bg-white"
  data-test-community-solution-card
  ...attributes
  {{did-insert this.handleDidInsert}}
>
  <div class="flex justify-between items-center gap-x-4 gap-y-4 mb-3 flex-wrap">
    <div class="flex items-center">
      <a href={{@solution.user.codecraftersProfileUrl}} class="flex items-center" target="_blank" rel="noopener noreferrer">
        <AvatarImage @user={{@solution.user}} class="w-6 h-6 mr-1.5 filter drop-shadow-sm ring-1 ring-white rounded-full shadow" />
        <span class="text-gray-700 text-xs">{{@solution.user.username}}</span>
      </a>

      {{#if @solution.isRestrictedToTeam}}
        <div class="inline-flex items-center ml-2 border border-gray-300 rounded pl-1 pr-2">
          {{svg-jar "lock-closed" class="w-3 h-3 text-gray-400 mr-1"}}
          <span class="text-xs font-semibold leading-5 text-gray-700">Private</span>
          <EmberTooltip @text="This solution is only visible to users within your team." />
        </div>
      {{/if}}
    </div>

    <div class={{if this.isExpanded "visible" "hidden"}}>
      <button
        class="border hover:bg-gray-100 hover:border-gray-300 transition-colors px-2 py-1.5 text-gray-700 text-xs rounded flex flex-col items-center w-full"
        type="button"
        {{on "click" this.handleCollapseButtonClick}}
      >
        <div class="font-bold flex items-center sm:mb-0">
          Collapse example
          {{svg-jar "arrow-up" class="w-3 ml-1 fill-current"}}
        </div>
      </button>
    </div>

    <div class="flex items-center shrink-0">
      {{#if (or (current-user-is-staff) (current-user-is-course-author @solution.courseStage.course))}}
        <div class="flex items-center">
          {{svg-jar "chart-bar" class="w-4 text-gray-500 mr-1"}}

          {{! Investigate why this doesn't work without target=blank }}
          <LinkTo @route="course-admin.code-example" @model={{@solution.id}} class="text-xs text-gray-500 hover:underline" target="_blank">
            {{#if @solution.ratingEstimate}}
              Rating:
              {{@solution.ratingEstimateRounded}}
              <EmberTooltip @text="{{@solution.ratingMeanRounded}} ± {{@solution.ratingStandardDeviationRounded}}" />
            {{else}}
              Unrated
              <EmberTooltip @text="Once ratings are computed, they will be shown here." />
            {{/if}}
          </LinkTo>
        </div>
        <div class="w-px h-3 bg-gray-200 mx-2"></div>
      {{/if}}
      {{#if (gt @solution.approvedCommentsCount 0)}}
        <div class="flex items-center">
          {{svg-jar "chat-alt" class="w-4 text-gray-500 mr-1"}}
          <div class="text-xs text-gray-500">
            {{@solution.approvedCommentsCount}}
            comments
          </div>
        </div>
        <div class="w-px h-3 bg-gray-200 mx-2"></div>
      {{/if}}
      <div class="flex items-center">
        {{svg-jar "clock" class="w-4 text-gray-500 mr-1"}}
        <div class="text-xs text-gray-500">
          {{date-from-now @solution.submittedAt}}
        </div>
      </div>
      {{!      <div class="flex items-center">}}
      {{!--        {{svg-jar "plus" class="w-4 text-green-600"}}--}}
      {{!        <div class="text-xs text-gray-500">}}
      {{!          <span class="text-green-600">20 lines</span>}}
      {{!        </div>}}
      {{!      </div>}}
      {{!      <div class="ml-2 flex items-center">}}
      {{!--        {{svg-jar "minus" class="w-4 text-red-600"}}--}}
      {{!        <div class="text-xs text-gray-500">}}
      {{!          <span class="text-red-600">2 lines</span>}}
      {{!        </div>}}
      {{!      </div>}}
    </div>
  </div>

  <div class="{{if this.isCollapsed 'h-72 overflow-hidden'}}">
    {{#if this.shouldShowExplanation}}
      <div class="pb-8 pt-4">
        <div
          class="leading-7 prose solution-explanation max-w-none"
          {{did-insert this.handleDidInsertExplanationHTML}}
          {{did-update this.handleDidUpdateExplanationHTML @solution.explanationMarkdown}}
        >
          {{markdown-to-html @solution.explanationMarkdown}}
        </div>
      </div>
    {{/if}}
    {{#each this.changedFilesForRender key="filename" as |changedFile index|}}
      <div
        class="{{if (not-eq index (sub @solution.changedFiles.length 1)) 'mb-4'}} bg-white shadow-sm rounded border border-gray-300 overflow-y-hidden"
      >
        <div class="bg-gray-100 rounded-t py-2 px-4 border-b border-gray-200 shadow-sm flex items-center justify-between">
          <span class="font-mono text-xs text-gray-600 bold">{{changedFile.filename}}</span>
          <div>
            {{#if @solution.isPublishedToPublicGithubRepository}}
              <a
                {{! @glint-expect-error call not ts-ified yet }}
                href={{call (fn @solution.githubUrlForFile changedFile.filename)}}
                target="_blank"
                rel="noopener noreferrer"
                class="flex gap-x-1 items-center group"
              >
                <span class="text-[10px] text-gray-700 group-hover:underline">
                  View on GitHub
                </span>
                {{svg-jar "github" class="w-3.5 h-3.5 text-gray-600"}}
              </a>
            {{else if this.shouldShowPublishToGithubButton}}
              {{! @glint-expect-error onPublishToGithubButton is not null }}
              <button type="button" {{on "click" @onPublishToGithubButtonClick}} class="flex gap-x-1 items-center group">
                <span class="text-[10px] text-gray-700 group-hover:underline">
                  Publish to GitHub
                </span>
                {{svg-jar "github" class="w-3.5 h-3.5 text-gray-600"}}
              </button>
            {{/if}}
          </div>
        </div>

        <div class="text-sm">
          {{! @glint-expect-error not ts-ified yet }}
          <SyntaxHighlightedDiff
            @code={{changedFile.diff}}
            @language={{@solution.language.slug}}
            @comments={{changedFile.comments}}
            @onCommentView={{this.handleCommentView}}
            @shouldCollapseUnchangedLines={{true}}
            class="ph-no-capture"
          />
        </div>
      </div>
    {{/each}}

    {{#each this.unchangedFileComparisons key="filename" as |unchangedFileComparison|}}
      <FileContentsCard
        class="mt-4"
        @filename={{unchangedFileComparison.path}}
        @code={{unchangedFileComparison.content}}
        @language="dockerfile"
        data-test-dockerfile-contents-card
      />
    {{/each}}

    {{#if this.isCollapsed}}
      <div
        role="button"
        class="absolute rounded inset-0 vertical-mask p-4 flex items-end justify-center group z-10"
        data-test-expand-button
        {{on "click" this.handleExpandButtonClick}}
      >
        <div
          class="border bg-white group-hover:bg-gray-100 hover:group-border-gray-300 transition-colors px-4 py-5 text-gray-700 text-sm rounded flex flex-col items-center w-full group"
        >
          <div class="font-bold flex items-center sm:mb-0">
            Expand example
            {{svg-jar "arrow-down" class="w-4 ml-2 fill-current"}}
          </div>
        </div>
      </div>
    {{else}}
      <button
        class="mt-4 border hover:bg-gray-100 hover:border-gray-300 transition-colors px-4 py-5 text-gray-700 text-sm rounded flex flex-col items-center w-full group"
        type="button"
        {{on "click" this.handleCollapseButtonClick}}
        data-test-collapse-button
      >
        <div class="font-bold flex items-center sm:mb-0">
          Collapse example
          {{svg-jar "arrow-up" class="w-4 ml-2 fill-current"}}
        </div>
      </button>
    {{/if}}
  </div>
</div>