<div
  class="p-4 shadow-sm rounded border border-gray-300 mb-4 relative bg-white"
  data-test-community-solution-card
  ...attributes
  {{did-insert this.handleDidInsert}}
>
  <CoursePage::CourseStageStep::CommunitySolutionCard::Header
    @metadataForDownvote={{@metadataForDownvote}}
    @metadataForUpvote={{@metadataForUpvote}}
    @solution={{@solution}}
    class="mb-3"
  />

  <div class={{if this.isExpanded "visible" "hidden"}}>
    <button
      class="mb-3 border hover:bg-gray-100 hover:border-gray-300 transition-colors px-4 py-5 text-gray-700 text-sm rounded flex flex-col items-center w-full group"
      type="button"
      {{on "click" this.handleCollapseButtonClick}}
      data-test-collapse-button
    >
      <div class="font-bold flex items-center sm:mb-0">
        Collapse example
        {{svg-jar "arrow-up" class="w-4 ml-2 fill-current"}}
      </div>
    </button>
  </div>

  <div>
    {{#if this.isExpanded}}
      <CoursePage::CourseStageStep::CommunitySolutionCard::Content
        @solution={{@solution}}
        @fileComparisons={{this.fileComparisons}}
        @onPublishToGithubButtonClick={{@onPublishToGithubButtonClick}}
      />
    {{/if}}

    {{#if this.isCollapsed}}
      <button
        class="mt-4 border hover:bg-gray-100 hover:border-gray-300 transition-colors px-4 py-5 text-gray-700 text-sm rounded flex flex-col items-center w-full group"
        type="button"
        {{on "click" this.handleExpandButtonClick}}
        data-test-expand-button
      >
        <div class="font-bold flex items-center sm:mb-0">
          Expand example
          {{svg-jar "arrow-down" class="w-4 ml-2 fill-current"}}
        </div>
      </button>
    {{else}}
      <button
        class="mt-4 border hover:bg-gray-100 hover:border-gray-300 transition-colors px-4 py-5 text-gray-700 text-sm rounded flex flex-col items-center w-full group"
        type="button"
        {{on "click" this.handleCollapseButtonClick}}
        data-test-collapse-button
      >
        <div class="font-bold flex items-center sm:mb-0">
          Collapse example
          {{svg-jar "arrow-up" class="w-4 ml-2 fill-current"}}
        </div>
      </button>
    {{/if}}
  </div>
</div>