<div class="grid gap-3 mt-4 mb-5" data-test-language-guide-card ...attributes>
  <div class="grid">
    <TertiaryButton
      class="flex justify-center items-center gap-1 dark:bg-transparent dark:text-gray-200 dark:border-white/5 dark:hover:border-gray-700/60 dark:bg-gray-800 dark:hover:bg-gray-700/50"
      {{on "click" this.handleToggleExplanationButtonClick}}
      data-test-toggle-explanation-button
    >
      {{#if this.explanationIsVisible}}
        Hide explanation
        <span class="inline-block">{{svg-jar "arrow-up" class="size-4"}}</span>
      {{else}}
        Show explanation
        <span class="inline-block">{{svg-jar "arrow-down" class="size-4"}}</span>
      {{/if}}
    </TertiaryButton>
  </div>

  {{#if this.explanationIsVisible}}
    <div class="prose dark:prose-invert has-prism-highlighting" {{highlight-code-blocks @languageGuide.markdownForBeginner}}>
      {{markdown-to-html @languageGuide.markdownForBeginner}}
    </div>
  {{/if}}
</div>