<CoursePage::InstructionsCard @title="How to pass this stage" id="first-stage-instructions-card" ...attributes>
  <:content>
    <div class="prose mb-5">
      <p>
        CodeCrafters runs tests when you submit code. Your first push should have streamed back a
        <code class="font-semibold text-red-700 bg-red-100 border border-red-200">Test failed</code>
        error — that's expected. Once you implement this stage, you'll pass the test!
      </p>

      <p>
        Since this is your first stage in this challenge, we've included some starter code in your repository. To pass this stage, simply uncomment
        the code, run tests and then submit your code.
      </p>
    </div>

    <ExpandableStepList @steps={{this.steps}} class="scroll-mt-32" as |stepList|>
      {{#if (eq stepList.expandedStep.id "uncomment-code")}}
        <CoursePage::CourseStageStep::FirstStageInstructionsCard::UncommentCodeStep
          @repository={{@repository}}
          @courseStage={{@courseStage}}
          @isComplete={{this.uncommentCodeStepIsComplete}}
          @onComplete={{fn this.handleUncommentCodeStepCompleted stepList}}
        />
      {{else if (eq stepList.expandedStep.id "submit-code")}}
        <CoursePage::CourseStageStep::FirstStageInstructionsCard::SubmitCodeStep />
      {{/if}}
    </ExpandableStepList>
  </:content>
  <:footer>
    <CoursePage::CourseStageStep::Card::Footer @repository={{@repository}} @courseStage={{@courseStage}} />
  </:footer>
</CoursePage::InstructionsCard>