<CoursePage::InstructionsCard @title="How to pass this stage" id="first-stage-instructions-card" ...attributes>
  <:content>
    <div class="prose mb-5">
      <p>
        Since this is the first stage, we've included some commented code to help you get started. To pass this stage, simply uncomment the code and
        submit your changes.
      </p>
    </div>

    <ExpandableStepList @steps={{this.steps}} @onManualStepComplete={{this.handleStepCompletedManually}} class="scroll-mt-32" as |stepList|>
      {{#if (eq stepList.expandedStep.id "navigate-to-file")}}
        <CoursePage::CourseStageStep::FirstStageInstructionsCard::NavigateToFileStep
          @repository={{@repository}}
          @courseStage={{@courseStage}}
          @isComplete={{this.navigateToFileStepIsComplete}}
        />
      {{else if (eq stepList.expandedStep.id "uncomment-code")}}
        <CoursePage::CourseStageStep::FirstStageInstructionsCard::UncommentCodeStep
          @repository={{@repository}}
          @courseStage={{@courseStage}}
          @isComplete={{this.uncommentCodeStepIsComplete}}
        />
      {{else if (eq stepList.expandedStep.id "submit-code")}}
        <CoursePage::CourseStageStep::FirstStageInstructionsCard::SubmitCodeStep @isComplete={{this.submitCodeStepIsComplete}} />
      {{/if}}
    </ExpandableStepList>

    {{! After step 2, step 3 already contains a note on Tests Failed, so we can hide this !}}
    {{#unless this.uncommentCodeStepIsComplete}}
      <div class="prose prose-sm prose-compact mt-5">
        <p>
          {{svg-jar "information-circle" class="w-5 h-5 mb-0.5 inline-flex text-sky-500"}}
          <b>Note:</b>
          After your first Git push, you should see
          <code class="font-semibold text-red-700 bg-red-100 border border-red-200">Tests failed</code>
          in the bar below this card. This is expected! Complete the steps above to pass the tests.
        </p>
      </div>
    {{/unless}}
  </:content>
</CoursePage::InstructionsCard>