<CoursePage::InstructionsCard @title="How to pass this stage" id="first-stage-instructions-card" ...attributes>
  <:content>
    <div class="prose mb-5">
      <p>
        CodeCrafters runs tests when you submit code. Your first push should have streamed back a
        <code class="font-semibold text-red-700 bg-red-100 border border-red-200">Test failed</code>
        error — that's expected. Once you implement this stage, you'll pass the test!
      </p>

      <p>
        Since this is your first stage in this challenge, we've included some starter code in your repository. To pass this stage, simply uncomment
        the code and
        <code>git push</code>.
      </p>

      <p>
        <b>Step 1:</b>
        {{#if this.filename}}
          Uncomment the code in
          <code>{{this.filename}}</code>.
        {{else}}
          Uncomment the code.
        {{/if}}
      </p>
    </div>

    {{#if this.solution}}
      <div class="mb-5">
        {{#each this.solution.changedFiles as |changedFile|}}
          <FileDiffCard class="mb-4" @filename={{changedFile.filename}} @code={{changedFile.diff}} @language={{this.solution.language.slug}} />
        {{/each}}
      </div>
    {{else if (not @repository.language)}}
      <div class="prose mb-5">
        <p>
          <span class="text-lg">⚠️</span>
          Complete repository setup to see the code you need to uncomment.
        </p>
      </div>
    {{else}}
      <div class="prose mb-5">
        <p>
          View the README in your repository for instructions on how to uncomment the code.
        </p>
      </div>
    {{/if}}

    <div class="prose mb-3">
      <p>
        <b>Step 2:</b>
        Commit and push your changes.
      </p>
      <p>
        Run the following commands to submit your changes:
      </p>
    </div>

    <CopyableTerminalCommand @commands={{array "git add . " "git commit -am 'pass 1st stage' # any msg" "git push origin master"}} />
  </:content>
  <:footer>
    <CoursePage::CourseStageStep::Card::Footer @repository={{@repository}} @courseStage={{@courseStage}} />
  </:footer>
</CoursePage::InstructionsCard>