<CoursePage::InstructionsCard @title="How to pass this stage" ...attributes>
  <:content>
    <div class="prose mb-5">
      <p>
        Since this is your first stage, we've included commented code to pass this stage in your repository.
      </p>

      <p>
        <b>Step 1:</b>
        {{#if this.filename}}
          Uncomment the code in
          <code>{{this.filename}}</code>.
        {{else}}
          Uncomment the code.
        {{/if}}
      </p>
    </div>

    {{#if this.solution}}
      <div class="mb-5">
        {{#each this.solution.changedFiles as |changedFile|}}
          <FileContentsCard class="mb-4" @filename={{changedFile.filename}} @code={{changedFile.diff}} @language={{this.solution.language.slug}} />
        {{/each}}
      </div>
    {{else if (not @repository.language)}}
      <div class="prose mb-5">
        <p>
          <span class="text-lg">⚠️</span>
          Complete repository setup to see the code you need to uncomment.
        </p>
      </div>
    {{else}}
      <div class="prose mb-5">
        <p>
          View the README in your repository for instructions on how to uncomment the code.
        </p>
      </div>
    {{/if}}

    <div class="prose">
      <p>
        <b>Step 2:</b>
        Commit and push your changes.
      </p>
      <p>
        Run the following commands to submit your changes:
      </p>

      {{html-safe this.submitChangesInstructionsHTML}}
    </div>
  </:content>
  <:footer>
    {{! @glint-expect-error not ts-ified yet }}
    <CoursePage::CourseStageStep::Card::Footer @repository={{@repository}} @courseStage={{@courseStage}} />
  </:footer>
</CoursePage::InstructionsCard>