<CoursePage::InstructionsCard @title="How to pass this stage" id="first-stage-tutorial-card" ...attributes>
  <:content>
    <div class="prose dark:prose-invert mb-5">
      {{#if true}}
        <p>
          In this stage, you'll implement printing a shell prompt ($) and waiting for user input.
        </p>
        <div class="mb-6 bg-slate-800 dark:bg-slate-100 rounded-xl max-w-md shadow-md dark:shadow-slate-600">
          <div class="flex items-center h-14 px-5 gap-2.5">
            <div class="size-3 bg-slate-500 dark:bg-slate-300 rounded-full flex-shrink-0"></div>
            <div class="size-3 bg-slate-500 dark:bg-slate-300 rounded-full flex-shrink-0"></div>
            <div class="size-3 bg-slate-500 dark:bg-slate-300 rounded-full flex-shrink-0"></div>
          </div>
          <div class="pt-0 p-5 cursor-pointer">
            <div class="flex items-center gap-2 w-fit">
              <span class="font-mono text-slate-100 dark:text-slate-800">$</span>
              <span class="relative flex size-6">
                <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
                {{svg-jar "question-mark-circle" class="size-6 text-blue-500"}}
              </span>
              <EmberTooltip @side="right" @text="Print '$ ' to pass this stage." @popperContainer="body" />
            </div>
          </div>
        </div>
      {{else}}
        <p>
          Since this is the first stage, we've included some commented code to help you get started. To pass this stage, simply uncomment the code and
          submit your changes.
        </p>
      {{/if}}
    </div>

    <ExpandableStepList @steps={{this.steps}} @onManualStepComplete={{this.handleStepCompletedManually}} class="scroll-mt-32" as |stepList|>
      {{#if (eq stepList.expandedStep.id "navigate-to-file")}}
        <CoursePage::CourseStageStep::FirstStageTutorialCard::NavigateToFileStep
          @repository={{@repository}}
          @courseStage={{@courseStage}}
          @isComplete={{this.navigateToFileStepIsComplete}}
        />
      {{else if (eq stepList.expandedStep.id "uncomment-code")}}
        <CoursePage::CourseStageStep::FirstStageTutorialCard::UncommentCodeStep
          @repository={{@repository}}
          @courseStage={{@courseStage}}
          @isComplete={{this.uncommentCodeStepIsComplete}}
        />
      {{else if (eq stepList.expandedStep.id "submit-code")}}
        <CoursePage::CourseStageStep::FirstStageTutorialCard::SubmitCodeStep @isComplete={{this.submitCodeStepIsComplete}} />
      {{/if}}
    </ExpandableStepList>

    {{! After step 2, step 3 already contains a note on Tests Failed, so we can hide this !}}
    {{#unless this.uncommentCodeStepIsComplete}}
      <div class="prose dark:prose-invert prose-sm prose-compact mt-5">
        <p>
          {{svg-jar "information-circle" class="w-5 h-5 mb-1 inline-flex text-sky-500"}}
          <b>Note:</b>
          After your first Git push, you should see
          <code class="font-semibold text-red-700 dark:text-red-300 bg-red-100 dark:bg-red-900/30 border border-red-200 dark:border-red-800/40">Tests
            failed</code>
          in the bar below this card. This is expected! Complete the steps above to pass the tests.
        </p>
      </div>
    {{/unless}}
  </:content>
</CoursePage::InstructionsCard>