<CoursePage::InstructionsCard @title="How to pass this stage" id="first-stage-instructions-card" ...attributes>
  <:content>
    <div class="prose mb-5">
      <p>
        CodeCrafters runs tests when you submit code. Your first push should have streamed back a
        <code class="font-semibold text-red-700 bg-red-100 border border-red-200">Tests failed</code>
        error — that's expected. Once you implement this stage, you'll pass the test!
      </p>

      <p>
        Since this is the first stage, we've included some commented code to help you get started. To pass this stage, simply uncomment the code and
        submit your changes.
      </p>
    </div>

    <ExpandableStepList @steps={{this.steps}} @onManualStepComplete={{this.handleStepCompletedManually}} class="scroll-mt-32 mb-5" as |stepList|>
      {{#if (eq stepList.expandedStep.id "uncomment-code")}}
        <CoursePage::CourseStageStep::FirstStageInstructionsCard::UncommentCodeStep
          @repository={{@repository}}
          @courseStage={{@courseStage}}
          @isComplete={{this.uncommentCodeStepIsComplete}}
        />
      {{else if (eq stepList.expandedStep.id "run-tests")}}
        <CoursePage::CourseStageStep::FirstStageInstructionsCard::RunTestsStep
          {{! @glint-expect-error expandedStep can be null }}
          @isComplete={{stepList.expandedStep.isComplete}}
        />
      {{/if}}
    </ExpandableStepList>

    <div class="prose">
      {{#if this.markStageAsCompleteStepIsComplete}}
        <p class="text-gray-600 mt-4">
          <span class="text-xl mr-1">🎉</span>
          First stage passed!
        </p>
      {{else}}
        <p class={{if this.markStageAsCompleteStepIsComplete "line-through"}}>
          Complete the steps above to pass this stage.
        </p>
      {{/if}}
    </div>
  </:content>
</CoursePage::InstructionsCard>