<CoursePage::InstructionsCard
  @contentIdentifier={{@courseStage.id}}
  @isCollapsedByDefault={{true}}
  @onExpand={{this.handleExpand}}
  id="language-guide-card"
  data-test-language-guide-card
  ...attributes
  {{did-update this.loadLanguageGuides @courseStage}}
  {{did-insert this.loadLanguageGuides}}
>
  <:header>
    <div class="flex items-center justify-between border-b pb-2 mb-5 w-full">
      <div class="flex items-center gap-x-3">
        <h2 class="font-semibold text-lg text-gray-700 flex items-center">
          <AnimatedContainer>
            {{#animated-value this.currentLanguage.name rules=this.languageNameAnimationRules duration=200 as |v|}}
              <div>
                {{! @glint-ignore v is unknown type }}
                {{v}}&nbsp;
              </div>
            {{/animated-value}}
          </AnimatedContainer>
          Guide
        </h2>

        <div class="inline-flex text-xs text-white font-semibold border border-teal-500 bg-teal-500 rounded px-1.5 py-0.5 w-fit">
          BETA
          <EmberTooltip @text="This is a beta feature, please send us feedback!" @side="top" />
        </div>

        {{#if (and (current-user-is-staff) this.languageGuide.requiresRegeneration)}}
          <Pill @color="red" class="text-xs">
            Outdated
            <EmberTooltip @text="Pending regeneration (this pill is only visible to staff)" @side="top" />
          </Pill>
        {{/if}}

        {{#if (and @repository.language (not-eq @repository.language this.currentLanguage))}}
          <TertiaryButton
            @size="small"
            class="pl-1.5"
            {{on "click" (fn this.handleRequestedLanguageChange @repository.language)}}
            data-test-back-to-repository-language-button
          >
            <div class="flex items-center">
              {{svg-jar "arrow-circle-left" class="w-4 h-4 mr-1.5 text-gray-500"}}

              <span>
                Back to
                {{@repository.language.name}}
              </span>
            </div>
          </TertiaryButton>
        {{/if}}
      </div>

      {{! <div class="text-sm">
        <span class="text-gray-500">Proficiency:</span>
        <span class="text-gray-700 font-semibold">Beginner</span>
      </div> }}
      <div>
        <LanguageDropdown
          @languages={{this.sortedLanguagesForDropdown}}
          @requestedLanguage={{this.currentLanguage}}
          @selectedLanguage={{this.currentLanguage}}
          @onRequestedLanguageChange={{this.handleRequestedLanguageChange}}
          @onDidInsertDropdown={{(noop)}}
          class="flex-shrink-0"
        />
      </div>
    </div>
  </:header>

  <:content>
    <Alert class="mb-6">
      <p class="mb-2">
        This guide is AI-generated, and may be highly inaccurate. We're releasing this early to get feedback.
        <a href="https://docs.codecrafters.io/experimental/language-guides" target="_blank" rel="noopener noreferrer">Learn more</a>.
      </p>

      <p class="mt-0">
        <div class="inline-flex">
          <FeedbackButton
            @source="course_stage_language_guide"
            @sourceMetadata={{hash language_slug=this.currentLanguage.slug}}
            class="inline-flex"
            @dropdownPosition="left"
            data-test-feedback-button
          >
            <TertiaryButton @size="small">
              Share Feedback
            </TertiaryButton>
          </FeedbackButton>
        </div>
      </p>
    </Alert>

    {{#if this.languageGuide}}
      <div class="prose has-prism-highlighting" {{highlight-code-blocks this.languageGuide.markdownForBeginner}}>
        {{markdown-to-html this.languageGuide.markdownForBeginner}}
      </div>
    {{else if @repository.language}}
      <div class="prose">
        <p class="text-gray-800">Looks like we don't have a language guide available for {{@repository.language.name}} yet.</p>
      </div>
    {{else}}
      <div class="prose">
        <p class="text-gray-800">Once you create a repository, you'll see a language-specific guide to this stage here.</p>
      </div>
    {{/if}}

    {{!-- {{#if this.languageGuide}}
      <div class="flex items-center gap-x-3 mt-5">
        <TertiaryButton @size="small">
          👍 Helpful
        </TertiaryButton>
        <TertiaryButton @size="small">
          👎 Not Helpful
        </TertiaryButton>
        {{! @glint-expect-error: not ts-ified }}
        <FeedbackButton class="text-gray-800 hover:text-gray-900 underline text-sm">
          Share feedback
        </FeedbackButton>
      </div>
    {{/if}} --}}
  </:content>
</CoursePage::InstructionsCard>