<CoursePage::InstructionsCard @title="How to pass this stage" id="second-stage-tutorial-card" ...attributes>
  <:content>
    <div class="prose dark:prose-invert mb-5">
      {{#if (eq @repository.course.slug "shell")}}
        {{#if this.shouldShowTerminalInstructions}}
          <p>
            In this stage, you’ll implement error handling for invalid commands. For now, treat all commands as invalid.
          </p>
          <div class="mb-6 bg-slate-800 dark:bg-slate-100 rounded-xl max-w-md shadow-md dark:shadow-slate-600">
            <div class="flex items-center h-14 px-5 gap-2.5">
              <div class="size-3 bg-slate-500 dark:bg-slate-300 rounded-full flex-shrink-0"></div>
              <div class="size-3 bg-slate-500 dark:bg-slate-300 rounded-full flex-shrink-0"></div>
              <div class="size-3 bg-slate-500 dark:bg-slate-300 rounded-full flex-shrink-0"></div>
            </div>
            <div class="pt-0 p-5 font-mono">
              <div class="flex items-center gap-2 mb-2 text-slate-300 dark:text-slate-600 cursor-default w-fit">$
                <span class="text-red-400">invalid_command</span>
                <EmberTooltip @side="right" @text="Treat every command as invalid for now." @popperContainer="body" />
              </div>
              <button
                type="button"
                class="flex items-center gap-2 text-slate-100 dark:text-slate-800 w-fit
                  {{if this.shouldShowTerminalInstructionsPinging 'cursor-pointer' 'cursor-auto'}}"
                {{on "click" this.handleTerminalClick}}
              >
                invalid_command: command not found
                <span class="relative flex size-6">
                  {{#if this.shouldShowTerminalInstructionsPinging}}
                    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
                  {{/if}}
                  {{svg-jar "question-mark-circle" class="size-6 text-blue-500"}}
                </span>
                <EmberTooltip @side="right" @text="Read the command and print the error message." @popperContainer="body" />
              </button>
            </div>
          </div>
        {{else}}
          <div class="mt-2 mb-5 prose-compact">
            {{markdown-to-html @courseStage.shortInstructionsMarkdown}}
          </div>
        {{/if}}
      {{else}}
        <p>
          In this stage, you'll implement your own solution. Unlike stage 1, your repository doesn't contain commented code to pass this stage.
        </p>
      {{/if}}
      <p>
        {{! TODO: Aggregate stat across all stages, try to fetch challenge-specific values from the backend. }}
        <b class="text-teal-600">98%</b>
        of users who attempt this stage complete it.
      </p>
    </div>

    <ExpandableStepList @steps={{this.steps}} @onManualStepComplete={{this.handleStepCompletedManually}} class="scroll-mt-32" as |stepList|>
      {{#if (eq stepList.expandedStep.id "implement-solution")}}
        <CoursePage::CourseStageStep::SecondStageTutorialCard::ImplementSolutionStep
          @repository={{@repository}}
          @courseStage={{@courseStage}}
          @isComplete={{this.implementSolutionStepIsComplete}}
          @languageGuide={{@languageGuide}}
        />
      {{else if (eq stepList.expandedStep.id "run-tests")}}
        <CoursePage::CourseStageStep::SecondStageTutorialCard::RunTestsStep
          @repository={{@repository}}
          @courseStage={{@courseStage}}
          @isComplete={{this.runTestsStepIsComplete}}
        />
      {{/if}}
    </ExpandableStepList>
  </:content>
</CoursePage::InstructionsCard>