<CoursePage::InstructionsCard @title="How to pass this stage" id="second-stage-instructions-card" ...attributes>
  <:content>
    <div class="prose mb-5">
      <p>
        In this stage, you'll implement your own solution. Unlike stage 1, your repository doesn't contain commented code to pass this stage.
      </p>

      <p>
        {{! TODO: Aggregate stat across all stages, try to fetch challenge-specific values from the backend. }}
        <b class="text-teal-600">98%</b>
        of users who attempt this stage complete it.
      </p>
    </div>

    <ExpandableStepList @steps={{this.steps}} @onManualStepComplete={{this.handleStepCompletedManually}} class="scroll-mt-32" as |stepList|>
      {{#if (eq stepList.expandedStep.id "read-instructions")}}
        <CoursePage::CourseStageStep::SecondStageInstructionsCard::ReadInstructionsStep
          @repository={{@repository}}
          @courseStage={{@courseStage}}
          @isComplete={{this.readInstructionsStepIsComplete}}
        />
      {{else if (eq stepList.expandedStep.id "implement-solution")}}
        <CoursePage::CourseStageStep::SecondStageInstructionsCard::ImplementSolutionStep
          @repository={{@repository}}
          @courseStage={{@courseStage}}
          @isComplete={{this.implementSolutionStepIsComplete}}
        />
      {{else if (eq stepList.expandedStep.id "run-tests")}}
        <CoursePage::CourseStageStep::SecondStageInstructionsCard::RunTestsStep
          @repository={{@repository}}
          @courseStage={{@courseStage}}
          @isComplete={{this.runTestsStepIsComplete}}
        />
      {{/if}}
    </ExpandableStepList>
  </:content>
</CoursePage::InstructionsCard>