<ModalBody @allowManualClose={{false}} @onClose={{@onClose}} class="w-full" data-test-stage-incomplete-modal>
  <div class="mb-4 font-semibold text-2xl text-gray-800 dark:text-gray-100 mr-6">
    Stage incomplete
  </div>

  <div class="prose dark:prose-invert mb-6">
    <p>
      You haven't completed this stage yet. Are you sure you want to view code examples?
    </p>
  </div>

  <div class="flex items-center gap-x-6 gap-y-4 flex-wrap">
    <PrimaryLinkButton
      @route={{this.coursePageState.activeStep.routeParams.route}}
      @models={{this.coursePageState.activeStep.routeParams.models}}
      data-test-instructions-button
      class="flex-shrink-0"
    >
      <div class="flex items-center">
        {{svg-jar "arrow-left" class="w-4 mr-1 fill-current flex-shrink-0"}}
        <span>No, back to instructions</span>
      </div>
    </PrimaryLinkButton>

    <div
      class="text-gray-500 hover:text-gray-800 dark:text-gray-300 text-sm pb-0.25 border-b border-gray-400 dark:border-gray-500 hover:border-gray-600 dark:hover:border-gray-400 flex-shrink-0"
      role="button"
      {{on "click" @onClose}}
      data-test-show-code-button
    >
      Yes, show me the code 👀
    </div>
  </div>
</ModalBody>