<div class="py-6 px-5 mb-6 rounded bg-teal-50 border border-teal-600" {{did-resize this.onResize}} data-test-upgrade-prompt>
  <div class="max-w-3xl flex justify-between {{if this.isLarge 'mx-auto flex-row items-center' 'flex-col'}}">
    <div>
      <div class="font-bold text-slate-600 {{if this.isLarge 'text-2xl' 'text-xl'}}">
        This stage requires a<br />
        CodeCrafters Membership.
      </div>
      <div class="pt-3 pb-6 max-w-sm text-slate-700 {{if this.isLarge 'text-base' 'text-sm'}}" data-test-upgrade-prompt-secondary-copy>
        {{this.secondaryCopy}}
      </div>
      <PrimaryButton class="{{if this.isLarge 'w-fit' 'w-full'}}">View Membership Plans →</PrimaryButton>
    </div>
    <div class="flex flex-col gap-2 {{if this.isLarge 'mt-0' 'mt-10'}}">
      {{#each this.featureList as |feature|}}
        <div class="flex gap-4">
          {{svg-jar "check" class="w-8 h-8 p-1 fill-current rounded bg-teal-500 text-white"}}
          <div class="rounded bg-white border border-slate-200 px-4 text-slate-600 flex items-center">
            {{feature}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>