<CoursePage::InstructionsCard data-test-your-task-card class="group/your-task-card" ...attributes>
  <:content>
    <div class="flex items-center justify-between flex-wrap gap-3 border-b pb-2 mb-5 w-full">
      <div class="flex items-center gap-x-3 gap-y-1.5 flex-wrap">
        <h2 class="font-semibold text-lg text-gray-700 flex-shrink-0">Your Task</h2>
        <CoursePage::StepStatusPill @step={{this.coursePageState.currentStep}} class="flex-shrink-0" />

        {{#if (or (current-user-is-course-author @courseStage.course) (current-user-is-staff))}}
          <a
            href="{{@courseStage.course.definitionRepositoryLink}}/edit/main/course-definition.yml"
            class="text-gray-400 opacity-0 group-hover/your-task-card:opacity-100 items-center hover:text-gray-600 ml-1 text-xs hover:underline"
            target="_blank"
            rel="noopener noreferrer"
            data-test-edit-on-github-link
          >
            {{svg-jar "pencil-alt" class="inline-flex w-4 mr-1 fill-current"}}
            Edit on GitHub
          </a>
        {{/if}}
      </div>

      <CourseStageDifficultyLabel @stage={{@courseStage}} />
    </div>

    <div
      class="prose has-prism-highlighting"
      data-test-stage-instructions
      {{did-insert this.handleDidInsertInstructionsHTML}}
      {{did-update this.handleDidUpdateInstructionsHTML this.instructionsMarkdown}}
    >
      {{markdown-to-html this.instructionsMarkdown}}
    </div>

    {{! @glint-expect-error not ts-ified yet }}
    <CoursePage::CourseStageStep::YourTaskCard::ActionButtonList
      @courseStage={{@courseStage}}
      @repository={{@repository}}
      @onFeedbackButtonClick={{this.handleFeedbackActionButtonClicked}}
      @shouldHideFeedbackButtons={{this.automaticFeedbackFlowIsActive}}
      class="mt-3"
    />

    {{#if (or this.manualFeedbackFlowIsActive this.automaticFeedbackFlowIsActive)}}
      {{! @glint-expect-error not ts-ified yet }}
      <CoursePage::CourseStageStep::YourTaskCard::FeedbackPrompt
        @onClose={{this.handleFeedbackPromptClosed}}
        @onSubmit={{this.handleFeedbackSubmitted}}
        @courseStage={{@courseStage}}
        @repository={{@repository}}
        @wasTriggeredManually={{this.manualFeedbackFlowIsActive}}
        class="mt-6"
      />
    {{/if}}

    {{#if (eq this.coursePageState.nextStep this.coursePageState.activeStep)}}
      <div class="mt-4 flex">
        <PrimaryLinkButton
          @route={{this.coursePageState.activeStep.routeParams.route}}
          @models={{this.coursePageState.activeStep.routeParams.models}}
          data-test-continue-button
        >
          {{#if (eq this.coursePageState.activeStep.type "CourseStageStep")}}
            View Next Stage →
          {{else}}
            View Next Step →
          {{/if}}
        </PrimaryLinkButton>
      </div>
    {{/if}}
  </:content>
  <:footer>
    <CoursePage::CourseStageStep::Card::Footer @repository={{@repository}} @courseStage={{@courseStage}} />
  </:footer>
</CoursePage::InstructionsCard>