{{! @glint-nocheck: not typesafe yet }}
<div ...attributes>
  <img alt="avatar" src={{@user.avatarUrl}} class="border-2 border-white shadow rounded w-48 h-48 mb-6" />

  <div class="font-bold text-2xl text-gray-600">
    {{@user.name}}
  </div>

  <a class="group inline-flex items-center text-gray-400 mb-4" href={{@user.githubProfileUrl}}>
    <div class="text-lg group-hover:underline truncate">
      {{@user.githubUsername}}
    </div>

    {{svg-jar "github" class="fill-current w-5 ml-2 group-hover:text-gray-500"}}
  </a>

  {{#if (gt @user.completedCourseParticipations.length 0)}}
    <div class="mb-4 flex items-center space-x-1.5">
      {{#each @user.languagesFromCompletedCourseParticipations as |language|}}
        <LanguageLogo @language={{language}} @variant="teal" class="h-6" />
      {{/each}}
    </div>
  {{/if}}

  <div class="flex flex-col gap-4">
    <div>
      <div class="text-xs text-gray-400">
        joined
        {{date-from-now @user.createdAt}}
      </div>

      <UserLabel @user={{@user}} />
    </div>

    {{#if this.currentUser.isAdmin}}
      <TertiaryButton @size="extra-small" data-test-admin-profile-button class="w-fit">
        <a href={{@user.adminProfileUrl}} target="_blank" rel="noopener noreferrer">Admin Profile</a>
      </TertiaryButton>
    {{/if}}
  </div>
</div>