<div class="inline-flex items-center gap-x-1 text-xs">
  <div class="{{this.valueColorClasses}}">
    {{#if (and @statistic @statistic.value)}}
      <span class="font-semibold">
        {{@statistic.value}}
      </span>
    {{else}}
      -
    {{/if}}
  </div>
  <div class="text-gray-400">
    {{#if @statistic}}
      {{@statistic.label}}
    {{else if @fallbackLabel}}
      {{@fallbackLabel}}
    {{/if}}
  </div>

  {{#if @statistic}}
    <EmberTooltip>
      <div class="prose prose-sm prose-invert text-white">
        {{markdown-to-html @statistic.explanationMarkdown}}
      </div>
    </EmberTooltip>
  {{/if}}
</div>