<div class="inline-flex items-center gap-x-1 text-xs">
  <div class="{{this.valueColorClasses}}">
    {{#if @value}}
      <span class="font-semibold">
        {{@value}}
      </span>
    {{else}}
      -
    {{/if}}
  </div>
  <div class="text-gray-400">
    {{@label}}
  </div>

  <EmberTooltip>
    <div class="prose prose-sm prose-invert text-white">
      {{markdown-to-html "Dummy tooltip text!"}}
    </div>
  </EmberTooltip>
</div>