<div
  role="button"
  class="flex items-center justify-between pl-1 pr-4 border-b hover:bg-gray-100 {{if @isSelected "bg-gray-100"}}"
  {{on "click" @onClick}}
  data-test-timeline-entry>
  <div class="flex items-center py-2">
    {{#if @submission.statusIsSuccess}}
      <div class="w-4 h-4 rounded-full bg-green-600 mr-3 flex items-center justify-center">
        {{svg-jar "check" class="w-3 fill-current text-white"}}
      </div>
    {{else if @submission.statusIsFailure}}
      <div class="w-4 h-4 rounded-full bg-red-600 mr-3 flex items-center justify-center">
        {{svg-jar "x" class="w-3 fill-current text-white"}}
      </div>
    {{else if @submission.statusIsEvaluating}}
      <div class="w-4 h-4 rounded-full bg-yellow-600 mr-3 flex items-center justify-center">
        {{svg-jar "dots-horizontal" class="w-3 fill-current text-white"}}
      </div>
    {{/if}}
    <div>
      <span class="text-gray-700 text-sm {{if @isSelected "font-bold"}}">
        Stage #{{@submission.courseStage.position}} using {{@submission.repository.language.name}}
      </span>
      <span class="text-gray-400 text-xs">by {{@submission.repository.user.username}}</span>
    </div>
  </div>

  <div class="text-xs text-gray-400">
    {{this.formattedTimestamp}}
  </div>
</div>