{{page-title "Gift a CodeCrafters Membership"}}

<div class="container mx-auto lg:max-w-(--breakpoint-lg) pt-16 pb-48 px-3 md:px-6">
  <div class="flex flex-col items-center">
    <h1 class="text-center text-3xl text-gray-700 font-bold tracking-tighter mb-12">Gift a CodeCrafters membership</h1>

    {{#if false}}
      {{! TODO: Add success step }}
    {{else}}
      <GiftPaymentPage::NavigationContainer
        @completedSteps={{this.completedSteps}}
        @currentStep={{this.currentStep}}
        @onNavigationItemClick={{this.handleNavigationItemClick}}
        class="mb-20"
      />

      <AnimatedContainer class="w-full max-w-xl">
        {{#animated-if (eq this.currentStep 1) use=this.transition duration=200}}
          <GiftPaymentPage::EnterDetailsStepContainer @giftPaymentFlow={{this.model}} @onContinueButtonClick={{this.handleContinueButtonClick}} />
        {{else}}
          {{#animated-if (eq this.currentStep 2) use=this.transition duration=200}}
            <GiftPaymentPage::ChoosePlanStepContainer @giftPaymentFlow={{this.model}} @onContinueButtonClick={{this.handleContinueButtonClick}} />
          {{else}}
            {{#animated-if (eq this.currentStep 3) use=this.transition duration=200}}
              <GiftPaymentPage::ConfirmAndPayStepContainer
                @giftPaymentFlow={{this.model}}
                @onNavigationItemClick={{this.handleNavigationItemClick}}
              />
            {{/animated-if}}
          {{/animated-if}}
        {{/animated-if}}
      </AnimatedContainer>
    {{/if}}
  </div>
</div>