<div class="max-w-2xl mx-auto px-4 py-12">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-3xl leading-9 text-gradient-to-b from-white to-gray-300 font-bold mb-10 text-pretty">
      Redeem Gift Card
    </h1>

    <div
      data-test-gift-details-container
      class="relative bg-gradient-to-br from-gray-850 to-gray-950 rounded-lg border border-white/8 mb-6 w-full max-w-2xs flex flex-col justify-center items-center overflow-hidden gift-card"
    >
      <div class="flex flex-col items-center px-6 py-12 w-full">
        <img src={{this.logoImage}} alt="CodeCrafters" class="w-16 h-16 mb-2" />
        <span class="text-gradient-to-b from-white to-gray-300 text-2xl leading-9 font-bold mb-2">
          CodeCrafters
        </span>

        <span
          class="text-gradient-to-b from-gray-400 to-gray-500 leading-5 uppercase text-sm font-medium tracking-wide text-center text-balance mb-6"
        >
          Train your engineering skills like a pro athlete
        </span>

        <span class="text-gradient-to-b from-white to-gray-300 text-2xl leading-9 font-bold">
          3 months
        </span>

        <span
          class="text-gradient-to-b from-gray-400 to-gray-500 leading-5 uppercase text-xs font-medium tracking-wide text-center text-balance mt-0.5"
        >
          <TextShimmer @text="All-access" />
        </span>
      </div>

      <div class="bg-gray-950 border-t border-white/10 w-full">
        <div class="text-gray-400 text-xxs font-medium tracking-wide text-center text-balance p-2 uppercase">
          Expiry: 25 JUL '26
        </div>
      </div>

      {{!-- <p class="font-medium text-gray-950 dark:text-gray-100">Validity Period:</p>
      <p class="text-gray-600 dark:text-gray-400" data-test-validity-period>
        This gift is valid for
        {{@model.validityInDays}}
        days.
      </p> --}}
    </div>

    {{#if @model.giftMessage}}
      <div class="px-4 py-2 mb-6 flex flex-col items-center max-w-3xs">
        <div class="text-gray-500 uppercase text-xs font-medium tracking-wide mb-6 text-center">
          Message from sender:
        </div>

        <div class="text-gray-100 font-(family-name:--font-cursive) text-xl whitespace-pre-wrap text-center text-pretty">{{@model.giftMessage}}</div>
      </div>
    {{/if}}

    <PrimaryButton @size="large" data-test-redeem-button @isDisabled={{this.redeemButtonIsDisabled}} {{on "click" this.handleRedeemButtonClick}}>
      <div class="flex items-center gap-2.5">
        {{#if this.currentUserIsAnonymous}}
          {{svg-jar "github" class="fill-current w-6 transform transition-all"}}
        {{/if}}

        {{#if this.isRedeemingGift}}
          Redeeming...
        {{else}}
          Redeem Gift
        {{/if}}
      </div>

      {{#if this.currentUserIsAnonymous}}
        <EmberTooltip @text="Click to login via GitHub" />
      {{else if this.currentUserCanAccessMembershipBenefits}}
        <EmberTooltip @text="You already have full access to CodeCrafters. You can claim this gift once your membership expires." />
      {{/if}}
    </PrimaryButton>

    <div class="text-xs text-gray-400 text-center text-pretty mt-2">
      No credit card required.
    </div>
  </div>
</div>