<div class="pt-8 pb-16" {{did-update this.loadSolutions this.courseStage}} {{did-insert this.loadSolutions}} data-test-code-examples-tab>
  <div class="flex items-center justify-between mb-4 pb-2 border-b">
    <div class="flex items-center gap-x-3 gap-y-2 flex-wrap">
      <h2 class="font-semibold text-lg">Code Examples using {{this.currentLanguage.name}}</h2>

      {{#if (and this.repository.language (not-eq this.repository.language this.currentLanguage))}}
        <TertiaryButton @size="small" class="pl-1.5" {{on "click" (fn this.handleRequestedLanguageChange this.repository.language)}}>
          <div class="flex items-center">
            {{svg-jar "arrow-circle-left" class="w-4 h-4 mr-1.5 text-gray-500"}}

            <span>
              Back to
              {{this.repository.language.name}}
            </span>
          </div>
        </TertiaryButton>
      {{/if}}
    </div>

    <div class="flex-shrink-0 flex items-center gap-3">
      {{#if (or (current-user-is-staff) (current-user-is-course-author @model.courseStage.course))}}
        <div class="flex items-center gap-2">
          <div class="text-xs text-gray-400">
            Use rankings
          </div>

          <Toggle @isOn={{eq this.order "recommended"}} {{on "click" this.handleOrderToggle}} class="flex-shrink-0" />

          <EmberTooltip @text="Only visible to staff & challenge authors. Toggle to sort by rankings." />
        </div>
      {{/if}}

      <LanguageDropdown
        @languages={{this.sortedLanguagesForDropdown}}
        @requestedLanguage={{this.requestedLanguage}}
        @selectedLanguage={{this.currentLanguage}}
        @onRequestedLanguageChange={{this.handleRequestedLanguageChange}}
        @onDidInsertDropdown={{(noop)}}
        class="flex-shrink-0"
      />
    </div>
  </div>

  {{!-- <div class="flex p-3 bg-blue-100 border border-blue-300 rounded shadow-sm mb-4">
    <div class="mr-3 mt-0.5">
      {{svg-jar "information-circle" class="w-6 fill-current text-blue-400"}}
    </div>
    <div class="text-blue-900 prose prose-blue leading-7 text-sm">
      These code examples are from other users who've completed this stage. Most examples include AI-generated comments that explain the changes.
    </div>
  </div> --}}

  <div>
    {{#if this.isLoading}}
      <div class="flex justify-center items-center pt-32 pb-96 w-full">
        <img alt="Loading icon" src={{this.rippleSpinnerImage}} class="w-4 h-4" />
        <span class="ml-3 text-gray-700">Loading...</span>
      </div>
    {{else if (gt this.sortedSolutions.length 0)}}
      {{! @glint-expect-error: not ts-ified yet }}
      <CoursePage::CourseStageStep::CommunitySolutionsList @solutions={{this.sortedSolutions}} @repository={{@model.activeRepository}} />
    {{else}}
      <div class="flex py-16 justify-center items-center w-full">
        <div class="text-sm text-gray-500 text-center max-w-lg">
          No code examples available for
          {{this.currentLanguage.name}}. Complete this stage to be the first!
        </div>
      </div>
    {{/if}}
  </div>
</div>