<div class="pt-8 pb-16">
  {{#if this.coursePageState.currentStep.completionNoticeMessage}}
    <CoursePage::CompletedStepNotice @step={{this.coursePageState.currentStep}} class="mb-6" />
  {{/if}}

  {{#if this.shouldShowTestsPassedNotice}}
    <CoursePage::CourseStageStep::TestsPassedNotice class="mb-6" />
  {{/if}}

  {{#if this.shouldShowTestFailureExpectedHint}}
    <CoursePage::CourseStageStep::TestFailureExpectedHint class="mb-6" />
  {{/if}}

  {{#if this.shouldShowUpgradePrompt}}
    <CoursePage::CourseStageStep::UpgradePrompt class="mb-6" />
  {{/if}}

  {{#if this.shouldShowCLIUsageInstructions}}
    <CoursePage::CourseStageStep::CliUsageInstructions @courseStage={{@model.courseStage}} class="mb-6" />
  {{/if}}

  {{#if (gt this.badgeAwards.length 0)}}
    {{! @glint-expect-error: not ts-ified }}
    <CoursePage::CourseStageStep::EarnedBadgeNotice @badgeAwards={{this.badgeAwards}} class="mb-6" />
  {{/if}}

  {{#if this.shouldShowPrerequisites}}
    <CoursePage::CourseStageStep::PrerequisitesCard @repository={{@model.activeRepository}} @courseStage={{@model.courseStage}} class="mb-6" />
  {{/if}}

  <CoursePage::CourseStageStep::YourTaskCard @repository={{@model.activeRepository}} @courseStage={{@model.courseStage}} />

  {{#if @model.courseStage.isFirst}}
    <CoursePage::CourseStageStep::FirstStageInstructionsCard
      @repository={{@model.activeRepository}}
      @courseStage={{@model.courseStage}}
      class="mt-6"
    />
  {{/if}}

  {{#if @model.courseStage.isSecond}}
    <CoursePage::CourseStageStep::SecondStageInstructionsCard
      @repository={{@model.activeRepository}}
      @courseStage={{@model.courseStage}}
      class="mt-6"
    />
  {{/if}}

  {{#if this.shouldShowLanguageGuide}}
    <CoursePage::CourseStageStep::LanguageGuideCard @repository={{@model.activeRepository}} @courseStage={{@model.courseStage}} class="mt-6" />
  {{/if}}

  <div data-percy-hints-section>
    <h2 class="font-semibold border-b pb-2 mb-6 text-lg mt-8">Hints</h2>

    {{! @glint-expect-error: not ts-ified }}
    <CoursePage::CommentList @courseStage={{@model.courseStage}} @language={{@model.activeRepository.language}} />
  </div>
</div>