<CoursePage::PreviousStepsIncompleteOverlay
  @currentStep={{this.currentStep}}
  {{did-update this.loadLanguageGuides @model.courseStage}}
  {{did-insert this.loadLanguageGuides}}
>
  <div class="pt-6 pb-32 px-3 md:px-6 lg:px-10" {{did-update this.handleDidUpdateTestsStatus this.currentStep.testsStatus}}>
    {{#if this.shouldShowUpgradePrompt}}
      <CoursePage::CourseStageStep::UpgradePrompt @featureSlugToHighlight="content" class="mb-6" />
    {{/if}}

    {{#if this.shouldShowFeedbackPrompt}}
      <CoursePage::CourseStageStep::FeedbackPrompt
        @courseStage={{@model.courseStage}}
        @repository={{@model.activeRepository}}
        @onSubmit={{this.handleStageFeedbackSubmitted}}
        class="mb-6"
      />
    {{/if}}

    {{#if (gt this.badgeAwards.length 0)}}
      <CoursePage::CourseStageStep::EarnedBadgeNotice @badgeAwards={{this.badgeAwards}} class="mb-6" />
    {{/if}}

    {{#if (and this.shouldShowTestRunnerCard (eq this.currentStep.testsStatus "passed"))}}
      <CoursePage::CourseStageStep::TestRunnerCard
        class="mb-6"
        id="test-runner-card"
        @isCollapsible={{false}}
        @repository={{@model.activeRepository}}
        @stage={{@model.courseStage}}
        {{upscroll-on-insert scrollableContainer="#course-page-scrollable-area"}}
      />
    {{/if}}

    {{#if @model.courseStage.isFirst}}
      <CoursePage::CourseStageStep::FirstStageTutorialCard
        @repository={{@model.activeRepository}}
        @courseStage={{@model.courseStage}}
        @currentStep={{this.currentStep}}
        class="mb-6"
      />
    {{/if}}

    {{#if @model.courseStage.isSecond}}
      <CoursePage::CourseStageStep::SecondStageTutorialCard
        @repository={{@model.activeRepository}}
        @courseStage={{@model.courseStage}}
        @languageGuide={{this.languageGuide}}
        class="mb-6"
      />
    {{/if}}

    {{#if (and this.shouldShowTestRunnerCard (not-eq this.currentStep.testsStatus "passed"))}}
      <div class="mb-6">
        <CoursePage::CourseStageStep::TestRunnerCard
          {{! template-lint-disable no-duplicate-id }}
          id="test-runner-card"
          @isCollapsible={{or this.shouldSuppressTestRunnerCardExpands (not-eq this.currentStep.testsStatus "passed")}}
          @repository={{@model.activeRepository}}
          @stage={{@model.courseStage}}
          @onExpand={{if this.shouldSuppressTestRunnerCardExpands this.handleTestRunnerCardExpandedOnFirstStage undefined}}
        />

        {{#if this.shouldSuppressTestRunnerCardExpands}}
          <EmberPopover @popperContainer="body">
            <div class="prose prose-sm prose-invert text-white">
              {{#if (eq this.currentStep.testsStatus "failed")}}
                <p>
                  This failure is expected! Check the
                  <a href="#first-stage-tutorial-card">How to pass this stage</a>
                  section for instructions.
                </p>
              {{else}}
                <p>
                  Check the
                  <a href="#first-stage-tutorial-card">How to pass this stage</a>
                  section for instructions.
                </p>
              {{/if}}
            </div>
          </EmberPopover>
        {{/if}}
      </div>
    {{/if}}

    {{#if this.shouldShowStage1ForumLinkCTA}}
      <div class="prose dark:prose-invert prose-sm prose-compact ml-4 mb-10">
        <p>
          Need help?
          <a
            href="https://forum.codecrafters.io/new-topic?category=Challenges&tags=challenge%3A{{this.currentCourse.slug}}&title=%5B{{this.currentCourse.shortName}}%5D%20How%20to%20pass%20the%20first%20stage%3F&body=Checklist%3A%0A%0A1.%20%E2%9C%85%20or%20%E2%9D%8C%3A%20I%27ve%20uncommented%20the%20code.%0A2.%20%E2%9C%85%20or%20%E2%9D%8C%3A%20I%27ve%20saved%20the%20changes.%0A3.%20%E2%9C%85%20or%20%E2%9D%8C%3A%20I%27ve%20run%20the%20git%20commands%3A%0A%0A%60%60%60%0Agit%20commit%20-am%20%22%5Bseeking%20help%20on%20forum%5D%22%0Agit%20push%20origin%20master%0A%60%60%60%0A%0A---%0A%0AHere%E2%80%99s%20a%20screenshot%20showing%20the%20output%20from%20running%20the%20Git%20commands%3A%0A%0A%5BAttach%20screenshot%20here%5D%0A%0A%5BShare%20other%20details%20here%5D"
            target="_blank"
            rel="noopener noreferrer"
          >
            Post your issue</a>
          on the forum —
          <img
            alt="avatar"
            src="https://avatars.githubusercontent.com/u/1450947"
            class="inline-block ml-1 mr-1.5 my-0 -translate-y-px overflow-hidden rounded-full size-4 filter drop-shadow-sm ring-1 ring-white dark:ring-white/5 shadow"
          />Andy usually replies within 6 hours.
        </p>
      </div>
    {{/if}}

    {{! TODO: Remove this temporary card  }}
    {{#if (and @model.courseStage.isSecond (eq @model.courseStage.course.slug "shell"))}}
      <div class="my-10 mx-6 flex items-start gap-4">
        <img
          alt="avatar"
          src="https://avatars.githubusercontent.com/u/1450947"
          class="shrink-0 overflow-hidden rounded-full size-8 filter drop-shadow-sm ring-1 ring-white dark:ring-white/5 shadow"
        />
        <div class="prose prose-compact dark:prose-invert text-sm">
          <h4 class="text-base text-gray-600 dark:text-gray-300">Hi there! I'm Andy 👋</h4>
          <p>
            I'm working on improving our stage 2 experience.
          </p>
          <p>
            If you find anything confusing here, mind letting me know on
            <a
              href="https://forum.codecrafters.io/t/shell-help-us-improve-cz2-handle-invalid-commands/3691"
              target="_blank"
              rel="noopener noreferrer"
            >
              this forum post</a>?
          </p>
        </div>
      </div>
    {{/if}}

    {{! TODO: Bring this back? }}
    {{!-- {{#if this.shouldShowPrerequisites}}
      <CoursePage::CourseStageStep::PrerequisitesCard @repository={{@model.activeRepository}} @courseStage={{@model.courseStage}} class="mb-6" />
    {{/if}} --}}

    <CoursePage::CourseStageStep::YourTaskCard @repository={{@model.activeRepository}} @courseStage={{@model.courseStage}} />

    <div data-percy-hints-section>
      <div class="border-b dark:border-white/5 pb-2 mb-6 mt-8 flex items-center justify-between">
        <h2 class="font-semibold text-lg text-gray-800 dark:text-gray-200">Hints</h2>

        {{#if @model.activeRepository.language}}
          <div class="flex items-center gap-1">
            <span class="text-xs text-gray-500 mr-2">Filter by {{@model.activeRepository.language.name}}</span>
            <Toggle @isOn={{this.commentListIsFilteredByLanguage}} {{on "click" this.handleCommentListFilterToggled}} />

            <EmberTooltip>
              {{#if this.commentListIsFilteredByLanguage}}
                You're currently viewing hints that are relevant to
                {{@model.activeRepository.language.name}}. Turn this off to view hints for all languages.
              {{else}}
                You're currently viewing hints for all languages. Turn this on to filter hints that are relevant to
                {{@model.activeRepository.language.name}}.
              {{/if}}
            </EmberTooltip>
          </div>
        {{/if}}
      </div>

      <CoursePage::CommentList
        @courseStage={{@model.courseStage}}
        @language={{@model.activeRepository.language}}
        @shouldFilterByLanguage={{this.commentListIsFilteredByLanguage}}
      />
    </div>
  </div>
</CoursePage::PreviousStepsIncompleteOverlay>