{{! @glint-nocheck: not typesafe yet }}
<div class="border-b">
  <div class="container mx-auto pt-8 px-6">
    <LinkTo @route="course" @model={{@course.slug}} class="group flex items-center text-gray-400 hover:text-gray-500 transition-colors mb-4 text-sm">
      {{svg-jar "arrow-left" class="w-4 mr-1 fill-current"}}
      <span class="font-bold uppercase tracking-wide">Challenge Page</span>
    </LinkTo>

    <div class="flex items-center mb-4">
      <div class="w-10 h-10 flex items-center justify-center rounded bg-gray-700 mr-4 shadow">
        <CourseLogo @course={{@course}} class="w-8 h-8" />
      </div>

      <LinkTo @route="course.admin.submissions" @model={{@course.slug}} class="font-bold text-2xl text-gray-700">{{@course.name}}</LinkTo>
    </div>

    <div class="flex items-center">
      <div class="flex items-center px-3 py-2 mr-2 border-b-2 border-teal-500">
        {{svg-jar "code" class="text-gray-600 w-5 mr-2 fill-current text-gray-600"}}
        <span class="font-medium text-gray-700">Submissions</span>
      </div>
      <div class="flex items-center px-3 py-2 mr-2 border-b-2 border-opacity-0">
        {{svg-jar "academic-cap" class="text-gray-400 w-5 mr-2 fill-current text-gray-400"}}
        <span class="text-gray-600">Learners</span>
      </div>
      <div class="flex items-center px-3 py-2 mr-2 border-b-2 border-opacity-0">
        {{svg-jar "cog" class="text-gray-400 w-5 mr-2 fill-current text-gray-400"}}
        <span class="text-gray-600">Settings</span>
      </div>
    </div>
  </div>
</div>