{{#if (gt @solution.hintsJson.length 0)}}
  {{#each @solution.hintsJson as |hint hintIndex|}}
    <CoursePage::CourseStageStep::SolutionWithHints::HintCard
      @hint={{hint}}
      @hintIndex={{hintIndex}}
      @isExpanded={{eq this.expandedHintIndex hintIndex}}
      @onHeaderClick={{fn this.handleHintCardHeaderClick hintIndex}}
      class="mb-3"
    />
  {{/each}}
{{/if}}

<BlurredOverlay
  class="group"
  @isBlurred={{this.solutionIsBlurred}}
  @overlayClass="inset-px rounded-sm cursor-pointer group-hover:backdrop-blur-[3px] group-hover:bg-gray-50/20 dark:bg-gray-950/20 dark:group-hover:bg-gray-950/0"
  ...attributes
>
  <:content>
    <div class="grid gap-3 mb-3">
      {{#each @solution.changedFiles as |changedFile|}}
        <FileDiffCard
          @code={{changedFile.diff}}
          @filename={{changedFile.filename}}
          @language={{@solution.language.slug}}
          data-test-file-diff-card
        />
      {{/each}}
    </div>
  </:content>

  <:overlay>
    <SecondaryButton
      class="self-center bg-white group-hover:bg-teal-50 dark:bg-gray-950 dark:group-hover:bg-gray-950/80 backdrop-blur-3xl group-hover:text-teal-600 dark:group-hover:text-teal-400 group-hover:border-teal-600 dark:group-hover:border-teal-400"
      data-test-reveal-solution-button
    >
      <div class="flex items-center gap-2">
        {{svg-jar "eye" class="size-6"}}
        <span>Reveal complete solution</span>
      </div>
    </SecondaryButton>

    <button class="absolute inset-0" type="button" {{on "click" this.handleRevealSolutionButtonClick}} data-test-solution-blurred-overlay>
    </button>
  </:overlay>
</BlurredOverlay>

<AnimatedContainer>
  {{#animated-if (not this.solutionIsBlurred) use=this.transition duration=200}}
    <div class="flex items-center justify-center w-full">
      <TertiaryButton
        class="flex! justify-center items-center gap-2 dark:bg-transparent dark:text-gray-200 dark:border-white/5 dark:hover:border-gray-700/60 dark:hover:bg-gray-700/50"
        {{on "click" this.handleHideSolutionButtonClick}}
        data-test-hide-solution-button
      >
        {{svg-jar "eye-off" class="size-4"}}
        Hide Solution
      </TertiaryButton>
    </div>
  {{/animated-if}}
</AnimatedContainer>
