<div
  class="py-3.5 border-b border-yellow-200 dark:border-yellow-900/40 bg-linear-to-b from-0% to-100% from-yellow-50 to-yellow-100 dark:from-yellow-900/40 dark:to-yellow-900/60 flex items-center justify-between gap-4 flex-wrap"
  data-test-previous-steps-incomplete-notice
  ...attributes
>
  <div class="flex items-center flex-wrap gap-4">
    <div class="flex items-center gap-2">
      {{svg-jar "exclamation" class="w-8 h-8 fill-yellow-500 mt-1"}}

      <div class="prose prose-sm prose-yellow dark:prose-invert">
        <p>Complete previous steps to access this stage.</p>
      </div>
    </div>

    {{#if (and (not-eq @step this.activeStep) (not-eq this.activeStep.type "CourseCompletedStep"))}}
      <PrimaryLinkButton
        @size="small"
        @route={{this.activeStep.routeParams.route}}
        @models={{this.activeStep.routeParams.models}}
        data-test-back-to-active-step-button
      >
        <div class="flex items-center">
          {{svg-jar "arrow-left" class="w-4 mr-1 fill-current shrink-0"}}
          <span>Back to current {{if (eq this.activeStep.type "CourseStageStep") "stage" "step"}}</span>
        </div>
      </PrimaryLinkButton>
    {{/if}}
  </div>
</div>