<div class="flex flex-col items-center max-w-3xs sm:max-w-xs px-4 py-2" ...attributes data-test-gift-message-container>
  {{#if this.shouldShowMessage}}
    <div class="text-gray-500 uppercase text-xs font-medium tracking-wide mb-6 text-center">
      Message from sender:
    </div>

    <div
      class="text-white font-(family-name:--font-cursive) text-2xl sm:text-3xl whitespace-pre-wrap text-center text-pretty outline-none"
      contenteditable={{if (and @isEditable this.isEditing) "true" "false"}}
      {{did-insert this.handleMessageDidInsert}}
      data-test-gift-message-editable
    >{{@membershipGift.senderMessage}}</div>

    {{#if @isEditable}}
      <div class="mt-6">
        <AnimatedContainer>
          {{#animated-if (or this.isEditing this.updateMembershipGiftTask.isRunning) use=this.fade duration=300}}
            <div class="flex gap-2">
              <TertiaryButton
                @size="small"
                {{on "click" this.handleCancelClick}}
                @isDisabled={{this.updateMembershipGiftTask.isRunning}}
                data-test-cancel-button
              >
                Cancel
              </TertiaryButton>

              <PrimaryButtonWithSpinner
                @size="small"
                {{on "click" this.handleSaveClick}}
                @shouldShowSpinner={{this.updateMembershipGiftTask.isRunning}}
                @isDisabled={{this.updateMembershipGiftTask.isRunning}}
                data-test-save-button
              >
                Save
              </PrimaryButtonWithSpinner>
            </div>
          {{else}}
            <TertiaryButton @size="small" {{on "click" this.handleEditClick}} data-test-edit-button>
              <div class="flex items-center gap-1">
                {{svg-jar "pencil" class="fill-current w-4"}}

                <span>
                  Edit
                </span>
              </div>
            </TertiaryButton>
          {{/animated-if}}
        </AnimatedContainer>
      </div>
    {{/if}}
  {{else if @isEditable}}
    <PrimaryButton {{on "click" this.handleEditClick}} data-test-add-gift-message-button>
      <div class="flex items-center gap-2">
        {{svg-jar "annotation" class="fill-current w-5"}}
        <span>Add gift message</span>
      </div>
    </PrimaryButton>
  {{/if}}
</div>