{{page-title "FileContentsCard"}}

{{#let
  "flex flex-wrap text-sm font-semibold text-gray-600 dark:text-gray-200 border-b border-gray-200 dark:border-gray-700 py-2"
  "flex cursor-default select-none text-nowrap ml-2 mr-2 h-[20px]"
  as |groupClasses labelClasses|
}}
  <component-options class="{{groupClasses}} border-dotted flex-nowrap -mt-8">
    <component-options-left class="flex grow flex-wrap">
      <label class="{{labelClasses}}" title="File for the component to render (select a preset)">
        <span class="mr-2">File:</span>
        <select class="dark:bg-gray-700" {{on "change" this.selectedDocumentIndexDidChange}}>
          {{#each this.documents as |doc index|}}
            <option selected={{eq this.selectedDocumentIndex index}}>{{doc.filename}} ({{doc.language}})</option>
          {{/each}}
        </select>
      </label>
    </component-options-left>
    <component-options-right class="flex flex-wrap justify-end">
      <label class="{{labelClasses}}" title="Enable highlighting of specified line ranges">
        <Input @type="checkbox" @checked={{this.highlightedRanges}} />
        <span class="ml-2">highlightedRanges</span>
      </label>
      <label class="{{labelClasses}}" title="Enable collapsing of specified line ranges">
        <Input @type="checkbox" @checked={{this.collapsedRanges}} />
        <span class="ml-2">collapsedRanges</span>
      </label>
    </component-options-right>
  </component-options>

  <component-options class="{{groupClasses}} flex-nowrap">
    <component-options-left class="flex grow flex-wrap">
      <label class="{{labelClasses}}" title="Enable collapsing of the file card to just the header">
        <Input @type="checkbox" @checked={{this.isCollapsible}} />
        <span class="ml-2">isCollapsible</span>
      </label>
    </component-options-left>
    <component-options-right class="flex flex-wrap justify-end">
      <label class="{{labelClasses}}" title="Scroll the component into view after it's collapsed">
        <Input @type="checkbox" @checked={{this.scrollIntoViewOnCollapse}} disabled={{not this.isCollapsible}} />
        <span class="ml-2 {{unless this.isCollapsible 'text-gray-300'}}">scrollIntoViewOnCollapse</span>
      </label>
      <label class="{{labelClasses}}" title="Show a tooltip in the header when collapsible & collapsed">
        <Input @type="checkbox" @checked={{this.headerTooltipText}} disabled={{not this.isCollapsible}} />
        <span class="ml-2 {{unless this.isCollapsible 'text-gray-300'}}">headerTooltipText</span>
      </label>
    </component-options-right>
  </component-options>
{{/let}}

<FileContentsCard
  @code={{this.selectedDocument.document}}
  @collapsedRanges={{if this.collapsedRanges this.selectedDocument.collapsedRanges}}
  @filename={{this.selectedDocument.filename}}
  @headerTooltipText={{if this.headerTooltipText "Example tooltip message"}}
  @highlightedRanges={{if this.highlightedRanges this.selectedDocument.highlightedRanges}}
  @isCollapsed={{this.isCollapsed}}
  @isCollapsible={{this.isCollapsible}}
  @language={{this.selectedDocument.language}}
  @onCollapse={{fn (mut this.isCollapsed) true}}
  @onExpand={{fn (mut this.isCollapsed) false}}
  @scrollIntoViewOnCollapse={{this.scrollIntoViewOnCollapse}}
  class="mt-4"
/>

<div class="mt-2 mb-2 text-right">
  <span
    role="button"
    class="text-xs text-blue-600 hover:text-blue-800 dark:text-blue-200 dark:hover:text-blue-400 underline cursor-pointer"
    {{on "click" this.resetAllOptions}}
  >Reset all options</span>
</div>

{{outlet}}