<div data-test-evaluations-section ...attributes>
  {{! TODO: Use a "generic" statistic component? }}
  <div class="mt-6 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3 mb-6">
    <CourseAdmin::StageInsightsPage::StatisticCard @statistic={{this.coverageStatistic}} />
    <CourseAdmin::StageInsightsPage::StatisticCard @statistic={{this.falsePositiveRateStatistic}} />
    <CourseAdmin::StageInsightsPage::StatisticCard @statistic={{this.falseNegativeRateStatistic}} />
  </div>

  {{!-- <Tabs @size="regular" @tabs={{this.tabs}} @activeTabSlug={{this.activeTabSlug}} @onTabChange={{this.handleTabChange}}>
    <div class="mt-6">
      <div class="py-10">
        Incomplete
      </div>
    </div>
  </Tabs> --}}
</div>