<div
  class="group bg-white dark:bg-gray-800 p-5 rounded-md shadow-sm flex flex-col border
    {{if this.optimisticValueForIsActivated 'border-gray-300 dark:border-gray-700/60' 'border-gray-200 dark:border-white/5'}}
    relative"
  ...attributes
  data-test-course-extension-card
>
  <div class="flex items-start justify-between mb-3">
    <div class="flex items-center flex-wrap gap-3 mr-2 mb-0.5">
      <div
        class="{{if this.optimisticValueForIsActivated 'text-teal-600 dark:text-teal-500' 'text-gray-800 dark:text-gray-50'}}
          font-bold text-xl tracking-tight"
        data-test-course-extension-name
      >
        {{@extension.name}}
      </div>
      <BetaCourseExtensionLabel />
    </div>
    <div>
      <Toggle @isOn={{this.optimisticValueForIsActivated}} {{on "click" this.handleClick}} data-test-toggle-extension-button />
    </div>
  </div>
  {{! Text }}
  <div class="prose dark:prose-invert prose-sm">
    {{markdown-to-html @extension.descriptionMarkdown}}
  </div>
</div>