<div class="flex items-center justify-between" ...attributes data-test-course-overview-header>
  <div>
    <h1 class="text-3xl md:text-5xl text-gray-700 font-bold tracking-tighter mb-3">{{@course.name}}</h1>

    <p class="text-gray-500 mb-4">
      {{@course.shortDescription}}
    </p>

    {{#if @course.releaseStatusIsAlpha}}
      <div class="inline-flex text-sm lg:text-base rounded-lg px-3 py-2 text-teal-500 font-bold border border-teal-500">
        COMING SOON
      </div>
    {{else}}
      <div class="flex items-center flex-wrap-reverse gap-x-4 gap-y-4">
        <CourseOverviewPage::StartCourseButton @course={{@course}} />

        <div class="flex items-center flex-wrap gap-2 flex-grow">
          {{#each @course.betaOrLiveLanguages as |supportedLanguage|}}
            <img alt="{{@course.slug}}" src={{supportedLanguage.tealLogoUrl}} class="h-6" />
          {{/each}}
        </div>
      </div>
    {{/if}}
  </div>
  <div class="w-40 ml-4 hidden md:block">
    <CourseLogo @course={{@course}} />
  </div>
</div>