<div class="space-y-4">
  <CourseOverviewPage::StageCardList::Item
    @title="Base Stages"
    @descriptionMarkdown={{@course.descriptionMarkdown}}
    @stages={{@course.sortedBaseStages}}
    @completedStages={{@completedStages}}
  />

  {{#each @course.sortedExtensions as |extension|}}
    <CourseOverviewPage::StageCardList::Item
      @title={{extension.name}}
      @descriptionMarkdown={{extension.descriptionMarkdown}}
      @stages={{extension.sortedStages}}
      @completedStages={{@completedStages}}
    />
  {{/each}}
</div>