<AnimatedContainer>
  {{#animated-each this.visibleStages use=this.listTransition duration=200 as |baseStage index|}}
    <div class="flex items-stretch pb-1 group">
      <div class="w-3 pt-2 flex flex-col items-center mr-3">
        <div
          class="w-3 h-3 border border-gray-300 rounded-full bg-gray-100 filter hover:shadow group-hover:bg-gray-200 group-hover:border-gray-400 transition-all"
        ></div>

        {{#if (not-eq index (sub this.allStages.length 1))}}
          <div class="w-0.5 bg-gray-200 mt-2 flex-grow group-hover:bg-gray-300"></div>
        {{/if}}
      </div>

      {{! @glint-expect-error animated-each's yield not supported }}
      <CourseOverviewPage::StageListItem @stage={{baseStage}} data-test-stage-list-item />
    </div>
  {{/animated-each}}
</AnimatedContainer>

{{#animated-if (not this.shouldShowAllStages) use=this.transition}}
  <div class="flex items-stretch pb-1 group">
    <div class="w-3 pt-1.5 flex flex-col items-center mr-3">
      <div
        class="w-3 h-3 border border-gray-300 rounded-full bg-gray-100 group-hover:bg-gray-200 group-hover:border-gray-400 transition-colors"
      ></div>
    </div>

    <div class="flex items-center mt-0.5">
      <div
        role="button"
        class="flex items-center text-teal-500 text-sm font-bold underline"
        {{on "click" (fn (mut this.shouldShowAllStages) true)}}
        data-test-show-all-button
      >
        show all...
      </div>
    </div>
  </div>
{{else}}
  <div role="button" class="flex items-center text-teal-500 text-sm font-bold underline" {{on "click" (fn (mut this.shouldShowAllStages) false)}}>
    {{svg-jar "arrow-up" class="w-4 h-4 mr-2"}}
    collapse
  </div>
{{/animated-if}}