<div class="w-full" ...attributes>
  <div class="flex items-center justify-between mb-4">
    <div class="flex items-center">
      <div class="flex items-center mr-2 transition-all">
        <div class="text-teal-500 text-lg font-bold border-b">
          {{@stage.name}}
        </div>
      </div>

      <div class="flex -space-x-2 hover:space-x-1 items-center">
        {{#each this.recentlyAttemptedUsers as |user|}}
          <CourseOverviewPage::StageListItemAvatar @user={{user}} />
        {{/each}}
      </div>
    </div>

    <CourseStageDifficultyLabel @stage={{@stage}} class="flex-shrink-0 pl-4" />
  </div>

  <div>
    <div class="leading-relaxed prose mb-4 mr-8">
      {{this.marketingHTML}}
    </div>

    {{#if @stage.primaryExtension}}
      <div class="text-xs mb-4 text-gray-400">
        (This stage is part of the
        <b class="text-gray-400">"{{@stage.primaryExtension.name}}"</b>
        extension)
      </div>
    {{/if}}
  </div>
</div>