<div class="w-full" ...attributes>
  <div class="flex items-center justify-between mb-4 gap-4 flex-wrap">
    <div class="flex items-center">
      <div class="flex items-center mr-2 transition-all">
        <div class="text-teal-500 text-lg font-bold border-b">
          {{@stage.name}}
        </div>
      </div>

      <div class="flex -space-x-2 hover:space-x-1 items-center">
        {{#each this.recentlyAttemptedUsers as |user|}}
          <CourseOverviewPage::StageListItemAvatar @user={{user}} />
        {{/each}}
      </div>
    </div>

    <div class="hidden sm:inline-flex flex-shrink-0">
      <CourseStageDifficultyLabel @stage={{@stage}} />
    </div>
  </div>

  <div>
    <div class="leading-relaxed prose mb-4 mr-8" {{markdown-to-html @stage.marketingMarkdown}}>
    </div>

    {{#if @stage.primaryExtension}}
      <div class="text-xs mb-4 text-gray-400">
        (This stage is part of the
        <b class="text-gray-400">"{{@stage.primaryExtension.name}}"</b>
        extension)
      </div>
    {{/if}}

    <div class="mb-4 inline-flex sm:hidden">
      <CourseStageDifficultyLabel @stage={{@stage}} />
    </div>
  </div>
</div>