<div class="flex items-center" data-test-course-progress ...attributes>
  {{#if @lastPushedRepository.allStagesAreComplete}}
    {{svg-jar "check-circle" class="size-5 text-teal-500 mr-1"}}
  {{else}}
    <div class="size-5 mr-1.5">
      <ProgressDonut
        @total={{@course.stages.length}}
        @completed={{or @lastPushedRepository.completedStages.length 0}}
        @color="teal"
        data-test-course-progress-donut
      />
    </div>
  {{/if}}

  <div class="text-xs text-teal-500 mr-3" data-test-course-progress-text>
    <b class="font-bold">{{@lastPushedRepository.completedStages.length}}/{{@course.stages.length}}</b>
    stages
  </div>
</div>