<div class="w-full" ...attributes data-test-stage-list-item>
  <div class="flex items-center justify-between mb-3">
    <div class="flex items-center">
      <div class="w-2 h-2 {{if @isComplete 'bg-teal-500' 'bg-gray-200'}} rounded-full mr-2"></div>

      {{! TODO: Qualify all heroicons with solid/outline }}
      {{svg-jar "terminal-outline" class="w-6 mr-2 text-gray-500"}}

      <div class="text-gray-600 text-sm">
        {{@stage.name}}
      </div>
    </div>

    {{#if @isComplete}}
      {{svg-jar "check" class="ml-1 w-5 text-teal-500"}}
    {{else}}
      <div class="pl-4 hidden sm:flex flex-shrink-0">
        <CourseStageDifficultyLabel @stage={{@stage}} />
      </div>
    {{/if}}
  </div>
</div>