<div class="w-full" ...attributes>
  <div class="flex items-center justify-between mb-3">
    <div class="flex items-center">
      <div class="w-2 h-2 {{if @isComplete 'bg-teal-500' 'bg-gray-200'}} rounded-full mr-2"></div>

      {{! TODO: Qualify all heroicons with solid/outline }}
      {{(svg-jar "terminal-outline" class="w-6 mr-2 text-gray-500")}}

      <div class="text-gray-600 text-sm">
        {{@stage.name}}
      </div>
    </div>

    {{#if @isComplete}}
      {{(svg-jar "check" class="ml-1 w-5 text-teal-500")}}
    {{else}}
      <div class="items-center text-gray-400 text-xs flex-shrink-0 pl-4 hidden sm:flex">
        {{#if @stage.isFirst}}
          &lt; 5 minutes
        {{else if @stage.difficultyIsVeryEasy}}
          &lt; 5 minutes
        {{else if @stage.difficultyIsEasy}}
          5-10 minutes
        {{else if @stage.difficultyIsMedium}}
          30m - 1h
        {{else if @stage.difficultyIsHard}}
          1h +
        {{/if}}

        {{(svg-jar "clock" class="fill-current text-gray-300 ml-1 w-4 h-4")}}
      </div>
    {{/if}}
  </div>
</div>