<div class="border-b">
  <div class="container lg:max-w-screen-lg mx-auto pt-8 px-6">
    <div class="flex justify-between items-start">
      <div>
        <LinkTo
          @route="concept"
          @model={{@concept.lastPersistedSlug}}
          class="group flex items-center text-gray-400 hover:text-gray-500 transition-colors mb-4 text-sm"
        >
          {{svg-jar "arrow-left" class="w-4 mr-1 fill-current"}}
          <span class="font-bold uppercase tracking-wide">Back to Concept</span>
        </LinkTo>

        <div class="flex items-center mb-4">
          <div class="font-bold text-2xl text-gray-700">{{or @concept.title "Unnamed Concept"}}</div>
        </div>
      </div>
      <div>
        <TertiaryLinkButton @size="small" @route="concept" @model={{@concept.lastPersistedSlug}} @query={{hash bgi="0"}} target="_blank">
          <div class="flex items-center">
            <span>View Concept</span>
            {{svg-jar "external-link" class="w-4 ml-1 fill-current"}}
          </div>
        </TertiaryLinkButton>
      </div>
    </div>

    <div class="flex items-center">
      {{#each this.tabs key="slug" as |tab|}}
        <LinkTo @route={{tab.route}} @models={{tab.models}} class="flex">
          <CoursePage::Header::TabLink @icon={{tab.icon}} @text={{tab.name}} @isActive={{tab.isActive}} />
        </LinkTo>
      {{/each}}
    </div>
  </div>
</div>