<LinkTo
  class="group border p-5 bg-white rounded-md shadow-sm hover:shadow cursor-pointer flex flex-col justify-between"
  @route="concept"
  @model={{@concept.slug}}
  data-test-concept-card
>
  <div>
    <div class="flex items-center mb-2 gap-2">
      <div class="text-lg font-bold text-gray-600" data-test-concept-title>
        {{@concept.title}}
      </div>

      {{#if (current-user-is-concept-author @concept)}}
        <Pill @color="green">Yours</Pill>
      {{/if}}
    </div>

    <div class="prose prose-sm mb-5">
      {{markdown-to-html @concept.descriptionMarkdown}}
    </div>
  </div>

  {{! Footer }}
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      {{svg-jar "clock" class="w-4 mr-1 fill-current text-gray-300"}}
      <span class="text-xs text-gray-400">
        {{@concept.estimatedReadingTimeInMinutes}}
        mins
      </span>
    </div>

    <div class="flex items-center">
      <span class="font-bold text-teal-500 text-xs mr-2 opacity-0 group-hover:opacity-100 transition-opacity" data-test-action-text>
        View
      </span>

      {{svg-jar "arrow-right" class="w-4 fill-current text-gray-300 group-hover:text-teal-500 transition-colors"}}
    </div>
  </div>
</LinkTo>