<div ...attributes>
  <div class="flex items-center gap-2 text-gray-900 dark:text-gray-100 {{if @item.isGrayedOut 'opacity-25'}}">
    {{svg-jar "folder-open-outline" class="w-5 h-5"}}
    <span class="font-mono text-xs">{{@item.name}}</span>
  </div>

  {{#if @item.children}}
    <div class="relative ml-2.5 pt-2">
      {{! Vertical line connecting all children }}
      <div class="absolute left-0 top-0 bottom-2.5 w-px bg-gray-300 dark:bg-gray-600"></div>

      {{#each @item.children as |child childIndex|}}
        {{#let (eq childIndex (sub @item.children.length 1)) as |isLast|}}
          <div class="relative flex items-start gap-0.5 {{if isLast '' 'mb-2.5'}}">
            {{! Horizontal line }}
            <div class="w-3 mt-2.5 h-px bg-gray-300 dark:bg-gray-600"></div>

            {{#if (eq child.type "file")}}
              {{! @glint-expect-error: type narrowing }}
              <FileTreePreview::FileItem @item={{child}} />
            {{else if (eq child.type "folder")}}
              {{! @glint-expect-error: type narrowing }}
              <FileTreePreview::FolderItem @item={{child}} />
            {{/if}}
          </div>
        {{/let}}
      {{/each}}
    </div>
  {{/if}}
</div>