<div
  class="inline-flex items-center gap-2 rounded-full px-2 py-1 text-sm font-semibold
    {{if (eq @variant 'teal') 'bg-teal-50 text-teal-700 border border-teal-500 dark:bg-teal-950 dark:text-teal-400 dark:border-teal-400'}}
    {{if (eq @variant 'red') 'bg-red-50 text-red-700 border border-red-500 dark:bg-red-950 dark:text-red-400 dark:border-red-400'}}
    {{if
      (eq @variant 'yellow')
      'bg-yellow-50 text-yellow-700 border border-yellow-500 dark:bg-yellow-950 dark:text-yellow-400 dark:border-yellow-400'
    }}"
  ...attributes
>
  <div
    class="h-5 w-5 rounded-full
      {{if (eq @variant 'teal') 'bg-teal-500 dark:bg-teal-400'}}
      {{if (eq @variant 'red') 'bg-red-500 dark:bg-red-400'}}
      {{if (eq @variant 'yellow') 'bg-yellow-500 dark:bg-yellow-400'}}"
  ></div>
  <div class="uppercase">
    {{yield}}
  </div>
</div>