<div
  class="relative group bg-white dark:bg-gray-850 p-5 rounded-md shadow-sm border
    {{if this.userHasVoted 'border-gray-300 dark:border-gray-700' 'border-gray-200 dark:border-white/5'}}
    {{if @courseExtensionIdea.developmentStatusIsReleased 'opacity-50'}}"
  data-test-course-extension-idea-card
>
  <div class="flex items-start gap-3">
    <div class="flex flex-col gap-1 flex-grow">
      <div class="flex items-center gap-2 flex-wrap mt-0.5 mb-2.5">
        <div class="text-gray-700 dark:text-gray-200 font-bold text-xl tracking-tight" data-test-course-extension-idea-name>
          {{@courseExtensionIdea.name}}
        </div>

        {{#if @courseExtensionIdea.developmentStatusIsReleased}}

          <Pill @color="blue" data-test-development-status-pill>
            <div class="flex items-center gap-1">
              {{svg-jar "check-circle" class="w-3 fill-current"}}
              Released
            </div>
            <EmberTooltip @text="This challenge extension is now available! Visit the catalog to try it out." />
          </Pill>

        {{else if @courseExtensionIdea.developmentStatusIsInProgress}}
          <Pill @color="yellow" data-test-development-status-pill>
            <div class="flex items-center gap-1">
              {{svg-jar "shield-check" class="w-3 fill-current"}}
              In Progress
            </div>

            {{#if this.userHasVoted}}
              <EmberTooltip @text="We're currently building this challenge extension. We'll notify you when it launches." />
            {{else}}
              <EmberTooltip @text="We're currently building this challenge extension. Upvote this idea to be notified when it launches." />
            {{/if}}
          </Pill>
        {{else if this.userHasVoted}}
          <Pill @color="green" data-test-development-status-pill>
            <div class="flex items-center gap-1">
              {{svg-jar "thumb-up" class="w-3 fill-current"}}
              Voted
            </div>
            <EmberTooltip @text="You've voted for this idea! We'll notify you when it launches." />
          </Pill>
        {{else if @courseExtensionIdea.isNewlyCreated}}
          <Pill @color="green" data-test-development-status-pill>
            New
            <EmberTooltip @text="This is a recently added idea! Vote to help us decide which ideas to prioritize." />
          </Pill>
        {{/if}}
      </div>
      <div class="prose dark:prose-invert prose-sm">
        {{markdown-to-html @courseExtensionIdea.descriptionMarkdown}}
      </div>
    </div>

    <div class="flex flex-col gap-2 items-end shrink-0">
      <RoadmapPage::IdeaCard::VoteButton
        @idea={{@courseExtensionIdea}}
        @userHasVoted={{this.userHasVoted}}
        {{on "click" this.handleVoteButtonClick}}
      />

      <div class="flex items-center gap-1">
        <div class="{{if this.userHasVoted 'text-teal-600 dark:text-teal-400' 'text-gray-400 dark:text-gray-500'}} text-xs" data-test-vote-count>
          {{@courseExtensionIdea.votesCount}}
          {{if (eq @courseExtensionIdea.votesCount 1) "vote" "votes"}}
        </div>
      </div>
    </div>
  </div>
</div>