<div
  class="rounded-md shadow-sm overflow-hidden border border-gray-800 relative flex-shrink overflow-y-auto px-6 sm:px-16 py-16 min-h-0 w-full max-w-screen-lg from-[#181818] to-[#0A0A0A] bg-gradient-to-br"
  {{on-click-outside @onClose}}
  ...attributes
  data-test-badge-earned-modal
  {{did-insert this.handleDidInsert}}
>
  <button class="absolute left-6 top-6 opacity-90 hover:opacity-100" type="button" {{on "click" @onClose}} data-test-close-modal-button>
    {{svg-jar "dark-modal-back-button" class="w-8 h-8"}}
  </button>

  <div class="flex flex-col md:flex-row gap-x-20 gap-y-8 items-center">
    <div class="flex w-full md:w-5/12 justify-center items-center">
      <div class="w-full max-w-[250px]">
        {{#if this.userHasBadgeAward}}
          <BadgesPage::EarnedBadgePreview @badge={{@badge}} class="mb-3 lg:mb-6" />
        {{else}}
          <BadgesPage::LockedBadgePreview @badge={{@badge}} class="mb-3 lg:mb-6" />
        {{/if}}

        {{#if @badge}}
          <div class="font-semibold text-sm sm:text-base text-gray-300 mb-1 text-center" data-test-badge-name>
            {{#if this.userHasBadgeAward}}
              The
              {{@badge.name}}
              Badge
            {{else}}
              Locked Badge
            {{/if}}
          </div>

          <div class="text-xs sm:text-sm text-gray-400 text-center" data-test-badge-description>
            {{@badge.shortDescription}}
          </div>
        {{else}}
          <div class="text-sm sm:text-base font-semibold text-gray-300 mt-1 text-center" data-test-badge-name>
            Locked Badge
          </div>
        {{/if}}
      </div>
    </div>
    <div class="flex w-full md:w-7/12 justify-center items-center">
      <div>
        <div class="prose prose-sm w-full prose-invert text-center badge-earned-modal-prose">
          {{markdown-to-html @badge.descriptionMarkdown}}
        </div>
        <div class="flex items-center w-full mt-12">
          <div class="bg-gradient-to-r from-[#BFBEC3] to-[#433F46] h-px w-full opacity-50">
          </div>
          <div class="inline-block px-4 flex-shrink-0">
            <span class="text-gray-100 text-sm">Earned: {{date-format this.lastAwardedAt format="PPP"}}</span>
          </div>
          <div class="bg-gradient-to-l from-[#BFBEC3] to-[#433F46] h-px w-full opacity-50">
          </div>
        </div>
        {{#unless this.currentUser.hasEarnedThreeInADayBadge}}
          <div class="flex items-center justify-center mt-8">
            {{svg-jar "gold-badge-icon" class="w-10 h-10 mr-3 flex-shrink-0"}}

            <div class="text-gray-100 text-sm">
              You&apos;re 1 step closer to your next badge.
              <br />
              Complete 3 stages in one day.
            </div>
          </div>

          <div class="flex justify-center mt-6 dark">
            <TertiaryButton @size="small" {{on "click" @onClose}}>
              Continue →
            </TertiaryButton>
          </div>
        {{/unless}}
      </div>
    </div>
  </div>
</div>