<div class="flex flex-col gap-3" ...attributes>
  <div class="bg-gray-800 border border-gray-700 rounded-sm relative shrink-0 flex items-center justify-between">
    <div class="flex items-center px-3 py-2 gap-2">
      {{#if (eq @autofixRequest.status "in_progress")}}
        <BlinkingDot @color="yellow" />
        <span class="font-mono text-xs text-white">Generating hints... (the logs below will be verbose, we'll summarize them once completed)</span>
      {{else if (eq @autofixRequest.status "failure")}}
        <StaticDot @color="red" />
        <span class="font-mono text-xs text-white">Failed to generate hints</span>
      {{else if (eq @autofixRequest.status "error")}}
        <StaticDot @color="red" />
        <span class="font-mono text-xs text-white">Internal error (Our engineers have been notified of this!)</span>
      {{else if (eq @autofixRequest.status "cancelled")}}
        <StaticDot @color="gray" />
        <span class="font-mono text-xs text-white">Cancelled</span>
      {{else if (eq @autofixRequest.status "success")}}
        <StaticDot @color="green" />
        <span class="font-mono text-xs text-white">Hints generated</span>
      {{/if}}
    </div>
  </div>

  {{#if (eq @autofixRequest.status "in_progress")}}
    <div class="bg-gray-800 border border-gray-700 rounded-sm overflow-y-auto relative grow">
      <div
        class="p-3"
        {{did-insert this.handleMarkdownStreamElementInserted}}
        {{did-update this.handleDidUpdateAutofixRequestLogstreamId @autofixRequest.logstreamId}}
        {{will-destroy this.handleWillDestroyMarkdownStreamElement}}
      >
        {{#if this.logstream}}
          <AnsiStream @content={{this.logstream.content}} class="text-xs whitespace-pre-wrap" />
        {{/if}}
      </div>
    </div>
  {{else}}
    {{#if (eq @autofixRequest.status "success")}}
      <div class="grow overflow-y-auto">
        <div class="prose prose-sm dark:prose-invert has-prism-highlighting" {{highlight-code-blocks @autofixRequest.explanationMarkdown}}>
          <h3>Hint: {{@autofixRequest.summary}}</h3>

          {{markdown-to-html @autofixRequest.explanationMarkdown}}
        </div>

        <div class="mt-4 flex items-center gap-4">
          <FeedbackButton @source="autofix_result" @dropdownPosition="left">
            <TertiaryButton @size="small">
              Share Feedback
            </TertiaryButton>
          </FeedbackButton>
        </div>

        <BlurredOverlay @isBlurred={{this.diffIsBlurred}} @overlayClass="bg-gray-900/20">
          <:content>
            {{#each @autofixRequest.changedFiles key="filename" as |changedFile|}}
              <FileDiffCard
                @code={{changedFile.diff}}
                @filename={{changedFile.filename}}
                @forceDarkTheme={{true}}
                {{! @glint-expect-error language can be nullable }}
                @language={{@autofixRequest.submission.repository.language.slug}}
                class="mt-6"
              />
            {{/each}}
          </:content>
          <:overlay>
            <PrimaryButton {{on "click" this.toggleBlur}} class="mt-8">
              Reveal Diff
            </PrimaryButton>
          </:overlay>
        </BlurredOverlay>
      </div>
    {{else if (eq @autofixRequest.status "failure")}}
      <div class="grow overflow-y-auto">
        <div class="prose prose-sm dark:prose-invert">
          <p>
            We failed to generate hints for your submission. You can click on "Show Full Log" to see what we tried.
          </p>
        </div>
      </div>
    {{else if (eq @autofixRequest.status "error")}}
      <div class="grow overflow-y-auto">
        <div class="prose prose-sm dark:prose-invert">
          <p>
            We encountered an internal error while generating hints for your submission. Our engineers have been notified of this!
          </p>
        </div>
      </div>
    {{else if (eq @autofixRequest.status "cancelled")}}
      <div class="grow overflow-y-auto">
        <div class="prose prose-sm dark:prose-invert">
          <p>
            This hint generation request was cancelled.
          </p>
        </div>
      </div>
    {{/if}}
  {{/if}}
</div>