<div class="flex flex-col gap-3" ...attributes>
  <div class="bg-gray-900 border border-gray-700 rounded relative flex-shrink-0 flex items-center justify-between">
    <div class="flex items-center px-3 py-2 gap-2">
      {{#if (eq @autofixRequest.status "in_progress")}}
        <BlinkingDot @color="yellow" />
        <span class="font-mono text-xs text-white">Generating hints... (the logs below will be verbose, we'll summarize them once completed)</span>
      {{else if (eq @autofixRequest.status "failure")}}
        <StaticDot @color="red" />
        <span class="font-mono text-xs text-white">Failed to generate hints</span>
      {{else if (eq @autofixRequest.status "error")}}
        <StaticDot @color="red" />
        <span class="font-mono text-xs text-white">Internal error (Our engineers have been notified of this!)</span>
      {{else if (eq @autofixRequest.status "cancelled")}}
        <StaticDot @color="gray" />
        <span class="font-mono text-xs text-white">Cancelled</span>
      {{else if (eq @autofixRequest.status "success")}}
        <StaticDot @color="green" />
        <span class="font-mono text-xs text-white">Hints generated</span>
      {{/if}}
    </div>
    {{#unless (eq @autofixRequest.status "in_progress")}}
      <div
        class="text-gray-400 underline text-xs px-3 py-2 inline-flex hover:text-gray-300"
        {{on "click" (fn (mut this.shouldShowFullLog) (not this.shouldShowFullLog))}}
        role="button"
      >
        {{#if this.shouldShowFullLog}}
          Show summary
        {{else}}
          Show Full Log
        {{/if}}
      </div>
    {{/unless}}
  </div>

  {{#if (eq @autofixRequest.status "in_progress")}}
    <div class="bg-gray-900 border border-gray-700 rounded overflow-y-auto relative flex-grow">
      <div
        class="p-3"
        {{did-insert this.handleMarkdownStreamElementInserted}}
        {{did-update this.handleDidUpdateAutofixRequestLogstreamId @autofixRequest.logstreamId}}
        {{will-destroy this.handleWillDestroyMarkdownStreamElement}}
      >
        {{#if this.logstream}}
          <AnsiStream @content={{this.logstream.content}} class="text-xs whitespace-pre-wrap" />
        {{/if}}
      </div>
    </div>
  {{else}}
    {{#if this.shouldShowFullLog}}
      <div class="bg-gray-900 border border-gray-700 rounded flex-grow overflow-y-auto">
        <div class="p-3">
          <pre class="font-mono text-xs text-white whitespace-pre-wrap"><code>{{ansi-to-html @autofixRequest.logs}}</code></pre>
        </div>
      </div>
    {{else if (eq @autofixRequest.status "success")}}
      <div class="flex-grow overflow-y-auto">
        <div class="prose prose-sm dark:prose-invert has-prism-highlighting" {{highlight-code-blocks @autofixRequest.explanationMarkdown}}>
          {{markdown-to-html @autofixRequest.explanationMarkdown}}
        </div>

        <div class="mt-4 flex items-center gap-4">
          {{! @glint-expect-error: not ts-ified }}
          <FeedbackButton @source="autofix_result" @dropdownPosition="left">
            <TertiaryButton @size="small">
              Share Feedback
            </TertiaryButton>
          </FeedbackButton>

          <a
            href="https://docs.codecrafters.io/experimental/ai-hints"
            target="_blank"
            rel="noopener noreferrer"
            class="text-sm text-gray-400 underline"
          >Learn more</a>.
        </div>

        <BlurredOverlay @isBlurred={{this.diffIsBlurred}} @onUnblur={{fn (mut this.diffIsBlurred) false}}>
          {{#each @autofixRequest.changedFiles key="filename" as |changedFile|}}
            <FileDiffCard
              class="mt-6"
              @filename={{changedFile.filename}}
              @code={{changedFile.diff}}
              {{! @glint-expect-error language.slug can be null? }}
              @language={{@autofixRequest.submission.repository.language.slug}}
            />
          {{/each}}
        </BlurredOverlay>
      </div>
    {{else if (eq @autofixRequest.status "failure")}}
      <div class="flex-grow overflow-y-auto">
        <div class="prose prose-sm dark:prose-invert">
          <p>
            We failed to generate hints for your submission. You can click on "Show Full Log" to see what we tried.
          </p>
        </div>
      </div>
    {{else if (eq @autofixRequest.status "error")}}
      <div class="flex-grow overflow-y-auto">
        <div class="prose prose-sm dark:prose-invert">
          <p>
            We encountered an internal error while generating hints for your submission. Our engineers have been notified of this!
          </p>
        </div>
      </div>
    {{else if (eq @autofixRequest.status "cancelled")}}
      <div class="flex-grow overflow-y-auto">
        <div class="prose prose-sm dark:prose-invert">
          <p>
            This hint generation request was cancelled.
          </p>
        </div>
      </div>
    {{/if}}
  {{/if}}
</div>