<AlertWithIcon class="mb-6">
  Challenge extensions are groups of extra stages that extend challenges. Vote and help us decide which ones to build.
</AlertWithIcon>

<div class="flex items-center mb-6">
  <ChallengeDropdown
    @challenges={{this.orderedCourses}}
    @selectedChallenge={{this.selectedCourse}}
    @requestedChallenge={{this.selectedCourse}}
    @onRequestedChallengeChange={{this.handleChallengeChange}}
  />
</div>

<div class="grid grid-cols-1 gap-3 mb-8">
  {{#each this.orderedCourseExtensionIdeas as |courseExtensionIdea|}}
    <RoadmapPage::CourseExtensionIdeaCard @courseExtensionIdea={{courseExtensionIdea}} />
  {{/each}}

  {{#if this.authenticator.isAuthenticated}}
    <RoadmapPage::SubmitCourseExtensionIdeaCard @course={{this.selectedCourse}} />
  {{/if}}
</div>