<AlertWithIcon class="mb-6">
  Challenge extensions are groups of extra stages that extend challenges. Vote and help us decide which ones to build.
</AlertWithIcon>

<div class="flex items-center flex-wrap mb-6">
  {{#each this.orderedCourses as |course|}}
    <RoadmapPage::CoursePill
      @course={{course}}
      @isSelected={{eq this.selectedCourse course}}
      class="mr-2 mb-3 flex-shrink-0"
      {{on "click" (fn (mut this.selectedCourseSlug) course.slug)}}
    />
  {{/each}}
</div>

<div class="grid grid-cols-1 gap-3 mb-8">
  {{#each this.orderedCourseExtensionIdeas as |courseExtensionIdea|}}
    <RoadmapPage::CourseExtensionIdeaCard @courseExtensionIdea={{courseExtensionIdea}} />
  {{/each}}

  {{#if this.authenticator.isAuthenticated}}
    <RoadmapPage::SubmitCourseExtensionIdeaCard @course={{this.selectedCourse}} />
  {{/if}}
</div>