<div class="text-gray-700 leading-7 prose mb-4" data-test-create-repository-step>
  <p>
    Welcome to the
    {{@repository.course.name}}
    challenge!
  </p>

  {{this.courseDescriptionHTML}}

  <p>
    To get started, let's create a Git repository with starter code for you to work on. Which language would you like to use?
  </p>
</div>

<div>
  {{#if @repository.isSaving}}
    <div class="flex items-center mt-3">
      <img alt="Loading icon" src="/assets/images/icons/ripple-spinner.svg" class="w-4 h-4" />
      <span class="ml-3 text-gray-700">Initializing a Git Repository...</span>
    </div>
  {{else}}
    <div class="flex items-center flex-wrap">
      {{#if (and (gt this.preferredLanguages.length 0) (not this.shouldShowNonPreferredLanguages))}}
        {{#each this.preferredLanguages as |language|}}
          <CoursePage::StepList::SetupItem::LanguageButton @language={{language}} {{on "click" (fn this.handleLanguageButtonClick language)}} />
        {{/each}}

        <CoursePage::StepList::SetupItem::ShowOtherLanguagesButton
          @course={{@repository.course}}
          @user={{@repository.user}}
          {{on "click" this.handleShowOtherLanguagesButtonClick}}
        />
      {{else}}
        {{#each this.orderedLanguageConfigurations as |languageConfiguration|}}
          <CoursePage::StepList::SetupItem::LanguageButton
            @language={{languageConfiguration.language}}
            @releaseStatusIsAlpha={{languageConfiguration.releaseStatusIsAlpha}}
            {{on "click" (fn this.handleLanguageButtonClick languageConfiguration.language)}}
          />
        {{/each}}

        <CoursePage::StepList::SetupItem::RequestLanguageButton @course={{@repository.course}} @user={{@repository.user}} />
      {{/if}}
    </div>

    <AnimatedContainer>
      {{#animated-if (gt this.requestedAndUnsupportedLanguages.length 0) use=this.requestedLanguagesPromptTransition}}
        <CoursePage::StepList::SetupItem::RequestedLanguagesPrompt @requestedAndUnsupportedLanguages={{this.requestedAndUnsupportedLanguages}} />
      {{/animated-if}}
    </AnimatedContainer>
  {{/if}}
</div>