<div class="text-gray-700 leading-7 prose mb-4" data-test-create-repository-step>
  {{this.instructionsHTML}}
</div>

<div>
  {{#if @repository.isSaving}}
    <div class="flex items-center mt-3">
      <img alt="Loading icon" src="/assets/images/icons/ripple-spinner.svg" class="w-4 h-4" />
      <span class="ml-3 text-gray-700">Initializing a Git Repository...</span>
    </div>
  {{else}}
    <div class="flex items-center flex-wrap">
      {{#each @repository.course.supportedLanguages as |supportedLanguage|}}
        <CoursePage::StepList::SetupItem::LanguageButton
          @language={{supportedLanguage}}
          {{on "click" (fn this.handleLanguageButtonClick supportedLanguage)}}
        />
      {{/each}}

      <CoursePage::StepList::SetupItem::RequestLanguageButton @course={{@repository.course}} @user={{@repository.user}} />
    </div>

    <AnimatedContainer>
      {{#animated-if this.requestedLanguages.firstObject use=this.requestedLanguagesPromptTransition}}
        <CoursePage::StepList::SetupItem::RequestedLanguagesPrompt @requestedLanguages={{this.requestedLanguages}} />
      {{/animated-if}}
    </AnimatedContainer>
  {{/if}}
</div>