<div
  class="flex items-start justify-between border
    {{if @isSelected 'border-teal-500 dark:border-teal-700' 'border-gray-200 dark:border-white/5 hover:border-gray-300 dark:hover:border-white/10'}}
    rounded p-3
    {{if @isSelected 'bg-teal-50 dark:bg-teal-900/30' 'bg-white dark:bg-gray-925 hover:bg-gray-50 dark:hover:bg-gray-900'}}"
  role="button"
  {{on "click" @onClick}}
  data-test-plan-card
  ...attributes
>
  <div class="flex items-start gap-2">
    <div
      class="shrink-0 flex items-center justify-center w-4 h-4 border rounded-full mt-0.5
        {{if @isSelected 'border-teal-500 dark:border-teal-700' 'border-gray-400 dark:border-gray-600'}}"
    >
      {{#if @isSelected}}
        <div class="w-2.5 h-2.5 bg-teal-500 dark:bg-teal-700 rounded-full"></div>
      {{/if}}
    </div>

    <div>
      <div class="flex items-center gap-x-1.5">
        <span class="text-gray-700 dark:text-gray-200 font-bold text-sm">
          {{@plan.title}}
          pass
        </span>
        {{#if (eq @plan.validityInMonths 12)}}
          <Pill @color="teal" @size="small">
            BEST VALUE
          </Pill>
        {{/if}}
      </div>

      <div class="prose dark:prose-invert text-gray-500 dark:text-gray-400 prose-xs prose-compact mt-1">
        {{#if @plan.validityInMonths}}
          <p>
            Access to all membership benefits for
            {{@plan.title}}
          </p>
        {{else}}
          <p>
            Access to all membership benefits forever
          </p>
        {{/if}}
      </div>

      {{#if this.discountedPriceInDollars}}
        <div class="prose dark:prose-invert prose-xs prose-compact text-gray-500 dark:text-gray-400">
          <ul class="mt-0">
            {{#if @regionalDiscount}}
              <li data-test-regional-discount-notice>
                <b class="text-teal-500">{{@regionalDiscount.percentOff}}% off</b>
                —
                {{@regionalDiscount.countryName}}
                discount
              </li>
            {{/if}}
            {{#if @promotionalDiscount}}
              <li data-test-promotional-discount-notice>
                <b class="text-teal-500">{{@promotionalDiscount.percentageOff}}% off</b>
                —
                {{#if @promotionalDiscount.isFromAffiliateReferral}}<span
                    class="text-nowrap"
                  >{{@promotionalDiscount.affiliateReferral.affiliateLink.affiliateName}}'s</span>
                  referral offer{{else if @promotionalDiscount.isFromStage2Completion}}Stage 2 completion discount{{else if
                  @promotionalDiscount.isFromSignup
                }}Signup discount{{/if}}, expires in
                <span class="font-mono">{{this.promotionalDiscountCountdownTimerText}}</span>
              </li>
            {{/if}}
          </ul>
        </div>
      {{/if}}
    </div>
  </div>

  <div class="flex flex-col items-end pl-4 shrink-0">
    {{#if this.discountedPriceInDollars}}
      <div class="flex items-center gap-x-1">
        <span class="text-gray-400 dark:text-gray-500 font-bold line-through text-lg">${{@plan.priceInDollars}}</span>
        <span class="text-teal-500 font-bold" data-test-discounted-price>
          ${{this.discountedPriceInDollars}}
        </span>
      </div>
    {{else}}
      <div class="text-gray-600 dark:text-gray-300 font-bold">
        ${{@plan.priceInDollars}}
      </div>
    {{/if}}

    <div class="text-gray-500 dark:text-gray-400 text-xxs shrink-0 text-right mt-0.5">
      {{#if this.amortizedMonthlyPriceInDollars}}
        Effectively ${{this.amortizedMonthlyPriceInDollars}}/mo
      {{else}}
        Limited spots
      {{/if}}
    </div>
  </div>
</div>