<div
  class="flex items-start justify-between border
    {{if @isSelected 'border-teal-500' 'border-gray-200 hover:border-gray-300'}}
    rounded p-3
    {{if @isSelected 'bg-teal-50' 'bg-white hover:bg-gray-50'}}"
  role="button"
  data-test-modal-plan-card
  ...attributes
>
  <div class="flex items-start gap-2">
    <div
      class="flex-shrink-0 flex items-center justify-center w-4 h-4 border rounded-full mt-0.5 {{if @isSelected 'border-teal-500' 'border-gray-400'}}"
    >
      {{#if @isSelected}}
        <div class="w-2.5 h-2.5 bg-teal-500 rounded-full"></div>
      {{/if}}
    </div>
    <div>
      <div class="flex items-center gap-x-1.5">
        <span class="text-gray-600 font-bold text-sm">
          {{@title}}
        </span>
        {{#if (eq @validityInMonths 12)}}
          <span class="inline-block bg-teal-500 text-white font-bold rounded px-1.5 py-1 text-xxs uppercase">best value</span>
        {{/if}}
      </div>
      <div class="prose prose-xs prose-compact mt-1 text-gray-500">
        {{#if (eq @validityInMonths 3)}}
          <p>
            Access to all membership benefits for 3 months
          </p>
        {{else if (eq @validityInMonths 12)}}
          <p>
            Access to all membership benefits for 1 year
          </p>
        {{else}}
          <p>
            Access to all membership benefits forever
          </p>
        {{/if}}
      </div>

      {{#if @discountedPriceInDollars}}
        <div class="prose prose-xs prose-compact text-gray-500">
          <ul class="mt-0">
            {{#if (and @regionalDiscount @shouldApplyRegionalDiscount)}}
              <li data-test-modal-regional-discount-notice>
                <b class="text-teal-500">{{@regionalDiscount.percentOff}}% off</b>
                —
                {{@regionalDiscount.countryName}}
                discount
              </li>
            {{/if}}
            {{#if (and @activeDiscountForYearlyPlan.isFromAffiliateReferral (not @activeDiscountForYearlyPlan.isFromSignup))}}
              <li data-test-discount-notice>
                <b class="text-teal-500">{{@activeDiscountForYearlyPlan.percentageOff}}% off</b>
                —
                <span class="text-nowrap">{{@activeDiscountForYearlyPlan.affiliateReferral.affiliateLink.usernameForDisplay}}'s</span>
                referral offer, expires in
                <span class="font-mono">{{this.timeLeftText}}</span>
              </li>
            {{else if @activeDiscountForYearlyPlan.isFromStage2Completion}}
              <li data-test-discount-notice>
                <b class="text-teal-500">{{@activeDiscountForYearlyPlan.percentageOff}}% off</b>
                — Stage 2 completion discount, expires in
                <span class="font-mono">{{this.timeLeftText}}</span>
              </li>
            {{/if}}
          </ul>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="flex flex-col items-end pl-4 flex-shrink-0">
    {{#if @discountedPriceInDollars}}
      <div class="flex items-center gap-x-1">
        <span class="text-gray-400 font-bold line-through text-lg">${{@actualPriceInDollars}}</span>
        <span class="text-teal-500 font-bold" data-test-discounted-price>
          ${{@discountedPriceInDollars}}
        </span>
      </div>
    {{else}}
      <div class="text-gray-600 font-bold">
        ${{@actualPriceInDollars}}
      </div>
    {{/if}}
    <div class="text-gray-500 text-xxs flex-shrink-0 text-right mt-0.5">
      {{#if this.amortizedMonthlyPriceInDollars}}
        Effectively ${{this.amortizedMonthlyPriceInDollars}}/mo
      {{else}}
        Limited spots
      {{/if}}
    </div>
  </div>
</div>