{{! @glint-nocheck: not typesafe yet }}
<div class="flex items-center" data-test-track-progress>
  <div class="rounded overflow-hidden mr-2">
    <div class="{{if (eq @stagesCount @completedStagesCount) 'bg-teal-100' 'bg-blue-100'}} h-3 w-16 flex items-stretch">
      <div
        data-test-track-progress-bar
        class={{if (eq @stagesCount @completedStagesCount) "bg-teal-500" "bg-blue-500"}}
        style={{html-safe (concat "width:" (round (mult 100 (div (or @completedStagesCount 1) @stagesCount))) "%")}}
      ></div>
    </div>
  </div>

  <div class="text-xs {{if (eq @stagesCount @completedStagesCount) 'text-teal-500' 'text-blue-500'}} mr-3" data-test-track-progress-text>
    <b class="font-bold">{{@completedStagesCount}}/{{@stagesCount}}</b>
    stages
  </div>
</div>