<div class="flex items-center" data-test-track-progress>
  <div class="mr-2">
    <svg width="24" height="24" viewBox="0 0 24 24" class="transform -rotate-90">
      {{! Base circle (background) }}
      <circle
        cx="12"
        cy="12"
        r="10"
        fill="none"
        stroke="{{if (eq @stagesCount @completedStagesCount) '#dcfdf4 dark:#064e3b' '#dbeafe dark:#1e3a8a'}}"
        stroke-width="2"
        class="{{if (eq @stagesCount @completedStagesCount) 'stroke-teal-100 dark:stroke-teal-900' 'stroke-blue-100 dark:stroke-blue-900'}}"
      />
      {{! Progress circle }}
      <circle
        cx="12"
        cy="12"
        r="10"
        fill="none"
        stroke="{{if (eq @stagesCount @completedStagesCount) '#14b8a6' '#3b82f6'}}"
        stroke-width="2"
        stroke-linecap="round"
        class="donut-progress-circle {{if (eq @stagesCount @completedStagesCount) 'stroke-teal-500' 'stroke-blue-500'}}"
        data-test-track-progress-bar
        data-progress="{{round (mult 100 (max 10 (mult 100 (div (or @completedStagesCount 0) @stagesCount))))}}"
        data-target-offset="{{round (sub 62.83 (mult 62.83 (max 0.1 (div (or @completedStagesCount 0) @stagesCount))))}}"
        {{donut-progress}}
      />
    </svg>
  </div>

  <div class="text-xs {{if (eq @stagesCount @completedStagesCount) 'text-teal-500' 'text-blue-500'}} mr-3" data-test-track-progress-text>
    <b class="font-bold">{{@completedStagesCount}}/{{@stagesCount}}</b>
    stages
  </div>
</div>