<div class="border-b z-20 sticky top-0 {{if this.isSticky 'shadow-sm border-gray-300'}}" data-test-header-sticky-area ...attributes>
  <AnimatedContainer>
    {{#if (not this.isSticky)}}
      <div class="flex flex-col gap-y-3 py-6 transition-all">
        <div class="flex flex-col items-start">
          <div class="flex items-center flex-wrap gap-x-3">
            <div class="text-lg sm:text-xl md:text-2xl" data-test-step-name>
              {{#if (eq @currentStep.type "CourseStageStep")}}
                {{! @glint-expect-error not typesafe }}
                <span class="font-bold text-gray-700">{{@currentStep.courseStage.name}}</span>
              {{else}}
                <span class="font-bold text-gray-700">{{@currentStep.title}}</span>
              {{/if}}
            </div>

            <div class="flex items-center md:h-[2rem] h-[1.75rem] flex-shrink-0">
              <CoursePage::StepStatusPill @step={{@currentStep}} />
            </div>
          </div>

          {{#unless this.isSticky}}
            <CoursePage::StepProgressIndicator @step={{@currentStep}} class="mt-2 ml-0.5" />
          {{/unless}}
        </div>

        {{#if (and (not this.isSticky) (not-eq @currentStep @activeStep) (not-eq @activeStep.type "CourseCompletedStep"))}}
          <div>
            <PrimaryLinkButton
              @size="small"
              @route={{@activeStep.routeParams.route}}
              @models={{@activeStep.routeParams.models}}
              data-test-next-step-button
            >
              <div class="flex items-center">
                {{#if (eq @nextStep @activeStep)}}
                  {{#if (eq @nextStep.type "CourseStageStep")}}
                    <span>View next stage</span>
                  {{else}}
                    <span>View next step</span>
                  {{/if}}

                  {{svg-jar "arrow-right" class="w-4 ml-1 fill-current flex-shrink-0"}}
                {{else}}
                  {{#if (gt @currentStep.globalPosition @activeStep.globalPosition)}}
                    {{svg-jar "arrow-left" class="w-4 mr-1 fill-current flex-shrink-0"}}
                    <span>Back to "{{@activeStep.shortTitle}}"</span>
                  {{else}}
                    <span>Back to "{{@activeStep.shortTitle}}"</span>
                    {{svg-jar "arrow-right" class="w-4 ml-1 fill-current flex-shrink-0"}}
                  {{/if}}
                {{/if}}
              </div>
            </PrimaryLinkButton>
          </div>
        {{/if}}
      </div>
    {{/if}}
  </AnimatedContainer>

  <CoursePage::Header::TabList
    @course={{@course}}
    @stepList={{@stepList}}
    @currentStep={{@currentStep}}
    @activeStep={{@activeStep}}
    @nextStep={{@nextStep}}
  />
</div>

<div {{in-viewport-did-change this.handleScrollMarkerInViewportDidChange}}>
</div>