{{#if this.anyButtonIsVisible}}
  <div class="flex flex-wrap mt-3">
    {{#if (and this.shouldShowViewSolutionButton @courseStage.isFirst)}}
      <CoursePage::StepList::CourseStageItem::ActionButton
        @text="Solution"
        @icon="code"
        @shouldPulse={{this.shouldPulseViewSolutionButton}}
        {{on "click" (fn @onViewSolutionButtonClick @courseStage)}}
        class="mt-3 mr-3"
      />
    {{/if}}

    {{#if this.shouldShowViewCommentsButton}}
      <CoursePage::StepList::CourseStageItem::ActionButton
        @text="Hints"
        @icon="light-bulb"
        {{on "click" (fn @onViewCommentsButtonClick @courseStage)}}
        class="mt-3 mr-3"
      />
    {{/if}}

    {{#if (and this.shouldShowViewSolutionButton (not @courseStage.isFirst))}}
      <CoursePage::StepList::CourseStageItem::ActionButton
        @text="Code Examples"
        @icon="code"
        {{on "click" (fn @onViewSolutionButtonClick @courseStage)}}
        class="mt-3 mr-3"
      />
    {{/if}}

    {{#if this.shouldShowViewSourceWalkthroughButton}}
      <CoursePage::StepList::CourseStageItem::ActionButton
        @text="Source Walkthrough"
        @iconUrl={{@courseStage.course.logoUrl}}
        {{on "click" (fn @onViewSourceWalkthroughButtonClick @courseStage)}}
        class="mt-3 mr-3"
      />
    {{/if}}

    {{#if this.shouldShowViewTestCasesButton}}
      <CoursePage::StepList::CourseStageItem::ActionButton
        @text="Test Cases"
        @icon="check-circle"
        {{on "click" this.handleViewTestCasesButtonClicked}}
        class="mt-3 mr-3"
      />
    {{/if}}

    {{#if this.shouldShowSubmitFeedbackButton}}
      <CoursePage::StepList::CourseStageItem::ActionButton @text="Feedback" @icon="chat" {{on "click" @onFeedbackButtonClick}} class="mt-3 mr-3" />
    {{else if this.shouldShowEditFeedbackButton}}
      <CoursePage::StepList::CourseStageItem::ActionButton
        @text="Edit Feedback"
        @icon="chat"
        {{on "click" @onFeedbackButtonClick}}
        class="mt-3 mr-3"
      />
    {{/if}}
  </div>
{{/if}}