<div class="flex p-4 bg-gray-100 border border-gray-300 rounded" data-test-feedback-prompt ...attributes>
  <div class="mr-3 mt-0.5 flex-shrink-0">
    {{svg-jar "check-circle" class="w-6 fill-current text-teal-500"}}
  </div>
  <div class="w-full">
    <div class="text-gray-700 leading-7">
      {{this.congratulatoryMessage}}
      How was this stage for you?
    </div>

    <div class="flex items-center mt-2">
      {{#each this.answerOptions as |answerOption|}}
        <CoursePage::StepList::CourseStageItem::FeedbackPromptOption
          @emoji={{answerOption}}
          @isSelected={{eq this.feedbackSubmission.selectedAnswer answerOption}}
          {{on "click" (fn this.handleAnswerOptionSelected answerOption)}}
          class="mr-2"
        />
      {{/each}}
    </div>

    <AnimatedContainer>
      {{#if this.feedbackSubmission.hasSelectedAnswer}}
        {{! template-lint-disable require-input-label }}
        <Textarea
          @value={{this.feedbackSubmission.explanation}}
          class="mt-4 border border-gray-200 rounded w-full p-4 placeholder-gray-300"
          rows="5"
          placeholder="Tell us more!"
          {{on "blur" this.handleExplanationTextareaBlur}}
        />

        <button
          type="button"
          class="mt-2 px-3 py-2 bg-gray-200 border border-gray-400 hover:bg-gray-300 hover:border-gray-400 text-gray-600 rounded"
          {{on "click" this.handleSubmitButtonClick}}
        >
          Submit
        </button>
      {{/if}}
    </AnimatedContainer>
  </div>
</div>