<div class="flex p-3 bg-blue-100 border border-blue-300 rounded shadow-sm" ...attributes>
  <div class="mr-3 mt-0.5 w-6 h-6 relative">
    {{svg-jar "information-circle" class="w-6 fill-current text-blue-400"}}
    <span
      class="animate-ping absolute inset-1 inline-flex h-4 w-4 rounded-full bg-blue-400 opacity-75 {{if this.shouldPulse 'inline-flex' 'hidden'}}"
    ></span>
  </div>
  <div class="text-blue-900 prose prose-blue leading-7 text-sm">
    {{#if this.solutionIsAvailable}}
      Since this is your first stage, we recommend
      <b class="underline" role="button" {{on "click" @onViewSolutionButtonClick}}>viewing the solution</b>
      for instructions on how to pass.
    {{else}}
      Since this is your first stage, you can consult
      <a href={{this.readmeURL}} target="_blank" rel="noopener noreferrer">the README</a>
      in your repository for instructions on how to pass.
    {{/if}}
  </div>
</div>