{{! @glint-nocheck: not typesafe yet }}
<div class="px-3 py-2 hover:bg-gray-50 flex items-center justify-between group" aria-disabled="true" role="button" ...attributes>
  <div class="mr-8">
    <span class="{{if @isEnabled 'text-gray-700' 'text-gray-500'}}">
      {{@text}}
    </span>
  </div>

  {{#if @isEnabled}}
    {{#if @iconUrl}}
      <img alt="icon" src={{@iconUrl}} class="h-5" />
    {{else}}
      {{svg-jar @icon class=(concat "w-5 fill-current text-gray-300 group-hover:text-teal-500")}}
    {{/if}}
  {{else}}
    <span class="bg-gray-400 text-white px-2 py-1 rounded font-bold uppercase text-xs">
      Soon
    </span>
  {{/if}}
</div>