<BasicDropdown @horizontalPosition="right" as |dd|>
  <dd.Trigger>
    <div data-test-course-stage-item-more-dropdown-trigger>
      {{svg-jar "dots-horizontal" class=(concat "w-5 fill-current " (if dd.isOpen "text-teal-500" "text-gray-300 hover:text-gray-400"))}}
    </div>
  </dd.Trigger>
  <dd.Content>
    <div class="py-2 border rounded shadow text-sm text-gray-600 max-w-xl bg-white" data-test-course-stage-item-more-dropdown-content>
      <CoursePage::StepList::CourseStageItem::MoreDropdownItem
        @text="View Solution"
        @isEnabled={{this.viewSolutionButtonIsEnabled}}
        @icon="code"
        {{on "click" (fn this.handleViewSolutionButtonClicked dd.actions)}}
      />

      <CoursePage::StepList::CourseStageItem::MoreDropdownItem
        @text="Official Implementation"
        @isEnabled={{this.viewSourceWalkthroughButtonIsEnabled}}
        @icon="book-open"
        {{on "click" (fn this.handleViewSourceWalkthroughButtonClicked dd.actions)}}
      />
    </div>
  </dd.Content>
</BasicDropdown>