<div class="flex p-3 bg-teal-100 border border-teal-300 rounded shadow-sm" data-test-post-completion-prompt ...attributes>
  <div class="mr-3 mt-0.5">
    {{svg-jar "check-circle" class="w-6 fill-current text-teal-400"}}
  </div>
  <div class="text-teal-900 prose prose-teal leading-7 text-sm">
    {{#if @courseStage.isLast}}
      Congratulations on completing this stage! Click here to
      <b class="underline text-teal-700" role="button" {{on "click" @onViewSolutionButtonClick}} data-test-view-solution-link>view the solution</b>.
    {{else}}
      Congratulations on completing this stage! You can either
      <b class="underline text-teal-700" role="button" {{on "click" @onViewSolutionButtonClick}} data-test-view-solution-link>view the solution</b>
      or
      <b class="underline text-teal-700" role="button" {{on "click" @onViewNextStageButtonClick}} data-test-view-next-stage-link>continue to the next
        stage</b>.
    {{/if}}
  </div>
</div>