<div
  class="border rounded flex items-center p-4
    {{if (eq @color 'gray') 'border-gray-300' 'border-yellow-300'}}
    {{if (eq @color 'gray') 'bg-gray-50' 'bg-yellow-50'}}
    {{@class}}"
  data-test-upgrade-prompt
>
  {{svg-jar "exclamation" class=(concat "w-8 h-8 mr-4 flex-shrink-0 " (if (eq @color "gray") "text-gray-300" "text-yellow-300"))}}

  <div class="{{if (eq @color 'gray') 'text-gray-500' 'text-yellow-700'}} text-sm leading-relaxed">
    <div class="mb-1">
      You can unlock this stage
      <span class="">{{this.humanFriendlyFreeUsageRestrictionExpiresAt}}.</span>
    </div>
    <div class="mb-1">
      {{#if this.freeUsageRestriction.expiryReminderIsEnabled}}
        {{#if this.isSaving}}
          <img alt="Loading icon" src="/assets/images/icons/ripple-spinner.svg" class="w-4 h-4 mr-2 inline" />
        {{else}}
          We'll send you an email reminder.
          <span role="button" class="font-semibold underline" {{on "click" this.handleDisableEmailReminderButtonClicked}}>Click here</span>
          to disable.
        {{/if}}
      {{else}}
        {{#if this.isSaving}}
          <img alt="Loading icon" src="/assets/images/icons/ripple-spinner.svg" class="w-4 h-4 mr-2 inline" />
        {{else}}
          <span role="button" class="font-semibold underline" {{on "click" this.handleEnableEmailReminderButtonClicked}}>Click here</span>
          to receive an email reminder.
        {{/if}}
      {{/if}}
    </div>
    <div>
      Want unlimited access?
      <span class="underline" role="button" {{on "click" this.handleSubscribeLinkClicked}} data-test-subscribe-button>
        <b class="font-semibold">Start your 3-day free trial now.</b>
      </span>
    </div>
  </div>
</div>