<CoursePage::InstructionsCard data-test-repository-setup-card ...attributes>
  <:content>
    <div class="flex items-center gap-x-3 w-full border-b pb-2 mb-5">
      <h2 class="font-semibold text-lg text-gray-700">Repository Setup</h2>
      <CoursePage::StepStatusPill @step={{this.coursePageState.currentStep}} data-test-status-text />
    </div>

    <CoursePage::SetupStep::RepositorySetupCard::CloneRepositoryStep @repository={{@repository}} @isComplete={{this.isComplete}} />

    <div class="px-4 py-3 bg-gray-50 mt-4 inline-flex rounded border shadow-sm">
      {{#if this.isComplete}}
        <p class="text-gray-600">
          <span class="text-lg mr-2">🎉</span>
          Git push received! The first stage is now activated.
        </p>
      {{else}}
        <CoursePage::StepProgressIndicator @step={{this.coursePageState.currentStep}} @size="large" />
      {{/if}}
    </div>

    {{#if this.isComplete}}
      <div class="mt-4 flex">
        <PrimaryLinkButton
          @route={{this.coursePageState.activeStep.routeParams.route}}
          @models={{this.coursePageState.activeStep.routeParams.models}}
          data-test-continue-button
        >
          Continue →
        </PrimaryLinkButton>
      </div>
    {{/if}}
  </:content>
  {{!--
  <:footer>
    <CoursePage::StepProgressIndicator @step={{this.coursePageState.currentStep}} />
  </:footer> --}}
</CoursePage::InstructionsCard>