<CoursePage::InstructionsCard data-test-repository-setup-card ...attributes>
  <:header>
    <div class="flex items-center gap-x-3 w-full border-b pb-2 mb-5">
      <h2 class="font-semibold text-lg text-gray-700">Repository Setup</h2>
      <CoursePage::StepStatusPill @step={{this.coursePageState.currentStep}} data-test-status-text />
    </div>
  </:header>
  <:content>
    <CoursePage::SetupStep::RepositorySetupCard::CloneRepositoryStep @repository={{@repository}} @isComplete={{this.isComplete}} />

    {{#if this.isComplete}}
      <p class="text-gray-600 mt-4">
        <span class="text-xl mr-1">🎉</span>
        Git push received! The first stage is now activated.
      </p>

      <PrimaryLinkButton
        class="mt-4"
        @size="large"
        @route={{this.coursePageState.activeStep.routeParams.route}}
        @models={{this.coursePageState.activeStep.routeParams.models}}
        data-test-continue-button
      >
        Continue →
      </PrimaryLinkButton>
    {{else}}
      <div class="px-4 py-3 bg-gray-50 inline-flex rounded border shadow-sm mt-4">
        <CoursePage::StepProgressIndicator @step={{this.coursePageState.currentStep}} @size="large" />
      </div>

      <p class="prose mt-4 prose-sm">
        Running into issues with the git clone step?
        <a href="https://docs.codecrafters.io/challenges/fix-clone-errors" target="_blank" rel="noopener noreferrer">Read this</a>.
      </p>
    {{/if}}
  </:content>
</CoursePage::InstructionsCard>