{{! @glint-nocheck: not typesafe yet }}
<div class="flex items-center" data-test-course-progress ...attributes>
  <div class="rounded overflow-hidden mr-2">
    <div class="{{if @lastUsedRepository.allStagesAreComplete 'bg-teal-100' 'bg-blue-100'}} h-3 w-16 flex items-stretch">
      {{#if (eq @lastUsedRepository.completedStages.length 0)}}
        <div class="bg-blue-500 w-1/12"></div>
      {{else}}
        <div
          data-test-course-progress-bar
          class={{if @lastUsedRepository.allStagesAreComplete "bg-teal-500" "bg-blue-500"}}
          style={{html-safe (concat "width:" (round (mult 100 (div @lastUsedRepository.completedStages.length @course.stages.length))) "%")}}
        ></div>
      {{/if}}
    </div>
  </div>

  <div class="text-xs {{if @lastUsedRepository.allStagesAreComplete 'text-teal-500' 'text-blue-500'}} mr-3" data-test-course-progress-text>
    <b class="font-bold">{{@lastUsedRepository.completedStages.length}}/{{@course.stages.length}}</b>
    stages
  </div>
</div>