<div class="flex items-center" data-test-course-progress ...attributes>
  <div class="mr-2 w-6 h-6">
    <ProgressDonut @total={{@course.stages.length}} @completed={{@lastUsedRepository.completedStages.length}} data-test-course-progress-donut />
  </div>

  <div class="text-xs {{if @lastUsedRepository.allStagesAreComplete 'text-teal-500' 'text-blue-500'}} mr-3" data-test-course-progress-text>
    <b class="font-bold">{{@lastUsedRepository.completedStages.length}}/{{@course.stages.length}}</b>
    stages
  </div>
</div>