<div class="bg-white dark:bg-gray-950 min-h-screen" {{did-insert this.handleDidInsert}}>
  <div class="container mx-auto pt-4 pb-32 px-6">
    <div class="py-3 border-b border-gray-200 dark:border-white/5 mb-6">
      <TertiaryLinkButton @route="course-admin.code-example-evaluators" @models={{array @model.course.slug}} @size="small" class="pl-1.5 mb-3">
        <div class="flex items-center">
          {{svg-jar "arrow-circle-left" class="w-4 h-4 mr-1.5 text-gray-500 dark:text-gray-400"}}

          <span>
            Back
          </span>
        </div>
      </TertiaryLinkButton>

      <div class="flex items-center justify-between">
        <EditableTextField @value={{@model.evaluator.slug}} @onUpdate={{perform this.updateSlugTask}}>
          <h3 class="text-xl font-bold text-gray-900 dark:text-gray-100 {{if this.updateSlugTask.isRunning 'animate-pulse'}}">
            {{@model.evaluator.slug}}
          </h3>
        </EditableTextField>
      </div>
    </div>

    <div>
      <CourseAdmin::CodeExampleEvaluatorPage::PromptTemplateSection @evaluator={{@model.evaluator}} />
      <CourseAdmin::CodeExampleEvaluatorPage::ContextSection @evaluator={{@model.evaluator}} />

      <div class="py-3 border-b border-gray-200 dark:border-white/5 mb-6 mt-8 flex items-center justify-between">
        <div class="text-gray-900 dark:text-gray-100 font-semibold mb-1 text-2xl">Results</div>

        <div class="flex items-center gap-3">
          <CourseAdmin::CodeExampleEvaluatorPage::MoreDropdown
            @onEvaluateMoreSolutionsClick={{perform this.evaluateMoreSolutionsTask}}
            @onRegenerateAllEvaluationsClick={{perform this.regenerateAllEvaluationsTask}}
          />

          <CourseStageDropdown
            @course={{@model.course}}
            @selectedCourseStage={{this.currentCourseStage}}
            @onAllCourseStagesDropdownLinkClick={{this.handleAllCourseStagesDropdownLinkClick}}
            @onSelectedCourseStageChange={{this.handleCourseStageChange}}
          />

          <LanguageDropdown
            @languages={{this.sortedLanguagesForDropdown}}
            @requestedLanguage={{this.currentLanguage}}
            @selectedLanguage={{this.currentLanguage}}
            @shouldShowAllLanguagesOption={{true}}
            @onAllLanguagesDropdownLinkClick={{this.handleAllLanguagesDropdownLinkClick}}
            @onRequestedLanguageChange={{this.handleRequestedLanguageChange}}
            @onDidInsertDropdown={{(noop)}}
          />
        </div>
      </div>

      <CourseAdmin::CodeExampleEvaluatorPage::AccuracySection @evaluator={{@model.evaluator}} class="mt-8" />

      <CourseAdmin::CodeExampleEvaluatorPage::EvaluationsSection
        @evaluator={{@model.evaluator}}
        @passEvaluations={{this.passEvaluations}}
        @failEvaluations={{this.failEvaluations}}
        @unsureEvaluations={{this.unsureEvaluations}}
        class="mt-8"
      />
    </div>
  </div>
</div>