<div class="bg-white dark:bg-gray-925 min-h-screen">
  <div class="container mx-auto pt-4 pb-10 px-6">
    <div class="pt-3 pb-6 border-b border-gray-200 dark:border-white/5 flex items-center justify-between">
      <div>
        <h3 class="text-lg font-bold text-gray-900 dark:text-gray-100 mb-1">
          Code Example Evaluators
        </h3>
        <div class="text-xs text-gray-400 dark:text-gray-500">
          Used to evaluate code examples before marking as concise
        </div>
      </div>

      {{#if (gt @model.evaluators.length 0)}}
        <PrimaryButtonWithSpinner
          @isDisabled={{this.createEvaluatorTask.isRunning}}
          @shouldShowSpinner={{this.createEvaluatorTask.isRunning}}
          @size="small"
          data-test-create-evaluator-button
          {{on "click" this.handleCreateEvaluatorButtonClick}}
        >
          Create evaluator
        </PrimaryButtonWithSpinner>
      {{/if}}
    </div>

    {{#if (gt @model.evaluators.length 0)}}
      <ul role="list" class="divide-y divide-gray-100 dark:divide-white/5">
        {{#each @model.evaluators as |evaluator|}}
          <li>
            <LinkTo
              @route="course-admin.code-example-evaluator"
              @models={{array @model.course.slug evaluator.slug}}
              class="flex items-center justify-between gap-x-6 py-5 hover:bg-gray-50 dark:hover:bg-gray-900 px-1"
              data-test-evaluator-item
              role="button"
            >
              <div class="min-w-0">
                <div class="flex items-center gap-x-2">
                  <span class="font-semibold leading-6 text-gray-950 dark:text-gray-100" data-test-evaluator-slug>{{evaluator.slug}}</span>

                  {{#if evaluator.isDraft}}
                    <Pill @color="gray">Draft</Pill>
                  {{else if evaluator.isLive}}
                    <Pill @color="green">Live</Pill>
                  {{/if}}
                </div>
              </div>
              <div class="flex flex-none items-center gap-x-4">
                <CourseAdmin::CodeExampleEvaluatorsPage::CoverageStatistic @evaluator={{evaluator}} />
              </div>
            </LinkTo>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <div class="py-32 flex flex-col items-center justify-center gap-y-4">
        <div class="text-gray-400 dark:text-gray-500">
          No evaluators found.
        </div>

        <PrimaryButtonWithSpinner
          @isDisabled={{this.createEvaluatorTask.isRunning}}
          @shouldShowSpinner={{this.createEvaluatorTask.isRunning}}
          data-test-create-evaluator-button
          {{on "click" this.handleCreateEvaluatorButtonClick}}
        >
          Create evaluator
        </PrimaryButtonWithSpinner>
      </div>
    {{/if}}
  </div>
</div>