<div class="bg-white min-h-screen">
  <div class="container mx-auto pt-4 pb-10 px-6">
    <div class="pt-3 pb-6 border-b flex items-start justify-between">
      <div>
        <h3 class="text-lg font-bold text-gray-800 mb-1">
          Stage Feedback
        </h3>
        <div class="text-xs text-gray-400">
          Feedback submitted by users. Feedback submissions without an explanation are automatically marked as acknowledged.
        </div>
      </div>
      <div class="text-right">
      </div>
    </div>

    {{!-- @glint-expect-error not ts-ified yet --}}
    <Tabs @tabs={{this.tabs}} as |activeTabSlug|>
      {{#if (eq activeTabSlug "acknowledged")}}
        <ul role="list" class="divide-y divide-gray-100">
          {{#each this.acknowledgedFeedbackSubmissions as |feedbackSubmission|}}
            <CourseAdmin::FeedbackPage::FeedbackSubmissionListItem @feedbackSubmission={{feedbackSubmission}} />
          {{else}}
            <div class="text-gray-400 py-32 flex items-center justify-center">
              No feedback submissions found.
            </div>
          {{/each}}
        </ul>
      {{else if (eq activeTabSlug "unacknowledged")}}
        <ul role="list" class="divide-y divide-gray-100">
          {{#each this.unacknowledgedFeedbackSubmissions as |feedbackSubmission|}}
            <CourseAdmin::FeedbackPage::FeedbackSubmissionListItem @feedbackSubmission={{feedbackSubmission}} />
          {{else}}
            <div class="text-gray-400 py-32 flex items-center justify-center">
              No feedback submissions found.
            </div>
          {{/each}}
        </ul>
      {{/if}}
    </Tabs>
  </div>
</div>