<div class="bg-white min-h-screen">
  <div class="container mx-auto pt-4 pb-10 px-6">
    <CourseAdmin::StageInsightsPage::Header @stage={{@model.stage}} class="py-3 border-b mb-6" />

    {{#if (lt this.participationAnalysis.participationsCount 100)}}
      <Alert @type="error">
        This stage has less than 100 data points, so the statistics below may not be reliable.
      </Alert>
    {{/if}}

    <div class="mt-6 grid grid-cols-1 gap-5 sm:grid-cols-2">
      <CourseAdmin::StageInsightsPage::StatisticCard @statistic={{this.participationAnalysis.completionRateStatistic}} />
      <CourseAdmin::StageInsightsPage::StatisticCard @statistic={{this.participationAnalysis.medianAttemptsToCompletionStatistic}} />
    </div>

    <div class="border-b pb-1 flex items-center gap-2 mt-6">
      <h1 class="text-2xl text-gray-700 font-bold tracking-tighter">Data Points Summary</h1>

      <div>
        {{svg-jar "information-circle" class="w-4 h-4 fill-current text-gray-200 hover:text-gray-300"}}
        <EmberTooltip @text="These are the data points used to calculate the statistics above." />
      </div>
    </div>

    <div class="prose mt-4">
      <ul>
        <li>Total: {{this.participationAnalysis.participationsCount}}</li>
        <li>Complete:
          {{this.participationAnalysis.completeParticipationsCount}}
          ({{this.participationAnalysis.completeParticipationsPercentage}}%)</li>
        <li>Dropped off:
          {{this.participationAnalysis.droppedOffParticipationsCount}}
          ({{this.participationAnalysis.droppedOffParticipationsPercentage}}%)</li>
        <li>Active: {{this.participationAnalysis.activeParticipationsCount}} ({{this.participationAnalysis.activeParticipationsPercentage}}%)</li>
      </ul>
    </div>

    <div class="border-b pb-1 flex items-center gap-2 mt-6">
      <h1 class="text-2xl text-gray-700 font-bold tracking-tighter">Dropped Off</h1>

      <div>
        {{svg-jar "information-circle" class="w-4 h-4 fill-current text-gray-200 hover:text-gray-300"}}
        <EmberTooltip @text="These are users who attempted this stage more than once but didn't complete it." />
      </div>
    </div>

    <CourseAdmin::StageInsightsPage::ParticipationList @participations={{this.sortedDroppedOffParticipations}} class="mt-4" />

    <div class="border-b pb-1 flex items-center gap-2 mt-6">
      <h1 class="text-2xl text-gray-700 font-bold tracking-tighter">Active</h1>

      <div>
        {{svg-jar "information-circle" class="w-4 h-4 fill-current text-gray-200 hover:text-gray-300"}}
        <EmberTooltip @text="These are users who attempted this stage in the past 7 days but haven't completed it yet." />
      </div>
    </div>

    <CourseAdmin::StageInsightsPage::ParticipationList @participations={{this.sortedActiveParticipations}} class="mt-4" />

    <div class="border-b pb-1 flex items-center gap-2 mt-6">
      <h1 class="text-2xl text-gray-700 font-bold tracking-tighter">Complete</h1>

      <div>
        {{svg-jar "information-circle" class="w-4 h-4 fill-current text-gray-200 hover:text-gray-300"}}
        <EmberTooltip @text="These are users who completed this stage." />
      </div>
    </div>

    <CourseAdmin::StageInsightsPage::ParticipationList @participations={{this.sortedCompleteParticipations}} class="mt-4" />
  </div>
</div>