<div class="prose mb-3">
  <p class={{if @isComplete "line-through"}}>
    You can now mark
    <b>{{@courseStage.name}}</b>
    as complete! 🎉
  </p>

  <p>
    We recommend reviewing the code you uncommented in the previous step. You'll need to build on it in the next stages.
  </p>
</div>

{{#if @isComplete}}
  <div class="prose">
    <p>
      🎉
      <b class="text-teal-500 ml-1">Stage complete!</b>
    </p>
  </div>
{{else}}
  <CoursePage::CourseStageStep::MarkStageAsCompleteButton @courseStage={{@courseStage}} @repository={{@repository}} />
{{/if}}