{{#if this.solution}}
  <div class="prose mb-3">
    <p>
      In the
      <code>{{this.filename}}</code>
      file, uncomment the following code:
    </p>
  </div>

  <div class="flex flex-col gap-4">
    {{#each this.solution.changedFiles as |changedFile|}}
      <FileDiffCard @filename={{changedFile.filename}} @code={{changedFile.diff}} @language={{this.solution.language.slug}} />
    {{/each}}
  </div>
{{else if (not @repository.language)}}
  <div class="prose">
    <p>
      <span class="text-lg">⚠️</span>
      Complete repository setup to see the code you need to uncomment.
    </p>
  </div>
{{else}}
  <div class="prose">
    <p>
      View the README in your repository for instructions on how to uncomment the code.
    </p>
  </div>
{{/if}}