{{#if this.shouldShowVipBadge}}
  <Header::VipBadge ...attributes />
{{else if this.shouldShowMemberBadge}}
  <Header::MemberBadge ...attributes />
{{!-- {{else if this.activeDiscountForYearlyPlan}}
<BillingStatusBadge::DiscountTimerBadge @discount={{this.activeDiscountForYearlyPlan}} @size="large" /> --}}
{{else if this.shouldShowFreeWeeksLeftButton}}
  <Header::FreeWeeksLeftButton ...attributes />
{{else if this.shouldShowUpgradeButton}}
  <PrimaryLinkButton @size="small" @route="pay" data-test-upgrade-button ...attributes>
    <span class="flex items-center gap-x-1">
      <span>Upgrade</span>
      {{svg-jar "lock-open" class="w-4"}}
    </span>
  </PrimaryLinkButton>
{{/if}}