<div ...attributes>
  {{#if this.shouldShowVipBadge}}
    <Header::VipBadge @size={{@size}} />
  {{else if this.shouldShowMemberBadge}}
    <Header::MemberBadge @size={{@size}} />
  {{else if this.activeDiscountForYearlyPlan}}
    {{#if this.canSeeDiscountCountdown}}
      <BillingStatusDisplay::DiscountTimerBadge @discount={{this.activeDiscountForYearlyPlan}} @size={{@size}} />
    {{/if}}
  {{else if this.shouldShowFreeWeeksLeftButton}}
    <Header::FreeWeeksLeftButton @size={{@size}} />
  {{else if this.shouldShowUpgradeButton}}
    <PrimaryLinkButton @size="extra-small" @route="pay" data-test-upgrade-button>
      <span class="flex items-center gap-x-1">
        <span>Upgrade</span>
        {{svg-jar "lock-open" class="w-4"}}
      </span>
    </PrimaryLinkButton>
  {{/if}}
</div>