<div class="bg-white rounded-md shadow-sm border border-gray-200 relative w-full group" data-test-track-page-card ...attributes>
  <div class="p-4 md:p-6">
    <div class="flex items-center justify-between gap-4 mb-4">
      <div class="flex items-center flex-wrap gap-4">
        <div
          class="text-lg md:text-xl font-semibold text-gray-700 mr-3 flex items-center
            {{if @isNavigatingToOtherPage 'group-hover:text-teal-500 transition-colors'}}"
          data-test-track-page-card-title
        >
          {{this.titleForDisplay}}
        </div>

        {{#if (gt @recentParticipants.length 0)}}
          <div class="flex -space-x-3 hover:space-x-1 items-center">
            {{#each @recentParticipants as |user|}}
              {{! @glint-nocheck not ts-ified yet }}
              <TrackPage::Header::TopParticipantAvatar @user={{user}} />
            {{/each}}
          </div>
        {{/if}}

        {{#if (has-block "afterTitle")}}
          {{yield to="afterTitle"}}
        {{/if}}
      </div>
      <div class="font-bold pl-4 text-gray-300 text-lg md:text-xl group-hover:text-gray-400 transition-colors">
        {{#if @isComplete}}
          {{svg-jar "check-circle" class="w-8 h-8 fill-current text-teal-500"}}
        {{else if (and @logoImageUrl @logoImageAltText)}}
          <img src={{@logoImageUrl}} alt={{@logoImageAltText}} class="w-8 md:w-12 transform scale-100 group-hover:scale-105 transition-all" />
        {{/if}}
      </div>
    </div>

    {{yield}}
  </div>
</div>