<TrackPage::Card @title={{@course.name}} @number={{@number}} class={{if this.shouldMaskContents 'h-96 overflow-hidden' 'h-auto'}}>
  <div class="leading-6 prose mb-6">
    {{this.introductionHtml}}
  </div>

  {{#each @course.stages as |stage|}}
    <TrackPage::CourseCard::StageListItem @language={{@language}} @stage={{stage}} />
  {{/each}}

  {{#if this.shouldMaskContents}}
    <div class="absolute inset-0 vertical-mask p-4 flex items-end justify-center">
      <TrackPage::CourseCard::SignupToPreviewButton @language={{@language}} />
    </div>
  {{/if}}
</TrackPage::Card>