<div class="flex items-center justify-between" ...attributes>
  <div>
    <h1 class="text-3xl md:text-5xl text-gray-700 font-bold tracking-tighter mb-3">{{@language.trackTitle}}</h1>

    <p class="text-gray-500 mb-4 max-w-xl">
      {{@language.trackDescriptionHTML}}
    </p>

    <div class="flex items-center flex-wrap-reverse gap-x-2 gap-y-4">
      <TrackPage::StartTrackButton @language={{@language}} @courses={{@courses}} />

      {{#if this.recentParticipants.firstObject}}
        <div class="flex items-center">
          <div class="flex -space-x-1 hover:space-x-1 items-center">
            {{#each this.recentParticipants as |user|}}
              <TrackPage::Header::RecentParticipantAvatar @user={{user}} />
            {{/each}}
          </div>

          <span class="text-xs text-gray-500 ml-2">Join the best</span>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="ml-4 hidden md:block">
    <LanguageLogo @language={{@language}} class="h-36" />
  </div>
</div>