{{! @glint-nocheck: not typesafe yet }}
<div class="p-6" ...attributes>
  {{#if @submission}}
    <CourseAdmin::SubmissionsPage::SubmissionDetails::HeaderContainer @submission={{@submission}} />
    <div class="border-b pb-4 mb-4"></div>
    <Tabs @tabs={{this.tabs}} as |activeTabSlug|>
      <div class="mt-6">
        {{#if (eq activeTabSlug "diff")}}
          <CourseAdmin::SubmissionsPage::SubmissionDetails::DiffContainer @submission={{@submission}} data-test-diff-tab />
        {{else if (eq activeTabSlug "logs")}}
          <SubmissionLogsPreview @submission={{@submission}} class="max-h-[400px]" />
        {{else if (eq activeTabSlug "community_solution")}}
          <CourseAdmin::SubmissionsPage::SubmissionDetails::CommunitySolutionContainer @submission={{@submission}} />
        {{/if}}
      </div>
    </Tabs>
  {{else}}
    No submission selected.
  {{/if}}
</div>