<div
  role="button"
  class="flex items-start justify-between pl-1 pr-2 border-b hover:bg-gray-100 {{if @isSelected 'bg-gray-100'}}"
  {{on "click" @onClick}}
  data-test-timeline-entry
>
  <div class="flex items-start py-2 flex-grow">
    <AvatarImage @user={{@submission.repository.user}} class="w-6 h-6 mr-3 filter drop-shadow-sm ring-1 ring-gray-300 rounded-full" />
    <div>
      <div class="flex items-start">
        <div class="text-gray-700 text-sm {{if @isSelected 'font-bold'}}">
          #{{@submission.courseStage.position}}
          using
          {{@submission.repository.language.name}}
        </div>
        <div class="mt-1 ml-1.5 flex-shrink-0">
          {{#if @submission.statusIsSuccess}}
            <div class="w-3 h-3 rounded-full bg-green-600 flex items-center justify-center">
              {{svg-jar "check" class="w-2 fill-current text-white"}}
            </div>
          {{else if @submission.statusIsFailure}}
            <div class="w-3 h-3 rounded-full bg-red-600 flex items-center justify-center">
              {{svg-jar "x" class="w-2 fill-current text-white"}}
            </div>
          {{else if @submission.statusIsEvaluating}}
            <div class="w-3 h-3 rounded-full bg-yellow-600 flex items-center justify-center">
              {{svg-jar "dots-horizontal" class="w-2 fill-current text-white"}}
            </div>
          {{/if}}
        </div>
      </div>
      <div class="text-gray-400 text-xs">by {{@submission.repository.user.username}}</div>
    </div>
  </div>

  <div class="flex flex-col items-end justify-between flex-shrink-0">
    <div class="text-xs text-gray-400 ml-2 pt-2 percy-time">
      {{this.formattedTimestamp}}
    </div>

    <div class="mt-1 flex items-center gap-1">
      {{#if (eq @submission.flakinessCheckStatus "failure")}}
        <div>
          {{svg-jar "flag" class="text-yellow-500 w-4 fill-current"}}
          <EmberTooltip @text="Flaky test. The test results of this submission were found to be inconsistent when run multiple times." />
        </div>
      {{/if}}

      {{#if @submission.clientTypeIsCli}}
        <div>
          {{svg-jar "terminal" class="text-gray-400 w-4 fill-current"}}
          <EmberTooltip @text="Submitted via CLI" />
        </div>
      {{/if}}
    </div>
  </div>
</div>