<div class="flex items-start gap-3">
  <div class="w-80 flex-shrink-0 sticky top-4">
    <div class="border rounded-md shadow-sm px-5 py-4 bg-white">
      <div class="mb-4 prose prose-sm prose-compact">
        <p>
          Challenges are step-by-step coding exercises where you build projects from scratch.
        </p>
        <p>
          You can
          <a href="https://github.com/exercism/exercism/discussions/categories/ideas" target="_blank" rel="noopener noreferrer">submit an idea</a>.
        </p>
      </div>
      <h2 class="font-bold text-gray-700 mb-4 border-b-2 border-gray-100 pb-1 inline-block">Latest Releases</h2>
      <div class="relative">
        {{#each this.dummyReleases as |release releaseIndex|}}
          <div class="flex items-start gap-2 pb-4 relative">
            <div class="w-2 h-2 bg-gray-200 rounded-full mt-1 flex-shrink-0"></div>
            <div class="w-full">
              <div class="flex items-center gap-1 mb-0.25">
                <div class="text-xs text-gray-400">{{release.date}}</div>
                <span class="text-gray-300 text-xs">
                  •
                </span>
                <div class="text-xxs text-gray-400">
                  {{if (eq release.type "extension") "EXTENSION" "CHALLENGE"}}
                </div>
              </div>
              <div class="text-sm text-gray-700 hover:underline">{{release.title}}</div>
            </div>

            {{#if (eq releaseIndex 0)}}
              <div class="absolute bottom-0 top-1 left-[calc(0.25em-0.5px)] w-px bg-gray-200"></div>
            {{else if (eq releaseIndex (sub this.dummyReleases.length 1))}}
              <div class="absolute h-1 top-0 left-[calc(0.25em-0.5px)] w-px bg-gray-200"></div>
            {{else}}
              <div class="absolute bottom-0 top-0 left-[calc(0.25em-0.5px)] w-px bg-gray-200"></div>
            {{/if}}
          </div>
        {{/each}}
      </div>

      <div class="w-full flex justify-start pl-4">
        <a href="#" class="text-xs text-gray-400 hover:underline">
          View more...
        </a>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-3 mb-8">
    {{!-- {{#if this.authenticator.isAuthenticated}}
    <VotePage::SubmitCourseIdeaCard />
  {{/if}} --}}
    {{#each this.orderedCourseIdeas as |courseIdea|}}
      <VotePage::CourseIdeaCard @courseIdea={{courseIdea}} />
    {{/each}}
  </div>
</div>