<Alert class="mb-6">
  Challenge extensions are groups of extra stages that extend challenges. Vote and help us decide which ones to build.
</Alert>

<div class="flex items-center flex-wrap mb-6">
  {{#each this.orderedCourses as |course|}}
    {{! @glint-expect-error not ts-ified yet }}
    <VotePage::CoursePill
      @course={{course}}
      @isSelected={{eq this.selectedCourse course}}
      class="mr-2 mb-3 flex-shrink-0"
      {{on "click" (fn (mut this.selectedCourseSlug) course.slug)}}
    />
  {{/each}}
</div>

<div class="grid grid-cols-1 gap-3 lg:grid-cols-2 mb-8">
  {{#if this.authenticator.isAuthenticated}}
    {{! @glint-expect-error not ts-ified yet }}
    <VotePage::SubmitCourseExtensionIdeaCard @course={{this.selectedCourse}} />
  {{/if}}

  {{#each this.orderedCourseExtensionIdeas as |courseExtensionIdea|}}
    {{! @glint-expect-error not ts-ified yet }}
    <VotePage::CourseExtensionIdeaCard @courseExtensionIdea={{courseExtensionIdea}} />
  {{/each}}
</div>