<MembershipPage::Section @title="Actions" ...attributes>
  {{#if @subscription.isTrialing}}
    <ButtonWithSpinner
      @shouldShowSpinner={{this.isCancellingTrial}}
      class="bg-red-600 hover:bg-red-700 text-sm mt-4 text-white"
      {{on "click" this.handleCancelTrialButtonClick}}
      data-test-cancel-trial-button
    >
      Cancel Trial
    </ButtonWithSpinner>
  {{else if (and @subscription.isActive (not @subscription.cancelAt))}}
    <ButtonWithSpinner
      class="bg-red-600 hover:bg-red-700 text-sm mt-4 text-white"
      @shouldShowSpinner={{this.isCancellingSubscription}}
      {{on "click" this.handleCancelSubscriptionButtonClick}}
      data-test-cancel-subscription-button
    >
      Cancel Subscription
    </ButtonWithSpinner>
  {{else if @subscription.isInactive}}
    <ButtonWithSpinner
      class="bg-teal-500 hover:bg-teal-600 text-sm mt-4 text-white"
      {{on "click" this.handleStartMembershipButtonClick}}
      data-test-start-membership-button
    >
      Start Membership
    </ButtonWithSpinner>
  {{/if}}

  <ButtonWithSpinner
    class="border border-teal-500 hover:border-teal-600 text-sm mt-4 text-teal-500 hover:text-teal-600"
    @shouldShowSpinner={{this.isCreatingPaymentMethodUpdateRequest}}
    {{on "click" this.handleUpdatePaymentMethodButtonClick}}
    data-test-update-payment-method-button
  >
    Update Payment Method
  </ButtonWithSpinner>

  <div class="text-gray-700 mt-4 prose text-sm">
    Questions? Write to us at
    <a href="mailto:hello@codecrafters.io">hello@codecrafters.io</a>
    and we'll help sort things out.
  </div>
</MembershipPage::Section>