{{! @glint-nocheck: not typesafe yet }}
<MembershipPage::Section @title="Membership Plan" data-test-membership-plan-section>
  <div class="text-gray-700 {{if @subscription.user.isCodecraftersPartner 'line-through' ''}}" data-test-membership-plan-description>
    {{#if @subscription.isTrialing}}
      Your trial for the
      <b class="font-semibold">{{@subscription.pricingPlanName}}</b>
      plan is currently active.
    {{else if @subscription.isActive}}
      {{#if @subscription.cancelAt}}
        Your CodeCrafters membership is valid until
        <b class="font-semibold">{{date-format @subscription.cancelAt format="LLL"}}</b>.
      {{else}}
        You are currently subscribed to the
        <b class="font-semibold">{{@subscription.pricingPlanName}}</b>
        plan.
      {{/if}}
    {{else if @subscription.isInactive}}
      Your CodeCrafters membership is
      <b class="text-red-600 font-semibold">currently inactive</b>.
    {{/if}}
  </div>
  <div class="text-gray-700">
    {{#if (and @subscription.user.isCodecraftersPartner @subscription.user.codecraftersPartnerStatusExpiresAt)}}
      🎉 You have VIP access to all CodeCrafters content, valid until
      <b class="font-semibold">{{date-format @subscription.user.codecraftersPartnerStatusExpiresAt format="LLL"}}</b>.
    {{else if @subscription.user.isCodecraftersPartner}}
      🎉 You have VIP access to all CodeCrafters content.
    {{/if}}
  </div>
</MembershipPage::Section>