<MembershipPage::Section @title="Upcoming Payment" {{did-insert this.handleDidInsert}}>
  {{#if this.isLoading}}
    <div class="flex items-center mt-3">
      <img alt="Loading icon" src={{this.rippleSpinnerImage}} class="w-4 h-4" />
      <span class="ml-3 text-gray-700">Loading upcoming payments...</span>
    </div>
  {{else if this.nextInvoicePreview}}
    Your payment method will be charged
    <span class="font-semibold">${{if this.isLoading "⋯" this.nextInvoicePreview.amountDueInDollars}}</span>
    on
    {{if this.isLoading "⋯" (date-format this.nextInvoicePreview.createdAt format="PPP")}}.
  {{else}}
    <div class="text-gray-700">
      No upcoming payment.
    </div>
  {{/if}}
</MembershipPage::Section>