{{#if this.isCommitModalOpen}}
  <ModalBackdrop class="cursor-pointer">
    <ModalBody @allowManualClose={{true}} @onClose={{fn (mut this.isCommitModalOpen) false}} class="w-full cursor-default">
      <div class="prose prose-compact dark:prose-invert has-prism-highlighting">
        <p>
          If you see output like this:
        </p>
        <pre class="text-sm language-bash max-w-2xl"><code>On branch master<br />Your branch is up to date with 'origin/master'.<br />nothing to
            commit, working tree clean</code></pre>
      </div>
    </ModalBody>
  </ModalBackdrop>
{{/if}}

{{#if this.canSeeSplitUpGitCommandsForStage1}}
  <div class="mb-5">
    <div class="prose dark:prose-invert mb-3">
      <div class="inline-flex items-center gap-1">
        <b class="text-teal-600">1.</b>
        Commit your changes
      </div>
    </div>
    <CopyableTerminalCommand @commands={{array 'git commit -am "[any message]"'}} class="mb-3" />

    <div class="prose prose-compact prose-sm dark:prose-sm dark:prose-invert has-prism-highlighting">
      <p>
        Then you should see output like this:
      </p>
      <pre class="language-bash max-w-2xl"><code>[master 8bc0189] [any message]<br />1 file changed, 1 insertion(+), 1 deletion(-)</code></pre>

      <p class="text-xs">
        <b>Note:</b>
        If your output doesn't match the above,
        <a href="#">read this</a>.
      </p>
    </div>
  </div>

  <div class="mb-5">
    <div class="prose dark:prose-invert mb-3">
      <div class="inline-flex items-center gap-1">
        <b class="text-teal-600">2.</b>
        Push your changes
      </div>
    </div>
    <CopyableTerminalCommand @commands={{array "git push origin master"}} class="mb-3" />

    <div class="prose prose-compact prose-sm dark:prose-sm dark:prose-invert has-prism-highlighting">
      <p>
        Then you should see output like this:
      </p>

      <pre class="language-bash max-w-2xl"><code>remote: Welcome to CodeCrafters! Your commit was received successfully.</code></pre>

      <p class="text-xs">
        <b>Note:</b>
        If your output doesn't match the above,
        <a href="#">read this</a>.
      </p>
    </div>
  </div>
{{else}}
  <div class="prose dark:prose-invert mb-3">
    <p>
      Run the following commands to submit your changes:
    </p>
  </div>

  <CopyableTerminalCommand @commands={{array 'git commit -am "[any message]"' "git push origin master"}} class="mb-3" />
{{/if}}

<div class="prose dark:prose-invert">
  <p class={{if @isComplete "line-through"}}>
    Once you run the commands above, the
    <code class="font-semibold text-red-700 bg-red-100 border border-red-200">Tests failed</code>
    message below this card will change to
    <code class="font-semibold text-green-700 bg-green-100 border border-green-200">Tests passed</code>.
  </p>

  {{#if @isComplete}}
    <p>
      🎉
      <b class="text-teal-500 ml-1">Tests passed!</b>
    </p>
  {{/if}}
</div>

{{#unless @isComplete}}
  <p class="prose dark:prose-invert prose-sm mt-3">
    <b>Note:</b>
    If you're still seeing "Tests failed" after completing the steps above,
    <a href="#" {{on "click" this.handleViewLogsButtonClick}}>view logs</a>
    to troubleshoot.
  </p>
{{/unless}}