<div
  class="border border-gray-200 dark:border-white/5 p-4 sm:p-8 bg-white dark:bg-gray-925 max-w-(--breakpoint-md) w-full rounded-sm"
  data-test-onboarding-survey-wizard
>
  <AnimatedContainer>
    {{#animated-value this.currentStep use=this.fade as |currentStep|}}
      {{#if (eq currentStep 1)}}
        <WelcomePage::OnboardingSurveyWizard::Step1
          @onContinueButtonClick={{this.handleContinueButtonClick}}
          @onSurveyUpdated={{this.handleSurveyUpdated}}
          @onboardingSurvey={{@onboardingSurvey}}
        />
      {{else if (eq currentStep 2)}}
        <WelcomePage::OnboardingSurveyWizard::Step2
          @onboardingSurvey={{@onboardingSurvey}}
          @onContinueButtonClick={{this.handleContinueButtonClick}}
          @onSurveyUpdated={{this.handleSurveyUpdated}}
        />
      {{/if}}
    {{/animated-value}}
  </AnimatedContainer>
</div>