<CoursePage::MultiSectionCard
  @sections={{this.sectionList.sections}}
  @expandedSection={{this.expandedSection}}
  @onSectionClick={{this.handleSectionExpanded}}
  data-test-create-repository-card
>
  <:headerContent>
    <div class="px-4 sm:px-6 flex items-center py-2.5 gap-x-3">
      <h2 class="font-semibold text-gray-700">Pre-Challenge Assessment</h2>
      <CoursePage::StepStatusPill @step={{this.coursePageState.currentStep}} />
    </div>
  </:headerContent>

  <:expandedSectionContent>
    {{#if (eq this.expandedSection.type "SelectLanguageSection")}}
      {{! @glint-expect-error not ts-fied yet }}
      <CoursePage::IntroductionStep::CreateRepositoryCard::SelectLanguageSection
        {{! TODO: Fetch this from query params? }}
        @preferredLanguageSlug={{null}}
        @repository={{@repository}}
        @onLanguageSelection={{this.handleLanguageSelection}}
      />
    {{else if (eq this.expandedSection.type "SelectLanguageProficiencyLevelSection")}}
      <CoursePage::IntroductionStep::CreateRepositoryCard::SelectLanguageProficiencyLevelSection @repository={{@repository}} />

      {{#if this.expandedSection.isComplete}}
        <PrimaryButton
          class="mt-6"
          {{on "click" (fn (mut this.expandedSectionIndex) (add this.expandedSectionIndex 1))}}
          data-test-next-question-button
        >↓ Next question</PrimaryButton>
      {{/if}}
    {{else if (eq this.expandedSection.type "SelectExpectedActivityFrequencySection")}}
      <CoursePage::IntroductionStep::CreateRepositoryCard::SelectExpectedActivityFrequencySection
        @repository={{@repository}}
        @onSelect={{this.handleExpectedActivityFrequencySelection}}
      />
    {{else if (eq this.expandedSection.type "SelectRemindersPreferenceSection")}}
      <CoursePage::IntroductionStep::CreateRepositoryCard::SelectRemindersPreferenceSection @repository={{@repository}} />

      {{#if this.expandedSection.isComplete}}
        <PrimaryLinkButton class="mt-6" @route="course.setup" data-test-continue-button>Continue →</PrimaryLinkButton>
      {{/if}}
    {{/if}}
  </:expandedSectionContent>
</CoursePage::MultiSectionCard>