<div ...attributes>
  <div class="prose dark:prose-invert mb-4">
    <p>
      Welcome to the
      {{@repository.course.name}}
      challenge!
    </p>

    {{markdown-to-html @repository.course.descriptionMarkdown}}
  </div>

  <CoursePage::IntroductionStep::Legacy::CreateRepositoryCard::SelectLanguageSection
    @preferredLanguageSlug={{undefined}}
    @errorMessage={{undefined}}
    @repository={{@repository}}
    @onLanguageSelection={{this.handleLanguageSelection}}
  />
</div>