<div
  class="border border-gray-300 dark:border-white/10 rounded-sm overflow-hidden {{unless @isExpanded 'hover:bg-gray-50 dark:hover:bg-gray-700/50'}}"
  data-test-hint-card
  ...attributes
>
  {{! bg-gradient-to-b from-white to-gray-100 dark:from-gray-850 dark:to-gray-925 }}
  <div class="flex items-center p-3 gap-1.5" {{on "click" @onHeaderClick}} role="button" data-test-hint-card-header>
    <div class="flex items-center justify-center transition-transform duration-200 rotate-90 {{if @isExpanded 'rotate-180'}}">
      <span class="text-gray-400 dark:text-gray-600 triangle-up" aria-hidden="true">
      </span>
    </div>
    <span class="text-gray-850 dark:text-gray-200">
      <span class="font-semibold">Hint #{{add @hintIndex 1}}:</span>
      {{@hint.title_markdown}}
    </span>
  </div>

  <div>
    <AnimatedContainer>
      {{#animated-if @isExpanded use=this.transition duration=200}}
        <div
          class="p-3 pt-0 prose dark:prose-invert has-prism-highlighting"
          {{highlight-code-blocks @hint.body_markdown}}
          data-test-hint-card-content
        >
          {{markdown-to-html @hint.body_markdown}}
        </div>
      {{/animated-if}}
    </AnimatedContainer>
  </div>
</div>