<CoursePage::InstructionsCard
  @contentIdentifier={{@currentStep.courseStage.id}}
  id="your-task-card"
  class="group/your-task-card"
  data-test-your-task-card
  data-test-second-stage-your-task-card
  ...attributes
>
  <:header>
    <CoursePage::CourseStageStep::YourTaskCard::Header @currentStep={{@currentStep}} class="mb-5 w-full" />
  </:header>

  <:content>
    <div class="prose dark:prose-invert has-prism-highlighting" data-test-stage-instructions {{highlight-code-blocks this.instructionsMarkdown}}>
      {{markdown-to-html this.instructionsMarkdown}}

      <h3>
        How to pass this stage
      </h3>

      <p>
        Unlike stage 1, your repository doesn't contain commented code to pass this stage.
      </p>
    </div>

    <CoursePage::CourseStageStep::YourTaskCard::HowToPassStepList @repository={{@currentStep.repository}} @courseStage={{@currentStep.courseStage}} />
  </:content>
</CoursePage::InstructionsCard>