<div class="bg-white">
  {{! Mobile !}}
  {{#unless this.hasCompletedConcept}}
    <div class="block md:hidden px-3 border-b flex-shrink-0 sticky top-0 backdrop-blur-sm bg-white/80 z-20 w-full">
      {{#if (gt this.currentProgressPercentage 0)}}
        <div class="py-5">
          {{! @glint-expect-error not ts-ified yet}}
          <ConceptProgress @latestConceptEngagement={{@latestConceptEngagement}} />
        </div>
      {{else}}
        <div class="py-5">
          {{! @glint-expect-error not ts-ified yet}}
          <CodeWalkthroughPage::MetadataItem @icon="clock">
            <span class="font-semibold">3 min</span>
            reading time
          </CodeWalkthroughPage::MetadataItem>
        </div>
      {{/if}}
    </div>
  {{/unless}}

  <div class="container mx-auto lg:max-w-screen-lg px-3 md:px-6">
    <div class="flex flex-col-reverse items-stretch md:flex-row">
      <div class="md:pr-8 pt-10 pb-60 min-w-0 flex-grow">
        {{! @glint-expect-error not ts-ified yet}}
        <Concept @concept={{@concept}} @latestConceptEngagement={{@latestConceptEngagement}} />

        {{#animated-if this.hasCompletedConcept}}
          <div class="flex flex-col items-center justify-center py-16 border-t" {{did-insert this.handleCompletionContainerInserted}}>
            <div class="text-5xl mb-8">
              🎉
            </div>
            <div class="text-lg text-center text-gray-800 mb-8">
              You've completed this concept!
            </div>

            <FeedbackButton @source="concept_completed" class="mr-4 mb-16" as |dd|>
              <div
                role="button"
                class="rounded border
                  {{if dd.isOpen 'border-gray-600' 'border-gray-200'}}
                  hover:border-gray-600 transition-colors px-3 py-2 text-sm text-gray-600"
                data-test-feedback-button
              >
                Share Feedback
              </div>
            </FeedbackButton>

            <div class="pt-16 pb-8 border-t w-full" data-test-share-concept-container>
              <div class="flex flex-col items-start gap-4 border rounded shadow-sm p-4">
                <span class="flex gap-2 items-center text-gray-700 text-sm">
                  {{svg-jar "gift" class="w-5 text-teal-500"}}
                  Learnt something new? Share it with a friend.
                </span>

                <CopyableCode @code={{@concept.url}} @onCopyButtonClick={{this.handleCopyButtonClick}} />
              </div>
            </div>

            {{#if this.nextConcept}}
              <div class="py-8" data-test-upcoming-concept>
                <div class="text-lg text-center text-gray-800 mb-8" data-test-upcoming-concept-title>
                  Next up in
                  {{@conceptGroup.title}}:
                </div>

                <ConceptsPage::ConceptCard @concept={{this.nextConcept}} />
              </div>
            {{/if}}
          </div>
        {{/animated-if}}
      </div>

      {{! Desktop !}}
      <div class="hidden md:block border-l pl-8 flex-shrink-0 py-2 w-64">
        {{#if (gt this.currentProgressPercentage 0)}}
          <div class="sticky py-9 top-0 bg-white">
            {{! @glint-expect-error not ts-ified yet}}
            <ConceptProgress
              @latestConceptEngagement={{@latestConceptEngagement}}
              data-test-concept-progress
            />
          </div>
        {{else}}
          <div class="py-9">
            {{! @glint-expect-error not ts-ified yet}}
            <CodeWalkthroughPage::MetadataItem @icon="clock">
              <span class="font-semibold">{{@concept.estimatedReadingTimeInMinutes}} min</span>
              reading time
            </CodeWalkthroughPage::MetadataItem>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>