<div class="py-5 md:py-10 border-b border-gray-200 dark:border-white/5 bg-gradient-to-b from-white to-gray-50 dark:from-gray-950 dark:to-gray-925">
  <div class="container mx-auto lg:max-w-(--breakpoint-lg) px-3 md:px-6">
    <div class="flex flex-col items-start">
      <div class="text-gray-400 dark:text-gray-600 uppercase text-xs font-bold tracking-wider mb-1 md:mb-1.5">
        CONCEPT
      </div>
      <h1
        class="text-gradient-to-b from-gray-950 to-gray-700 dark:from-white dark:to-gray-300 leading-10 md:leading-12 text-xl md:text-4xl font-bold mb-1 md:mb-2"
      >
        {{@concept.title}}
      </h1>
      <div class="text-gray-600 dark:text-gray-400 max-w-xl leading-relaxed text-sm md:text-base mb-2 md:mb-4">
        {{markdown-to-html @concept.descriptionMarkdown}}
      </div>
      <a
        href={{or @concept.author.githubProfileUrl "https://github.com/rohitpaulk"}}
        class="inline-flex gap-x-2 items-center"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          alt="avatar"
          src={{or @concept.author.avatarUrl "https://github.com/rohitpaulk.png"}}
          class="w-12 h-12 filter drop-shadow-xs ring-1 ring-white dark:ring-white/20 rounded-full shadow-sm brightness-110"
        />
        <div>
          <div class="text-gray-700 dark:text-gray-300 text-xs font-bold mb-0.5">
            {{or @concept.author.username "Paul Kuruvilla"}}
          </div>
          <div class="text-gray-500 dark:text-gray-400 text-xs">
            {{#if @concept.author}}
              Concept Author
            {{else}}
              CTO, CodeCrafters
            {{/if}}
          </div>
        </div>
      </a>

      {{#if (or (current-user-is-concept-author @concept) (current-user-is-staff))}}
        <div class="mt-4">
          <TertiaryLinkButton @size="small" @route="concept-admin" target="_blank">Edit Concept</TertiaryLinkButton>
        </div>
      {{/if}}
    </div>
  </div>
</div>