<div class="border rounded shadow-sm scroll-mb-10" data-test-question-card ...attributes>
  <div class="p-3 sm:p-4">
    <div class="text-gray-800 mr-2 mb-2 border-b pb-2.5 prose">
      {{markdown-to-html @question.queryMarkdown}}
    </div>

    <div class="flex flex-col -mx-3 sm:-mx-4 gap-px" {{did-insert this.handleDidInsertOptionsList}}>
      {{#each this.options as |option optionIndex|}}
        {{! @glint-expect-error: not ts-ified yet }}
        <ConceptPage::QuestionCardOption
          class="px-4"
          @option={{option}}
          @isSubmitted={{this.hasSubmitted}}
          {{on "click" (fn this.handleOptionClick optionIndex)}}
          data-test-question-card-option
        />
      {{/each}}
    </div>
  </div>

  <div class="px-3 py-3 sm:px-4 bg-gray-50 relative rounded-b">
    <div class="h-px w-full bg-gray-300 bg-opacity-50 absolute -top-px left-0 right-0"></div>

    {{#if this.hasSubmitted}}
      <div
        data-test-question-submitted
        class="p-3 sm:p-4 shadow-sm border rounded {{if this.selectedOptionIsCorrect 'border-green-400 bg-green-50' 'border-gray-300 bg-white'}}"
      >
        <div class="mb-4 font-semibold {{if this.selectedOptionIsCorrect 'text-green-700' 'text-gray-800'}}">
          {{#if this.selectedOptionIsCorrect}}
            <span class="mr-1">🎉</span>
            Correct!
          {{else}}
            <span class="mr-1">👀</span>
            Incorrect
          {{/if}}
        </div>

        <div class="leading-7 prose max-w-none {{if this.selectedOptionIsCorrect 'text-green-700' 'text-gray-800'}}">
          {{! if statement used for typechecker, explanation_markdown is always present !}}
          {{#if this.selectedOption.explanation_markdown}}
            {{markdown-to-html this.selectedOption.explanation_markdown}}
          {{/if}}
        </div>
      </div>
    {{else}}
      <div class="flex flex-col sm:flex-row gap-x-2 gap-y-2 rounded-b">
        <PrimaryButton @isDisabled={{true}} {{on "click" (noop)}} data-test-question-card-submit-button>Submit</PrimaryButton>
        <TertiaryButton {{on "click" this.handleShowExplanationClick}} data-test-question-card-show-explanation-button>Show explanation</TertiaryButton>
      </div>
    {{/if}}
  </div>
</div>