<button
  type="button"
  tabindex={{if @isSubmitted "-1" "0"}}
  class="flex items-start gap-2 py-2
    {{if this.isUnselected 'hover:bg-gray-100 focus:bg-gray-100'}}
    {{if this.isUnselectedAndCorrect 'bg-green-200'}}
    {{if this.isSelectedAndUnsubmitted 'bg-gray-100'}}
    {{if this.isSelectedAndCorrect 'bg-green-200'}}
    "
  ...attributes
>
  <div
    class="mt-[0.125em] flex items-center justify-center rounded-full border-[0.5px] w-6 h-6 border-gray-600 grow-0 shrink-0
      {{if this.isUnselected 'active:bg-gray-100'}}
      {{if (and this.isSubmitted this.isCorrect) 'border-green-600 bg-green-600'}}
      "
  >
    {{#if this.isSelectedAndUnsubmitted}}
      <div class="rounded-full w-3 h-3 bg-gray-800"></div>
    {{else if (and this.isSubmitted this.isCorrect)}}
      {{svg-jar "check" class="w-3 fill-current text-white"}}
    {{else if this.isSelectedAndWrong}}
      <div class="rounded-full w-3 h-3 bg-gray-500"></div>
    {{/if}}
  </div>
  <div class="prose text-left {{if (and this.isSubmitted this.isCorrect) 'text-gray-800 font-semibold' 'text-gray-800'}}">
    {{markdown-to-html @option.markdown}}
  </div>
</button>