<Alert @color="yellow" @size="large" data-test-paid-course-notice ...attributes>
  <div class="flex items-start gap-2">
    <div class="mt-1 flex-shrink-0 hidden sm:block">
      {{svg-jar "lock-closed" class="w-6 h-6 fill-current text-gray-800"}}
    </div>
    <div class="flex-1">
      <h3 class="text-lg font-bold text-gray-800 mb-2 mt-0.5">
        This challenge requires a CodeCrafters Membership.
      </h3>

      <div class="prose prose-sm prose-compact mb-4">
        <p>
          You're welcome to study the full challenge structure and stage instructions for free. A membership is needed for submitting your code and
          viewing those of others.
        </p>

        {{#if this.freeOrBetaCourse}}
          <p>
            <strong>Want to try a free challenge?</strong>
            Try
            <LinkTo @route="course" @model={{this.freeOrBetaCourse.slug}}>{{this.freeOrBetaCourse.name}}</LinkTo>
            —
            {{#if this.freeOrBetaCourse.isFreeThisMonth}}
              it's free this month.
            {{else if this.freeOrBetaCourse.isFree}}
              it's free until
              {{date-format this.freeOrBetaCourse.isFreeUntil format="d MMMM yyyy"}}.
            {{else if this.freeOrBetaCourse.releaseStatusIsBeta}}
              it's free during beta.
            {{/if}}
          </p>
        {{/if}}
      </div>

      <div class="flex items-center flex-wrap flex-col sm:flex-row gap-4">
        {{#if this.freeOrBetaCourse}}
          <LinkTo
            @route="course"
            @model={{this.freeOrBetaCourse.slug}}
            class="w-full sm:w-auto text-center px-4 py-2 text-sm font-semibold bg-gray-800 rounded-sm text-white hover:bg-gray-700"
            data-test-try-free-challenge-button
          >
            Try
            {{this.freeOrBetaCourse.name}}
            →
          </LinkTo>

          <LinkTo @route="pay" class="text-gray-700 hover:text-gray-800 hover:underline font-bold text-sm" data-test-view-membership-plans-button>
            View Membership Plans →
          </LinkTo>
        {{else}}
          <LinkTo
            @route="pay"
            class="w-full sm:w-auto text-center px-4 py-2 text-sm font-semibold bg-gray-800 rounded-sm text-white hover:bg-gray-700"
            data-test-view-membership-plans-button
          >
            View Membership Plans →
          </LinkTo>
        {{/if}}
      </div>
    </div>
  </div>
</Alert>