<div
  class="relative
    {{if (and @previousStepsAreComplete (not @isCurrent)) 'opacity-50'}}
    hover:opacity-100
    {{unless @previousStepsAreComplete 'cursor-not-allowed'}}"
  role="button"
  ...attributes
>
  <div
    class="h-4 w-4
      {{if @previousStepsAreComplete 'bg-teal-500' 'bg-gray-300'}}
      border-2
      {{if @previousStepsAreComplete 'border-teal-500' 'border-gray-300'}}
      rounded-full"
  >
    {{#if @isComplete}}
      {{(svg-jar "check" class="h-3 w-3 text-white" role="presentation")}}
    {{/if}}
  </div>

  <div
    class="absolute -left-20 -right-20 top-6 text-center uppercase font-semibold text-xs sm:text-base
      {{if @previousStepsAreComplete 'text-teal-500' 'text-gray-300'}}"
  >
    {{@name}}
  </div>
</div>