<div class="flex items-center" ...attributes>
  <TeamPaymentPage::NavigationContainerItem
    @previousStepsAreComplete={{true}}
    @isComplete={{includes 1 @completedSteps}}
    @isCurrent={{eq @currentStep 1}}
    @name="Team Details"
    {{on "click" (fn @onNavigationItemClick 1)}}
  />

  <div class="h-0.5 w-40 {{if (includes 1 @completedSteps) 'bg-teal-500' 'bg-gray-200'}} mx-4"></div>

  <TeamPaymentPage::NavigationContainerItem
    @previousStepsAreComplete={{includes 1 @completedSteps}}
    @isComplete={{includes 2 @completedSteps}}
    @isCurrent={{eq @currentStep 2}}
    @name="Payment"
    {{on "click" (fn @onNavigationItemClick 2)}}
  />

  <div class="h-0.5 w-40 {{if (includes 2 @completedSteps) 'bg-teal-500' 'bg-gray-200'}} mx-4"></div>

  <TeamPaymentPage::NavigationContainerItem
    @previousStepsAreComplete={{and (includes 1 @completedSteps) (includes 2 @completedSteps)}}
    @isCurrent={{eq @currentStep 3}}
    @name="Review"
    {{on "click" (fn @onNavigationItemClick 3)}}
  />
</div>