<TeamPaymentPage::StepContainer @title="Team Details" data-test-team-details-step-container>
  <form {{on "submit" this.handleFormSubmit}} {{did-insert this.handleDidInsertFormElement}}>
    <TeamPaymentPage::TeamDetailsForm::Section @title="Team Name" @description="This is the name your team members will see.">
      <Input
        @value={{@teamPaymentFlow.teamName}}
        {{on "blur" this.handleValueUpdated}}
        class="text-sm rounded px-3 py-2 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-teal-500 border w-full"
        id="team_name_input"
        placeholder="Microsoft"
        required
      />
    </TeamPaymentPage::TeamDetailsForm::Section>

    <div class="h-px bg-gray-100 my-6"></div>

    <TeamPaymentPage::TeamDetailsForm::Section @title="Contact Email" @description="We'll use this to send you a team setup link.">
      <Input
        @value={{@teamPaymentFlow.contactEmailAddress}}
        @type="email"
        {{on "blur" this.handleValueUpdated}}
        class="text-sm rounded px-3 py-2 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-teal-500 border w-full"
        id="contact_email_input"
        placeholder="bill@microsoft.com"
        required
      />
    </TeamPaymentPage::TeamDetailsForm::Section>

    <div class="h-px bg-gray-100 my-6"></div>

    <TeamPaymentPage::TeamDetailsForm::Section @title="Pricing Plan" @description="Seat-based pricing allows you to re-assign seats anytime.">
      <TeamPaymentPage::TeamDetailsForm::PricingPlanOption
        @name="Per Seat"
        @description="$990/seat/yr, minimum 5 seats"
        class="mb-4"
        @selected={{eq @teamPaymentFlow.pricingPlanType "per_seat"}}
        @onSelect={{fn this.handlePricingPlanTypeOptionSelected "per_seat"}}
      />

      <TeamPaymentPage::TeamDetailsForm::PricingPlanOption
        @name="Per Developer"
        @description="$490/dev/yr, minimum 5 developers"
        @selected={{eq @teamPaymentFlow.pricingPlanType "per_user"}}
        @onSelect={{fn this.handlePricingPlanTypeOptionSelected "per_user"}}
      />
    </TeamPaymentPage::TeamDetailsForm::Section>

    <div class="h-px bg-gray-100 my-6"></div>

    <TeamPaymentPage::TeamDetailsForm::Section @title="Number of Seats" @description="You can add more users anytime.">
      <div class="flex items-center">
        <div
          class="w-6 h-6 bg-gray-300 rounded-full hover:bg-gray-400 font-mono flex items-center justify-center mr-3"
          role="button"
          {{on "mouseup" this.suppressEvent}}
          {{on "click" this.handleDecrementSeatsButtonClick}}
        >
          {{svg-jar "minus" class="w-4 h-4 text-gray-700"}}
        </div>

        {{! template-lint-disable require-input-label }}
        <Input
          @type="number"
          min="5"
          size="5"
          @value={{@teamPaymentFlow.numberOfSeats}}
          class="number-input-with-no-controls text-sm rounded px-3 py-2 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-teal-500 border text-center w-16"
          {{on "change" this.handleValueUpdated}}
        />

        <div
          class="w-6 h-6 bg-gray-300 rounded-full hover:bg-gray-400 font-mono flex items-center justify-center ml-3"
          role="button"
          {{on "mouseup" this.suppressEvent}}
          {{on "click" this.handleIncrementSeatsButtonClick}}
        >
          {{svg-jar "plus" class="w-4 h-4 text-gray-700"}}
        </div>
      </div>
    </TeamPaymentPage::TeamDetailsForm::Section>

    <div class="h-px bg-gray-100 my-6"></div>

    <div class="flex justify-end">
      <div>
        <PrimaryButtonWithSpinner
          @isDisabled={{not @isComplete}}
          @shouldShowSpinner={{@teamPaymentFlow.isSaving}}
          {{on "click" @onContinueButtonClick}}
          type="submit"
          data-test-continue-button
        >
          Continue
        </PrimaryButtonWithSpinner>

        {{#unless @isComplete}}
          <EmberTooltip @text="Enter details above to continue" />
        {{/unless}}
      </div>
    </div>
  </form>
</TeamPaymentPage::StepContainer>