<ModalBody @shouldCloseOnOutsideClick={{true}} @shouldShowCloseButton={{true}} @onClose={{@onClose}} class="w-full max-w-xl" data-test-configure-github-integration-modal>
  <div class="mb-6 font-semibold text-2xl text-gray-900 dark:text-gray-50 mr-8">
    Publish to GitHub
  </div>

  {{#if this.isLoading}}
    <div class="flex items-center mt-3">
      <img alt="Loading icon" src={{this.rippleSpinnerImage}} class="w-4 h-4" />
      <span class="ml-3 text-gray-700 dark:text-gray-200">Loading...</span>
    </div>
  {{else if (and this.githubRepositorySyncConfiguration (not this.githubRepositorySyncConfiguration.isNew))}}
    {{#if this.githubAppInstallation.isBroken}}
      <CoursePage::ConfigureGithubIntegrationModal::FixGithubAppInstallationPrompt
        @githubAppInstallation={{this.githubAppInstallation}}
        @repository={{@repository}}
        @onStatusRefresh={{this.loadResources}}
      />
    {{/if}}

    <div class="py-8 flex flex-col items-center justify-center">
      {{svg-jar "check-circle" class="w-20 h-20 text-teal-500 mb-4"}}

      <div class="text-gray-600 dark:text-gray-200 text-center mb-6">
        <a
          href="https://github.com/{{this.githubRepositorySyncConfiguration.githubRepositoryName}}"
          class="inline-flex items-center font-semibold underline"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{svg-jar "github" class="fill-current w-4 mr-1"}}
          {{this.githubRepositorySyncConfiguration.githubRepositoryName}}
        </a>
      </div>

      <div class="text-gray-600 dark:text-gray-200 text-center mb-6">
        Code pushed to your CodeCrafters Git repository will automatically be synced to GitHub.
      </div>

      <AlertWithIcon @type="info" class="mb-6">
        <p>
          Don't push changes to your GitHub repository directly.
        </p>
        <p>
          Push to your CodeCrafters Git repository instead, and we'll sync changes to GitHub.
        </p>
        <p class="text-xs">
          <a href="https://docs.codecrafters.io/features/publish-to-github" target="_blank" rel="noopener noreferrer">Learn more →</a>
        </p>
      </AlertWithIcon>

      <AlertWithIcon @type="warning" @icon="exclamation" class="mb-6">
        <p>
          Any changes pushed to your GitHub repository directly will be overridden.
        </p>
      </AlertWithIcon>

      <TertiaryButton @size="small" {{on "click" this.handleDisconnectRepositoryButtonClick}} data-test-disconnect-repository-button>
        Disconnect Repository
      </TertiaryButton>
    </div>
  {{else}}
    <div class="prose dark:prose-invert mb-4">
      Automatically sync changes to GitHub and share your progress.
    </div>

    <CoursePage::ConfigureGithubIntegrationModal::CreateGithubRepositoryStep
      @repository={{@repository}}
      @recommendedRepositoryName={{this.recommendedRepositoryName}}
      @recommendedRepositoryNameWithoutOwner={{this.recommendedRepositoryNameWithoutOwner}}
    />

    {{#if this.githubAppInstallation}}
      <CoursePage::ConfigureGithubIntegrationModal::Step @title="Step 2: Connect your GitHub repository">
        {{#if this.selectedRepository}}
          <div class="prose dark:prose-invert mb-3">
            <p>
              Select your repository below and click on "Publish".
            </p>
          </div>

          {{! template-lint-disable require-input-label }}
          <select
            class="p-2 border border-gray-200 rounded-sm mb-3 block bg-white dark:bg-gray-925 dark:text-gray-200 dark:border-white/10"
            {{on "change" this.handleRepositoryOptionSelected}}
          >
            {{#each this.accessibleRepositoryGroups as |repositoryGroup|}}
              <optgroup label={{repositoryGroup.title}}>
                {{#each repositoryGroup.repositories as |repository|}}
                  <option value={{repository.id}} selected={{eq this.selectedRepository.id repository.id}}>{{repository.fullName}}</option>
                {{/each}}
              </optgroup>
            {{/each}}
          </select>

          <PrimaryButtonWithSpinner
            @shouldShowSpinner={{this.isCreatingGithubRepositorySyncConfiguration}}
            class="mb-4"
            {{on "click" this.handlePublishButtonClick}}
            data-test-publish-button
          >
            Publish
          </PrimaryButtonWithSpinner>

          <div class="prose dark:prose-invert mb-4">
            <p class="text-xs">
              Can't find your repository? Grant CodeCrafters access to your repository
              <a href={{this.githubAppInstallation.githubConfigureUrl}} target="_blank" rel="noopener noreferrer">here</a>.
            </p>
          </div>
        {{else}}
          <CoursePage::ConfigureGithubIntegrationModal::FixGithubAppInstallationPrompt
            @githubAppInstallation={{this.githubAppInstallation}}
            @repository={{@repository}}
            @onStatusRefresh={{this.loadResources}}
          />
        {{/if}}
      </CoursePage::ConfigureGithubIntegrationModal::Step>
    {{else}}
      <CoursePage::ConfigureGithubIntegrationModal::InstallGithubAppStep @repository={{@repository}} />
    {{/if}}
  {{/if}}
</ModalBody>