<HeadLayout @metaData={{this.metaData}} @defaults={{this.metaDataDefaults}} />

{{page-title "CodeCrafters"}}

<div class="application-container bg-gray-50 min-h-screen {{if this.darkMode.isEnabled 'dark'}}">
  {{#if this.layout.shouldShowHeader}}
    <Header />
  {{/if}}

  {{outlet}}

  <div id="modal-backdrop-container">
  </div>

  {{#if this.layout.shouldShowFooter}}
    <Footer />
  {{/if}}
</div>

<LoadingIndicatorRemover />