<HeadLayout @metaData={{this.metaData}} @defaults={{this.metaDataDefaults}} />

{{page-title "CodeCrafters"}}

<BasicDropdownWormhole />

<div class="min-h-screen {{if this.darkMode.isEnabled 'dark bg-gray-950' 'bg-gray-50'}}" id="application-container" data-test-application-container>
  {{#if this.layout.shouldShowHeader}}
    <Header />
  {{/if}}

  {{outlet}}

  <div id="modal-backdrop-container">
  </div>

  {{#if this.layout.shouldShowFooter}}
    <Footer />
  {{/if}}
</div>

<LoadingIndicatorRemover />