<HeadLayout @metaData={{this.metaData}} @defaults={{this.metaDataDefaults}} />

{{page-title "CodeCrafters"}}

<div class="min-h-screen {{if this.darkMode.isEnabled 'dark bg-gray-950' 'bg-gray-50'}}" id="application-container" data-test-application-container>
  <BasicDropdownWormhole />

  {{#if this.layout.shouldShowHeader}}
    <Header />
  {{/if}}

  {{outlet}}

  <div id="modal-backdrop-container">
  </div>

  {{#if this.layout.shouldShowFooter}}
    <Footer />
  {{/if}}

  {{#if this.beacon.shouldShowBeacon}}
    <HelpscoutBeacon />
  {{/if}}

  <LobbysideWidget @widgetId="f6948b5a-eac2-4f92-8fce-54d4fb3bdaa4" />
  <LobbysideWidget @widgetId="b0d7150e-77e2-431c-a57c-765e080d9c72" />
  <LobbysideWidget @widgetId="665ad94a-a863-4d0e-98e5-ff3eeac3f264" @audience="staff" />

  {{! Enable this to debug ember-animated animations }}
  {{! <AnimatedTools /> }}
</div>

<LoadingIndicatorRemover />