{{page-title "CodeCrafters"}}

<div class="bg-gray-100 min-h-screen" {{did-insert this.handleDidInsert}}>
  {{#if this.currentRouteIsPay}}
    <MinimalHeader />
  {{else}}
    <Header />
  {{/if}}

  {{outlet}}

  {{#if this.isAnyModalOpen}}
    <ModalBackdrop>
      {{#if this.isCheckoutSessionSuccessfulModalOpen}}
        <CheckoutSessionSuccessfulModal />
      {{/if}}
    </ModalBackdrop>
  {{/if}}

  <Footer @shouldShowChallengeLinkGroup={{not this.currentRouteIsPay}} />
</div>

<LoadingIndicatorRemover />