{{page-title "Badges"}}

<div class="bg-black">
  <div class="container mx-auto lg:max-w-screen-lg pt-6 md:pt-10 pb-10 md:pb-48 px-3 md:px-6">
    <div class="border-b border-gray-800 pb-2 mb-6">
      <h1 class="text-3xl text-gray-200 font-bold tracking-tighter">Badges</h1>
    </div>

    {{#animated-if this.selectedBadge use=this.transition duration=500}}
      <ModalBackdrop class="backdrop-blur">
        <BadgesPage::BadgeEarnedModal @badge={{this.selectedBadge}} @onClose={{fn (mut this.selectedBadge) null}} />
      </ModalBackdrop>
    {{/animated-if}}

    <div class="grid grid-cols-2 gap-3 md:gap-6 md:grid-cols-3">
      {{#each this.model.badges as |badge|}}
        <BadgesPage::BadgeCard @badge={{badge}} role="button" {{on "click" (fn this.handleBadgeCardClicked badge)}} />
      {{/each}}
      {{#each (repeat this.otherBadgesCount)}}
        <BadgesPage::BadgeCard />
      {{/each}}
    </div>
  </div>
</div>