{{page-title "Catalog"}}

<div class="container mx-auto lg:max-w-screen-lg pt-6 md:pt-10 pb-10 md:pb-48 px-3 md:px-6">
  <div class="border-b pb-2 mb-6">
    <h1 class="text-3xl text-gray-700 font-bold tracking-tighter">Challenges</h1>
  </div>

  {{#if this.authenticator.currentUser.pendingProductWalkthroughFeatureSuggestion}}
    <ProductWalkthroughFeatureSuggestion
      @featureSuggestion={{this.authenticator.currentUser.pendingProductWalkthroughFeatureSuggestion}}
      class="mb-6"
    />
  {{else if (not this.authenticator.isAuthenticated)}}
    <ProductWalkthroughFeatureSuggestion class="mb-6" />
  {{/if}}

  <div class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-2 mb-8">
    {{#each this.orderedCourses as |course|}}
      {{! @glint-expect-error: not ts-ified yet }}
      <CourseCard @course={{course}} />
    {{/each}}
  </div>

  <div class="border-b pb-2 mb-6">
    <h1 class="text-3xl text-gray-700 font-bold tracking-tighter">Language Tracks</h1>
  </div>

  <div class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3 mb-8">
    {{#each this.orderedLanguages as |language|}}
      {{! @glint-expect-error: not ts-ified yet }}
      <TracksPage::TrackCard @language={{language}} />
    {{/each}}
  </div>
</div>