{{page-title "Concepts"}}

<div class="container mx-auto lg:max-w-screen-lg pt-6 md:pt-10 pb-10 md:pb-48 px-3 md:px-6">
  <div class="border-b pb-2 mb-6">
    <h1 class="text-3xl text-gray-700 font-bold tracking-tighter">Concept: {{this.model.concept.title}}</h1>
  </div>

  <AnimatedContainer>
    {{#animated-each this.visibleBlocks key="index" use=this.listTransition duration=200 as |block|}}
      {{#if (eq block.type "markdown")}}
        <Blocks::MarkdownBlock @block={{block}} class="mb-6" />
      {{else if (eq block.type "concept_question")}}
        {{log "question_block" block.index this.currentBlockIndex}}
        <Blocks::ConceptQuestionBlock
          @block={{block}}
          class="mb-6"
          @onContinueButtonClick={{this.handleContinueButtonClick}}
          @shouldShowContinueButton={{eq block.index this.currentBlockIndex}}
        />
      {{else if (eq block.type "click_to_continue")}}
        <TertiaryButton class="mb-6" {{on "click" this.handleContinueButtonClick}}>
          {{block.buttonText}}
        </TertiaryButton>
      {{else}}
        {{log "Unknown block type" block.type}}
      {{/if}}
    {{/animated-each}}
  </AnimatedContainer>
</div>