{{page-title "Courses"}}

{{#if this.isDevelopmentOrTest}}
  <div class="relative">
    <FakeDataToolbar @repository={{this.activeRepository}} class="hidden" />
  </div>
{{/if}}

<div
  class="flex h-screen w-full"
  {{did-insert this.handleDidInsertContainer}}
  {{will-destroy this.handleWillDestroyContainer}}
  {{did-update this.handleDidUpdateActiveRepository @model.activeRepository}}
>
  {{#if this.sidebarIsExpandedOnDesktop}}
    <CoursePage::Sidebar
      @course={{@model.course}}
      @repositories={{@model.repositories}}
      @activeRepository={{@model.activeRepository}}
      class="group relative p-6 w-full max-w-[18em] flex-shrink-0 h-screen hidden lg:block"
    >
      <CoursePage::CollapseSidebarButton
        class="opacity-0 group-hover:opacity-100 absolute top-6 right-0"
        {{on "click" (fn (mut this.sidebarIsExpandedOnDesktop) false)}}
      />
    </CoursePage::Sidebar>
  {{/if}}

  <div class="flex flex-col max-h-screen overflow-y-auto flex-grow relative" data-test-course-page-scrollable-area>
    {{! For collapse/expand on desktop }}
    <CoursePage::ExpandSidebarButton
      class="hidden {{if (not this.sidebarIsExpandedOnDesktop) 'lg:block'}} absolute top-6 left-0"
      {{on "click" (fn (mut this.sidebarIsExpandedOnDesktop) true)}}
    />

    <CoursePage::DesktopHeader
      @stepList={{this.coursePageState.stepList}}
      @currentStep={{this.coursePageState.currentStep}}
      class="px-3 md:px-6 xl:pl-10 pt-6"
    />

    <div class="flex flex-grow bg-white">
      <div class="px-3 md:px-6 xl:px-10 flex-grow min-w-0">
        {{outlet}}
      </div>

      <div class="w-64 xl:w-80 flex-shrink-0 border-l pt-6 bg-gray-50 hidden md:block pr-6">
        <CourseLeaderboard @course={{@model.course}} @activeRepository={{@model.activeRepository}} @repositories={{@model.repositories}} />

        {{#if this.visiblePrivateLeaderboardFeatureSuggestion}}
          <PrivateLeaderboardFeatureSuggestion @featureSuggestion={{this.visiblePrivateLeaderboardFeatureSuggestion}} class="ml-4 mt-6" />
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{#if this.configureGithubIntegrationModalIsOpen}}
  <ModalBackdrop>
    <CoursePage::ConfigureGithubIntegrationModal
      @repository={{@model.activeRepository}}
      @onClose={{fn (mut this.configureGithubIntegrationModalIsOpen) false}}
    />
  </ModalBackdrop>
{{/if}}