{{page-title this.model.course.name}}

<div class="container mx-auto lg:max-w-screen-lg pt-6 md:pt-10 pb-10 px-3 md:px-6">
  <CourseOverviewPage::Header @course={{this.model.course}} class="mb-6 md:mb-10" />

  <div class="flex items-start flex-row mb-4">
    <div class="flex-grow">
      <CourseOverviewPage::Notices @course={{this.model.course}} class="mb-4" />
      <CourseOverviewPage::IntroductionAndStages @course={{this.model.course}} class="w-full" />
    </div>

    <div class="hidden lg:block sticky top-2 w-80 flex-shrink-0 pt-2 ml-2">
      {{#if this.model.course.releaseStatusIsAlpha}}
        <CourseOverviewPage::SidebarAlphaNotice @course={{this.model.course}} class="w-full px-4" />
      {{else}}
        <CourseLeaderboard
          class="w-full"
          @activeRepository={{this.activeRepository}}
          @course={{this.model.course}}
          @isCollapsed={{false}}
          @repositories={{this.userRepositories}}
          @shouldShowLanguageIconsWithoutHover={{true}}
        />
      {{/if}}
    </div>
  </div>

  <div class="flex items-start flex-row">
    <div class="w-full">
      {{#if (or (current-user-is-course-author this.model.course) (current-user-is-staff))}}
        <CourseOverviewPage::AdminSection @course={{this.model.course}} class="mb-4" />
      {{/if}}

      <CourseOverviewPage::TestimonialList @course={{this.model.course}} class="w-full" />
    </div>

    {{! Placeholder for sidebar }}
    <div class="hidden lg:block w-80 flex-shrink-0 ml-2">
    </div>
  </div>
</div>