{{page-title "Courses"}}

<div
  class="flex h-screen w-full relative"
  {{did-insert this.handleDidInsertContainer}}
  {{will-destroy this.handleWillDestroyContainer}}
  {{did-update this.handleDidUpdateActiveRepositoryId @model.activeRepository.id}}
>
  {{#if this.isDevelopmentOrTest}}
    <FakeDataToolbar @repository={{@model.activeRepository}} class="absolute top-4 left-4 hidden" />
  {{/if}}

  {{#if this.sidebarIsExpandedOnDesktop}}
    <CoursePage::Sidebar
      @course={{@model.course}}
      @repositories={{@model.repositories}}
      @activeRepository={{@model.activeRepository}}
      class="group relative p-6 w-full max-w-[18em] flex-shrink-0 h-screen hidden lg:flex"
    >
      <CoursePage::CollapseSidebarButton
        class="opacity-0 group-hover:opacity-100 absolute top-6 -right-3.5 z-30"
        {{on "click" this.handleCollapseSidebarButtonClick}}
        data-test-collapse-sidebar-button
      />
    </CoursePage::Sidebar>
  {{/if}}

  {{#if this.sidebarIsExpandedOnMobile}}
    <CoursePage::Sidebar::MobileBackdrop>
      <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
        {{! @glint-expect-error: fn/mut not ts-ified yet}}
        <CoursePage::Sidebar::MobileCloseButton {{on "click" (fn (mut this.sidebarIsExpandedOnMobile) false)}} />
      </div>

      <CoursePage::Sidebar
        @course={{@model.course}}
        @repositories={{@model.repositories}}
        @activeRepository={{@model.activeRepository}}
        class="group relative p-6 w-full max-w-[18em] flex-shrink-0 h-screen lg:hidden"
      />
    </CoursePage::Sidebar::MobileBackdrop>
  {{/if}}

  <div class="flex flex-col max-h-screen overflow-y-auto flex-grow relative" id="course-page-scrollable-area">
    {{! For collapse/expand on desktop }}
    <CoursePage::ExpandSidebarButton
      class="hidden {{unless this.sidebarIsExpandedOnDesktop 'lg:block'}} absolute top-6 left-0"
      {{on "click" this.handleExpandSidebarButtonClick}}
      data-test-expand-sidebar-button
    />

    <CoursePage::Header::MainSection
      @course={{@model.course}}
      @stepList={{this.coursePageState.stepListAsStepList}}
      @currentStep={{this.coursePageState.currentStep}}
      @activeStep={{this.coursePageState.activeStep}}
      @nextStep={{this.coursePageState.nextStep}}
      @onMobileSidebarButtonClick={{fn (mut this.sidebarIsExpandedOnMobile) true}}
      class="px-3 md:px-6 lg:pl-10 bg-gray-50 pt-6 pb-5"
    />

    <CoursePage::Header::StickySection
      @course={{@model.course}}
      @stepList={{this.coursePageState.stepListAsStepList}}
      @currentStep={{this.coursePageState.currentStep}}
      @activeStep={{this.coursePageState.activeStep}}
      @nextStep={{this.coursePageState.nextStep}}
      class="px-3 md:px-6 lg:pl-10 bg-gray-50"
    />

    <div class="flex flex-grow bg-white">

      <div class="flex-grow flex-shrink min-w-0">
        {{#if this.coursePageState.currentStep.completionNoticeMessage}}
          <CoursePage::CompletedStepNotice @step={{this.coursePageState.currentStep}} class="px-3 md:px-6 lg:px-10 w-full" />
        {{/if}}

        <div class="px-3 md:px-6 lg:px-10">
          {{outlet}}
        </div>
      </div>

      <div class="{{if this.leaderboardIsExpanded 'w-64 xl:w-80 pr-6' 'pr-4'}} pt-6 flex-shrink-0 border-l bg-gray-50 hidden md:block group relative">
        {{#if this.leaderboardIsExpanded}}
          <CoursePage::CollapseLeaderboardButton
            class="opacity-0 group-hover:opacity-100 absolute top-6 -left-3.5"
            {{on "click" this.handleCollapseLeaderboardButtonClick}}
            data-test-collapse-leaderboard-button
          />
        {{else}}
          <CoursePage::ExpandLeaderboardButton
            class="opacity-0 group-hover:opacity-100 absolute top-6 -left-3.5"
            {{on "click" this.handleExpandLeaderboardButtonClick}}
            data-test-expand-leaderboard-button
          />
        {{/if}}

        <CourseLeaderboard
          @course={{@model.course}}
          @activeRepository={{@model.activeRepository}}
          @repositories={{@model.repositories}}
          @isCollapsed={{not this.leaderboardIsExpanded}}
        />

        {{#if (and this.leaderboardIsExpanded this.visiblePrivateLeaderboardFeatureSuggestion)}}
          {{! @glint-expect-error: not ts-ified yet }}
          <PrivateLeaderboardFeatureSuggestion @featureSuggestion={{this.visiblePrivateLeaderboardFeatureSuggestion}} class="ml-4 mt-6" />
        {{/if}}
      </div>
    </div>
  </div>

  <CoursePage::TestResultsBar
    @activeStep={{this.coursePageState.activeStep}}
    @currentStep={{this.coursePageState.currentStep}}
    @repository={{@model.activeRepository}}
    class="absolute bottom-0 left-0 right-0 z-20"
  />
</div>

{{#if this.configureGithubIntegrationModalIsOpen}}
  <ModalBackdrop>
    {{! @glint-expect-error: not ts-ified yet }}
    <CoursePage::ConfigureGithubIntegrationModal
      @repository={{@model.activeRepository}}
      {{! @glint-expect-error: mut not ts-ified yet }}
      @onClose={{fn (mut this.configureGithubIntegrationModalIsOpen) false}}
    />
  </ModalBackdrop>
{{/if}}