{{page-title (concat "Join " this.model.affiliateLink.usernameForDisplay " on CodeCrafters") replace=true}}

{{! Note: This is very similar to the course overview page atm so it re-uses a lot of the same components. }}
<div class="container mx-auto lg:max-w-(--breakpoint-lg) pt-6 md:pt-10 pb-10 px-3 md:px-6">
  <CourseOverviewPage::Header @course={{this.model.course}} class="mb-6 md:mb-10">
    <:cta>
      {{! suppress CTA }}
    </:cta>
  </CourseOverviewPage::Header>

  <div class="lg:hidden flex justify-center items-center pb-6 md:pb-10">
    <AffiliateLinkPage::AcceptReferralContainer
      @affiliateLink={{this.model.affiliateLink}}
      @course={{this.model.course}}
      @verticalSize="tall"
      class="w-full bg-github-green-dot-wall"
    />
  </div>

  <div class="flex items-start flex-row mb-4">
    <div class="grow">
      <CourseOverviewPage::Notices @course={{this.model.course}} class="mb-4" />
      <CourseOverviewPage::IntroductionAndFaq @course={{this.model.course}} class="w-full mb-4" />
      <div class="space-y-4 w-full">
        <div
          class="grid grid-cols-1 md:grid-cols-[2fr_3fr] p-4 md:p-6 gap-4 md:gap-6 bg-white dark:bg-gray-850 rounded-md shadow-xs border border-gray-200 dark:border-white/5"
        >
          <div>
            <h3 class="font-semibold text-gray-900 dark:text-gray-100 text-lg mb-3">
              Base Stages
            </h3>

            <div class="leading-7 prose dark:prose-invert prose-sm mb-4">
              {{markdown-to-html this.model.course.descriptionMarkdown}}
            </div>
          </div>

          <div class="min-w-0">
            <CourseOverviewPage::StageList @stages={{this.model.course.sortedBaseStages}} />
          </div>
        </div>

        {{#each this.model.course.sortedExtensions as |extension|}}
          <div
            class="grid grid-cols-1 md:grid-cols-[2fr_3fr] p-4 md:p-6 gap-4 md:gap-6 bg-white dark:bg-gray-850 rounded-md shadow-xs border border-gray-200 dark:border-white/5"
          >
            <div>
              <h3 class="font-semibold text-gray-900 dark:text-gray-100 text-lg mb-3">
                {{extension.name}}
              </h3>

              <div class="leading-7 prose dark:prose-invert prose-sm mb-4">
                {{markdown-to-html extension.descriptionMarkdown}}
              </div>
            </div>

            <div class="min-w-0">
              <CourseOverviewPage::StageList @stages={{extension.sortedStages}} />
            </div>
          </div>
        {{/each}}
      </div>
    </div>

    <div class="hidden lg:block sticky top-4 w-80 shrink-0 ml-2">
      {{#if this.model.course.releaseStatusIsAlpha}}
        <CourseOverviewPage::SidebarAlphaNotice @course={{this.model.course}} class="w-full px-4" />
      {{else}}
        <AffiliateLinkPage::AcceptReferralContainer
          @affiliateLink={{this.model.affiliateLink}}
          @course={{this.model.course}}
          @verticalSize="compact"
          class="mb-6 ml-2 w-full bg-github-green-dot-wall"
        />

        <CourseLeaderboard
          class="w-full"
          @activeRepository={{null}}
          @course={{this.model.course}}
          @isCollapsed={{false}}
          @repositories={{(array)}}
          @shouldShowLanguageIconsWithoutHover={{true}}
        />
      {{/if}}
    </div>
  </div>

  <div class="flex items-start flex-row">
    <div class="w-full">
      {{#if (or (current-user-is-course-author this.model.course) (current-user-is-staff))}}
        <CourseOverviewPage::AdminSection @course={{this.model.course}} class="mb-4" />
      {{/if}}

      <CourseOverviewPage::TestimonialList @course={{this.model.course}} class="w-full" />
    </div>

    {{! Placeholder for sidebar }}
    <div class="hidden lg:block w-80 shrink-0 ml-2">
    </div>
  </div>

  <div class="flex justify-center items-center py-6 md:py-10">
    <AffiliateLinkPage::AcceptReferralContainer
      @affiliateLink={{this.model.affiliateLink}}
      @course={{this.model.course}}
      @verticalSize="tall"
      class="w-full bg-github-green-dot-wall"
    />
  </div>
</div>