{{page-title (concat "Join " this.model.affiliateLink.affiliateName " on CodeCrafters") replace=true}}

{{! Note: This is very similar to the track page atm so it re-uses a lot of the same components. }}
<div class="container mx-auto lg:max-w-(--breakpoint-lg) px-3 md:px-6 py-6 md:py-10">
  <TrackPage::Header @language={{@model.language}} @courses={{this.sortedCourses}}>
    <:cta>
      {{! suppress CTA }}
    </:cta>
  </TrackPage::Header>
</div>

<div class="h-px bg-gray-200 dark:bg-white/5 w-full"></div>

<div class="bg-white dark:bg-gray-925">
  <div class="container mx-auto lg:max-w-(--breakpoint-lg) px-3 md:px-6 py-6 md:py-10">
    <div class="lg:hidden flex justify-center items-center pb-6 md:pb-10">
      <AffiliateLinkPage::AcceptReferralContainer
        @affiliateLink={{this.model.affiliateLink}}
        {{!-- @course={{this.model.course}} --}}
        @verticalSize="tall"
        class="w-full bg-github-green-dot-wall"
      />
    </div>

    <div class="flex items-start">
      <div class="grow">
        <TrackPage::CourseCardList @language={{@model.language}} @courses={{this.sortedCourses}} class="w-full mb-4" />
      </div>

      <div class="hidden lg:block w-80 shrink-0 sticky top-6 ml-6">
        <AffiliateLinkPage::AcceptReferralContainer
          @affiliateLink={{this.model.affiliateLink}}
          @language={{this.model.language}}
          @verticalSize="compact"
          class="mb-6 w-full bg-github-green-dot-wall"
        />

        {{#if @model.language.leaderboard}}
          <TrackLeaderboard class="mb-6" @isCollapsed={{false}} @leaderboard={{@model.language.leaderboard}} />
        {{/if}}

        {{! TODO: Show testimonials for track instead of courses? }}
        <div>
          {{#each this.testimonials as |testimonial|}}
            <CourseOverviewPage::TestimonialListItem @testimonial={{testimonial}} />
          {{/each}}
        </div>
      </div>
    </div>

    <div class="flex justify-center items-center py-6 md:py-10">
      <AffiliateLinkPage::AcceptReferralContainer
        @affiliateLink={{this.model.affiliateLink}}
        @language={{this.model.language}}
        @verticalSize="tall"
        class="w-full bg-github-green-dot-wall"
      />
    </div>
  </div>
</div>