<div
  class="container mx-auto lg:max-w-(--breakpoint-lg) px-3 md:px-6 py-6 md:py-10 pb-32 md:pb-32"
  {{did-insert this.leaderboardEntriesCache.loadOrRefresh}}
  {{did-update this.leaderboardEntriesCache.loadOrRefresh this.leaderboard.id}}
>
  <LeaderboardPage::Header @selectedLanguage={{@model.language}} class="mb-6" />

  {{! <RoadmapInfoAlert @heading="What are challenges?" class="hidden md:block mb-6">
    Challenges are step-by-step coding exercises where you build projects from scratch. Vote and help us decide which challenges to build.
  </RoadmapInfoAlert> }}

  <div class="flex items-start gap-8">
    <LeaderboardPage::EntriesTable
      @isLoadingEntries={{not this.leaderboardEntriesCache.isLoaded}}
      @language={{@model.language}}
      @surroundingEntries={{this.leaderboardEntriesCache.surroundingEntries}}
      @topEntries={{this.leaderboardEntriesCache.topEntries}}
      @userRankCalculation={{this.leaderboardEntriesCache.userRankCalculation}}
      class="flex-grow"
    />
  </div>
</div>