{{page-title "Pay"}}

<div class="container mx-auto lg:max-w-screen-lg py-16 px-3 md:px-6">
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-2xl font-bold text-gray-700 md:text-3xl max-w-2xl text-center">
      Choose your CodeCrafters membership.
    </h1>

    {{#if this.userIsEligibleForEarlyBirdDiscount}}
      <PayPage::EarlyBirdDiscountNotice @expiresAt={{this.earlyBirdDiscountEligibilityExpiresAt}} class="mt-8" />
    {{/if}}

    <div class="flex flex-col-reverse md:flex-row gap-x-8 gap-y-8 items-start mt-12">
      <PayPage::PricingCard
        @title="Monthly"
        @autoRenewSubscription={{true}}
        @actualPrice={{79}}
        @subtitle="Recurring subscription"
        @pricingFrequency="monthly"
        @footerText="No charge today. Cancel anytime."
      />

      <PayPage::PricingCard
        @title="3 months"
        @autoRenewSubscription={{false}}
        @actualPrice={{200}}
        @subtitle="Full access for 3 months"
        @pricingFrequency="quarterly"
        @footerText="One-time payment."
      />

      <PayPage::PricingCard
        @footerText="Ideal for expensing."
        @autoRenewSubscription={{false}}
        @title="1 year"
        @subtitle="Learn at your own pace"
        @actualPrice={{790}}
        @discountedPrice={{if this.userIsEligibleForEarlyBirdDiscount 395 null}}
        @pricingFrequency="yearly"
        @earlyBirdDiscountEnabled={{this.userIsEligibleForEarlyBirdDiscount}}
      />
    </div>

    <div class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-4 max-w-2xl">
      {{#each this.testimonials as |testimonial|}}
        <CourseOverviewPage::TestimonialListItem @testimonial={{testimonial}} />
      {{/each}}
    </div>

    <div role="button" class="mt-8 text-sm text-gray-400 hover:underline" {{on "click" this.handleTryNowPayLaterButtonClicked}}>
      Try now, pay later →
    </div>
  </div>
</div>