{{page-title "Pay"}}

<div class="container mx-auto xl:max-w-screen-xl py-16 px-3 md:px-6">
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-2xl font-bold text-gray-700 md:text-3xl max-w-2xl text-center">
      Choose your CodeCrafters membership
    </h1>

    {{#if this.user.isEligibleForEarlyBirdDiscount}}
      {{! @glint-expect-error not ts-ified yet }}
      <PayPage::EarlyBirdDiscountNotice @expiresAt={{this.user.earlyBirdDiscountEligibilityExpiresAt}} class="mt-8" />
    {{else if this.user.isEligibleForReferralDiscount}}
      {{! @glint-expect-error affiliateReferral is guaranteed to exist }}
      <PayPage::ReferralDiscountNotice @affiliateReferral={{this.user.currentAffiliateReferral}} class="mt-8" />
    {{/if}}

    {{#if @model.regionalDiscount}}
      <PayPage::RegionalDiscountNotice
        @regionalDiscount={{@model.regionalDiscount}}
        @shouldApplyRegionalDiscount={{this.shouldApplyRegionalDiscount}}
        class="mt-8"
      />
    {{/if}}

    <div class="flex flex-col lg:flex-row gap-x-8 gap-y-8 items-start mt-12">
      {{! @glint-expect-error not ts-ified yet }}
      <PayPage::PricingCard
        @actualPrice={{120}}
        @footerText="Single payment of $120."
        @onStartMembershipButtonClick={{this.handleStartMembershipButtonClick}}
        @isRecommended={{true}}
        @pricingFrequency="quarterly"
        @regionalDiscount={{if this.shouldApplyRegionalDiscount @model.regionalDiscount}}
        @shouldShowAmortizedMonthlyPrice={{false}}
        @title="3 months access"
        data-test-quarterly-pricing-card
      />

      {{! @glint-expect-error not ts-ified yet }}
      <PayPage::PricingCard
        @actualPrice={{360}}
        @discountedPrice={{this.discountedYearlyPrice}}
        @footerText="Single payment of ${{or this.discountedYearlyPrice 360}}."
        @onStartMembershipButtonClick={{this.handleStartMembershipButtonClick}}
        @isRecommended={{false}}
        @pricingFrequency="yearly"
        @regionalDiscount={{if this.shouldApplyRegionalDiscount @model.regionalDiscount}}
        @shouldShowAmortizedMonthlyPrice={{false}}
        @title="1 year access"
        data-test-yearly-pricing-card
      />

      {{! @glint-expect-error not ts-ified yet }}
      <PayPage::PricingCard
        @actualPrice={{990}}
        @footerText="Pay once, access for life."
        @onStartMembershipButtonClick={{this.handleStartMembershipButtonClick}}
        @isRecommended={{false}}
        @pricingFrequency="lifetime"
        @regionalDiscount={{if this.shouldApplyRegionalDiscount @model.regionalDiscount}}
        @shouldShowAmortizedMonthlyPrice={{false}}
        @title="Lifetime access"
        data-test-lifetime-pricing-card
      />
    </div>

    <LinkTo @route="refer" class="font-medium mt-16 text-sm text-gray-700 hover:underline">
      {{! template-lint-disable no-whitespace-for-layout }}
      🎁&nbsp;&nbsp;Refer friends to get free weeks →
    </LinkTo>

    {{#unless this.monthlyChallengeBanner.isOutdated}}
      {{! @glint-expect-error not ts-ified yet }}
      <PayPage::MonthlyChallengeBanner class="max-w-[972.53px] mt-12" />
    {{/unless}}

    {{! @glint-expect-error not ts-ified yet }}
    <TestimonialList />

    {{! @glint-expect-error not ts-ified yet }}
    <FaqList class="mt-16" />
  </div>
</div>

{{#if this.configureCheckoutSessionModalIsOpen}}
  <ModalBackdrop>
    <PayPage::ConfigureCheckoutSessionModal
      @additionalCheckoutSessionProperties={{this.additionalCheckoutSessionProperties}}
      {{! @glint-expect-error mut not ts-ified yet }}
      @onClose={{fn (mut this.configureCheckoutSessionModalIsOpen) false}}
    />
  </ModalBackdrop>
{{/if}}