{{page-title "Pay"}}

<div class="container mx-auto xl:max-w-screen-xl py-16 px-3 md:px-6">
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-2xl font-bold text-gray-700 md:text-3xl max-w-2xl text-center">
      Choose your CodeCrafters membership
    </h1>

    {{#if this.user.availableCustomDiscount}}
      <PayPage::CustomDiscountNotice @customDiscount={{this.user.availableCustomDiscount}} class="mt-8" />
    {{else if this.user.isEligibleForEarlyBirdDiscount}}
      <PayPage::EarlyBirdDiscountNotice @expiresAt={{this.user.earlyBirdDiscountEligibilityExpiresAt}} class="mt-8" />
    {{else if this.user.isEligibleForReferralDiscount}}
      <PayPage::ReferralDiscountNotice @referralActivation={{this.user.currentReferralActivation}} class="mt-8" />
    {{/if}}

    <div class="flex flex-col-reverse lg:flex-row gap-x-8 gap-y-8 items-start mt-12">
      <PayPage::PricingCard
        @actualPrice={{990}}
        @footerText="Pay once, access for life."
        @pricingFrequency="lifetime"
        @shouldShowAmortizedMonthlyPrice={{false}}
        @title="Lifetime access"
        data-test-lifetime-pricing-card
      />

      <PayPage::PricingCard
        @actualPrice={{120}}
        @footerText="Billed once, as a single payment of $120."
        @pricingFrequency="quarterly"
        @shouldShowAmortizedMonthlyPrice={{true}}
        @title="3 months access"
        data-test-quarterly-pricing-card
      />

      <PayPage::PricingCard
        @actualPrice={{360}}
        @customDiscount={{this.user.availableCustomDiscount}}
        @discountedPrice={{this.discountedYearlyPrice}}
        @earlyBirdDiscountEnabled={{this.user.isEligibleForEarlyBirdDiscount}}
        @footerText="Billed once, as a single payment of ${{or this.discountedYearlyPrice 360}}."
        @pricingFrequency="yearly"
        @shouldShowAmortizedMonthlyPrice={{true}}
        @referralDiscountEnabled={{this.user.isEligibleForReferralDiscount}}
        @title="1 year access"
        data-test-yearly-pricing-card
      />
    </div>

    <div role="button" class="mt-16 text-sm text-gray-700 hover:underline" {{on "click" this.handleTryNowPayLaterButtonClicked}}>
      I'm still exploring →
    </div>

    <FaqList class="mt-16" />

    <div class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-4 max-w-2xl">
      {{#each this.testimonials as |testimonial|}}
        <CourseOverviewPage::TestimonialListItem @testimonial={{testimonial}} />
      {{/each}}
    </div>
  </div>
</div>