{{page-title @model.language.name}}

<div class="fixed inset-0 flex items-stretch justify-stretch pointer-events-none">
  <div class="w-full relative overflow-hidden rounded-sm">
    {{! Left blurred gradient }}
    <div class="w-1/2 h-60 absolute -bottom-32 -left-1/4 opacity-50 animate-spin-slow filter blur-[100px]">
      <div class="relative">
        <div class="rounded-full h-60 w-full bg-purple-800"></div>
        <div class="absolute bottom-24 -left-24 rounded-full h-60 w-full bg-red-800"></div>
        <div class="absolute top-24 left-24 rounded-full h-60 w-full bg-purple-600"></div>
      </div>
    </div>

    {{! Right blurred gradient }}
    <div class="w-1/2 h-60 absolute -bottom-40 -right-1/4 opacity-50 animate-spin-slow filter blur-[100px]">
      <div class="relative">
        <div class="rounded-full h-60 w-full bg-blue-600"></div>
        <div class="absolute bottom-24 -left-24 rounded-full h-60 w-full bg-blue-700"></div>
        <div class="absolute top-24 left-24 rounded-full h-60 w-full bg-purple-600"></div>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto lg:max-w-(--breakpoint-lg) px-3 md:px-6 py-6 md:py-10">
  <TrackPage::Header @language={{@model.language}} @courses={{this.sortedCourses}} />
</div>

<div class="h-px bg-gray-200 dark:bg-white/5 w-full"></div>

<div class="bg-white dark:bg-gray-950">
  <div class="container mx-auto lg:max-w-(--breakpoint-lg) px-3 md:px-6 py-6 md:py-10">
    <div class="flex items-start">
      <div class="grow">
        {{#if @model.language.primerConceptGroup}}
          <TrackPage::PrimerConceptGroupSection
            @language={{@model.language}}
            @conceptGroup={{@model.language.primerConceptGroup}}
            class="w-full mb-6"
          />
        {{/if}}

        <div class="border-b border-gray-200 dark:border-gray-900 pb-1 mb-4 flex">
          <div class="text-2xl font-semibold text-gray-900 dark:text-gray-200">
            {{@model.language.name}}
            Challenges
          </div>
        </div>

        <div class="prose dark:prose-invert mb-4">
          <p>
            Put your
            {{@model.language.name}}
            skills to the test. Practice by building popular open-source tools from scratch.
          </p>
        </div>

        <TrackPage::CourseCardList @language={{@model.language}} @courses={{this.sortedCourses}} class="w-full mb-4" />
      </div>

      <div class="hidden lg:block w-80 shrink-0 sticky top-4 ml-2">
        <TrackLeaderboard class="mb-6" @language={{@model.language}} />

        {{! TODO: Show testimonials for track instead of courses? }}
        <div class="ml-4 mr-4">
          {{#each this.testimonials as |testimonial|}}
            <CourseOverviewPage::TestimonialListItem @testimonial={{testimonial}} />
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>