{{page-title @model.language.name}}

<div class="container mx-auto lg:max-w-(--breakpoint-lg) px-3 md:px-6 py-6 md:py-10">
  <TrackPage::Header @language={{@model.language}} @courses={{this.sortedCourses}} />
</div>

<div class="h-px bg-gray-200 dark:bg-white/5 w-full"></div>

<div class="bg-white dark:bg-gray-925">
  <div class="container mx-auto lg:max-w-(--breakpoint-lg) px-3 md:px-6 py-6 md:py-10">
    <div class="flex items-start">
      <div class="grow">
        {{#if @model.language.primerConceptGroup}}
          <TrackPage::PrimerConceptGroupSection
            @language={{@model.language}}
            @conceptGroup={{@model.language.primerConceptGroup}}
            class="w-full mb-6"
          />
        {{/if}}

        <div class="border-b border-gray-200 dark:border-white/5 pb-1 mb-4 flex">
          <div class="text-2xl font-semibold text-gray-900 dark:text-gray-200">
            {{@model.language.name}}
            Challenges
          </div>
        </div>

        <div class="prose dark:prose-invert mb-4">
          <p>
            Put your
            {{@model.language.name}}
            skills to the test. Practice by building popular open-source tools from scratch.
          </p>
        </div>

        <TrackPage::CourseCardList @language={{@model.language}} @courses={{this.sortedCourses}} class="w-full mb-4" />
      </div>

      <div class="hidden lg:block w-80 shrink-0 sticky top-6 ml-6">
        {{#if @model.language.leaderboard}}
          <TrackLeaderboard class="mb-6" @isCollapsed={{false}} @leaderboard={{@model.language.leaderboard}} />
        {{/if}}

        {{! TODO: Show testimonials for track instead of courses? }}
        <div>
          {{#each this.testimonials as |testimonial|}}
            <CourseOverviewPage::TestimonialListItem @testimonial={{testimonial}} />
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>