{{page-title @model.language.name}}

<div class="container mx-auto lg:max-w-screen-lg px-3 md:px-6 py-6 md:py-10">
  <TrackPage::Header @language={{@model.language}} @courses={{this.sortedCourses}} />
</div>

<div class="h-px bg-gray-200 dark:bg-white/5 w-full"></div>

<div class="bg-white dark:bg-gray-850">
  <div class="container mx-auto lg:max-w-screen-lg px-3 md:px-6 py-6 md:py-10">
    <div class="flex items-start">
      <div class="flex-grow">
        {{#if this.trackPrimerConceptGroup}}
          <TrackPage::PrimerConceptGroupCard @language={{@model.language}} @conceptGroup={{this.trackPrimerConceptGroup}} class="w-full mb-6" />

          <div class="border-b pb-1 mb-4 flex">
            <div class="text-2xl font-semibold text-gray-800 dark:text-gray-200">
              {{@model.language.name}}
              Projects
            </div>
          </div>

          <div class="prose dark:prose-invert mb-4">
            <p>
              Ready to get your hands dirty? Here are some projects you can build.
            </p>
          </div>
        {{/if}}

        <TrackPage::CourseCardList @language={{@model.language}} @courses={{this.sortedCourses}} class="w-full mb-4" />
      </div>

      <div class="hidden lg:block w-80 flex-shrink-0 sticky top-4 ml-2">
        <TrackLeaderboard class="mb-6" @language={{@model.language}} />

        {{! TODO: Show testimonials for track instead of courses? }}
        <div class="mx-4">
          {{#each this.testimonials as |testimonial|}}
            <CourseOverviewPage::TestimonialListItem @testimonial={{testimonial}} />
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>