{{! Looks like a tailwind 3.3.0 bug, from-0% and to-100% are required to make the gradient work }}
<div class="bg-gradient-to-b from-0% to-100% from-gray-600 to-gray-800 h-56 w-full">
</div>

<div class="container mx-auto lg:max-w-screen-lg px-3 md:px-6 min-h-screen">
  <div class="flex flex-col md:flex-row -my-24 pb-24 md:my-0 md:pb-0">
    {{! @glint-expect-error not ts-ified yet }}
    <UserPage::SidebarContainer class="md:-my-24 w-48 flex-shrink-0" @user={{this.model}} />

    <div class="flex-grow md:ml-8 mt-8">
      {{#if this.shouldShowProfileCustomizationNotice}}
        <Alert class="mb-8" data-test-profile-customization-notice>
          You can
          <a href="/settings/profile" class="underline">customize your profile</a>
          to add a description or turn on anonymous mode.
        </Alert>
      {{/if}}

      {{#if this.model.profileDescriptionMarkdown}}
        <div class="bg-white rounded p-4 shadow-sm mb-8 border">
          <div class="prose">
            {{markdown-to-html this.model.profileDescriptionMarkdown}}
          </div>
        </div>
      {{/if}}

      {{#if (gt this.model.courseParticipations.length 0)}}
        {{! @glint-expect-error not ts-ified yet }}
        <UserPage::CourseProgressList @user={{this.model}} class="mb-16" />

        {{! @glint-expect-error not ts-ified yet }}
        <UserPage::ActivityContainer @user={{this.model}} class="mb-16" />
      {{else}}
        <div class="text-gray-400 text-center py-16">
          {{#if (eq this.currentUser this.model)}}
            When you complete stages your progress will appear here.
            <br /><br />
            <a href="https://app.codecrafters.io/users/jennkao" class="underline text-gray-600">See an example</a>.
          {{else}}
            This user has no activity on CodeCrafters yet.
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
</div>