{{! @glint-nocheck: not typesafe yet }}
<PageSection @title="Referred Users" data-test-affiliate-referred-users-container ...attributes>
  {{#each this.paidReferrals as |affiliateReferral|}}
    <ReferralsPage::AffiliateReferredUserItem @affiliateReferral={{affiliateReferral}} />
  {{else}}
    <div class="text-gray-600 text-sm text-center py-10" data-test-affiliate-referred-users-description>
      No paid users found.
    </div>
  {{/each}}

  <div class="text-center pb-2">
    <TertiaryButton
      {{on "click" (fn (mut this.unpaidReferralsAreVisible) (not this.unpaidReferralsAreVisible))}}
      data-test-affiliate-referred-users-show-all-button
    >
      {{#if this.unpaidReferralsAreVisible}}
        Hide signups
      {{else}}
        Show all signups
      {{/if}}
    </TertiaryButton>
  </div>

  {{#if this.unpaidReferralsAreVisible}}
    {{#each this.unpaidReferrals as |affiliateReferral|}}
      <ReferralsPage::AffiliateReferredUserItem @affiliateReferral={{affiliateReferral}} />
    {{else}}
      <div class="text-gray-600 text-sm text-center py-10" data-test-affiliate-referred-users-description>
        When your refer users, you'll be able to view their details here.
      </div>
    {{/each}}
  {{/if}}
</PageSection>