<ModalBody @allowManualClose={{true}} @onClose={{@onClose}} @class="w-full" data-test-create-payout-modal>
  <div class="mb-8 font-semibold text-2xl text-gray-600 mr-6">
    Initiate payout
  </div>

  <div class="grid grid-cols-2 gap-2">
    <ReferralsPage::CreatePayoutModal::PayoutMethodCard
      @name="Paypal"
      @imageUrl="/assets/images/payout-method-logos/paypal.svg"
      {{on "click" (fn this.handlePayoutMethodClick "paypal")}}
      @isSelected={{eq this.selectedPayoutMethod "paypal"}}
    />

    <ReferralsPage::CreatePayoutModal::PayoutMethodCard
      @name="Amazon Gift Card"
      @isDisabled={{true}}
      @imageUrl="/assets/images/payout-method-logos/amazon-com.png"
    />
  </div>

  {{#if (eq this.selectedPayoutMethod "paypal")}}
    <div class="mt-8">
      <div class="h-px bg-gray-100 my-6"></div>

      <ReferralsPage::CreatePayoutModal::FormSection @title="Paypal email" @description="Your Paypal email address.">
        <Input
          @value={{@teamPaymentFlow.teamName}}
          {{on "blur" this.handleValueUpdated}}
          class="text-sm rounded px-3 py-2 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-teal-500 border w-full"
          id="paypal_email_input"
          placeholder="{{this.currentUser.username}}@gmail.com"
          required
        />
      </ReferralsPage::CreatePayoutModal::FormSection>

      <div class="h-px bg-gray-100 my-6"></div>

      <ReferralsPage::CreatePayoutModal::FormSection @title="Amount" @description="The amount to withdraw in USD.">
        <Input
          @value={{140}}
          @type="number"
          {{on "blur" this.handleValueUpdated}}
          class="text-sm rounded px-3 py-2 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-teal-500 border w-full number-input-with-no-controls"
          id="amount_input"
          placeholder="$100"
          required
        />
      </ReferralsPage::CreatePayoutModal::FormSection>

      <div class="h-px bg-gray-100 my-6"></div>

      <div class="flex justify-end">
        <PrimaryButtonWithSpinner
          @isDisabled={{not this.formIsComplete}}
          @shouldShowSpinner={{@payout.isSaving}}
          {{on "click" this.handleCreatePayoutButtonClick}}
          type="submit"
          data-test-continue-button
        >
          Withdraw $100
        </PrimaryButtonWithSpinner>
      </div>
    </div>
  {{/if}}
</ModalBody>