<PageSection @title="Earnings" data-test-earnings-container ...attributes>
  {{#if (gt this.totalEarningsAmountInDollars 0)}}
    <table class="max-w-xs">
      <tbody>
        <tr class="border-b">
          <td class="text-gray-700 font-semibold whitespace-nowrap py-2 text-sm">Total Earnings</td>
          <td class="font-semibold text-gray-700 py-2 text-right w-full" data-test-total-earnings-amount>${{this.totalEarningsAmountInDollars}}</td>
        </tr>
        {{#each this.lineItems as |item|}}
          <ReferralsPage::EarningsContainer::LineItem
            @title={{item.title}}
            @helpText={{item.helpText}}
            @isLoading={{this.isLoadingPayouts}}
            @amountInDollars={{item.amountInDollars}}
          />
        {{/each}}
      </tbody>
    </table>

    <div class="mt-6">
      {{#if (gt this.readyToPayoutEarningsAmountInCents 10000)}}
        <PrimaryButton
          @type="primary"
          @size="small"
          @onClick={{this.withdraw}}
          {{on "click" (fn (mut this.isCreatingPayout) true)}}
          data-test-initiate-payout-button
        >
          Initiate Payout
        </PrimaryButton>
      {{else}}
        <div class="inline-flex">
          <PrimaryButton @type="primary" @size="small" @isDisabled={{true}} @onClick={{this.withdraw}} data-test-initiate-payout-button>
            Initiate Payout
          </PrimaryButton>
          <EmberTooltip @text="This button will be enabled when you have $100+ ready to payout." />
        </div>
      {{/if}}
    </div>
  {{else}}
    <div class="text-gray-600 text-sm text-center py-10" data-test-earnings-description>
      When your earnings are ready to withdraw, you'll be able to view details here.
    </div>
  {{/if}}

  {{#if (gt this.currentUser.referralEarningsPayouts.length 0)}}
    <div class="mt-6">
      <div class="mb-3">
        <div class="inline-flex border-b border-teal-500 uppercase text-teal-500 font-bold text-sm">
          Payout History
        </div>
      </div>
      <table class="max-w-xs">
        <tbody>
          {{#each this.currentUser.referralEarningsPayouts as |payout|}}
            <tr class="border-b" data-test-payout-history-item>
              <td class="text-gray-500 whitespace-nowrap py-2 text-sm">
                {{date-format (or payout.completedAt payout.createdAt) format="LL"}}

                {{#if payout.statusIsProcessing}}
                  <div class="inline-flex flex-shrink-0 ml-1">
                    <span
                      class="inline-flex border border-yellow-300 rounded-full bg-yellow-100 px-2 text-xs font-semibold leading-5 text-yellow-700 mr-2"
                    >Processing</span>
                    <EmberTooltip @text="Payouts can take upto 10 days to process." />
                  </div>
                {{else if payout.statusIsCompleted}}
                  <div class="inline-flex flex-shrink-0 ml-1">
                    <span
                      class="inline-flex border border-green-300 rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-700 mr-2"
                    >Completed</span>
                    <EmberTooltip @text="This payout has been processed." />
                  </div>
                {{else if payout.statusIsFailed}}
                  <div class="inline-flex flex-shrink-0 ml-1">
                    <span
                      class="inline-flex border border-gray-300 rounded-full bg-gray-100 px-2 text-xs font-semibold leading-5 text-gray-700 mr-2"
                    >Failed</span>
                    <EmberTooltip @text={{concat "This payout failed. Reason: " payout.lastFailureReason}} />
                  </div>
                {{/if}}
              </td>
              <td class="text-gray-700 py-2 text-right w-full">${{payout.amountInDollars}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}

  {{#if this.isCreatingPayout}}
    <ModalBackdrop>
      <ReferralsPage::CreatePayoutModal
        @onClose={{this.handleCreatePayoutModalClose}}
        @withdrawableEarningsAmountInCents={{this.readyToPayoutEarningsAmountInCents}}
      />
    </ModalBackdrop>
  {{/if}}
</PageSection>