<div class="flex items-center justify-between group p-2 pr-3 hover:bg-gray-50 border rounded mb-2" data-test-referred-user-item>
  <a href={{@referralActivation.customer.codecraftersProfileUrl}} class="flex items-center hover:underline" target="_blank" rel="noopener noreferrer">
    <AvatarImage
      @user={{@referralActivation.customer}}
      class="w-8 h-8 border border-gray-300 rounded shadow-sm group-hover:shadow mr-2 transition-shadow rounded-md"
    />

    <div>
      <div class="text-gray-700 text-sm">
        <span class="font-semibold" data-test-username>{{@referralActivation.customer.username}}</span>
      </div>
      <div class="text-gray-700 text-sm hidden sm:block lg:hidden">
        <span class="text-gray-400 text-xs">{{moment-from-now @referralActivation.activatedAt}}</span>
      </div>
    </div>
  </a>
  <div class="flex items-center">
    <span class="text-gray-400 text-xs hidden lg:block">{{moment-from-now @referralActivation.createdAt}}</span>
  </div>
</div>