<PageSection @title="Stats" data-test-referral-stats-container ...attributes>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <ReferralsPage::ReferralLinkStatContainer
      @title="Referrals"
      @icon="cursor-click"
      @helpText="The number of users who've accepted your referral offer."
      data-test-referral-stats-referrals
    >
      <div class="flex items-center">
        {{#if (eq @referralLink.activations.length 0)}}
          <span class="text-gray-300 text-xs ml-1">0 (no referrals yet)</span>
        {{else}}
          <span class="text-gray-700 text-lg sm:text-2xl font-bold">{{@referralLink.activations.length}}</span>
        {{/if}}
      </div>
    </ReferralsPage::ReferralLinkStatContainer>

    <ReferralsPage::ReferralLinkStatContainer
      @title="Free weeks left"
      @icon="gift"
      @helpText="The number of weeks of free access you have left from referrals."
      data-test-referral-stats-free-weeks-left
    >
      <div class="flex items-center">
        {{#if (eq @freeUsageGrants.length 0)}}
          <span class="text-gray-300 text-xs ml-1">0 (waiting on first referral)</span>
        {{else if this.currentUser.hasActiveFreeUsageGrants}}
          <span class="text-gray-700 text-lg sm:text-2xl font-bold" data-test-referral-stats-free-weeks-left-count>
            {{this.activeFreeUsageGrantsCount}}
          </span>
          <span class="text-gray-700 text-xs">
            (expires on
            {{this.lastFreeUsageGrantExpiresAt}}
          </span>
        {{else}}
          <span class="text-gray-700 text-lg sm:text-2xl font-bold" data-test-referral-stats-free-weeks-left-count>
            0
          </span>
          <span class="text-gray-700 text-xs">
            (expired on
            {{this.lastFreeUsageGrantExpiresAt}}
          </span>
        {{/if}}
      </div>
    </ReferralsPage::ReferralLinkStatContainer>
  </div>
</PageSection>